<ion-nav-view name="menuContent"></ion-nav-view>

<div id="chartMainContainer">
    <header class="clearfix">
        <div class="typeSet clearfix" ng-show="chartSubcategory == 1">
            <label class="item item-checkbox" ng-click="selectSubcategory('PAINphysicalSymptoms',physicalArray[0])">
                <div class="checkbox checkbox-input-hidden disable-pointer-events checkbox-circle">
                    <input type="checkbox" ng-model="physicalArray[0]" value="headPain">
                    <span class="checkmark"></span>
                </div>
                <div class="item-content twoCatLine disable-pointer-events"><i class="lg"></i><i class="dg"></i><span>Head pain<br>Body pain</span></div>
            </label>
            <label class="item item-checkbox" ng-click="selectSubcategory('NUMBNESSTINGLINGphysicalSymptoms',physicalArray[1])">
                <div class="checkbox checkbox-input-hidden disable-pointer-events checkbox-circle">
                    <input type="checkbox" ng-model="physicalArray[1]" value="numbnessTingling">
                    <span class="checkmark"></span>
                </div>
                <div class="item-content twoLine disable-pointer-events"><i class="blue"></i><span>Numbness<br>tingling</span></div>
            </label>
            <label class="item item-checkbox" ng-click="selectSubcategory('MUSCLEWEAKNESSphysicalSymptoms',physicalArray[2])">
                <div class="checkbox checkbox-input-hidden disable-pointer-events checkbox-circle">
                    <input type="checkbox" ng-model="physicalArray[2]" value="muscleWeakness">
                    <span class="checkmark"></span>
                </div>
                <div class="item-content twoLine disable-pointer-events"><i class="orange"></i><span>Muscle<br>weakness</span></div>
            </label>

            <label class="item item-checkbox" ng-click="selectSubcategory('MUSCLESPASMSphysicalSymptoms',physicalArray[3])">
                <div class="checkbox checkbox-input-hidden disable-pointer-events checkbox-circle">
                    <input type="checkbox" ng-model="physicalArray[3]" value="muscleSpasms">
                    <span class="checkmark"></span>
                </div>
                <div class="item-content twoLine disable-pointer-events"><i class="lp"></i><span>Muscle<br>spasms</span></div>
            </label>
        </div>
        <div class="typeSet clearfix" ng-show="chartSubcategory == 2">
        	<label class="item item-checkbox" ng-click="selectSubcategory('FATIGUEmindMatters',mindArray[0])">
                <div class="checkbox checkbox-input-hidden disable-pointer-events checkbox-circle">
                    <input type="checkbox" ng-model="mindArray[0]" value="fatigue">
                    <span class="checkmark"></span>
                </div>
                <div class="item-content singleLine disable-pointer-events"><i class="lg"></i><span>Fatigue</span></div>
            </label>

            <label class="item item-checkbox" ng-click="selectSubcategory('DEPRESSIONmindMatters',mindArray[1])">
                <div class="checkbox checkbox-input-hidden disable-pointer-events checkbox-circle">
                    <input type="checkbox" ng-model="mindArray[1]" value="depression">
                    <span class="checkmark"></span>
                </div>
                <div class="item-content singleLine disable-pointer-events"><i class="blue"></i><span>Depression</span></div>
            </label>

            <label class="item item-checkbox" ng-click="selectSubcategory('COGNITIVEmindMatters',mindArray[2])">
                <div class="checkbox checkbox-input-hidden disable-pointer-events checkbox-circle">
                    <input type="checkbox" ng-model="mindArray[2]" value="cognition">
                    <span class="checkmark"></span>
                </div>
                <div class="item-content singleLine disable-pointer-events"><i class="orange"></i><span>Cognition</span></div>
            </label>

            <label class="item item-checkbox" ng-click="selectSubcategory('ANXIETYmindMatters',mindArray[3])">
                <div class="checkbox checkbox-input-hidden disable-pointer-events checkbox-circle">
                    <input type="checkbox" ng-model="mindArray[3]" value="anxiety">
                    <span class="checkmark"></span>
                </div>
                <div class="item-content singleLine disable-pointer-events"><i class="lp"></i><span>Anxiety</span></div>
            </label>
        </div>
        <div class="typeSet clearfix" ng-show="chartSubcategory == 3">
        	<label class="item item-checkbox" ng-click="selectSubcategory('WALKINGDIFFICULTYdailyLifeSymptoms',dailyArray[0])">
                <div class="checkbox checkbox-input-hidden disable-pointer-events checkbox-circle">
                    <input type="checkbox" ng-model="dailyArray[0]" value="WalkingDifficulty">
                    <span class="checkmark"></span>
                </div>
                <div class="item-content twoLine disable-pointer-events"><i class="lg"></i><span>Walking<br>difficulty</span></div>
            </label>

            <label class="item item-checkbox" ng-click="selectSubcategory('BLADDERPROBLEMdailyLifeSymptoms',dailyArray[1])">
                <div class="checkbox checkbox-input-hidden disable-pointer-events checkbox-circle">
                    <input type="checkbox" ng-model="dailyArray[1]" value="bladderProblems">
                    <span class="checkmark"></span>
                </div>
                <div class="item-content twoLine disable-pointer-events"><i class="blue"></i><span>Bladder<br>problems</span></div>
            </label>

            <label class="item item-checkbox" ng-click="selectSubcategory('BOWELPROBLEMSdailyLifeSymptoms',dailyArray[2])">
                <div class="checkbox checkbox-input-hidden disable-pointer-events checkbox-circle">
                    <input type="checkbox" ng-model="dailyArray[2]" value="bowelProblems">
                    <span class="checkmark"></span>
                </div>
                <div class="item-content twoLine disable-pointer-events"><i class="orange"></i><span>Bowel<br>problems</span></div>
            </label>

            <label class="item item-checkbox" ng-click="selectSubcategory('VISIONPROBLEMdailyLifeSymptoms',dailyArray[3])">
                <div class="checkbox checkbox-input-hidden disable-pointer-events checkbox-circle">
                    <input type="checkbox" ng-model="dailyArray[3]" value="visionProblems">
                    <span class="checkmark"></span>
                </div>
                <div class="item-content twoLine disable-pointer-events"><i class="lp"></i><span>Vision<br>problems</span></div>
            </label>
        </div>
        <div class="typeSet clearfix" ng-show="chartSubcategory == 4">
        	<label class="item item-checkbox" ng-click="selectSubcategory('ENERGYgeneralWellBeing',generalArray[0])">
                <div class="checkbox checkbox-input-hidden disable-pointer-events checkbox-circle">
                    <input type="checkbox" ng-model="generalArray[0]" value="energy">
                    <span class="checkmark"></span>
                </div>
                <div class="item-content singleLine disable-pointer-events"><i class="lg"></i><span class="upperCase">Energy</span></div>
            </label>

            <label class="item item-checkbox" ng-click="selectSubcategory('MOODgeneralWellBeing',generalArray[1])">
                <div class="checkbox checkbox-input-hidden disable-pointer-events checkbox-circle">
                    <input type="checkbox" ng-model="generalArray[1]" value="mood">
                    <span class="checkmark"></span>
                </div>
                <div class="item-content singleLine disable-pointer-events"><i class="blue"></i><span class="upperCase">Mood</span></div>
            </label>
        </div>
        <div class="calendarBox"><input type="month" ng-model="chartMonth" ng-change="changeChartMonth()" class="chartMonth" />{{highChartDate.month}}, {{highChartDate.year}}<i></i></div>
        
    </header>
    <div id="chartContainer"></div>
    <footer class="clearfix">
        <label class="item item-radio" ng-click="noFunc()">
            <input type="radio" name="symptoms" ng-model="symptoms" value="physicalSymptoms" ng-click="changeCategory(1,'physicalSymptoms')">
            <div class="radio-content">
                <div class="item-content disable-pointer-events"><span>physical symptoms</span></div>
            </div>
        </label>
        <label class="item item-radio" ng-click="noFunc()">
            <input type="radio" name="symptoms" ng-model="symptoms" value="mindMatters" ng-click="changeCategory(2,'mindMatters')">
            <div class="radio-content">
                <div class="item-content disable-pointer-events"><span>mind matters</span></div>
            </div>
        </label>
        <label class="item item-radio" ng-click="noFunc()">
            <input type="radio" name="symptoms" ng-model="symptoms" value="dailyLifeSymptoms" ng-click="changeCategory(3,'dailyLifeSymptoms')">
            <div class="radio-content">
                <div class="item-content disable-pointer-events twoLiner"><span>daily life<br>symptoms</span></div>
            </div>
        </label>
        <label class="item item-radio" ng-click="noFunc()">
            <input type="radio" name="symptoms" ng-model="symptoms" value="generalWellbeing" ng-click="changeCategory(4,'generalWellBeing')">
            <div class="radio-content">
                <div class="item-content disable-pointer-events"><span>General Wellbeing</span></div>
            </div>
        </label>
    </footer>
</div>