.platform-android{ 
    .bar .title{ 
        left: 50px;
        right: 50px;
    }
    .loginOuterContainer{
    	min-height: 170vw;
    }
    .sidebar .sidebarList .item a span{
    	padding: 4vw 0 2.6vw 0;
    }
    // .selectBoxWrapper .selectBox{
    //    // min-height:10.6vw;
    // }
    // .relapseHistory .relapseHistorySelect .selectBox .multiLine {
    //     //padding: 1.2vw 0 0;
    // }
    /*.selectBoxPopup .popup-body .item-checkbox .checkbox input:after{
        top: 1.1vw;
        left: 0.8vw;
    }
     .selectBoxPopup .popup-body .item-checkbox .checkBoxName{
        line-height: 1.2;
    } */
    // .selectBoxWrapper .selectBox .singleLine{
    //     line-height: 10vw;
    //     padding-top: 1.1vw;
    // }
    // .selectBoxWrapper .selectBox .multiLine {
    //     padding: 2vw 0 0;
    // }
    // .relapseHistoryLast .selectBox .multiLine {
    //     padding: 1.5vw 0 0vw;
    // }
    // .additionalTreatment .selectBox .multiLine {
    //     padding: 1.8vw 0 0vw;
    // }
    // .priorTreatment .lastTreatmentSelect .selectBox .multiLine {
    //     padding: 2.5vw 0 0vw;
    // }
}