// Variables 
.holder {
    text-align: center;
}
// Colors
.white {
    color: $white;
}
.black {
    color: $black;
}
.darkPurple {
    color: $darkPurple !important;
}
.lightPurple {
    color: $lightPurple !important;
}
.darkYellowGreen {
    color: $darkYellowGreen !important;
}
.lightYellowGreen {
    color: $lightYellowGreen !important;
}
.orange {
    color: $orange !important;
}
.darkGray {
    color: $darkGray;
}
.midGray {
    color: $midGray;
}
.lightGray {
    color: $lightGray;
}
.red {
    color: $red;
}
.seperater {
    height: 1px;
    &.orange {
        background-color: $orange;
    }
}
.overflowHidden {
    overflow: hidden;
}
.row + .row {
    margin-top: 0;
}
body {
    font-size: 3.62vw;
    line-height: 1;
    color: $darkGray;
    //font-family: $kelsonSansRegular;
    font-family: $ubuntuRegular;
    background: $white;
}
.fS370 {
    font-size: 3.70vw;
}
.font4p18vw {
    font-size: 4.18vw;
}
.font5p63vw {
    font-size: 5.63vw;
}
.lH466 {
    line-height: 4.66vw;
}
.line1 {
    line-height: 1;
}
img {
    vertical-align: top;
}
.loading-container.active {
    background: rgba(0, 0, 0, 0.4);
}
input::-moz-placeholder,
textarea::-moz-placeholder {
    color: $lightGray;
    height: inherit;
    line-height: inherit;
    text-align: center;
    vertical-align: middle;
    line-height: 13.75vw;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: $lightGray;
    height: inherit;
    line-height: inherit;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: $lightGray;
    text-indent: 0;
    height: inherit;
    text-align: center;
    line-height: inherit;
    vertical-align: middle;
    line-height: normal;
    padding-top: 1px;
}
[nav-view-transition="ios"][nav-view-direction="forward"],
[nav-view-transition="ios"][nav-view-direction="back"] {
    background-color: $white;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
    border: 1px solid $lightGray;
    text-align: center;
    height: 11.27vw;
    line-height: 1.2;
    font-size: 4.40vw;
    padding: 0 3.54vw 0;
    color: $darkGray;
    background-color: $white;
    //font-family: $kelsonSansRegular;
    font-family: $ubuntuRegular;
    vertical-align: middle;
}
a {
    text-decoration: none;
    font-size: 3.22vw;
    position: relative;
    &:after {
        position: absolute;
        content: " ";
        display: block;
        left: -6px;
        right: -6px;
        top: -6px;
        bottom: -6px;
    }
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    //font-family: $kelsonSansBold;
    font-family: $ubuntuBold;
}
h1,
.h1 {
    font-size: 4.50vw;
    margin-bottom: 2vw;
}
p {
    margin-bottom: 2vw;
    line-height: 1.2;
}
.bold,
b,
strong {
    //font-family: $kelsonSansBold !important;
    font-family: $ubuntuBold !important;
    font-weight: normal;
}
em {
    font-style: italic;
}
.underline {
    text-decoration: underline;
}
.kelsonSansBold {
    font-family: $kelsonSansBold;
}
.kelsonSansRegular {
    font-family: $kelsonSansRegular;
}
.kelsonSansLight {
    font-family: $kelsonSansLight;
}
.ubuntuBold {
    font-family: $ubuntuBold;
}
.ubuntuMedium {
    font-family: $ubuntuMedium;
}
.ubuntuRegular {
    font-family: $ubuntuRegular;
}
.ubuntuLight {
    font-family: $ubuntuLight;
}
.upperCase {
    text-transform: uppercase;
}
.camelCase {
    text-transform: capitalize;
}
.lowerCase {
    text-transform: lowercase;
}
.italicFont {
    font-style: italic;
}
.bar.bar-stable {
    height: 10.87vw;
    padding: 0;
}
.has-header {
    top: 10.87vw;
}
.subHeader {
    min-height: 16.90vw;
    padding: 6.8vw 0 4.6vw;
    ;
    //letter-spacing: 0.25px;
    border-bottom: 1px solid #ddd;
    font-family: $ubuntuBold;
}
.headerIcon {
    background: url(../img/headerIcon.png) no-repeat;
    background-size: 100%;
    width: 7.64vw;
    height: 8.3vw;
    display: block;
    margin: 1.33vw auto;
}
.bar.bar-stable .title {
    height: auto;
}
.error {
    border: 1px solid $red !important;
}
.errorMsg {
    color: $red;
    display: block;
    padding-bottom: 2.2vw;
    padding-top: 1px;
    font-size: 2.8vw;
}
.errorBox {
    background-color: $lightRed;
    display: table;
    margin: 0 0 2.41vw;
    padding: 2.58vw;
    width: 100%;
    .icon {
        display: table-cell;
        vertical-align: middle;
        width: 6.44vw;
        height: 6.44vw;
        background: url(../img/error-icon.png) no-repeat center center;
        background-size: 100% auto;
    }
    .errorText {
        display: table-cell;
        vertical-align: middle;
        padding-left: 2.09vw;
        font-size: 2.8vw;
        //letter-spacing: 0.25px;
        //line-height: 1.2;
        padding-top: 0.5vw;
        color: $darkGray;
    }
}
.successBox {
    background: rgba($darkYellowGreen, .2);
    padding: 4.02vw 8.05vw;
    width: 100%;
    margin-bottom: 4.50vw;
    text-align: center;
}
.item-input {
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    align-items: flex-start;
    &.no-padding {
        padding: 1px !important;
    }
}
.selectBoxWrapper {
    width: 100%;
    position: relative;
    .selectBox {
        width: calc(100% - 3.12vw);
        display: inline-block;
        float: left;
        margin-right: 1vw;
        background-color: $white;
        border: 1px solid $lightGray;
        color: $lightGray;
        text-align: center;
        min-height: 11.27vw;
        font-size: 4.50vw;
        padding: 0 6.54vw 0 1.5vw;
        font-family: $ubuntuRegular;
        position: relative;
        white-space: initial;
        select {
            width: 100%;
            opacity: 0;
            max-width: 100%;
        }
        .singleLine {
            line-height: 11.1vw;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .multiLine {
            padding: 1vw 0 0;
            line-height: 1;
            .smallTest {
                font-size: 3.5vw;
                font-style: italic;
                padding-bottom: 1vw;
            }
        }
        &:after {
            position: absolute;
            top: 50%;
            right: 3.54vw;
            margin-top: -1.125vw;
            width: 0;
            height: 0;
            border-top: 2.25vw solid;
            border-right: 1.3vw solid transparent;
            border-left: 1.3vw solid transparent;
            color: $darkPurple;
            content: "";
            pointer-events: none;
        }
    }
}
.no-padding {
    padding: 0px !important;
}
.noMargin {
    margin: 0;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
sub,
sup {
    font-size: 60%;
}
sup {
    top: -1.32vw;
}
// Radio Button
.radioButtonGroup {
    width: calc(100% - 3.12vw);
    .questionLabel {
        float: left;
        width: 48.3vw;
        line-height: 11.272vw;
        height: 11.272vw;
        &.multiLine {
            line-height: 1;
            padding: 1.69vw 0;
        }
        &.error {
            line-height: 0;
            height: 3px;
            border: 0 !important;
        }
    }
}
.radioButtonWrapper {
    position: relative;
    float: left;
    width: 14.49vw;
    .radioButton {
        position: absolute;
        width: 100% !important;
        height: 100%;
        border: 0;
        +label {
            background-color: $white;
            border: 1px solid $lightGray;
            width: 100%;
            height: 11.272vw;
            line-height: 11.272vw;
            display: block;
            text-align: center;
            text-transform: uppercase;
            font-size: 4vw;
            //font-family: $kelsonSansRegular;
            font-family: $ubuntuRegular;
            color: $lightGray;
            overflow: hidden;
        }
        &:checked {
            +label {
                background-color: $darkPurple;
                border-color: $darkPurple;
                color: $white;
            }
        }
    }
    &.yes,
    &.no {
        margin-right: 1.6vw;
    }
    &.no {
        margin-right: 0;
    }
}
.step3 .radioButtonWrapper,
.step4 .radioButtonWrapper {
    .radioButton {
        &:checked {
            +label {
                background-color: $orange;
                border-color: $orange;
            }
        }
    }
}
.step5 .radioButtonWrapper {
    .radioButton {
        &:checked {
            +label {
                background-color: $darkYellowGreen;
                border-color: $darkYellowGreen;
            }
        }
    }
}
.iconRequired {
    padding: 0;
    width: 3.12vw;
    text-align: center;
    font-size: 3.86vw;
    font-family: arial;
}
.iconTrademark {
    width: 1vw;
    height: 2vw;
    background: url(../img/tradeMarkIcon.png) no-repeat top center;
    background-size: 100% auto;
    position: absolute;
    right: -1vw;
    top: 1vw;
}
label .iconTrademark {
    right: auto;
    left: 0;
}
.relative {
    position: relative;
}
.removeIcon {
    display: block;
    width: 9.66vw;
    height: 11.27vw;
    border: 1px solid $lightGray;
    background: $grayButtonBG url(../img/deleteIcon.png) no-repeat center center;
    background-size: 5.31vw 7.24vw;
}
button[disabled],
html input[disabled] {
    opacity: .4;
}
/* .platform-ios .appVersion{
    top:22px !important;
} */

// buttons
.button {
    border-radius: 0;
    text-transform: uppercase;
    height: 11.27vw;
    min-height: 11.27vw;
    font-size: 4.2vw;
    letter-spacing: 0.25px;
    padding: 0;
    line-height: 11.27vw;
    //font-family:$kelsonSansRegular;
    font-family: $ubuntuMedium;
    &.button-block, &.button-full {
        margin: 0;
    }
    &:hover {
        color: $white;
    }
}
.button-white {
    background-color: $white;
    color: $orange;
    &.activated {
        background-color: rgba($white, 0.8);
    }
}
.button-orange {
    background-color: $orange;
    color: $white;
    &.activated {
        background-color: $activeButtonOrange;
        color: $white;
    }
}
.button-darkPurple {
    background-color: $darkPurple;
    color: $white;
    &.activated {
        background-color: $activeButtonPurple;
        color: $white;
    }
}
.button-darkYellowGreen {
    background-color: $darkYellowGreen;
    color: $white;
    &.activated {
        background-color: $activeButtonYellowGreen;
        color: $white;
    }
}
.button-outline {
    background-color: $white;
    &.button-outline {
        background-color: $white;
    }
    &.button-darkPurple {
        border-color: $darkPurple;
        color: $darkPurple;
        &.activated {
            background-color: rgba($darkPurple, .3);
            color: $darkPurple;
        }
    }
    &.button-orange {
        border-color: $orange;
        color: $orange;
        &.activated {
            background-color: rgba($orange, .3);
            color: $orange;
        }
    }
    &.button-darkYellowGreen {
        border-color: $darkYellowGreen;
        color: $darkYellowGreen;
        &.activated {
            background-color: rgba($darkYellowGreen, .3);
            color: $darkYellowGreen;
        }
    }
    &.button-lightGray {
        border-color: $lightGray;
        color: $lightGray;
        &.activated {
            background-color: rgba($lightGray, .3);
            color: $lightGray;
        }
    }
}
.button-multiLine {
    line-height: 1 !important;
    letter-spacing: 0;
    //padding-top:1.5vw;
}
a.button-multiLine {
    padding-top: 1vw;
}
.back {
    position: absolute;
    top: 6vw;
    left: 7vw;
    letter-spacing: 0.25px;
    line-height: 1.2;
    padding: 1.5vw 1.5vw 1.5vw 2.65vw;
    .icon {
        position: absolute;
        top: 2.5vw;
        left: 0;
        width: 0;
        height: 0;
        border-right: 1.68vw solid;
        border-top: 0.84vw solid transparent;
        border-bottom: 0.84vw solid transparent;
        color: $white;
        content: "";
        pointer-events: none;
    }
    &:after {
        content: ' ';
        display: block;
        position: absolute;
        top: -5px;
        left: -5px;
        bottom: -5px;
        right: -5px;
    }
}
.back.darkPurple {
    .icon {
        color: $darkPurple;
    }
}
.sepratorLine {
    background-color: $lightestGray;
    height: 1px;
    width: 100%;
    display: block;
    clear: both;
    &.darkPurple {
        background-color: $darkPurple;
    }
    &.orange {
        background-color: $orange;
    }
    &.error {
        border: 0 !important;
        background-color: $red;
    }
}
// Font size
.font16 {
    font-size: 1.6vw !important;
}
.font20 {
    font-size: 2vw !important;
}
.font30 {
    font-size: 2.41vw !important;
}
.font36 {
    font-size: 2.89vw !important;
}
.font40 {
    font-size: 3.22vw !important;
}
.font45 {
    font-size: 3.62vw !important;
}
.font50 {
    font-size: 4.02vw !important;
}
.font56 {
    font-size: 4.5vw !important;
}
.font60 {
    font-size: 4.83vw !important;
}
.font70 {
    font-size: 5.5vw !important;
}
.font80 {
    font-size: 6.44vw !important;
}
.font100 {
    font-size: 8.05vw !important;
}
.font140 {
    font-size: 11.27vw !important;
}
.lineHeight56 {
    line-height: 4.5vw !important;
}
// spacing
.height1 {
    display: block;
    height: 1px;
}
.height2 {
    display: block;
    height: 0.48vw;
}
.height3 {
    display: block;
    height: 0.72vw;
}
.height5 {
    display: block;
    height: 1.2vw;
}
.height10 {
    display: block;
    height: 2.41vw;
}
.height20 {
    display: block;
    height: 4.83vw;
}
.height23 {
    display: block;
    height: 5.55vw;
}
.height25 {
    display: block;
    height: 6.03vw;
}
.height30 {
    display: block;
    height: 7.24vw;
}
.height40 {
    display: block;
    height: 9.66vw;
}
.height50 {
    display: block;
    height: 12.07vw;
}
.height60 {
    display: block;
    height: 14.49vw;
}
.height100 {
    display: block;
    height: 24.15vw;
}
.zeroBtmMrgPad {
    margin-bottom: 0;
    padding-bottom: 0;
}
.backdrop {
    background-color: rgba(0, 0, 0, 0.75);
}
.popup-container .popup {
    background-color: rgba(255, 255, 255, 1);
    width: 76.8vw;
    margin: 0 11.6vw;
    position: relative;
    max-height: 95%;
}
.popup-head {
    padding: 12vw 4vw 3vw;
    border-bottom: 0 none;
    display: table;
    width: 100%;
}
.popup-title {
    color: $darkPurple;
    font-size: 5.63vw;
}
.popup-sub-title {
    color: $lightGray;
    //letter-spacing: 0.25px;
    font-size: 3.1vw;
    font-family: $ubuntuRegular;
    font-style: italic;
}
.popup-body {
    padding: 0 5vw;
    max-height: 136vw;
    li.item-radio {
        white-space: normal;
        text-overflow: initial;
    }
}
.popup-buttons {
    padding: 0 6.3vw;
    min-height: 22vw;
    .button {
        line-height: inherit;
        border-radius: 0;
        min-height: 11.27vw;
        &.skip {
            max-width: 24.48vw;
            margin-right: 1.5vw;
            padding: 0;
        }
        &:first-child {
            margin-right: 1.5vw;
        }
    }
}
a.popClose {
    display: block;
    width: 5vw;
    height: 5vw;
    position: absolute;
    top: 5.8vw;
    right: 5.8vw;
    z-index: 14;
    background: url(../img/closeIcon.png) no-repeat;
    background-size: 100% 100%;
}
.logo {
    img {
        width: 35.7vw;
        max-width: 148px;
        height: auto;
    }
}
.item {
    font-size: 3.22vw;
    color: $darkGray;
    background-color: transparent;
    line-height: 1.2;
}
// form sub Element
.subformElement {
    padding-left: 5.63vw;
    .questionLabel {
        width: 42.59vw;
    }
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}
.pmStartPop {
    .popup-body {
        padding: 0 4vw;
        .smallText {
            font-size: 3vw;
        }
    }
    .popBodyInput .radioButtonGroup .questionLabel {
        width: 36vw;
    }
}
.notVisibleOnIpad {
    display: block;
}
.visibleOnIpad {
    display: none;
}