.faq {
    .accordionTitle {
        padding: 4.99vw 11vw 4.99vw 5.2vw !important;
        i {
            height: 2.41vw;
            width: 2.41vw;
            background: url(../img/faqRightArrow.png) no-repeat;
            background-size: 100% 100%;
            float: right;
            position: absolute;
            top: 50%;
            right: 4.99vw;
            margin-top: -1.2vw;
        }
        &.opened {
            i {
                background: url(../img/faqDownArrow.png) no-repeat;
                background-size: 100% 100%;
            }
        }
    }
}
ul.tipsList li {
    padding: 3.9vw 14.5vw 3.9vw 7.25vw;
    position: relative;
    border-bottom: 1px solid lighten($lightGray, 30%);
    i {
        height: 2.41vw;
        width: 2.41vw;
        background: url(../img/faqRightArrow.png) no-repeat;
        background-size: 100% 100%;
        right: 6.5vw;
        position: absolute;
        top: 9vw;
    }
    h3 {
        padding: 0;
        margin: 0;
        font-size: 3.3vw;
        line-height: 1.4;
    }
    p {
        padding: 0;
        margin: 0;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        font-size: 3.3vw;
    }
    &.open {
        i {
            background: url(../img/faqDownArrow.png) no-repeat;
            background-size: 100% 100%;
        }
        p {
            overflow: visible;
            display: block;
        }
    }
    &.new {
        background-color: #e7f2d6;
    }
    .tipsRefFontSize {
        font-size: 2.6vw;
    }
}