.fingerTapTest {
    .testCircle {
        /* width: 40.25vw;
		height: 40.25vw; */
        
        font-size: 8.05vw;
        line-height: 7.24vw;
        margin-top: 21.42vw;
        /**/
        
        margin-bottom: 4vw;
        &.smallCircle {
            width: 18.67vw;
            height: 18.67vw;
            margin-top: 6.03vw;
            border: 0.80vw solid $orange;
            &.withBg {
                margin-top: 14.65vw;
            }
        }
        &.tapAnyWhereMsgCircle {
            margin-top: 8vw;
            &.small {
                margin: 19.01vw auto 14.01vw;
            }
        }
    }
    .tapAnyWhereMsg {
        padding-top: 8vw;
    }
    .fingerTapTestButton {
        padding: 0 12.07vw;
    }
    .fingerTapResultScreen {
        margin-top: 16vw;
        .fingerTapResultCount {
            color: $orange;
            font-size: 6.44vw;
            margin: .5vw 0 4.5vw 0;
            display: block;
        }
        .fingerTapResultScreenInfo {
            font-size: 3.22vw;
            margin-top: 16vw;
            padding: 0 8vw;
            letter-spacing: 0.25px;
        }
    }
    #fingerTapDiv,
    #fingerTestTapDiv {
        canvas {
            height: 66.70vw !important;
            width: 100% !important;
        }
    }
    .fingerTapArea {
        width: 97%;
        margin: 1.5vw auto 0;
        border-style: dotted;
        border-color: $orange;
        border-width: .75vw;
        min-height: 200px;
        max-width: 582px;
        height: 69.35vw;
        max-height: 415px;
        overflow: hidden;
    }
    .timerNewText {
        font-size: 4vw;
        margin: 3vw 0 -4.5vw;
    }
    .tapCounterText{
        font-size: 4vw;
        margin: 3vw 0 0;
    }
}
.greenText {
    color: $darkYellowGreen;
    font-size: 4.50vw;
}
.startTrialTapMsg {
    padding-top: 1vw;
    font-size: 3.22vw;
    color: $orange;
    text-align: center;
    letter-spacing: 0.25px;
    .textBlack {
        color: $black;
    }
}
.fingerStartContent {
    padding: 0 12vw;
    text-align: center;
}