.heatHldr {
    background: url("../img/heatBG.jpg") 0 0 no-repeat;
    background-size: 100% auto;
    padding: 6vw 0 0;
    .selectBoxWrapper .selectBox {
        float: none;
    }
}
.locationHldr {
    overflow: hidden;
    width: 85vw;
    margin: auto;
    border: 1px solid $darkPurple;
    background-color: $white;
    a {
        display: block;
        float: left;
        background-color: $darkPurple;
        color: $white;
        border: 0 none;
        width: 45%;
        height: 9.5vw;
        line-height: 10vw;
        font-size: 3vw;
        //font-family: $kelsonSansRegular;
        &.activated {
            background-color: $lightPurple;
        }
        i {
            display: inline-block;
            background-image: url("../img/gps.png");
            background-size: cover;
            width: 4.84vw;
            height: 4.84vw;
            vertical-align: middle;
            margin: -1vw 1vw 0 2vw;
        }
    }
    p {
        float: left;
        width: 55%;
        text-align: right;
        padding: 1.4vw 3% 0 0;
        line-height: 7vw;
        margin: 0;
    }
}
.tempHldr {
    width: 99%;
    margin: auto;
    .alert {
        background-image: url("../img/alertBig.png");
        background-size: cover;
        width: 16.66vw;
        height: 14.50vw;
        margin: auto;
    }
    .top {
        padding: 6vw 0;
    }
    .left {
        text-align: right;
        width: 50%;
        vertical-align: middle;
        border-right: 1px solid lighten($black, 70%);
        padding: 3vw 5vw 2vw 0;
        p {
            margin: 0;
            span {
                color: $orange;
                font-size: inherit;
                //font-family: $kelsonSansRegular;
                display: inline;
                padding: 0;
            }
        }
        span {
            font-size: 11vw;
            //font-family: $ubuntuBold;
            display: block;
            padding: 1.5vw 0 0;
        }
    }
    .right {
        text-align: left;
        vertical-align: middle;
        padding: 3vw 0 2vw 5vw;
        p {
            margin: 0;
        }
        span {
            font-family: $ubuntuBold;
            padding: 1vw 0 1.5vw;
            display: block;
        }
    }
}
.setAlertDD {
    width: 81.2vw;
    margin: auto;
    padding: 6.84vw 0 0;
    p {
        margin: 0 0 1vw;
    }
    .selectBoxWrapper .selectBox {
        width: 100%;
    }
}
p.heatCounter {
    width: 81.2vw;
    margin: auto;
    font-size: 4.5vw;
    border-top: 1px solid lighten($black, 70%);
    padding: 3vw 0 0;
    color: lighten($black, 70%);
}
body.platform-ipad {
    .locationHldr p {
        margin: 0;
    }
}