@media all and (orientation: landscape) {
    #chartMainContainer {
        display: block !important;
    }
}
@media all and (orientation: portrait) {
    #chartMainContainer {
        display: none !important;
    }
}
#chartMainContainer {
    position: absolute;
    z-index: 10;
    background-color: $white;
    width: 100vw;
    height: 100vh;
    header {
        margin: 2.3vw 0 0 3.26vw;
        .item-checkbox .checkbox {
            top: 0.3vw;
        }
        .typeSet {
            float: left;
            //text-transform: uppercase;
            width: 71.1vw;
            label.item {
                float: left;
                padding: 0.3vw 0 0 6.14vw;
                margin: 0 5vh 0 0;
                font-size: 1.9vw;
                line-height: 2.13vw;
                min-height: 3.8vw;
                border: 0 none;
                .item-content {
                    position: relative;
                    overflow: visible;
                    span {
                        display: block;
                        padding-top: 0.25vw;
                    }
                    &.singleLine {
                        line-height: 3.8vw;
                    }
                }
                i {
                    position: absolute;
                    left: -1.63vw;
                    top: 1.4vw;
                    width: 1.06vw;
                    height: 1.06vw;
                    border-radius: 50%;
                    display: block;
                    &.lg {
                        background-color: $lightYellowGreen;
                    }
                    &.dg {
                        background-color: #098400;
                    }
                    &.blue {
                        background-color: #3399ff;
                    }
                    &.orange {
                        background-color: $orange;
                    }
                    &.lp {
                        background-color: $lightPurple;
                    }
                }
                .twoCatLine i:nth-child(1) {
                    top: 0.40vw;
                }
                .twoCatLine i:nth-child(2) {
                    top: 2.30vw;
                }
                &.activated {
                    background-color: transparent;
                }
            }
        }
        input + .checkmark {
            display: block;
            width: 3.76vw;
            height: 3.76vw;
            border: 1px solid #b3b3b3;
            margin: 0;
        }
        input:checked + .checkmark {
            background: url("../img/multiSelectRadioIcon.png") center center no-repeat;
            background-size: 86% auto;
        }
        .calendarBox {
            float: left;
            color: $white;
            background-color: $lightPurple;
            width: 22.67vw;
            height: 5.44vw;
            font-size: 1.91vw;
            line-height: 5.5vw;
            text-indent: 2.1vw;
            position: relative;
            margin: -0.84vw 0 0 0;
            input {
                border: 0 none;
                background-color: transparent;
                width: 100%;
                height: 100%;
                padding: 0;
                position: absolute;
                opacity: 0;
                z-index: 5;
            }
            i {
                display: block;
                width: 3.26vw;
                height: 2.98vw;
                position: absolute;
                background: url("../img/calender.png")0 0 no-repeat;
                background-size: contain;
                right: 1.35vw;
                top: 0.95vw;
            }
        }
    }
    footer {
        margin: 0 0 0 3.26vw;
        label.item.item-radio {
            float: left;
            margin: 0 0.95vw 0 0;
            border: 0 none;
            .item-content {
                padding: 0;
                width: 34.5vh;
                height: 4.61vw;
                //font-family: $kelsonSansBold;
                font-size: 3.21vh;
                text-transform: uppercase;
                text-align: center;
                line-height: 4.89vw;
                color: $lightGray;
                border: 1px solid $midGray;
                &.twoLiner {
                    line-height: 3.2vh;
                    padding-top: 0.8vh;
                }
            }
            &.activated {
                .item-content {
                    background-color: #fadcbc;
                    //color: $white;
                    border: 1px solid $lightGray;
                }
            }
        }
        input:checked + .radio-content .item-content {
            background: $orange;
            color: $white;
            border: 1px solid $orange;
        }
    }
}
.hiChrtPopCntnr {
    h3 {
        margin-bottom: 1.6vw;
    }
    p {
        margin-bottom: 0.78vw;
        //font-family: $kelsonSansRegular;
    }
    padding: 1.5vw 1.4vw 0;
    border: 1px solid $lightPurple;
    background-color:$white;
    max-width: 43vw;
    .rangeBox {
        padding-bottom: 4.5vw;
        width: 23.06vw;
        margin: auto;
        li {
            float: left;
            width: 4.05vw;
            height: 4.05vw;
            margin: 0 0.28vw;
            text-align: center;
            background-color: rgba($lightGray, 0.25);
            font-size: 1.68vw;
            line-height: 4.5vw;
            position: relative;
            font-family: $ubuntuMedium;
            span {
                position: absolute;
                line-height: normal;
                bottom: -1.91vw;
                left: 0;
                font-size: 1.12vw;
            }
            &:last-child {
                span {
                    left: auto;
                    right: 0;
                }
            }
            &.active {
                background-color: $lightPurple;
                color: $white;
            }
        }
    }
    .left,
    .right {
        margin-right: 1.12vw;
    }
    .right {
        margin: 0 0 0 1.12vw;
    }
    .symptomsHldr p {
        margin: 0;
        font-size: 1.57vw;
    }
    ul.symptomsRange {
        margin: 0 0 1.24vw;
        white-space: nowrap;
        li {
            display: inline-block;
            width: 2.98vw;
            height: 2.98vw;
            background-color: $lightGray;
            box-shadow: inset 0 0 0.70vw rgba($black, 0.5);
            margin: 0 1px;
        }
        &.active1 {
            li:first-child {
                background-color: $lightPurple;
            }
        }
        &.active2 {
            li:nth-child(1), li:nth-child(2) {
                background-color: $lightPurple;
            }
        }
        &.active3 {
            li:nth-child(1), li:nth-child(2), li:nth-child(3) {
                background-color: $lightPurple;
            }
        }
        &.active4 {
            li {
                background-color: $lightPurple;
            }
            li:last-child {
                background-color: $lightGray;
            }
        }
        &.active5 {
            li {
                background-color: $lightPurple;
            }
        }
    }
}