//Pre Home
.preHome {
    h1 {
        font-size: 4.83vw;
        color: $darkPurple;
        margin: 0;
        padding: 5vw 0 1vw;
    }
    .btnHldr {
        width: 50%;
        margin: auto;
        padding-top: 12vw;
    }
    .flip-container,
    .frontSide,
    .backSide,
    .flipper {
        width: 100%;
        height: 37vw;
    }
    .flip-container {
        position: relative;
        perspective: 1000px;
        -webkit-perspective: 1000px;
        color: $white;
        width: 95%;
        margin: 0 auto 0.4vw;
    }
    .flip-container .flipper {
        position: relative;
        transform: rotateX(0deg);
        transform-origin: 100% 18.5vw;
        -webkit-transform: rotateX(0deg);
        -webkit-transform-origin: 100% 18.5vw;
        transform-style: preserve-3d;
        -webkit-transform-style: preserve-3d;
        transition: all 0.5s linear;
        -webkit-transition: all 0.5s linear;
    }
    .flip-container.flip .flipper {
        transform: rotateX(-180deg);
        -webkit-transform: rotateX(-180deg);
    }
    .flipper {
        .frontSide, .backSide {
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
        .frontSide {
            z-index: 2;
            background-color: $darkPurple;
            overflow: hidden;
            padding: 11vw 4vw 0 37vw;
            &:before {
                content: " ";
                display: block;
                width: 40vw;
                height: 40vw;
                position: absolute;
                border-radius: 50%;
                background:url(#{$backImgPath}/homeHTicon.png) center center no-repeat $lightPurple;
                background-size: 100%;
                left: -6vw;
                top: -1.5vw;
            }
            h2 {
                color: $white;
                font-size: 6vw;
            }
        }
        .backSide {
            transform: rotateX(180deg);
            -webkit-transform: rotateX(180deg);
            background-color: $white;
            border: 1px solid $lightestGray;
            overflow: hidden;
            z-index: 1;
            padding: 0 0 0 36vw;
            color: $black;
            &:before {
                content: " ";
                display: block;
                width: 27vw;
                height: 27vw;
                position: absolute;
                border-radius: 50%;
                background:url(#{$backImgPath}/homeHTicon.png) center center no-repeat $darkPurple;
                background-size: 100%;
                left: 3vw;
                top: 5vw;
            }
            h3 {
                margin: 0;
                font-size: 3.9vw;
                color: $darkPurple;
                padding: 4.8vw 0 1.5vw;
            }
            p {
                padding-right: 6vw;
            }
            a {
                color: $darkPurple;
                font-size: 4.4vw;
                border-bottom: 0.8vw solid $darkPurple;
                &.activated {
                    opacity: 0.7;
                }
            }
            .notAvail {
                padding: 10vw 2vw 0 0;
            }
        }
    }
    .flip-container.ht {} .flip-container.srvy {
        .frontSide {
            background-color: $orange;
            padding-top: 5.5vw;
            &:before {
                background:url(#{$backImgPath}/homeSrvyicon.png) center center no-repeat $yellow;
                background-size: 100%;
            }
        }
        .backSide {
            &:before {
                background:url(#{$backImgPath}/homeSrvyicon.png) center center no-repeat $orange;
                background-size: 100%;
            }
            h3 {
                color: $orange;
                font-size: 3.9vw;
                padding: 1.5vw 0 2.5vw;
            }
            a {
                color: $orange;
                border-bottom: 0.8vw solid $orange;
            }
        }
    }
    .flip-container.pm {
        .frontSide {
            background-color: $darkYellowGreen;
            padding-top: 6vw;
            &:before {
                background:url(#{$backImgPath}/homePMicon.png) center center no-repeat $lightYellowGreen;
                background-size: 100%;
            }
        }
        .backSide {
            &:before {
                background:url(#{$backImgPath}/homePMicon.png) center center no-repeat $darkYellowGreen;
                background-size: 100%;
            }
            h3 {
                color: $darkYellowGreen;
                font-size: 3.9vw;
                padding: 1.5vw 0 2.5vw;
            }
            a {
                color: $darkYellowGreen;
                border-bottom: 0.8vw solid $darkYellowGreen;
            }
        }
    }
}
.newHomeScreen {
    .newGamefication {
        min-height: 14.5vw;
        border-bottom: 2px solid $lightPurple;
        overflow: hidden;
        position: relative;
        img {
            max-height: 11vw;
            margin: auto;
            display: block;
            left: 3%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
        }
        p {
            width: 100%;
            margin: 0;
            padding: 3.2vw 1.5% 3.2vw 16%;
        }
    }
    .div2 {
        overflow: hidden;
        .block {
            float: left;
            width: 50%;
            clear: none;
        }
        &.srvyTest {
            .block {
                border-left: 1px solid $lightestGray;
                height: 47vw;
                i {
                    display: block;
                    width: 17.71vw;
                    height: 17.71vw;
                    margin: 3vw auto 2vw;
                    border-radius: 50%;
                    background: url("../img/homePMicon.png") center center no-repeat $orange;
                    background-size: 100%;
                    position: relative;
                    span {
                        display: block;
                        position: absolute;
                        background-color: red;
                        border: 1px solid #fff;
                        width: 6vw;
                        height: 6vw;
                        line-height: 6vw;
                        text-align: center;
                        color: $white;
                        font-family: $ubuntuBold;
                        border-radius: 50%;
                        top: 0;
                        right: 0;
                    }
                }
                p {
                    font-size: 4.2vw;
                    min-height: 10vw;
                }
                a {
                    display: block;
                    background-color: $orange;
                    color: $white;
                    width: 87%;
                    text-align: center;
                    margin: auto;
                    line-height: 9vw;
                    font-size: 4vw;
                    &.activated {
                        background-color: $activeButtonOrange;
                    }
                }
                &:first-child {
                    border-left: 0 none;
                    i {
                        background: url("../img/homeSrvyicon.png") center center no-repeat $orange;
                        background-size: 100%;
                    }
                }
            }
        }
        &.link {
            .block {
                border-left: 1px solid $lightestGray;
                height: 37vw;
                background-color: $darkPurple;
                color: $white;
                &.activated {
                    background-color: $activeButtonPurple;
                }
                i {
                    display: block;
                    width: 18vw;
                    height: 18vw;
                    margin: 5vw auto;
                    border-radius: 50%;
                    background:url(#{$backImgPath}/homeTPSicon.png) center center no-repeat $white;
                    background-size: 100%;
                }
                p {
                    font-size: 4vw;
                    margin: 0;
                }
                &:first-child {
                    background-color: $darkYellowGreen;
                    i {
                        background:url(#{$backImgPath}/homeHTgreenicon.png) center center no-repeat $white;
                        background-size: 100%;
                    }
                    &.activated {
                        background-color: $activeButtonYellowGreen;
                    }
                }
            }
        }
    }
    .rotateDevice {
        height: 24vw;
        img {
            float: left;
            height: 13.5vw;
            margin: 5vw 0 0 7vw;
        }
        p {
            font-size: 4.4vw;
            padding: 6vw 0 0 37vw;
        }
    }
    .heatAlert {
        background:url(#{$backImgPath}/heatAlertBg.png) 0 0 no-repeat #e4f6ff;
        background-size: 100% auto;
        height: 30vw;
        i {
            float: left;
            display: block;
            width: 17vw;
            height: 17vw;
            border: 1vw solid #d8f2ff;
            border-radius: 50%;
            background:url(#{$backImgPath}/alertBig.png) center 3vw no-repeat $white;
            background-size: 60%;
            margin: 6vw 0 0 6vw;
        }
        .right {
            float: left;
            padding: 3.8vw 0 0 3vw;
            width: 76vw;
            position:relative;
            div.icon{
                position: absolute;
                right: 2vw;
                top: 4vw;
                font-size: 5vw;
                animation: float 2s ease-in-out infinite;
                -webkit-animation: float 2s ease-in-out infinite;
            }
            p {
                font-size: 4.2vw;
                margin-bottom: 1.5vw;
            }
            a {
                width: 47.4vw;
                display: block;
                background-color: $orange;
                color: $white;
                text-align: center;
                margin: 3vw 0 0;
                line-height: 8vw;
                font-size: 4vw;
                &.activated {
                    background-color: $activeButtonOrange;
                }
            }
        }
    }
}
.tapHere {
    background-color: $darkPurple;
    color: $white;
    border-bottom: 0.72vw solid $orange;
    padding: 4.50vw 0 3.38vw 4.50vw;
    overflow: hidden;
    i {
        height: 6.44vw;
        width: 6.44vw;
        background-image: url(#{$backImgPath}/tapHere.png);
        background-size: 100% 100%;
        margin-right: 2vw;
    }
    i,
    span {
        display: block;
        float: left;
    }
    span {
        font-size: 3.4vw;
        line-height: 6vw;
    }
    b {
        border-bottom: 1px solid $white;
        font-family: $ubuntuRegular !important;
    }
    &.relapse {
        background-color: $orange;
        border-bottom: 0.72vw solid $darkGray;
        span {
            font-size: 3vw;
            //text-shadow: 0px -1px #757575;
        }
    }
}

@-webkit-keyframes float {
  0%, 100% {
    -webkit-transform: translate(0%,0);
    transform: translate(0%,0);
  }
  50% {
    -webkit-transform: translate(30%,0);
    transform: translate(30%,0);
  }
}


@keyframes float {
  0%, 100% {
    -webkit-transform: translate(0%,0);
    transform: translate(0%,0);
  }
  50% {
    -webkit-transform: translate(30%,0);
    transform: translate(30%,0);
  }
}