body.platform-ipad {
    .font4p18vw {
        font-size: 3vw;
    }
    .font5p63vw {
        font-size: 4vw;
    }
    font-size: 3vw;
    a {
        font-size: 2.22vw;
    }
    p {
        margin-bottom: 1.2vw;
    }
    .item {
        font-size: 2.22vw;
    }
    .loginOuterContainer {
        min-height: 133vw;
    }
    .notVisibleOnIpad {
        display: none;
    }
    .visibleOnIpad {
        display: block;
    }
    .pmBtnHldr {
        width: 78%
    }
    textarea,
    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="url"],
    input[type="search"],
    input[type="tel"],
    input[type="color"] {
        height: 9.27vw;
        font-size: 3.50vw;
        padding: 1.2vw 3.54vw 0;
    }
    .bar .button.button-icon .icon:before,
    .bar .button.button-icon:before,
    .bar .button.button-icon.icon-left:before,
    .bar .button.button-icon.icon-right:before,
    .bar button.button-icon .icon:before,
    .bar button.button-icon:before,
    .bar button.button-icon.icon-left:before,
    .bar button.button-icon.icon-right:before {
        font-size: 7.16vw;
        line-height: 8.5vw;
    }
    .button {
        height: 9.00vw;
        min-height: 9.00vw;
        font-size: 3.00vw;
        line-height: 9.00vw;
    }
    .bar .buttons-left {
        padding-top: 0;
    }
    .bar.bar-stable {
        height: 8.87vw;
        padding: 0 0 0 3.22vw;
        .title {
            height: 8.87vw;
            line-height: 8.87vw;
        }
    }
    .has-header {
        top: 8.87vw;
    }
    .headerIcon {
        background-size: 100% auto;
        width: 5.64vw;
        height: 6.3vw;
        margin: 1.13vw auto;
    }
    .sidebar .sidebarHeaderLogo .mainHomeLink {
        width: 6.5vw;
        right: 2.5vw;
        bottom: 2.4vw;
    }
    h1,
    .h1 {
        font-size: 4.00vw !important;
        margin-bottom: 1.2vw;
    }
    .privacyPolicyLink {
        font-size: 2vw;
        a {
            font-size: 2vw;
        }
    }
    .logo img {
        max-width: 250px;
    }
    .errorBox {
        padding: 2vw;
        .icon {
            width: 5.44vw;
            height: 5.44vw;
        }
        .errorText {
            padding-top: 0.85vw;
        }
    }
    .height10 {
        height: 1.4vw;
    }
    .height20 {
        height: 2.8vw;
    }
    .height23 {
        height: 3.0vw;
    }
    .height25 {
        height: 3.5vw;
    }
    .height30 {
        height: 4.2vw;
    }
    .height40 {
        height: 5.6vw;
    }
    .height50 {
        height: 7.00vw;
    }
    .height60 {
        height: 8.4vw;
    }
    .height100 {
        height: 14.0vw;
    }
    // Font size
    .font30 {
        font-size: 1.52vw !important;
    }
    .font40 {
        font-size: 2.23vw !important;
    }
    .font50 {
        font-size: 2.75vw !important;
    }
    .font56 {
        font-size: 3.4vw !important;
    }
    .font70 {
        font-size: 4.4vw!important;
    }
    .font80 {
        font-size: 4.07vw !important;
    }
    .font100 {
        font-size: 5.12vw !important;
    }
    .font140 {
        font-size: 7.17vw !important;
    }
    .lineHeight56 {
        line-height: 4.5vw !important;
    }
    .lH466 {
        line-height: 3.8vw;
    }
    .loginScreen .item,
    .forgotPasswordScreen .item {
        padding: 0 0 1.5vw;
    }
    .forgotPassword {
        height: 40.20vw;
        .emailInput {
            padding-top: 9.1vw;
        }
        .errorMsg {
            padding-top: 5vw;
        }
        .errorMsg + .emailInput {
            padding-top: 0vw;
        }
        .errorBox + .emailInput {
            padding-top: 0vw;
        }
    }
    .aboutHldr {
        margin: 1vw 11.9vw 0;
        .logo {
            margin-top: 7vw;
            margin-bottom: 4vw;
            img {
                max-width: 220px;
            }
        }
        .slider {
            min-height: 78vw;
        }
        .img1,
        .img2 {
            width: 30vw;
        }
        .img3 {
            width: 15vw;
        }
    }
    .back .icon {
        top: 1.7vw;
    }
    .selectBoxPopup .popup-body .item-radio .radio-content .item-content {
        font-size: 3.2vw;
    }
    .classSubOptHead {
        font-size: 3.2vw;
    }
    .registrationSteps {
        background-position: left 46.92vw;
        .registrationHeader {
            min-height: 51.75vw;
        }
        .registrationContent {
            //top: 51.75vw;
        }
    }
    .registrationScreens .item {
        padding: 1px 0 2.03vw;
    }
    .radioButtonWrapper {
        .radioButton + label {
            height: 9vw;
            line-height: 9vw;
            font-size: 3vw;
        }
    }
    .gender .selectGender .genderRadio {
        width: 9vw;
        height: 9vw;
    }
    .relapseHistory {
        .relapseHistoryicon {
            height: 12.49vw;
        }
        .relapseHistorySelect {
            .selectBox {
                height: 12.49vw;
            }
        }
    }
    .msHistory {
        .radioButtonWrapper {
            &.yes, &.no {
                width: 22.54vw;
                margin-right: 1.4vw;
            }
            &.dont {
                width: 31vw;
            }
        }
    }
    .selectBoxWrapper {
        .selectBox {
            margin-right: 1vw;
            min-height: 9vw;
            font-size: 3vw;
            padding: 0 6.54vw 0 3.54vw;
            .singleLine {
                line-height: 8.9vw;
            }
            .multiLine {
                padding: 1.1vw 0 0;
                line-height: 1;
                .smallTest {
                    font-size: 2vw;
                    font-style: italic;
                    padding-bottom: 1vw;
                }
            }
            &:after {
                right: 3.54vw;
                margin-top: -0.9vw;
                border-top: 1.8vw solid;
                border-right: 1.0vw solid transparent;
                border-left: 1.0vw solid transparent;
            }
        }
    }
    .surveySlide .checkDDhldr .selectBoxWrapper .selectBox {
        font-size: 3.2vw;
    }
    .registrationSteps .yearsBlocks .item .selectBox {
        padding: 0 2.5vw 0 0.5vw;
        &:after {
            right: 1vw;
        }
    }
    .gender {
        .selectGender {
            .genderRadio {
                &.male {
                    .radioButton +label .icon {
                        background-position: -16.2vw 0;
                        background-size: 92vw auto;
                    }
                    .radioButton:checked + label .icon {
                        background-position: -8.4vw 0;
                    }
                }
                &.Female {
                    .radioButton +label .icon {
                        background-position: -31.5vw 0;
                        background-size: 92vw auto;
                    }
                    .radioButton:checked + label .icon {
                        background-position: -23.8vw 0;
                    }
                }
            }
        }
    }
    .abilityContainer {
        .radioButtonWrapper {
            .radioLabel {
                height: 12vw;
                margin: 0;
            }
        }
    }
    .removeIcon {
        width: 9.66vw;
        height: 9vw;
        background-size: 4vw 6vw;
    }
    .neurologistSearch {
        .searchIcon {
            /* min-width: 11.11vw;
            width: 11.11vw;*/
            
            height: 9.27vw;
            .icon {
                background-size: 5.5vw 6.50vw;
                left: 0;
            }
        }
        input {
            text-align: left;
            height: 9.27vw;
        }
    }
    .registrationSteps .registrationHeader .logo {
        padding-top: 15vw;
    }
    /* select dropdown popup */
    
    .selectBoxPopup {
        .popup-head {
            padding: 3vw;
        }
        .popup-body {
            .item-checkbox {
                .checkBoxName {
                    font-size: 3vw;
                    line-height: 5vw;
                    width: 69vw;
                    padding: 2.5vw 0 1.7vw 1.25vw;
                }
                .checkbox input {
                    margin-top: 4px;
                    width: 26px;
                    height: 26px;
                    &:after {
                        top: 6px;
                        left: 5px;
                        width: 15px;
                        height: 8px;
                    }
                }
            }
            .item-radio .radio-icon {
                margin: 2.3vw 1.93vw;
            }
        }
        .item-radio .radio-content .item-content.font56 {
            font-size: 3vw!important;
            height: auto;
            line-height: normal;
        }
    }
    .popup-title {
        font-size: 4vw;
    }
    .popup-sub-title {
        font-size: 2vw;
    }
    .subHeader {
        min-height: 9.9vw;
        padding: 3.3vw 0 3.1vw;
        position: relative;
        z-index: 2;
    }
    .tapArea {
        height: 105vw;
        margin-top: 0;
        overflow: hidden;
        #gameDiv2 {
            padding-top: 0;
        }
    }
    .tapArea.ipadShow {
        height: 80vw;
        overflow: hidden;
        margin-bottom: 20vw;
    }
    /*highchart*/
    
    #chartMainContainer {
        header {
            margin: 1.25vw 0 0 2.5vw;
            .typeSet {
                width: 76vw;
                label.item {
                    padding: 0 0 0 5vw;
                    margin: 0 3.16vw 0 0;
                    font-size: 1.29vw;
                    line-height: 1.58vw;
                    min-height: 2.73vw;
                    .item-content {
                        &.singleLine {
                            line-height: 2.95vw;
                        }
                    }
                    i {
                        left: -1.43vw;
                        top: 0.79vw;
                        width: 0.86vw;
                        height: 0.86vw;
                    }
                    .twoCatLine i:nth-child(1) {
                        top: 0.15vw;
                    }
                    .twoCatLine i:nth-child(2) {
                        top: 1.58vw;
                    }
                }
            }
            input + .checkmark {
                width: 2.73vw;
                height: 2.73vw;
            }
            .calendarBox {
                width: 19.5vw;
                height: 4vw;
                font-size: 1.58vw;
                line-height: 4vw;
                text-indent: 1.29vw;
                margin: -0.5vw 0 0 0;
                i {
                    width: 2.44vw;
                    height: 2.51vw;
                    right: 1.15vw;
                    top: 0.6vw;
                }
            }
        }
        footer {
            margin: 0 0 0 2.15vw;
            label.item.item-radio {
                margin: 0 1.22vw 0 0;
                .item-content {
                    width: 17.25vw;
                    height: 3.59vw;
                    font-size: 1.58vw;
                    line-height: 3.73vw;
                }
            }
        }
    }
    /***** sidebar *****/
    
    .menu.menu-left {
        width: 50vw !important;
    }
    &.menu-open .menu-content {
        transform: translate3d(50vw, 0px, 0px) !important;
        -webkit-transform: translate3d(50vw, 0px, 0px) !important;
    }
    .sidebar .sidebarHeaderLogo {
        height: 32vw;
        min-height: 32vw;
    }
    .sidebar .sidebarHeaderLogo .sidebarHeaderLogoImg {
        width: 26vw;
    }
    .sidebar .sidebarList {
        top: 32vw;
    }
    .sidebar .sidebarList .item a {
        padding-left: 1vw;
    }
    .sidebar .sidebarList .item a span {
        width: auto;
        font-size: 2.5vw;
        padding: 3vw 0 2vw 0;
        margin-left: 0vw;
    }
    .sidebar .sidebarList .sidebarBottomList .list .item a span {
        font-size: 2.2vw;
    }
    .sidebar .sidebarList .sidebarBottomList .list .item a {
        padding: 1.5vw 0 1.5vw 2.5vw;
    }
    .sidebar .sidebarList .item a i {
        width: 6vw;
    }
    .sidebar .sidebarList .item a.sidebarServey i {
        background-size: 3vw auto;
        height: 4vw;
    }
    .sidebar .sidebarList .item a.sidebarHealthTracker i {
        height: 3vw;
        background-size: 4vw auto;
    }
    .sidebar .sidebarList .item a.sidebarTips i {
        height: 3vw;
        background-size: 3vw auto;
    }
    .sidebar .sidebarList .item a.sidebarPerformance i {
        height: 4vw;
        background-size: 4vw auto;
    }
    .sidebar .sidebarList .item a.sidebarHeatAlert i {
        height: 3.8vw;
        background-size: 4vw auto;
    }
    .sidebar .sidebarList .item a.sidebarEducation i {
        height: 3.5vw;
        background-size: 3.5vw auto;
    }
    /*relapse bar*/
    
    .tapHere {
        padding: 2vw 4.5vw;
        i {
            height: 4vw;
            width: 4vw;
        }
        span {
            font-size: 2.5vw;
            line-height: 4.5vw;
        }
    }
    .titleBox {
        height: 12vw;
        padding-top: 1vw;
        p {
            font-size: 4vw;
            .smallHead {
                font-size: 3.2vw;
                padding: 1.5vw 0 3vw;
            }
        }
    }
    .surveyMinHeight {
        min-height: 71vw;
    }
    .surveyListHolder .surveyList li p.surveyListTitle {
        font-size: 3.2vw;
    }
    .surveyListHolder .surveyList li p.surveyListTitle.font56 {
        padding: 0 0 1vw;
        font-size: 3vw!important;
    }
    .surveyListHolder .surveyList li {
        padding: 2.4vw 15vw 2.4vw 4vw;
        background-size: auto 5vw;
    }
    .surveySliderHldr {
        height: 93.5vw;
    }
    .surveyQuestions ion-scroll {
        padding: 3vw 6vw 0;
    }
    .surveySliderHldr p.srvyQues {
        padding: 0 4vw 3vw;
        font-size: 3vw;
        margin: 0 0 0 -6vw;
    }
    .surveySliderHldr .surveySlide .item-content {
        padding: 1vw 0 2vw;
        font-size: 3.2vw;
        min-height: 9vw;
    }
    .surveySliderHldr .surveySlide label {
        margin-bottom: 2.8vw;
    }
    .surveySliderHldr .surveySlide .item-content span {
        padding: 1.6vw 0 0;
    }
    .surveySlide {
        .checkDDhldr .item-content {
            padding: 0.5vw 0 2.2vw 9vw;
        }
        .numberRadio {
            padding-bottom: 5vw;
            label {
                width: 14vw;
                margin: 0 3vw 4vw 0;
            }
            .item-content {
                line-height: 9vw;
                font-size: 4vw;
                min-height: 14vw;
                height: 14vw;
            }
            .topLabel,
            .bottomLabel {
                font-size: 2.5vw;
                width: 26vw;
            }
        }
    }
    .progressBarBox {
        height: 10vw;
        .progressBar {
            height: 1.5vw;
        }
        .barFilled {
            width: 4vw;
            height: 4vw;
            top: 30%;
        }
    }
    .finishedSurvey .customModalContainer {
        width: 60vw;
        margin: 24vw auto 0;
        height: 88vw;
        padding: 9vw 5vw;
    }
    //Pre Home
    .preHome {
        .btnHldr {
            width: 50%;
            margin: auto;
            padding-top: 12vw;
        }
        .flip-container,
        .frontSide,
        .backSide,
        .flipper {
            height: 25vw;
        }
        .flip-container .flipper {
            transform-origin: 100% 12.5vw;
            -webkit-transform-origin: 100% 12.5vw;
        }
        .flipper {
            .frontSide {
                padding: 8vw 4vw 0 30vw;
                &:before {
                    width: 28vw;
                    height: 28vw;
                    left: -3vw;
                    top: -1.5vw;
                }
                h2 {
                    font-size: 4vw;
                }
            }
            .backSide {
                padding: 0 0 0 27vw;
                &:before {
                    width: 18vw;
                    height: 18vw;
                    top: 3.5vw;
                }
                h3 {
                    margin: 0;
                    font-size: 3.9vw;
                    padding: 3vw 0 1.5vw;
                }
                p {
                    padding-right: 6vw;
                }
                a {
                    font-size: 3vw;
                    border-bottom:0.5vw solid $darkPurple;
                    &.activated {
                        opacity: 0.7;
                    }
                }
                .notAvail {
                    padding: 10vw 2vw 0 0;
                }
            }
        }
        .flip-container.srvy {
            .frontSide {
                padding-top: 7vw;
            }
            .backSide {
                h3 {
                    font-size: 3.9vw;
                    padding: 1.5vw 0 1vw;
                }
                a {
                    border-bottom: 0.5vw solid $orange;
                }
            }
        }
        .flip-container.pm {
            .frontSide {
                padding-top: 6vw;
            }
            .backSide {
                h3 {
                    font-size: 3.9vw;
                    padding: 1.5vw 0 1vw;
                }
                a {
                    border-bottom: 0.5vw solid $darkYellowGreen;
                }
            }
        }
    }
    /*-------------  Home screen  -------------*/
    
    .newHomeScreen {
        .newGamefication {
            min-height: 8vw;
            //.uLvl{
            //height: 10vw;
            img {
                max-height: 7vw;
            }
            p {
                padding: 2.8vw 1.5% 2.8vw 12%;
            }
            //}
        }
        .div2.srvyTest .block {
            p {
                font-size: 3vw;
                min-height: 8vw;
            }
            i {
                width: 14vw;
                height: 14vw;
                span {
                    width: 4vw;
                    height: 4vw;
                    line-height: 3.6vw;
                }
            }
            a {
                line-height: 6vw;
                font-size: 3vw;
            }
            height: 40vw;
        }
        .div2.link .block {
            i {
                width: 14vw;
                height: 14vw;
                margin: 3vw auto;
            }
            p {
                font-size: 3vw;
            }
            height: 26vw;
        }
        .rotateDevice {
            height: 12vw;
            img {
                height: 8vw;
                margin: 2vw 0 0 4vw;
            }
            p {
                font-size: 3.5vw;
                padding: 2vw 0 0 24vw;
            }
        }
        .heatAlert {
            i {
                width: 15vw;
                height: 15vw;
                background: url(../img/alertBig.png) center 2.5vw no-repeat #fff;
                margin: 4vw 0 0 6vw;
                background-size: 60%;
            }
            .right {
                p {
                    font-size: 3vw;
                }
                a {
                    line-height: 7vw;
                    font-size: 3vw;
                }
            }
        }
    }
    .performancePage {
        .testContent {
            padding: 2.5vw 9vw 2vw;
        }
    }
    .performanceList {
        margin-bottom: 0;
        i {
            width: 7.25vw;
            height: 7.25vw !important;
            top: 2.25vw !important;
            &.performanceRightArrow {
                height: 4.75vw !important;
                width: 4.75vw;
                left: auto !important;
                top: 3.5vw !important;
            }
            img {
                width: 100%;
            }
        }
        .item-icon-left {
            padding: 2.5vw 13vw 2.5vw 20.6vw;
            height: 12vw;
            .icon {
                left: 9vw;
            }
        }
    }
    .testContent {
        // padding:4.02vw 10vw;
        // .twoButtons{
        //     .leftButton{
        //         width: 39.03vw;
        //     }
        //     .rightButton{
        //         width: 39.03vw;
        //     }
        // }
        .selectBoxWrapper {
            .selectBox {
                width: 100%;
                margin-right: 0;
                &:after {
                    color: $orange;
                }
            }
            &:after {
                content: " ";
                display: block;
                clear: both;
            }
        }
        &.timed25FeetWalk {
            .testCircle {
                margin: 0vw auto;
            }
            .testResult {
                .testCircle {
                    margin: 3.21vw auto;
                }
            }
            .assistanceArea .error .button {
                border: 0px;
            }
        }
    }
    .testCircle .testTimer {
        font-size: 6vw;
        height: 6.35vw;
        span {
            width: 8vw;
            &.minutes {
                width: 4.75vw;
            }
            &.minutes {
                width: 4.75vw;
            }
            &.micro {
                font-size: 4.44vw;
                width: 6vw;
            }
        }
    }
    .testInfo {
        letter-spacing: 0.25px;
        .testInfoImg {
            img {
                width: 22.19vw;
            }
        }
        .testInfoContent {
            ul {
                li {
                    padding: 0 0 1.41vw 2.5vw;
                }
            }
        }
    }
    .resultInfo {
        .resultNumber, .resultText {
            display: inline-block;
            vertical-align: bottom;
            line-height: 1;
        }
        .resultText {
            padding-bottom: 0.5vw;
        }
    }
    .threeButtons {
        .leftButton, .midButton, .rightButton {
            width: 25.25vw;
            margin-right: 1.4vw;
        }
    }
    .performList {
        min-height: 90vw;
    }
    .performList2 {
        min-height: 40vw;
    }
    /*--------  Memory test------------*/
    
    .languageMemoryTest .languageMemoryResultScreen {
        margin-top: 16.91vw;
    }
    .languageMemoryTest .languageMemoryResultScreen .languageMemoryResultCount {
        font-size: 5vw;
    }
    .languageMemoryTest .languageMemoryResultScreen .languageMemoryResultScreenInfo {
        font-size: 2.52vw;
        margin: 26.56vw 0 13vw;
    }
    .languageMemoryTest {
        .testCircle {
            width: 32.25vw;
            height: 32.25vw;
            font-size: 3.8vw;
            line-height: 5.24vw;
            margin-top: 4vw;
            margin-bottom: 4vw;
            border: 1.2vw solid $orange;
        }
    }
    .languageMemoryTest .languageMemoryTestTrial .testCircle,
    .languageMemoryTest .languageMemoryTest .testCircle {
        margin-top: 22vw;
    }
    .languageMemoryTest.part2 .testCircle {
        margin-top: 16vw;
        margin-bottom: 0;
    }
    .languageMemoryTest .langCatShowText {
        top: 20vw;
    }
    /*--------  Symbol test------------*/
    
    .testCircle {
        width: 30.25vw;
        height: 30.25vw;
        border: 1.2vw solid $orange;
    }
    .testCircle.small {
        width: 18.67vw;
        height: 18.67vw;
        margin: 9.01vw auto;
        border: 0.81vw solid $orange;
    }
    .symbolDigitArea .symbolOptionKeys {
        .symbolOptionsNum {
            height: 13vw;
            border-bottom: 2px solid $lightGray;
        }
    }
    .symbolDigitArea .symbolOptionsValue {
        max-width: 15.81vw;
        max-height: 28vw;
    }
    .startReactionTest {
        height: 106vw;
    }
    .topGap4Raxn {
        margin-top: 10vw
    }
    /*------------  Color Vision  -----------*/
    
    .testContent.colorVision .colorVisionTapArea {
        height: 51vw;
    }
    .testContent.colorVision .colorVisionTapArea .colorVisionTapAreaContent .contentPart b {
        font-size: 5vw;
    }
    .colorInputTypeHldr .divInputText {
        line-height: 8vw;
        height: 8vw;
        font-size: 3vw;
    }
    .colorInputTypeHldr button {
        line-height: 8vw;
        height: 8vw;
        font-size: 3.4vw;
    }
    ul.colorInputBTN li {
        height: 7.7vw;
        line-height: 8vw;
        font-size: 3.8vw;
    }
    /* .testContent.colorVision .colorVisionTapImg img {
        width: 43.58vw;
    } */
    
    .bumperImageArea .bumperImageAreaContent {
        position: relative;
        padding-top: 12vw;
        ul.bumperImgList li {
            font-size: 3.6vw;
        }
    }
    .bumperImageArea .testInfoImg img {
        width: 32vw;
    }
    /*------------  Finger test screen  -----------*/
    
    .fingerTapTest .fingerTapResultScreen {
        margin-top: 20.91vw;
    }
    .fingerTapTest .fingerTapResultScreen .fingerTapResultCount {
        font-size: 5vw;
    }
    .fingerTapTest .fingerTapResultScreen .fingerTapResultScreenInfo {
        margin-top: 17.34vw;
        font-size: 2.5vw;
    }
    .fingerTapTest .testCircle.smallCircle {
        width: 15.67vw;
        height: 15.67vw;
        margin-top: 6.03vw;
        border: 0.65vw solid $orange;
        font-size: 6vw;
    }
    /*---------- TOwer of hanoi  ------------*/
    .towerHanoi .buttonContainer {
        padding: 0 20vw;
    }
    .towerHanoi .towerHanoiScore .scoreIcon img {
        max-width: 2.7vw;
    }
    .towerHanoi .timerArea {
        height: 7.8vw;
        bottom: -1px;
        .resultText {
            height: 5vw;
            line-height: 5vw;
            margin-right: 2vw;
            width: 12vw;
        }
    }
    /*------ Pop up  -----*/
    
    .popup-head {
        padding: 11vw 6.3vw 2.5vw;
    }
    .popBodyInput .radioButtonGroup .questionLabel {
        font-size: 2.5vw;
    }
    a.popClose {
        width: 4vw;
        height: 4vw;
        top: 4.8vw;
        right: 5.8vw;
    }
    .popup-buttons .button {
        line-height: inherit;
    }
    /*-----------  Tips  ---------*/
    
    ul.tipsList li {
        padding: 2.5vw 15vw 2.5vw 9vw;
        h3 {
            margin: 0 0 0.25vw;
            font-size: 3.2vw;
        }
        i {
            top: 6.5vw;
        }
        p {
            font-size: 3vw;
        }
    }
    /*------------  Health Tracker  -----------*/
    
    .trackerCalenderBlock {
        padding: 2.5vw 0 1.2vw;
        .trackerDate {
            //font-size: 3.3vw;
        }
        .trackerCalender {
            top: 2vw;
            width: 4.35vw;
            height: auto;
        }
        .trackerCalenderInput input {
            height: 100%;
        }
    }
    .trackerHeading {
        font-size: 3.50vw;
        padding: 4vw 0 2.28vw;
    }
    .trackerList {
        .item-icon-left {
            padding: 4.50vw 5.47vw 4.50vw 20.60vw;
            font-size: 3.50vw;
        }
        i {
            width: 8.8vw;
            height: 8.8vw !important;
            top: 2.2vw !important;
            background-size: 100% 100% !important;
            &.trackerRightArrow {
                height: 5.60vw !important;
                width: 5.60vw;
                left: auto !important;
                top: 3.95vw !important;
                right: 5.47vw;
            }
        }
        &.trackerSignleList {
            .item, .item-icon-left {
                padding-left: 9.25vw;
            }
        }
    }
    .generalWellBeingItem .wellBeingKnobArea {
        .feelLeft {
            left: 0vw;
        }
        .feelRight {
            right: 0vw;
        }
        .energyLeft {
            left: 0vw;
        }
        .energyRight {
            right: 0vw;
        }
    }
    .bottomButton {
        padding: 0 9.25vw;
    }
    .multiSelectRow {
        padding: 2.25vw 7.5vw;
        .rowLabel {
            width: 28.59vw;
        }
    }
    .selectHand {
        .radioButtonGroup {
            .radioButtonWrapper {
                .radioButton + label {
                    padding: 0 2.89vw 0 11.67vw;
                    font-size: 2.75vw !important;
                }
                &.left {
                    width: 22.73vw;
                    margin-right: 0;
                    .radioButton + label {
                        padding: 0 2.89vw 0 11.67vw;
                        background: url(../img/leftHand.png) no-repeat 2vw 1.35vw;
                        background-size: 5.5vw auto;
                    }
                    .radioButton:checked + label {
                        background: $darkPurple url(../img/leftHand.png) no-repeat 2vw bottom;
                        background-size: 5.5vw auto;
                    }
                }
                &.right {
                    width: 22.73vw;
                    float: right;
                    .radioButton + label {
                        padding: 0 11.67vw 0 2.89vw;
                        background: url(../img/rightHand.png) no-repeat 12.5vw 1.35vw;
                        background-size: 5.5vw auto;
                    }
                    .radioButton:checked + label {
                        background: $darkPurple url(../img/rightHand.png) no-repeat 12.5vw bottom;
                        background-size: 5.5vw auto;
                    }
                }
            }
        }
    }
    /*----------  Floating Labels  ----------*/
    
    .settingTitle {
        padding: 4vw 9.1vw 2.88vw;
        // span:first-child {
        //     padding: 0.6vw 1vw 0;
        // }
    }
    .item-floating-label {
        .input-label {
            padding: 1vw 0 0;
            &.has-input {
                + input, + input + input {
                    padding: 4.15vw 0.5vw 0.75vw;
                }
            }
        }
        &.selectBoxWrapper {
            .selectBox {
                .input-label {
                    padding: 1vw 0 0;
                }
                .input-label + .singleLine {
                    line-height: 3.6vw;
                    padding-top: 4.5vw;
                }
            }
        }
        &.neurologistSearch {
            .input-label.has-input + input, .input-label.has-input + input + input {
                padding: 4.15vw 11.11vw 0.75vw 2.54vw;
            }
        }
    }
    /*----------- physical Symptoms Popup --------*/
    
    .physicalSymptomsPopup {
        width: 66.81vw;
        padding: 2.25vw;
        .numberBlock {
            width: 9.88vw;
            height: 9.88vw;
            padding-top: 3.1vw;
            font-size: 3.83vw !important;
        }
        .headacheTypeBlock {
            width: 18.74vw;
            height: 9.88vw;
            padding-top: 3.83vw;
        }
        .item {
            padding: 0 0 2.5vw;
        }
        .item.item-checkbox {
            padding-left: 7vw;
            min-height: 6vw;
            line-height: 6vw;
        }
        .item .checkbox input,
        .item .checkbox-icon {
            width: 5.76vw;
            height: 5.76vw;
        }
        .item .checkbox-icon:after,
        .item .checkbox input:after {
            height: 2vw;
            width: 3.58vw;
            border: 0.76vw solid #f18903;
            border-top: 0;
            border-right: 0;
            top: 1.21vw;
            left: 1.1vw;
        }
        a.popClose {
            width: 3vw;
            height: 3vw;
            top: 2.8vw;
            right: 2.8vw;
        }
    }
    .multiSelectRow .multiSelectContainer .selectionBox {
        width: 8.4vw;
        height: 8.4vw;
    }
    /*----------- FAQ --------*/
    
    .faq {
        p.accordionTitle {
            padding: 3vw 11vw 3vw 3vw !important;
            font-size: 3.2vw !important;
        }
        ul.accordion .accordionContent {
            padding: 0 2vw 0 3vw;
            p:last-child {
                font-size: 3vw;
            }
        }
        ul.accordion .opened ~ .accordionContent {
            padding: 2vw 2vw 1.5vw 3vw;
        }
    }
    .performanceList .item-icon-left span.performanceName {
        width: auto;
    }
    .trailTest .trailTapArea {
        border: 2px solid $darkPurple;
        #trailTest {
            margin-top: 1px;
        }
    }
}
@media (min-width: 680px) {
    body.platform-ipad {
        .modal {
            top: 0%;
            right: 0%;
            bottom: 0%;
            left: 0%;
            width: 100%;
        }
    }
}