.languageMemoryTest {
    .testCircle, .fakeTestCircle {
        width: 42vw;
        height: 42vw;
        font-size: 4.9vw;
        line-height: 7.24vw;
        margin-top: 4.83vw;
        margin-bottom: 4vw;
    }
    .wordTestRun,
    .wordTestRun2,
    .wordTestRun3 {
        position: absolute;
        top: 17vw;
        ;
        left: 0;
        right: 0;
        bottom: 15vw;
        padding-top: 30vw;
        z-index: 10;
    }
    .wordTestRun2 {
        bottom: 0;
    }
    .wordTestRun3 {
        top: 14vw;
        bottom: 0;
        padding-top: 0;
    }
    .circleUpperContent {
        margin: 14vw auto 0;
        display: block;
        max-width: 75vw;
    }
    .startTrialTapMsg {
        font-size: 6.44vw;
        padding-top: 7vw;
    }
    .testActionButton {
        .button {
            width: 36vw;
            &:first-child {
                margin-right: 1.66vw;
            }
            &.activated {
                background-color: $orange;
                border-color: $orange;
                color: $white;
            }
        }
    }
    .messageArea {
        margin: 9.66vw 0 5.60vw;
        .errorText {
            font-size: 3.22vw;
            color: $red;
            max-width: 43vw;
            margin: auto;
        }
    }
    .languageMemoryTestTrial,
    .languageMemoryTest {
        .testCircle {
            margin-top: 29vw;
        }
    }
    .languageMemoryResultScreen {
        margin-top: 14.91vw;
        .languageMemoryResultCount {
            color: $orange;
            font-size: 6.44vw;
            margin: .5vw 0 0 0;
            display: block;
        }
        .languageMemoryResultScreenInfo {
            font-size: 3.22vw;
            margin: 15vw 0 10vw;
            padding: 0vw;
            letter-spacing: 0.25px;
            span {
                margin-bottom: 4.83vw;
                display: inline-block;
            }
        }
    }
    &.part2 {
        .testCircle {
            margin-top: 16vw;
            margin-bottom: 0;
        }
        .startTrialTapMsg {
            margin-bottom: 10vw;
        }
    }
    .langCatShowText {
        position: absolute;
        margin: auto;
        left: 0;
        top: 32vw;
        right: 0;
        font-size: 6vw;
    }
}