.notificationHldr{
	position:fixed;
	z-index:1000;
	width:100%;
	transition:top ease-in 0.5s;
	top:0;
	.android{
		overflow: hidden;
		background-color: #f4f4f4;
		margin:1.5%;
		border-radius: 2px;
		box-shadow:0 1px 3px rgba($black,0.3);
		padding: 8px 0 0 8px;
		.nIcon{
			overflow: hidden;
			background-color:$white;
			border-radius:50%;
			width: 40px;
			height: 40px;
			float: left;
			border:1px solid rgba($black,0.1);
			img{
				height: 82%;
				margin: 3px 0 0 5px; 
			}
		}
		.nMessageHldr{
			float: left;
			width: calc(100% - 68px);
			margin-left: 10px;
			position:relative;
			.nTitle{
				font-size: 15px;
				padding-top: 3px;
				color: $black;
				margin-bottom:1px; 
				width: calc(100% - 68px);
			}
			.nTime{
				position:absolute;
				right: 0;
				top: 3px;
				font-size: 13px;
				color: #767474;
			}
			.nMsg{
				color: #626262;
				font-size: 11px;
				margin-bottom:2px;
			}
		}
		.nBtnHldr{
			overflow: hidden;
			clear: both;
			margin: 0 0 0px 61px;
  		border-top: 1px solid #757575;
  		a{
				display: block;
				float: right;
				color: #4b2d81;
		    line-height: 18px;
		    font-size: 3.2vw;
		    margin-top:4px;
			  &:first-child{
	   	    margin-left: 28px;
  				margin-right: 15px;
			   }
			  &.disabled{
		    	opacity: 0.5;
		    	pointer-events: none;
 					cursor: default;
		    }
			}
  	}
	}

	.ios{
		overflow: hidden;
		background-color:rgba($black,0.88);
		padding:6px 12px 0;
		border-bottom: 1px solid rgba($black,0.5);
		.nIcon{
			overflow: hidden;
			background-color:$white;
			border-radius:20%;
			width: 25px;
			height: 25px;
			float: left;
			border:1px solid rgba($black,0.1);
			img{
				height: 86%;
				margin: 2px 0 0 2px; 
			}
		}
		.nMessageHldr{
			float: left;
			width: calc(100% - 68px);
			margin-left: 10px;
			position:relative;
			margin-bottom: 2px;
			.nTitle{
				color:$white;
				font-size: 14px;
				padding-top:2px;
				margin:0; 
				span{
					color: lighten($black,50%);
					font-size: 12px;
				}
			}
			.nMsg{
				margin:0;
				color:lighten($black,70%);
				font-size: 11px;
			}
		}
		.nBtnHldr{
			overflow: hidden;
			clear: both;
			margin: 0 -12px;
  		border-top: 1px solid #394b5a;
			a{
				display: block;
				float: left;
				/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#687586+0,5c7088+49,3e4f5e+100 */
				background: rgb(104,117,134); /* Old browsers */
				background: -moz-linear-gradient(top,  rgba(104,117,134,1) 0%, rgba(92,112,136,1) 49%, rgba(62,79,94,1) 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top,  rgba(104,117,134,1) 0%,rgba(92,112,136,1) 49%,rgba(62,79,94,1) 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom,  rgba(104,117,134,1) 0%,rgba(92,112,136,1) 49%,rgba(62,79,94,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#687586', endColorstr='#3e4f5e',GradientType=0 ); /* IE6-9 */
				color: $white;
				width: 44%;
		    line-height: 23px;
		    text-align: center;
		    margin: 5px 3% 5px;
		    border-radius: 3px;
		    &.disabled{
		    	opacity: 0.5;
		    	pointer-events: none;
 					cursor: default;
		    }
			}
		}
	}
	
}