.aboutHldr {
    margin: 9vw 11.9vw 0;
    .logo {
        margin-bottom: 5.5vw;
    }
    .img1,
    .img2 {
        width: 38vw;
        height: auto;
        margin-top: 1vw;
    }
    .img2 {
        margin-top: 3vw;
    }
    .img3 {
        width: 21.5vw;
        height: auto;
    }
    .slider {
        margin: 0 -11.9vw;
        min-height: 105vw;
    }
    .slider-slides {
        overflow: hidden;
    }
    .slider-pager {
        bottom: 3vw;
        .slider-pager-page {
            &.active {
                color: $orange;
            }
            width: 7vw;
        }
        .ion-record:before {
            font-size: 3.6vw;
        }
    }
    .twoButtons {
        overflow: hidden;
        > div {
            float: left;
        }
        .leftButton {
            width: 32.4vw;
        }
    }
}
.aboutAfterLog {
    margin: 5vw 6.5vw 0;
    ul li {
        padding: 0 0 1.5vw 2.5vw;
        position: relative;
        &:before {
            content: ".";
            display: block;
            position: absolute;
            top: -17px;
            left: 0px;
            font-size: 28px;
        }
    }
    &.conAftLog {
        margin: 5vw 10vw 0;
    }
}
ul.accordion {
    p.accordionTitle {
        position: relative;
        z-index: 2;
        border-top: 1px solid $lightestGray;
        border-bottom: 1px solid $lightestGray;
        margin: -1px 0 0;
        padding: 18px 0 18px 18px;
    }
    .accordionContent {
        overflow: hidden;
        transition: all 0.6s ease-in-out;
        max-height: 0em;
        padding: 0 18px;
        p:last-child {
            margin: 0;
            font-size: 3.54vw;
        }
    }
    .opened ~ .accordionContent {
        max-height: 25em;
        padding: 4vw 2vw 4vw 5.2vw;
    }
}