.sidebar {
    .sidebarHeaderLogo {
        height: 41.06vw;
        min-height: 41.06vw;
        text-align: center;
        background: $offWhite;
        border-bottom: 1px solid #ddd;
        padding-left: 0 !important;
        .sidebarHeaderLogoImg {
            width: 28.98vw;
            margin: auto;
            display: block;
        }
        .mainHomeLink {
            height: 6.92vw;
            width: 8.05vw;
            position: absolute;
            right: 6.52vw;
            bottom: 7vw;
            img {
                max-width: 100%;
            }
        }
    }
    .sidebarList {
        top: 41.06vw;
        background-color: $offWhite;
        border-top: 1px solid #ddd;
        padding-top: 0;
        .item {
            padding: 0;
            a {
                color: $darkGray;
                text-overflow: initial;
                white-space: initial;
                padding-left: 2.41vw;
                background-color: $offWhite;
                i {
                    width: 9.25vw;
                    display: inline-block;
                    vertical-align: middle;
                    background-position: top center;
                    background-repeat: no-repeat;
                }
                span {
                    padding: 4.4vw 0 3vw 0;
                    margin-left: 3.62vw;
                    //width: 43.28vw;
                    display: inline-block;
                    vertical-align: middle;
                    font-size: 4.02vw;
                    //line-height: 4.02vw;
                    letter-spacing: 0.25px;
                }
                &.sidebarServey {
                    i {
                        background-image: url(#{$backImgPath}/sidebarServeyIcon.png);
                        background-size: 5.23vw auto;
                        height: 6.76vw;
                    }
                }
                &.sidebarHealthTracker {
                    i {
                        height: 5.39vw;
                        background-image: url(#{$backImgPath}/sidebarHealthTrackerIcon.png);
                        background-size: 6.84vw auto;
                    }
                }
                &.sidebarTips {
                    i {
                        height: 6.03vw;
                        background-image: url(#{$backImgPath}/sidebarTipsIcon.png);
                        background-size: 6.03vw auto;
                    }
                }
                &.sidebarPerformance {
                    i {
                        height: 5.71vw;
                        background-image: url(#{$backImgPath}/sidebarPerformanceIcon.png);
                        background-size: 6.52vw auto;
                    }
                }
                &.sidebarHeatAlert {
                    i {
                        height: 5.55vw;
                        background-image: url(#{$backImgPath}/sidebarHeatAlertIcon.png);
                        background-size: 6.44vw auto;
                    }
                }
                &.sidebarEducation {
                    i {
                        height: 6.44vw;
                        background-image: url(#{$backImgPath}/sidebarEducationIcon.png);
                        background-size: 6.44vw auto;
                    }
                }
                &.activated {
                    background: $midGray;
                    color: $white;
                    i {
                        background-position: center bottom;
                    }
                    /* &.sidebarServey {
						i {
							background-size: 5.23vw auto;
							height: 6.76vw;
						}
					}
					&.sidebarHealthTracker {
						i {
							height: 5.39vw;
							background-size: 6.84vw auto;
						}
					}
					&.sidebarTips {
						i {
							height: 6.03vw;
							background-size: 6.03vw auto;
						}
						
					}
					&.sidebarPerformance {
						i {
							height: 5.76vw;
							background-size: 5.71vw auto;
						}
						
					}
					&.sidebarHeatAlert {
						i {
							height: 5.55vw;
							background-size: 6.44vw auto;
						}
						
					}
					&.sidebarEducation {
						i {
							height: 5.39vw;
							background-size: 5.23vw auto;
						}
						
					} */
                }
            }
            &:first-child {
                border-top: 0px none;
            }
        }
        .sidebarBottomList {
            .list {
                margin-top: 26vw;
                .item {
                    border: 0px none;
                    a {
                        padding: 2.4vw 0 2.4vw 4.10vw;
                        font-size: 3.22vw;
                        &.activated {
                            background: transparent;
                            color: $orange;
                        }
                        span {
                            padding: 0;
                            font-size: 3.22vw;
                            width: auto;
                            margin: 0;
                            &.bold {
                                position: relative;
                                top: -1px;
                            }
                        }
                    }
                }
            }
        }
    }
}
.SidebarMenuContent {
    -moz-box-shadow: -2px 0px 13px rgba(0, 0, 0, 0.2), 1px 0px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: -2px 0px 13px rgba(0, 0, 0, 0.2), 1px 0px 2px rgba(0, 0, 0, 0.1);
    box-shadow: -2px 0px 13px rgba(0, 0, 0, 0.2), 1px 0px 2px rgba(0, 0, 0, 0.1);
    border-radius: 1px;
}
.button.button-clear {
    color: $darkPurple !important;
    line-height: 11.27vw;
}
.bar.bar-stable {
    padding-left: 4.10vw;
}
.menu.menu-left {
    width: 74.07vw !important;
}
.menu-open .menu-content {
    transform: translate3d(74.07vw, 0px, 0px) !important;
    -webkit-transform: translate3d(74.07vw, 0px, 0px) !important;
}
.bar .button.button-icon .icon:before,
.bar .button.button-icon:before,
.bar .button.button-icon.icon-left:before,
.bar .button.button-icon.icon-right:before,
.bar button.button-icon .icon:before,
.bar button.button-icon:before,
.bar button.button-icon.icon-left:before,
.bar button.button-icon.icon-right:before {
    font-size: 9.178vw;
    line-height: 6.178vw;
}
.bar.bar-stable .title {
    height: 10.87vw;
    line-height: 10.87vw;
}
.bar .buttons-left {
    padding-top: 2.2vw;
    button {
        height: 6.178vw;
    }
}