.titleBox {
    display: table;
    width: 100%;
    height: 17vw;
    border-bottom: 1px solid lighten($lightGray, 30%);
    padding-top: 2vw;
    line-height: normal;
    position: relative;
    z-index: 5;
    p {
        display: table-cell;
        margin: 0;
        height: 100%;
        vertical-align: middle;
        padding: 0 6vw;
        font-family: $ubuntuBold;
        font-size: 5.8vw;
        .smallHead {
            font-family: $ubuntuRegular;
            font-size: 4.18vw;
            line-height: 1;
            display: block;
            padding: 1.5vw 0 4vw;
        }
    }
}
.surveyListHolder {
    padding: 0 6vw;
    .surveyList {
        margin: 0 0 3.4vw;
        li {
            border-bottom: 1px solid lighten($lightGray, 30%);
            padding: 3.4vw 20vw 3.4vw 6vw;
            margin: 0 -6vw;
            background: url(../img/pageNavArrow.png) 94% center no-repeat;
            background-size: auto 7vw;
            p {
                margin: 0;
                &.surveyListTitle {
                    padding: 0 0 1.8vw;
                    font-size: 4.18vw;
                }
                .surveyListDesc {
                    font-size: 3.54vw;
                }
            }
        }
    }
}
.noPendingSurveyBox {
    padding: 3.7vw 6vw 0;
}
.surveySliderHldr {
    height: 115vw;
    .surveySlide {
        //padding: 5.5vw 9vw 0 9vw;
        label {
            //border: 1px solid $lightGray;
            border: 0 none;
            margin-bottom: 3.6vw;
            margin-top: 2px;
            &.surveySubItem {
                border: 1px solid #fff;
                padding: 0;
                .input-label {
                    max-width: 100%;
                    width: auto;
                    white-space: normal;
                    font-size: 3.22vw;
                }
            }
        }
        .item-content {
            padding: 2.2vw 2vw;
            white-space: normal;
            text-align: center;
            text-transform: uppercase;
            color: $lightGray;
            line-height: normal;
            font-size: 4.18vw;
            white-space: normal;
            min-height: 11.35vw;
            font-family: $ubuntuMedium;
            border: 1px solid $lightGray;
            span {
                display: block;
                padding: 0.9vw 0 0;
            }
        }
        .surveyLowerCase label .item-content {
            text-transform: none;
            color: $darkGray;
            font-family: $ubuntuRegular;
            font-size: 3.54vw;
        }
        i.radio-icon {
            display: none;
        }
        .item-radio input:checked + .radio-content .item-content {
            background-color: $darkPurple;
            color: $white;
            border: 1px solid $darkPurple;
        }
        button {
            margin-top: 6.5vw;
        }
    }
    p.srvyQues {
        padding: 0 7.24vw 5vw;
        margin: 0 0 0 -9.17vw;
        font-size: 4.18vw;
        width: 100vw;
    }
    .topLabel,
    .bottomLabel {
        display: none;
    }
}
.surveySlide .numberRadio {
    overflow: hidden;
    padding-bottom: 3.4vw;
    label {
        float: left;
        width: 18.84vw;
        margin: 0 1.4vw 2.2vw 0;
        overflow: visible;
    }
    .item-content {
        line-height: 16.2vw;
        font-size: 8vw;
        padding: 0;
        height: 18.84vw;
    }
    .topLabel {
        display: block;
        margin: 0 0 0.8vw;
        font-size: 3.70vw;
        width: 24vw;
        white-space: normal;
    }
    .bottomLabel {
        margin: 0;
        display: block;
        position: absolute;
        bottom: -1.6vw;
        transform: translateY(100%);
        -webkit-transform: translateY(100%);
        font-size: 3.70vw;
        z-index: 10;
        color: red;
        right: 0;
        width: 20vw;
        white-space: normal;
        text-align: right;
    }
}
.surveyQuestions ion-scroll {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    padding: 3vw 9.17vw 0;
    height: auto!important;
}
.surveySlide {
    .dropOptionOnYes {
        border-top: 1px solid $lightGray;
        margin: 5vw 0 0 0;
        padding: 4.34vw 0 0 0;
        overflow: hidden;
        label {
            float: left;
            width: 48.5%;
            margin: 0 0 0 1px;
        }
        label:last-child {
            float: right;
            margin: 0 1px 0 0;
        }
        &.fullWidthBoxBTN label,
        &.fullWidthBoxBTN label:last-child {
            float: none;
            width: 100%;
            clear: both;
            margin: 2px 0 1vw 0;
        }
        .selectBoxWrapper .selectBox {
            width: 100%;
            padding-top: 2vw;
            padding-bottom: 2vw;
        }
    }
    .fourBoxHldr {
        overflow: hidden;
        margin: 2vw 0;
        p {
            padding: 0 0 2vw;
        }
        label {
            float: left;
            width: 23%;
            margin-right: 2.5%;
            span {
                font-size: 3vw;
            }
            &:nth-child(2) {
                margin-left: 1px;
            }
            &:nth-child(5) {
                margin-right: 0;
            }
        }
        .item-content {
            padding: 6vw 0;
        }
    }
    .threeBoxHldr {
        overflow: hidden;
        margin: 2vw 0 0;
        p {
            padding: 0;
            margin-bottom: 0.5vw;
        }
        label {
            float: left;
            width: 30%;
            margin-right: 5%;
            margin-bottom: 0.4vw;
            overflow: visible;
            span {
                font-size: 3vw;
            }
            &:nth-child(2) {
                margin-left: 1px;
            }
            &:nth-child(4) {
                margin-right: 0;
            }
        }
        .radio-content {
            display: table;
            width: 101%;
            height: 18vw;
            margin-bottom: -1px;
        }
        .item-content {
            display: table-cell;
            vertical-align: middle;
            line-height: 3.8vw;
            height: 102%;
            width: 100%;
            font-size: 3.54vw;
            overflow: visible;
        }
    }
    .checkDDhldr {
        label {
            border: 0 none;
            padding: 0;
            margin: 0 0 1vw;
            clear: both;
            .item-content {
                text-align: left;
                font-family: $ubuntuRegular;
                min-height: 8.5vw;
                border: 0 none;
            }
        }
        .item-checkbox {
            span.checkmark {
                display: block;
                width: 6.8vw;
                height: 6.8vw;
                border: 1px solid #666;
                margin: 0;
                position: absolute;
            }
            input:checked + span.checkmark {
                background: url("../img/multiSelectRadioIcon.png") center center no-repeat;
                background-size: 86% auto;
            }
        }
        .item-content {
            padding: 0 0 1.2vw 9vw;
            text-transform: none;
            color: $darkGray;
        }
        .selectBoxWrapper {
            overflow: hidden;
            border-bottom: 1px solid $lightGray;
            padding-bottom: 2.5vw;
            margin-bottom: 3.5vw;
            .selectBox {
                float: none;
                margin-left: 9vw;
                width: 72vw;
                font-size: 4.18vw;
            }
        }
    }
    .small {
        .item-content {
            font-size: 3.22vw;
        }
    }
    .conditionHldr {
        padding: 0;
        label {
            margin-bottom: 0;
        }
    }
}
.surveyMinHeight {
    min-height: 90vw;
}
.classSubOptHead {
    font-size: 4.18vw;
}
.threeBoxHldrTop {
    margin-top: -3vw;
}
.progressBarBox {
    background-color: $lightPurple;
    height: 19.5vw;
    width: 100%;
    position: absolute;
    bottom: 0;
    .progressBar {
        background-color: $darkPurple;
        width: 88vw;
        height: 2.5vw;
        margin: auto;
        overflow: hidden;
        border-radius: 8px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        .fill {
            background-color: $white;
            width: 0;
            height: 2.5vw;
            //border-radius: 0 5px 5px 0;
            transition: width 0.6s cubic-bezier(0.18, 0.89, 0.32, 1.28);
            ;
            -webkit-transition: width 0.6s cubic-bezier(0.18, 0.89, 0.32, 1.28);
            ;
        }
    }
    .barFilled {
        width: 5vw;
        height: 5vw;
        background-image: url("../img/surveyFilledIcon.png");
        background-size: 100%;
        position: absolute;
        z-index: 5;
        right: 5.5%;
        top: 38%;
        opacity: 1;
        transition: opacity linear 0.25s;
        &.ng-hide {
            display: block !important;
            opacity: 0;
        }
    }
}
.finishedSurvey {
    background-color: transparent;
    .modelBG {
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .customModalContainer {
        position: relative;
        z-index: 5;
        background-color: $white;
        width: 77vw;
        margin: 34vw auto 0;
        height: 103vw;
        padding: 9vw 6vw;
    }
    .SurveyBadge {
        background: url("../img/badge.svg") 0 0 no-repeat;
        background-size: contain;
        height: 29.5vw;
        width: 29.5vw;
        margin: 2vw auto 3vw;
        color: $white;
        line-height: 29.5vw;
        text-align: center;
        font-size: 9.2vw;
        span {
            font-size: 3.2vw;
        }
    }
}