.trackerCalenderBlock {
    background: $darkPurple;
    position: relative;
    padding: 2.8vw 0 2.5vw;
    min-height: 9.4vw;
    .trackerDate {
        font-size: 4.18vw;
        font-family: $ubuntuMedium;
        color: $white;
        display: inline-block;
        text-transform: uppercase;
    }
    .trackerCalender {
        position: absolute;
        right: 4.42vw;
        top: 2vw;
        width: 5.63vw;
        height: 5.39vw;
    }
}
.trckrLndingTxt {
    width: 88%;
    margin: auto;
}
.trackerHeading {
    font-size: 5vw;
    color: $darkPurple;
    font-family: $ubuntuBold;
    padding: 7vw 0 3.88vw;
    span {
        font-size: 3.22vw;
    }
    .smallHead {
        font-size: 3.6vw;
    }
}
.trackerList {
    margin-bottom: 0;
    i {
        width: 12.80vw;
        height: 12.80vw !important;
        top: 2.72vw !important;
        background-size: 100% 100% !important;
        &.trackerRightArrow {
            height: 6.60vw !important;
            width: 6.60vw;
            left: auto !important;
            top: 5.95vw !important;
            right: 5.47vw;
            background-image: url('../img/rightArrow.png');
            background-size: 99% 99% !important;
            background-repeat: no-repeat;
            &.trackerActive {
                background-image: url(../img/trackerActive.png);
            }
        }
    }
    .item-icon-left {
        padding: 6.50vw 5.47vw 6.50vw 25.60vw;
        font-size: 4.18vw;
        display: block;
        border: 0 none;
        border-bottom: 1px solid $lightestGray;
        .icon {
            left: 8.45vw;
        }
        .trackerGeneralWellBeing {
            background: url('../img/trackerGeneralWellBeing.png');
        }
        .trackerPhysicalSymptom {
            background: url('../img/trackerPhysicalSymptom.png');
        }
        .trackerMindMatter {
            background: url('../img/trackerMindMatter.png');
        }
        .trackerLifeSymptom {
            background: url('../img/trackerLifeSymptom.png');
        }
    }
    &.trackerSignleList {
        .item {
            padding-left: 9.25vw;
        }
    }
}
.item-border-top {
    border-top: 1px solid #ddd;
}
.trackerCalenderInput {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    input {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        background: transparent;
        opacity: 0 !important;
        border: 0;
    }
}
.withinRelapse {
    padding: 1.61vw 0;
    border-top: 1px solid $orange;
    border-bottom: 1px solid $orange;
    color: $orange;
    position: relative;
    top: -1px;
    z-index: 9;
}
.relapseDayBlock {
    background: $orange;
    border-bottom: 0.72vw solid $darkGray;
    padding-right: 3.14vw;
    b {
        font-weight: normal;
    }
}
.bottomButton {
    padding: 0 11.53vw;
}
.generalWellBeingItem {
    padding: 0 9.25vw;
    text-align: left;
    border: 0 none;
    border-bottom: 1px solid #ddd;
    .generalWellBeingEnergy {
        background: url(../img/generalWellBeingEnergyImg.png) no-repeat center center;
        background-size: 100%;
        width: 75.845vw;
        height: 35.265vw;
    }
    .generalWellBeingFeeling {
        background: url(../img/generalWellBeingFeelingImg.png) no-repeat center center;
        background-size: 100%;
        width: 75.845vw;
        height: 35.265vw;
    }
    .wellBeingKnobArea {
        width: 81vw;
        height: 42vw;
        overflow: hidden;
        position: relative;
        .energyIcon {
            position: absolute;
            bottom: 5vw;
            left: 50%;
            @include translate(-50%, 0%);
            background: url(../img/healthTrackerEnergyIcon.png) no-repeat left top;
            background-size: 21.26vw auto;
            width: 21.26vw;
            height: 10.15vw;
            .icon {
                background: url(../img/healthTrackerEnergyIcon.png) no-repeat left top;
                background-size: 21.26vw auto;
                width: 21.26vw;
                height: 10.15vw;
                display: block;
                &.one, &.zero {
                    background-position: 6vw -59.6vw;
                }
                &.two {
                    background-position: left -11.55vw;
                }
                &.three {
                    background-position: left -23.2vw;
                }
                &.four {
                    background-position: left -34.75vw;
                }
                &.five {
                    background-position: left -46.6vw;
                }
            }
        }
        .energyLeft {
            position: absolute;
            bottom: 4.5vw;
            left: 1.5vw;
            width: 2.25vw;
            height: 5.5vw;
            .icon {
                background: url(../img/tiredIcon.png) no-repeat left top;
                background-size: 2.25vw auto;
                width: 4.25vw;
                height: 6vw;
            }
        }
        .energyRight {
            position: absolute;
            bottom: 4.5vw;
            right: 1vw;
            width: 4.25vw;
            height: 10.5vw;
            .icon {
                background: url(../img/energeticIcon.png) no-repeat left top;
                background-size: 3.38vw auto;
                width: 4.25vw;
                height: 11vw;
            }
        }
        .feelIcon {
            position: absolute;
            bottom: 5vw;
            left: 50%;
            @include translate(-50%, 0%);
            background: url(../img/healthTrackerSmileIcon.png) no-repeat left bottom;
            background-size: 100% auto;
            width: 17.5vw;
            height: 17.5vw;
            display: block;
            .icon {
                background: url(../img/healthTrackerSmileIcon.png) no-repeat left top;
                background-size: 100% auto;
                width: 17.5vw;
                height: 17.5vw;
                display: block;
                &.one {
                    background-position: left 0.025vw;
                    ;
                }
                &.two {
                    background-position: left -20.15vw;
                }
                &.three {
                    background-position: left -40.2vw;
                }
                &.four {
                    background-position: left -60.25vw;
                }
                &.five {
                    background-position: left -80.3vw;
                }
            }
        }
        .feelLeft {
            position: absolute;
            bottom: 4.5vw;
            left: 1.5vw;
            width: 3.5vw;
            height: 6.5vw;
            .icon {
                background: url(../img/poorIcon.png) no-repeat left top;
                background-size: 2.9vw auto;
                width: 4.25vw;
                height: 7vw;
            }
        }
        .feelRight {
            position: absolute;
            bottom: 4.5vw;
            right: 1vw;
            width: 3.5vw;
            height: 7vw;
            .icon {
                background: url(../img/greatIcon.png) no-repeat left top;
                background-size: 2.9vw auto;
                width: 4.25vw;
                height: 8vw;
            }
        }
    }
}
.multiSelectRow {
    padding: 2.25vw 5.8vw;
    border: 0 none;
    border-bottom: 1px solid #ddd;
    .rowLabel {
        letter-spacing: 0.25px;
        width: 30.59vw;
        display: inline-block;
        vertical-align: middle;
        white-space: normal;
    }
    .multiSelectContainer {
        display: inline-block;
        vertical-align: middle;
        width: 56.36vw;
        font-size: 2.5vw;
        .selectionBox {
            width: 9.40vw;
            height: 9.40vw;
            background: $lightGray;
            box-shadow: inset 0 0 1.25vw rgba($black, .5);
            &.active {
                background: #7643ad;
                box-shadow: inset 0 0 4vw rgba($black, .6);
            }
        }
    }
}
.flexBox {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    .flexBoxcontent {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-justify-content: space-between;
        justify-content: space-between;
    }
}
.physicalSymptomsArea {
    background: url(../img/physicalSymptomsBody.svg) no-repeat center center;
    background-size: 100%;
    width: 160px;
    height: 430px;
    margin: 0 auto;
    position: relative;
    .leftLabel, .rytLabel {
        text-transform: uppercase;
        font-size: 5vw;
        left: -20vw;
        top: 48%;
        position: absolute;
    }
    .rytLabel {
        left: auto;
        right: -20vw;
    }
    .tapClick {
        width: 19px;
        height: 19px;
        border-radius: 50%;
        background: $lightGray;
        position: absolute;
        top: 0;
        left: 0;
        &:after {
            display: block;
            content: " ";
            position: absolute;
            margin: 0;
            top: -30%;
            left: -30%;
            width: 160%;
            height: 160%;
        }
        &.active {
            background: $orange;
        }
        &.head {
            left: 71px;
            top: 16px;
        }
        &.leftArm {
            top: 157px;
            left: 121px;
        }
        &.rightArm {
            top: 157px;
            left: 20px;
        }
        &.leftLeg {
            left: 91px;
            top: 316px;
        }
        &.rightLeg {
            left: 50px;
            top: 316px;
        }
        &.torso {
            top: 143px;
            left: 50%;
            margin-left: -10px;
        }
    }
}
.physicalSymptomsPopupBG {
    z-index: 19;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.physicalSymptomsPopup {
    background: $white;
    border: 1px solid $darkPurple;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 76.81vw;
    padding: 5vw 3.54vw 3.54vw;
    @include translate(-50%, -50%);
    z-index: 20;
    a.popClose {
        right: 3.54vw;
        top: 3.54vw;
    }
    .symptomsPopupTitle {
        padding: 0;
        font-size: 5.63vw;
    }
    .headacheTypeBlock {
        width: 21.74vw;
        height: 12.88vw;
        text-align: center;
        padding-top: 4.83vw;
        color: $darkPurple;
        background: #eee;
        letter-spacing: 0.25px;
        &.active {
            background: $darkPurple;
            color: $white;
        }
    }
    .numberBlock {
        width: 12.88vw;
        height: 12.88vw;
        text-align: center;
        padding-top: 4.6vw;
        color: $darkPurple;
        background: #eee;
        font-family: $ubuntuMedium;
        &.active {
            background: $darkPurple;
            color: $white;
        }
    }
    .item {
        padding: 0 0 4.50vw;
        &.item-checkbox {
            padding-left: 9.42vw;
        }
        .checkbox input,
        .checkbox-icon {
            width: 6.76vw;
            height: 6.76vw;
            &:before {
                background: $white;
                border-color: $lightGray;
                border-radius: 0;
            }
            &:after {
                height: 3vw;
                width: 4.8vw;
                border: 0.96vw solid $orange;
                border-top: 0;
                border-right: 0;
                top: 1vw;
                left: 1.1vw;
            }
        }
        .checkbox input:checked,
        .checkbox input:checked + .checkbox-icon {
            &:before {
                background: $white;
                border-color: $lightGray;
                border-width: 1px;
            }
        }
    }
}
.selectPainArea {
    .subPain {
        font-size: 3.54vw;
        padding: 0 0 4vw;
    }
}
.checkBoxArea + .selectPainArea {
    .subPain {
        padding: 0;
    }
}