
//Fonts
@font-face {
    font-family: 'kelsonSansBold';
    src: url('../fonts/kelson_sans_bold.eot');
    src: url('../fonts/kelson_sans_bold.eot?#iefix') format('embedded-opentype'),
    	url("../fonts/Kelson_Sans_Bold.otf") format("opentype"),
		url('../fonts/kelson_sans_bold.woff') format('woff'),
		url('../fonts/kelson_sans_bold.ttf') format('truetype'),
		url('../fonts/kelson_sans_bold.svg#kelson_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kelsonSansRegular';
    src: url('../fonts/kelson_sans_regular.eot');
    src: url('../fonts/kelson_sans_regular.eot?#iefix') format('embedded-opentype'),
    	url("../fonts/Kelson_Sans_Regular.otf") format("opentype"),
		url('../fonts/kelson_sans_regular.woff') format('woff'),
		url('../fonts/kelson_sans_regular.ttf') format('truetype'),
		url('../fonts/kelson_sans_regular.svg#kelson_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'kelsonSansLight';
    src: url('../fonts/kelson_sans_light.eot');
    src: url('../fonts/kelson_sans_light.eot?#iefix') format('embedded-opentype'),
    	url("../fonts/Kelson_Sans_light.otf") format("opentype"),
		url('../fonts/kelson_sans_light.woff') format('woff'),
		url('../fonts/kelson_sans_light.ttf') format('truetype'),
		url('../fonts/kelson_sans_light.svg#kelson_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Ubuntu-Bold';
  src: url('../fonts/Ubuntu-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Ubuntu-Bold.woff') format('woff'), url('../fonts/Ubuntu-Bold.ttf')  format('truetype'), url('../fonts/Ubuntu-Bold.svg#Ubuntu-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu-Medium';
  src: url('../fonts/Ubuntu-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/Ubuntu-Medium.woff') format('woff'), url('../fonts/Ubuntu-Medium.ttf')  format('truetype'), url('../fonts/Ubuntu-Medium.svg#Ubuntu-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu.eot?#iefix') format('embedded-opentype'),  url('../fonts/Ubuntu.woff') format('woff'), url('../fonts/Ubuntu.ttf')  format('truetype'), url('../fonts/Ubuntu.svg#Ubuntu') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu-Light';
  src: url('../fonts/Ubuntu-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/Ubuntu-Light.woff') format('woff'), url('../fonts/Ubuntu-Light.ttf')  format('truetype'), url('../fonts/Ubuntu-Light.svg#Ubuntu-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}





// Variables 
$white:#fff;
$offWhite:#f7f7f7;
$black:#000;
$darkPurple:#4b2d81;
$lightPurple:#76489c;
$darkYellowGreen:#92c83e;
$lightYellowGreen:#b1d577;
$orange:#f18903;
$yellow:#fbba38;
$darkGray:#454545;
$midGray:#666;
$lightGray:#999;
$lightestGray:#ccc;
$red:#ff0000;
$lightRed:#ffcccc;
$activeButtonPurple:#291751;
$activeButtonOrange:#a86002;
$activeButtonYellowGreen:#668c2b;
$grayButtonBG:#c6c6c6;
$lightestGrayBg:#eeeeee;


$kelsonSansBold:'kelsonSansBold';
$kelsonSansRegular:'kelsonSansRegular';
$kelsonSansLight:'kelsonSansLight';

$ubuntuBold:'Ubuntu-Bold';
$ubuntuMedium:'Ubuntu-Medium';
$ubuntuRegular:'Ubuntu';
$ubuntuLight:'Ubuntu-Light';


$backImgPath : '../img';


