
// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic",
  // Ionicons
  "_variables.scss",
  "_base.scss";

// loader
.loading-container .loading {
    background-color: rgba(0, 0, 0, 0.45);
    border-radius: 8px;
    padding: 1vw;
}
.disablePopBG {
    pointer-events: none;
}
.surveyQuestions ion-scroll .scroll-bar-indicator.scroll-bar-fade-out {
    opacity: 1;
}
// Login Screen
.loginScreen,
.forgotPasswordScreen {
    .item {
        padding: 0 0 2.41vw;
    }
}
.loginOuterContainer {
    padding-top: 13.285vw;
    min-height: 173vw;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    .loginInnerContent {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-justify-content: space-between;
        justify-content: space-between;
    }
}
.registrationSteps.step4.orange .radioButton.ng-valid-parse+label {
    background-color: $white;
}
.registrationSteps.step4.orange .abilityContainer .radioButtonWrapper .radioButton:checked+label {
    background: #76489c;
    border: #76489c;
}
.logincontent {
    margin: 0 11.835vw;
}
.privacyPolicyLink {
    font-size: 2.89vw;
    a {
        font-size: 2.89vw;
        line-height: 3.70vw;
    }
}
a.forgotPasswrd {
    padding: 2.41vw 0;
}
//Forgot Password
.forgotPassword {
    height: 51.20vw;
    .item {
        padding: 0 0 2vw;
    }
    .errorBox {
        margin: 0 0 1.45vw;
    }
    .emailInput {
        padding-top: 9.1vw;
    }
    .errorBox+.emailInput {
        padding-top: 0vw;
    }
    .errorMsg+.emailInput {
        padding-top: 0vw;
    }
    .errorMsg {
        padding-top: 5vw;
    }
    a.contactLink {
        padding: 2.83vw 0;
        display: inline-block;
        margin-bottom: 2vw;
    }
}
.welcomePopup {
    .icon {
        display: inline-block;
        vertical-align: middle;
        width: 7.24vw;
        height: 7.24vw;
        margin-left: .9vw;
        img {
            max-width: 100%;
        }
    }
    .iconText {
        display: inline-block;
        vertical-align: middle;
        width: 56vw;
        font-size: 2.90vw;
        padding-left: 0.6vw;
        //padding-top:3px;
    }
}
//Registration
.registrationScreens {
    .sliderPager {
        width: auto;
        bottom: auto;
        bottom: 2.1vw;
        right: 9vw;
        height: 2.2vw;
        font-size: 2vw;
        line-height: 1;
        position: absolute;
        text-align: center;
        .sliderPagerPage {
            margin: 0px 0 0 0.88vw;
            width: 2vw;
            display: inline-block;
            color: $darkPurple;
            text-decoration: none;
            opacity: 0.3;
            &.active {
                -webkit-transition: opacity 0.4s ease-in;
                transition: opacity 0.4s ease-in;
                opacity: 1;
            }
        }
    }
    .item {
        padding: 1px 0 3.22vw;
    }
    .errorMsg {
        font-size: 2.41vw;
    }
}
.registrationSteps {
    background: url(../img/registrationContentBg.png) no-repeat;
    background-size: 300% auto;
    background-position: left 56.92vw;
    height: 100vh;
    .registrationScroll {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
    }
    .item {
        padding: 1px 0 3.22vw;
    }
    .errorMsg {
        font-size: 2.41vw;
        padding-bottom: 1vw;
    }
    .registrationHeader {
        background: url(../img/registrationHeaderBg.jpg) no-repeat;
        background-size: 300% auto;
        background-position: left top;
        min-height: 61.75vw;
        padding: 0 9.1vw;
        position: relative;
        .logo {
            padding-top: 17.3vw;
        }
        .stepTitle {
            //font-family: $kelsonSansBold;
            font-family: $ubuntuBold;
            position: absolute;
            bottom: 1.85vw;
            left: 9.1vw;
        }
    }
    .registrationContent {
        overflow: hidden;
        top: 0;
        position: relative; //absolute
        left: 0;
        right: 0;
        bottom: 0;
        border-top: 1px solid $darkPurple;
        .regFormStartTitle {
            font-size: 3.65vw;
            white-space: normal;
        }
        .smallDDtext {
            font-size: 4vw;
            padding: 0.5vw 0;
        }
        .registrationContentInner {
            padding: 4.10vw 9.1vw;
        }
        .termsContent {
            padding: 6.44vw 4vw 6.44vw 6vw;
            p {
                margin-bottom: 3.50vw;
                &.noMargin {
                    margin-bottom: 0.5vw;
                }
            }
            button.accept {
                width: 44.60vw;
            }
            ul {
                li {
                    padding: 0 0 1.5vw 2.5vw;
                    position: relative;
                    &:before {
                        content: ".";
                        display: block;
                        position: absolute;
                        top: -17px;
                        left: 0px;
                        font-size: 28px;
                    }
                }
            }
        }
        .successBox {
            width: calc(100% - 3.12vw);
        }
    }
    // Confirm Email Registration
    .registerConfirmEmail {
        height: 61vh;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        .thanksContent {
            padding-top: 2vw;
        }
        .bottomContent {
            padding-bottom: 11.27vw;
            .errorBox {
                margin-bottom: 1.77vw;
            }
        }
    }
    &.orange {
        background-position: center 56.92vw;
        .registrationHeader {
            background-position: center top;
        }
        .registrationContent {
            border-top: 1px solid $orange;
        }
        .sliderPagerPage {
            color: $orange;
        }
        .selectBox:after {
            color: $orange;
        }
        .proSetting .radioButton {
            &:checked {
                +label {
                    background-color: $orange;
                    border-color: $orange;
                }
            }
            &.ng-valid-parse {
                +label {
                    background-color: $orange;
                    border-color: $orange;
                }
            }
        }
        .radioButton {
            &.ng-valid-parse {
                +label {
                    background-color: $orange;
                    border-color: $orange;
                }
            }
        }
        &.step4 {
            .subformElement {
                padding-left: 6.67vw;
            }
        }
    }
    &.darkYellowGreen {
        background-position: right 56.92vw;
        .registrationHeader {
            background-position: right top;
        }
        .registrationContent {
            border-top: 1px solid $darkYellowGreen;
        }
        .sliderPagerPage {
            color: $darkYellowGreen;
        }
        .selectBox:after {
            color: $darkYellowGreen;
        }
        .radioButton {
            &:checked {
                +label {
                    background-color: $darkYellowGreen;
                    border-color: $darkYellowGreen;
                }
            }
        }
        &.step5 {
            .subformElement {
                padding-left: 2.81vw;
            }
        }
        &.step6 {
            .item {
                padding: 0 0 4.50vw;
                &.item-checkbox {
                    padding-left: 9.42vw;
                }
                .checkbox input,
                .checkbox-icon {
                    width: 6.76vw;
                    height: 6.76vw;
                    &:before {
                        background: $white;
                        border-color: $lightGray;
                        border-radius: 0;
                    }
                    &:after {
                        height: 3.16vw;
                        width: 5vw;
                        border: 0.96vw solid $orange;
                        border-top: 0;
                        border-right: 0;
                        top: 1vw;
                        left: 0.96vw;
                    }
                }
                .checkbox input:checked,
                .checkbox input:checked + .checkbox-icon {
                    &:before {
                        background: $white;
                        border-color: $lightGray;
                        border-width: 1px;
                    }
                }
            }
        }
        &.terms {
            background: $white;
            .registrationHeader {
                background: $white;
                border-bottom: 1px solid #dddddd;
            }
            .registrationContent {
                border-top: 0px solid $darkYellowGreen;
                position: relative;
                top: 0;
            }
        }
        &.termsRegister {
            background: #fff;
            .registrationHeader {
                background: $white;
                border-bottom: 0px solid #dddddd;
            }
            .registrationContent {
                border-top: 1px solid $darkYellowGreen;
                position: relative;
                top: 0;
            }
        }
    }
    .yearsBlocks {
        width: 100%;
        //overflow: hidden;
        &:after {
            content: ' ';
            display: block;
            clear: both;
            line-height: 0;
            width: 100%;
        }
        .item {
            display: block;
            margin: 0;
            overflow: visible;
            &:after {
                content: ' ';
                display: block;
                clear: both;
                line-height: 0;
                width: 100%;
            }
            .selectBox {
                width: auto;
                float: none;
                display: block;
            }
            .lastTreatmentSelect {
                display: block;
                width: 22.25vw;
                min-height: 1px;
            }
            .yearsTakenSelect {
                display: block;
                width: 19.4vw;
                min-height: 1px;
            }
        }
        .lastTreatmentSelect .selectBox .multiLine {
            font-size: 2.6vw;
        }
        .selectBox .multiLine,
        .selectBoxWrapper .selectBox .singleLine {
            font-size: 2.6vw;
        }
        .iconRequired {
            position: relative;
            right: -1.5vw;
        }
    }
}
.dateofBirth {
    .dobTitle {
        padding-bottom: 0;
        font-size: 2.5vw;
        span {
            font-size: 2.41vw;
        }
    }
    .dobInput {
        .month, .date, .year {
            width: 23vw;
            margin-right: 2.9vw;
            -webkit-box-flex: inherit;
            -webkit-flex: inherit;
            -moz-box-flex: inherit;
            -moz-flex: inherit;
            -ms-flex: inherit;
            flex: inherit;
        }
        .year {
            width: 27.3vw;
            margin-right: 0;
        }
    }
    &.lastRelapse {
        .month {
            width: 31.45vw;
            margin-right: 2.17vw;
        }
        .year {
            width: 38.75vw;
        }
    }
}
.gender {
    display: inline-block;
    width: 31.6vw;
    .selectGender {
        float: left;
        padding-right: 1vw;
        .genderRadio {
            width: 11.272vw;
            height: 11.272vw;
            &.male {
                margin-right: 1.288vw;
                .radioButton +label .icon {
                    width: 5.47vw;
                    height: 8.94vw;
                    background: url(../img/sprite.svg) no-repeat -21vw 0;
                    background-size: 115vw auto;
                    margin: 1.10vw auto 0;
                }
                .radioButton:checked + label .icon {
                    background-position: -11.3vw 0;
                }
            }
            &.Female {
                margin-right: 0;
                .radioButton +label .icon {
                    width: 5.64vw;
                    height: 8.94vw;
                    background: url(../img/sprite.svg) no-repeat -40vw 0;
                    background-size: 115vw auto;
                    margin: 1.10vw auto 0;
                }
                .radioButton:checked + label .icon {
                    background-position: -30.1vw 0;
                }
            }
        }
    }
}
.selectRace {
    width: 50.60vw;
}
.msHistory {
    .radioButtonWrapper {
        &.yes, &.no {
            width: 22.54vw;
            margin-right: 1.45vw;
        }
        &.dont {
            width: 31vw;
        }
    }
}
.relapseHistoryicon {
    width: 6.36vw;
    background: $orange;
    height: 6.36vw;
    margin-right: 1px;
    position: relative;
    .icon {
        position: absolute;
        width: 100%;
        height: 100%;
        background: url(../img/infoIcon.png) no-repeat center center;
        background-size: 1.77vw 4.02vw;
        left: 0;
    }
}
.relapseHistory {
    .relapseHistorySelect {
        width: 66.82vw;
        margin-right: 1.61vw;
        .selectBox {
            width: 100%;
            height: 14.49vw;
            .multiLine {
                padding: 1vw 0 0;
            }
            .singleLine {
                position: relative;
                top: 50%;
                @include translate(0, -50%);
            }
        }
    }
    .relapseHistoryicon {
        width: 12.07vw;
        background: $orange;
        height: 14.49vw;
    }
}
.relapseHistoryLast {
    .selectBox {
        .multiLine {
            padding: 1.5vw 0 .5vw;
        }
    }
}
.abilityContainer {
    img {
        width: 100%;
    }
    .radioButtonWrapper {
        width: 25.76vw;
        height: 20.93vw;
        background: $white;
        margin-right: 0.80vw;
        margin-bottom: 1.61vw;
        .radioLabel {
            height: 12vw;
            display: block;
            background: $white;
            .ablityIcon {
                width: 5.79vw;
                height: 9.66vw;
                margin: 1.61vw auto 0px;
                display: inline-block;
                &.normal {
                    background: url(../img/sprite.svg) no-repeat -53vw 0;
                    background-size: 123vw auto;
                }
                &.mildDisability {
                    background: url(../img/sprite.svg) no-repeat -73vw 0;
                    background-size: 123vw auto;
                    width: 7.72vw;
                }
                &.moderateDisability {
                    background: url(../img/sprite.svg) no-repeat -94.5vw 0;
                    background-size: 123vw auto;
                    width: 5.31vw;
                }
                &.gaitDisability {
                    background: url(../img/sprite.svg) no-repeat -114.5vw 0;
                    background-size: 123vw auto;
                }
                &.earlyCane {
                    background: url(../img/sprite.svg) no-repeat -12.9vw -10vw;
                    background-size: 123vw auto;
                    width: 5.00vw;
                    height: 9.88vw;
                    margin: 1.41vw auto 0px;
                }
                &.lateCane {
                    background: url(../img/sprite.svg) no-repeat -33.3vw -10vw;
                    background-size: 123vw auto;
                    width: 4.83vw;
                    height: 9.88vw;
                    margin: 1.51vw auto 0px;
                }
                &.bilateralSupport {
                    background: url(../img/sprite.svg) no-repeat -52.3vw -10vw;
                    background-size: 123vw auto;
                    width: 7.40vw;
                    height: 10.06vw;
                    margin: 1.51vw auto 0px;
                }
                &.wheelchairScooter {
                    background: url(../img/sprite.svg) no-repeat -72vw -10vw;
                    background-size: 123vw auto;
                    width: 9.01vw;
                    height: 10.06vw;
                    margin: 1.51vw auto 0px;
                }
                &.bedridden {
                    background: url(../img/sprite.svg) no-repeat -112.5vw -15vw;
                    background-size: 150vw auto;
                    width: 11.75vw;
                    height: 6.44vw;
                    margin: 3.1vw auto 0px;
                }
            }
        }
        .radioButton + label {
            background: $white;
            border: 0;
            margin: 0;
        }
        input {
            left: 0;
            padding: 0;
            height: 12.88vw;
            border: 1px solid $lightGray;
            border-bottom: 0;
        }
        .radioTitle {
            height: 8.05vw;
            border: 0;
            background: $orange;
            color: $white;
            text-align: left;
            border: 1px solid $lightGray;
            border-top: 0;
            position: relative;
            // .icon{
            // 	float: left;
            //  width: 3.22vw;
            //  height: 3.22vw;
            //  background: url(../img/radioQuestionIcon.png) no-repeat center center;
            //  background-size: 98% 100%;
            //  margin:2.41vw 1.69vw;
            //  min-width: 3.22vw;
            // }
            .titleText {
                //border-left:1px solid $white;
                //float: left;
                margin: 0;
                font-size: 3.5vw;
                line-height: 1;
                height: inherit;
                //text-align: left;
                text-align: center;
                position: relative;
                //width: calc(100% - 8vw);
                width: 100%;
                white-space: normal;
                .txt {
                    position: relative;
                    top: 50%;
                    //padding:0 0 0 1.1vw;
                    padding: 0;
                    text-transform: uppercase;
                    @include translate(0, -50%);
                }
            }
            &:after {
                position: absolute;
                content: ' ';
                width: 100%;
                height: 100%;
            }
        }
        .radioButton:checked {
            border: 1px solid $darkPurple;
            ~ .radioTitle {
                background: $darkPurple;
                border-color: $darkPurple;
            }
        }
        .radioButton:checked + label {
            background: $lightPurple;
            border: $lightPurple;
            &:after {
                position: absolute;
                left: 1px;
                right: 1px;
                top: 1px;
                bottom: 1px;
                content: " ";
                box-shadow: inset 0 0 3px rgba($white, .4);
            }
            .ablityIcon {
                &.normal {
                    background-position: -63.3vw 0;
                }
                &.mildDisability {
                    background-position: -83.2vw 0;
                }
                &.moderateDisability {
                    background-position: -104.7vw 0;
                }
                &.gaitDisability {
                    background-position: -2vw -10vw;
                }
                &.earlyCane {
                    background-position: -23.3vw -10vw;
                }
                &.lateCane {
                    background-position: -43.7vw -10vw;
                }
                &.bilateralSupport {
                    background-position: -62.5vw -10vw;
                }
                &.wheelchairScooter {
                    background-position: -82.3vw -10vw;
                }
                &.bedridden {
                    background-position: -125vw -15vw;
                }
            }
        }
        &:nth-child(3n) {
            margin-right: 0;
        }
    }
}
.popup-container {
  .forceAppUpdatePop {
      fig{
          display: block;
          width: 27vw;
          height: 27vw;
          background: url(../img/headerIcon.png) no-repeat center center;
          background-size: 60%;
          margin: 4vw auto;
          box-shadow: 0 0 1px rgba(0,0,0,0.4);
          position: relative;
          span{
            display: block;
            position: absolute;
            width:7vw;
            height: 7vw;
            background: url(../img/forceDL.png) no-repeat center center;
            background-size: 100%;
            right: 0;
            top: 0;
            transform: translate3D(50%,-31%,0);
          }
      }
      p {
        text-align: center;
        line-height: 1.3;
        span{
          font-family: $ubuntuBold;
          color: $orange;
        }
      }
  }
    .appUpdatePop {
        .icon {
            display: block;
            width: 40vw;
            height: 40vw;
            background: url(../img/appUpdateIcon.png) no-repeat center center;
            background-size: 100% 100%;
            margin: 4vw auto;
        }
    }
    .relapseHistoryicon {
        display: inline-block;
        vertical-align: middle;
        margin-top: -1vw;
    }
    .overAllAblity {
        .icon {
            display: block;
            width: 57.97vw;
            height: 32.21vw;
            background: url(../img/abilityIcons/normal_720x400.png) no-repeat center center;
            background-size: 100% 100%;
            margin: 4vw auto;
        }
        .twoButtons {
            .leftButton {
                width: 38%;
                margin-right: 2%;
            }
            .rightButton {
                width: 58%;
            }
        }
    }
    &.mildDisability {
        .overAllAblity {
            .icon {
                background: url(../img/abilityIcons/mild_disability_720x400.png) no-repeat center center;
                background-size: 100% 100%;
            }
        }
    }
    &.moderateDisability {
        .overAllAblity {
            .icon {
                background: url(../img/abilityIcons/moderate_disability_720x400.png) no-repeat center center;
                background-size: 100% 100%;
            }
        }
    }
    &.gaitDisability {
        .overAllAblity {
            .icon {
                background: url(../img/abilityIcons/gait_disability_720x400.png) no-repeat center center;
                background-size: 100% 100%;
            }
        }
    }
    &.earlyCane {
        .overAllAblity {
            .icon {
                background: url(../img/abilityIcons/early_cane_720x400.png) no-repeat center center;
                background-size: 100% 100%;
            }
        }
    }
    &.lateCane {
        .overAllAblity {
            .icon {
                background: url(../img/abilityIcons/late_cane_720x400.png) no-repeat center center;
                background-size: 100% 100%;
            }
        }
    }
    &.bilateralSupport {
        .overAllAblity {
            .icon {
                background: url(../img/abilityIcons/bilateral_support_720x400.png) no-repeat center center;
                background-size: 100% 100%;
            }
        }
    }
    &.wheelchairScooter {
        .overAllAblity {
            .icon {
                background: url(../img/abilityIcons/wheelchair_scooter_720x400.png) no-repeat center center;
                background-size: 100% 100%;
            }
        }
    }
    &.bedridden {
        .overAllAblity {
            .icon {
                background: url(../img/abilityIcons/bedridden_720x400.png) no-repeat center center;
                background-size: 100% 100%;
            }
        }
    }
}
.currentWeight {
    label {
        position: absolute;
        right: 6.52vw;
        line-height: 11.27vw;
        top: 0;
    }
}
.priorTreatment {
    .lastTreatmentSelect {
        float: left;
        margin-right: 1.3vw;
        width: 28.98vw;
        .selectBox {
            .multiLine {
                padding: 2.5vw 0 0;
                font-size: 2.8vw;
            }
        }
    }
    .yearsTakenSelect {
        float: left;
        margin-right: 1.69vw;
        width: 39vw;
        .selectBox .multiLine {
            padding: 2.4vw 0 1.6vw;
            .smallTest {
                font-size: 2vw;
                padding-bottom: 0;
            }
        }
    }
    .selectBox {
        width: 100%;
        padding: 0 5vw 0 0.5vw;
        margin-right: 0;
        &:after {
            right: 1.69vw;
        }
    }
    .remove {
        float: left;
    }
}
.additionalTreatment {
    .selectBox .multiLine {
        padding: 1.6vw 0 .6vw;
    }
}
.addPriorTreatmentRow {
    width: calc(100% - 3.12vw);
    .button {
        float: right;
        &.addPriorTreatment {
            line-height: 1.1;
            font-size: 3.4vw;
            height: 10.14vw;
            min-height: 10.14vw;
            width: 41vw;
            padding: 1.5vw 1.65vw 0;
            text-align: left;
            font-family: $ubuntuRegular;
            &:before {
                font-size: 6vw;
                line-height: 7.2vw;
                padding-right: 1.93vw;
                margin-top: 0;
            }
        }
    }
}
.neurologistSearch {
    margin-left: 0px;
    position: relative;
    .searchIcon {
        position: absolute;
        min-width: 11.11vw;
        width: 11.11vw;
        height: 11.27vw;
        border: 1px solid $lightGray;
        border-left: 0;
        top: 0;
        right: 3.12vw;
        .icon {
            position: absolute;
            width: 100%;
            height: 100%;
            background: url(../img/searchIcon.png) no-repeat center center;
            background-size: 6.92vw 7.80vw;
            left: 0;
        }
    }
    input {
        text-align: left;
        box-sizing: border-box;
        padding-right: 11.11vw;
    }
}
.loaderHCP {
    width: 6.5vw;
    position: absolute;
    right: 20%;
    top: 15.5%;
}
.neurologistInfo {
    width: calc(100% - 3.12vw);
    background: $white;
    border: 1px solid $lightGray;
    padding: 3.22vw 9.66vw 3.22vw 3.22vw;
    position: relative;
    .remove {
        float: right;
        margin: -1px -1px 0 0;
        position: absolute;
        top: 0;
        right: 0;
    }
}
.neurologistList {
    width: 67.63vw;
    background: $white;
    border: 1px solid $lightGray;
    border-bottom: 2px solid $lightGray;
    position: absolute;
    left: 0;
    margin-top: -4.50vw;
    z-index: 3;
    ion-scroll {
        height: 99% !important;
        padding: 0 !important;
        margin-top: 0;
        max-height: 57vw;
    }
    .neurologistInfo {
        width: 100%;
        border: 0;
        padding: 2vw 3.22vw;
        border-bottom: 1px solid $lightestGray;
        line-height: 1.2;
        &:last-child {
            border-bottom: 0;
        }
    }
}
.selectHand {
    .radioButtonGroup {
        .questionLabel {
            width: 32vw;
            padding-right: 1.5vw;
            white-space: normal;
            height: auto;
            padding-top: 0;
            line-height: 1.2;
            &.error {
                line-height: 0;
                height: 3px;
                border: 0 !important;
            }
        }
        .radioButtonWrapper {
            .radioButton + label {
                padding: 0 2.89vw 0 11.67vw;
                font-size: 3.22vw !important;
                //font-family: $kelsonSansBold;
                font-family: $ubuntuMedium;
                letter-spacing: 0.25px;
            }
            &.left {
                width: 22.73vw;
                margin-right: 0;
                .radioButton + label {
                    padding: 0 2.89vw 0 11.67vw;
                    background: url(../img/leftHand.png) no-repeat 2vw 1.35vw;
                    background-size: 7.25vw auto;
                }
                .radioButton:checked + label {
                    background: $darkPurple url(../img/leftHand.png) no-repeat 2vw bottom;
                    background-size: 7.25vw auto;
                }
            }
            &.right {
                width: 22.73vw;
                float: right;
                .radioButton + label {
                    padding: 0 11.67vw 0 2vw;
                    background: url(../img/rightHand.png) no-repeat 12.5vw 1vw;
                    background-size: 7.25vw auto;
                }
                .radioButton:checked + label {
                    background: $darkPurple url(../img/rightHand.png) no-repeat 12.5vw bottom;
                    background-size: 7.25vw auto;
                }
            }
        }
    }
}
.item-checkbox {
    .checkbox {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        margin-top: 0;
        right: 11.27vw;
        padding: 0;
    }
}
.twoButtons {
    .leftButton {
        width: 35.4vw;
        margin-right: 2vw;
        display: inline-block;
    }
    .rightButton {
        width: 41.54vw;
        display: inline-block;
    }
}
.threeButtons {
    .leftButton, .midButton, .rightButton {
        width: 25.8vw;
        margin-right: 1.2vw;
        float: left;
    }
    .midButton {
        //margin-right:0;
    }
    .rightButton {
        margin-right: 0vw;
        //float: right;
    }
    &:after {
        display: block;
        content: " ";
        clear: both;
    }
}
.itenTrademark {
    margin-top: -3vw;
    overflow: visible;
    white-space: normal;
}
// Select box popups
.selectBoxPopup {
    .popup-head {
        padding: 5.79vw;
        border-bottom: 1px solid $lightGray;
    }
    .popup-body {
        padding: 2.41vw 2vw 1.61vw 2.50vw;
        margin-bottom: 0.5vw;
        font-size: 4.18vw;
        ion-scroll {
            max-height: 85vw;
            padding-bottom: 4px;
        }
        .scroll-bar-indicator.scroll-bar-fade-out {
            opacity: 1;
        }
        .item-checkbox {
            padding: 0 0.5vw;
            .checkbox {
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                z-index: 3;
                margin-top: 0;
                position: relative;
                width: 100%;
                input {
                    width: 16px;
                    height: 16px;
                    display: inline-block;
                    vertical-align: middle;
                    margin-top: 2px;
                    &:before {
                        background: $white;
                        border-color: $lightGray;
                    }
                    &:after {
                        top: 4px;
                        left: 3px;
                        width: 9px;
                        height: 5px;
                        border: 2px solid $white;
                        border-top: 0;
                        border-right: 0;
                    }
                    &:checked {
                        &:before {
                            background: $orange;
                            border-color: $orange;
                        }
                    }
                }
            }
            .checkBoxName {
                font-size: 4.18vw;
                display: inline-block;
                vertical-align: middle;
                padding: 2.2vw 0 1.9vw 1.25vw;
                width: calc(100% - 6vw);
                white-space: normal;
                line-height: 4.5vw;
            }
        }
        .checkBoxCategoryTitle {
            padding: 1vw 6.02vw;
            color: $orange;
            font-size: 4.5vw;
        }
        .item-radio {
            .radio-icon {
                font-size: 3.86vw;
                color: $orange;
                padding: 0;
                height: 2.57vw;
                width: 3.54vw;
                background: url(../img/multiSelectRadioIcon.png) no-repeat top center;
                background-size: 100% auto;
                margin: 3.35vw 1.93vw;
            }
            .radio-content {
                .item-content {
                    font-size: 4.18vw;
                    background: $white;
                    padding: 1.69vw 6.76vw 1.69vw 0;
                    white-space: normal;
                }
            }
            input:checked + .radio-content {
                .item-content {
                    //background: $white;
                    color: $orange;
                    font-family: $ubuntuRegular;
                    //font-family: $kelsonSansBold;
                }
            }
        }
        .singleSelectPopupBody {
            padding: 0 0 0 3.22vw;
        }
    }
    .popup-buttons {
        padding: 0;
        min-height: 13.20vw;
        border-top: 1px solid $lightGray;
        .button {
            border: 0;
            height: 13.20vw;
            font-family: $ubuntuMedium;
            &:first-child {
                border-right: 1px solid $lightGray;
                margin-right: 0;
            }
        }
    }
}
.popBodyInput {
    .item {
        padding: 1px 0 2.22vw;
    }
    .radioButtonGroup {
        width: 100%;
        .questionLabel {
            width: 30.5vw;
            margin-right: 2vw;
            white-space: normal;
            line-height: 1;
            height: auto;
            font-size: 3.62vw;
        }
    }
    .selectBoxWrapper {
        .selectBox {
            width: calc(100% - 1.65vw);
        }
    }
    &.orange {
        .radioButtonWrapper .radioButton:checked + label {
            background-color: $orange;
            border-color: $orange;
            color: $white;
        }
    }
    &.relapsePopStartYesBTN {
        .radioButtonGroup {
            width: 80%;
            margin: auto;
            .questionLabel {
                width: 100%;
                text-align: center;
                font-size: 4.2vw;
                line-height: 5vw;
                padding-bottom: 4vw;
            }
            .radioButtonWrapper.yes {
                margin-left: 22%;
                label {
                    font-family: $ubuntuMedium;
                }
            }
            .radioButtonWrapper.no {
                margin: 0;
                label {
                    font-family: $ubuntuMedium;
                }
            }
        }
    }
}
.radioButtonWrapper.yes,
.radioButtonWrapper.no {
    label {
        font-family: $ubuntuMedium;
    }
}
.endRelapsePopTop .popup-body p.text-center {
    font-size: 3.6vw;
}
.popup-body {
    // font-size: 4.18vw;
    .popup-buttons {
        padding: 0 1.65vw 0 0;
        min-height: 15vw;
        .button:first-child {
            margin-right: 0vw;
        }
        .button.skip {
            margin-right: 1.5vw;
        }
    }
}
.userProfileEntry {
    background-color: rgba($black, 0.75);
    ion-content {
        top: 25%;
        right: 10%;
        bottom: auto;
        left: 10%;
        background-color: $white;
        padding: 0 2% 4%;
        p {
            padding: 0 4%;
        }
    }
    .upeForm {
        margin: 0 0 0 4%;
    }
    label {
        width: 100%;
    }
    button {
        float: left;
        width: 44%;
        clear: none;
        display: block;
        margin: 0 0 0 4%!important;
    }
}
.modal-scale-animation.ng-enter,
.modal-scale-animation > .ng-enter {
    -webkit-animation-name: superScaleIn;
    animation-name: superScaleIn;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.modal-scale-animation.ng-leave,
.modal-scale-animation > .ng-leave {
    -webkit-animation-name: scaleOut;
    animation-name: scaleOut;
    -webkit-animation-duration: 0.1s;
    animation-duration: 0.1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
/*-------------  Test CSS --------------*/

.performanceList {
    margin-bottom: 0;
    i {
        width: 12.80vw;
        height: 12.80vw !important;
        top: 3.38vw !important;
        &.performanceRightArrow {
            height: 6.60vw !important;
            width: 6.60vw;
            left: auto !important;
            top: 5.95vw !important;
            right: 5.47vw;
            background-image: url('../img/rightArrow.png');
            background-size: 100% 100%;
            /* &.trackerActive {
				background-image: url(../img/trackerActive.png);
			} */
        }
        img {
            width: 100%;
            height: auto;
        }
    }
    .item-icon-left {
        padding: 4.50vw 15.47vw 4.50vw 25.60vw;
        display: block;
        height: 19.46vw;
        white-space: normal;
        span.testTitle {
            display: block;
        }
        .icon {
            left: 9vw;
        }
        span.performanceName {
            display: block;
            position: relative;
            top: 56%;
            width: 80%;
            @include translate(0, -50%);
        }
    }
}
.performList {
    min-height: 120vw;
}
.performList2 {
    min-height: 53vw;
}
.performanceSingleScore {
    .towerHanoi {
        .towerHanoiScore {
            .scoreRow {
                display: inline-block;
                padding-bottom: 0;
            }
            .scoreText {
                vertical-align: middle;
            }
            .scoreIcon {
                vertical-align: middle;
            }
        }
    }
    .testScoreLeft,
    .testScoreRight {
        display: inline-block;
        vertical-align: middle;
    }
    .testScoreLeft {
        width: 75%;
    }
    .testScoreRight {
        width: 25%;
        text-align: right;
    }
    .item {
        padding: 4.83vw 9.1vw;
        &.item-icon-left {
            padding: 4.50vw 15.47vw 4.50vw 25.60vw;
        }
    }
}
.performancePage {
    .testContent {
        padding: 3vw 6.5vw 2.41vw;
    }
}
.showCongClass {
    display: block;
    position: absolute;
    z-index: 5;
    left: 0;
    top: 0;
    right: 0;
    bottom: 12vw;
}
.platform-ipad {
    .showCongClass {
        bottom: 9vw;
    }
}
.testCircle {
    width: 40.25vw;
    height: 40.25vw;
    border-radius: 50%;
    border: 1.61vw solid $orange;
    margin: 3.22vw auto;
    text-align: center;
    display: block;
    z-index: 1;
    &.withBg {
        background-color: #fadbbc;
    }
    .testTimer {
        //font-family: $ubuntuBold;
        font-size: 8.05vw;
        line-height: 1;
        letter-spacing: 0.25px;
        height: 8.35vw;
        span {
            display: inline-block;
            vertical-align: bottom;
            width: 9.75vw;
            text-align: center;
            &.micro {
                font-size: 6.44vw;
                width: 8vw;
            }
            &.minutes {
                text-align: right;
                width: 5.75vw;
            }
        }
    }
    .textTimeTitle {
        font-family: $ubuntuBold;
        letter-spacing: 0.25px;
    }
    .testCircleContent {
        position: relative;
        top: 50%;
        @include translate(0, -50%);
        .circleFill {
            background: #fadbbc;
            width: 38.25vw;
            height: 40.25vw;
            border-radius: 50%;
            position: relative;
            &.one {
                background-image: linear-gradient(270deg, transparent 50%, white 50%), linear-gradient(0deg, white 50%, transparent 50%);
            }
            &.two {
                background-image: linear-gradient(270deg, transparent 50%, white 50%), linear-gradient(90deg, white 50%, transparent 50%);
            }
            &.three {
                //background-color:#fadbbc;
                background-image: linear-gradient(360deg, #fadbbc 50%, transparent 50%), linear-gradient(90deg, #ffffff 50%, transparent 50%);
            }
            .textContent {
                position: relative;
                top: 50%;
                @include translate(0, -50%);
                color: $darkGray;
            }
        }
    }
    &.small {
        width: 18.67vw;
        height: 18.67vw;
        margin: 14.01vw auto;
        border: 0.81vw solid $orange;
        .testCircleContent {
            z-index: -1;
        }
        .circleFill {
            width: 17.67vw;
            height: 18.67vw;
        }
    }
}
.tapArea {
    display: block;
    height: 130vw;
    width: 100%;
    //margin-top:5.66vw;
    .tapAreaContent {
        position: relative;
        top: 40%;
        @include translate(0, -50%);
    }
}
.assistanceArea {
    display: block;
    padding: 0 5vw;
}
.walkBckBtnFix {
    width: 80vw;
    margin: auto;
}
.walkBckBtnFix2 {
    width: 75vw;
    margin: auto;
}
.testContent {
    padding: 4.02vw 6vw;
    &.colorVision {
        padding-top: 0;
    }
    .twoButtons {
        .leftButton {
            width: 49%;
            float: left;
            margin-right: 0;
        }
        .rightButton {
            width: 49%;
            float: right;
        }
        &:after {
            content: " ";
            display: block;
            clear: both;
        }
    }
    .selectBoxWrapper {
        .selectBox {
            width: 100%;
            margin-right: 0;
            &:after {
                color: $orange;
            }
        }
        &:after {
            content: " ";
            display: block;
            clear: both;
        }
    }
    &.timed25FeetWalk {
        .testCircle {
            margin: 0vw auto;
        }
        .testResult {
            .testCircle {
                margin: 3.21vw auto;
            }
        }
        .assistanceArea .error .button {
            border: 0px;
        }
    }
    &.colorVision {
        .colorVisionEyeTitle {
            .icon {
                display: inline-block;
                vertical-align: middle;
                background: url(../img/testicon/ishiharaTest.png) no-repeat center center;
                background-size: 100%;
                width: 7.24vw;
                height: 7.24vw;
                margin-right: 1vw;
            }
            .titleText {
                display: inline-block;
                vertical-align: middle;
                padding-top: 1.3vw;
            }
        }
        .colorVisionTapArea {
            height: 68vw;
            canvas {
                margin: auto;
            }
            .colorVisionTapAreaContent {
                position: relative;
                top: 50%;
                height: 100%;
                @include translate(0, -50%);
                .contentPart {
                    position: relative;
                    top: 50%;
                    font-size: 4.3vw;
                    line-height: normal;
                    @include translate(0, -50%);
                    b {
                        font-size: 6vw;
                    }
                }
            }
        }
        .colorVisionTapImg {
            position: relative;
            top: 50%;
            @include translate(0, -50%);
            img {
                width: 59.58vw;
                height: auto;
                margin: 0 auto;
            }
        }
        .colorVisionResults {} .testBottomText {
            margin: 0 -3.2vw;
            p {
                margin-bottom: 0;
            }
        }
        input {
            padding: 1.6vw 3.54vw;
        }
    }
}
.ColorKeyboard {
    position: relative;
    .disableColorKeyboard {
        position: absolute;
        z-index: 3;
        background-color: rgba(255, 255, 255, 0.7);
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
}
.colorInputTypeHldr {
    clear: both;
    overflow: hidden;
    width: 88vw;
    margin: 0 auto 2.5vw;
    .divInputText {
        float: left;
        width: 72%;
        line-height: 10vw;
        height: 10vw;
        font-size: 4.2vw;
        text-align: center;
        color: $lightGray;
        border: 1px solid $lightGray;
    }
    button {
        float: left;
        border: 1px solid $lightGray;
        width: 25%;
        line-height: 10vw;
        height: 10vw;
        text-transform: capitalize;
        color: $lightGray;
        text-align: right;
        padding: 0 2% 0 0;
        background: url("../img/backIcon.png") 1vw center no-repeat;
        background-size: auto 60%;
        font-size: 4.2vw;
        margin-left: 3%;
    }
}
ul.colorInputBTN {
    clear: both;
    overflow: hidden;
    width: 88vw;
    margin: auto;
    border-top: 1px solid $darkPurple;
    border-left: 1px solid $darkPurple;
    margin: 0 auto 4vw;
    li {
        float: left;
        width: 25%;
        text-align: center;
        font-family: $ubuntuBold;
        overflow: hidden;
        height: 9.7vw;
        line-height: 10vw;
        font-size: 4.8vw;
        color: $darkPurple;
        border-right: 1px solid $darkPurple;
        border-bottom: 1px solid $darkPurple;
        &:last-child {
            width: 50%;
            font-family: $ubuntuMedium;
            font-size: 4vw;
        }
        &.activated {
            background-color: $activeButtonPurple;
            color: $white;
        }
    }
}
.startReactionTest {
    height: 140vw;
    position: relative;
    clear: both;
    overflow: hidden;
}
.topGap4Raxn {
    margin-top: 22vw
}
.reactionTime {
    #gameDiv1, #gameDiv2 {
        //margin-top: 5.66vw;
        canvas {
            width: 100% !important;
            height: 100% !important;
        }
    }
    .audioTapText {
        width: 31vw;
        margin: 0 auto;
        position: absolute;
        top: 51.75%;
        left: 50%;
        @include translate(-50%, -50%);
    }
}
.testInfo {
    letter-spacing: 0.25px;
    .testInfoImg {
        text-align: center;
        img {
            width: 30.19vw;
            height: auto;
        }
    }
    .testInfoContent {
        ul {
            padding: 0;
            li {
                padding: 0 0 2.41vw 2.5vw;
                position: relative;
                &:before {
                    content: "";
                    display: block;
                    position: absolute;
                    left: 0.5vw;
                    top: 2vw;
                    width: 1vw;
                    height: 1vw;
                    background: $orange;
                    border-radius: 50%;
                }
            }
        }
    }
}
.resultInfo {
    .resultNumber, .resultText {
        display: inline-block;
        vertical-align: bottom;
        line-height: 1;
    }
    .resultText {
        padding-bottom: 0.5vw;
    }
}
.symbolDigitArea {
    padding: 3.38vw 9.1vw;
    .symbolOptionKeys {
        position: relative;
        border-top: 1px solid $lightGray;
        border-left: 1px solid $lightGray;
        overflow: hidden;
        .symbolOptionsNum {
            display: block;
            float: left;
            width: 33.33%;
            height: 19vw;
            text-align: center;
            border-right: 1px solid $lightGray;
            border-bottom: 1px solid $lightGray;
            background: $lightestGrayBg;
            .numValue {
                display: block;
                position: relative;
                top: 50%;
                @include translate(0, -50%);
                font-family: $ubuntuBold;
            }
            &.activated {
                background: $orange;
                color: $white;
            }
        }
    }
    .symbolOptionsValue {
        max-width: 21.81vw;
        max-height: 28vw;
        margin: 0 auto;
        img {
            max-width: 100%;
            max-height: 28vw;
        }
    }
}
.symbolOptionContent {
    padding: 3.22vw 2.41vw 0 2.41vw;
    text-align: center;
    .symbolOption {
        padding: 0;
        width: 10.40vw;
        text-align: center;
        display: inline-block;
        border: 1px solid $lightGray;
        border-left: 0;
        background: $lightestGrayBg;
        &:first-child {
            border-left: 1px solid $lightGray;
        }
        .symbolIcon {
            width: 100%;
            height: 7.41vw;
            border-bottom: 1px solid $lightGray;
            .icon {
                position: relative;
                display: block;
                top: 50%;
                @include translate(0, -50%);
                margin: 0 auto;
                width: 5.39vw;
                max-height: 6.60vw;
                img {
                    max-width: 5.39vw;
                    max-height: 6.60vw;
                }
            }
        }
        .symbolNumbar {
            width: 100%;
            height: 5.95vw;
            padding-top: 1.85vw;
        }
    }
}
.trailTest {
    .trailTapArea {
        margin: 2.41vw auto;
        border: 1px solid $darkPurple;
        background: #eeeeee;
        width: 95vw;
        height: 104vw;
        position: relative;
        max-width: 580px;
        max-height: 625px;
        overflow: hidden;
        #trailTest {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            opacity: 0;
        }
        #trailTestLower {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            canvas {
                width: 100% !important;
                height: 100% !important;
            }
        }
        #trailTestTrial {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            opacity: 0;
        }
        #trailTestTrialLower {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            canvas {
                width: 100% !important;
                height: 100% !important;
            }
        }
        .startTestCover {
            position: absolute;
            background: rgba($black, .75);
            padding: 0 9.18vw;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: 2;
        }
    }
}
.towerHanoi {
    .towerTapArea {
        margin: 2.41vw auto;
        border: 1px solid $darkPurple;
        background: #eeeeee;
        width: 95vw;
        height: 104.5vw;
        position: relative;
        max-width: 583px;
        max-height: 638px;
        overflow: hidden;
        .startTestCover {
            position: absolute;
            background: rgba($black, .75);
            padding: 0 9.18vw;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: 2;
            &.getReady {
                background: $darkPurple;
            }
        }
    }
    .buttonContainer {
        padding: 0 9.18vw;
    }
    .towerHanoiScore {
        .scoreRow {
            padding-bottom: 2.41vw;
        }
        .scoreText {
            display: inline-block;
            vertical-align: bottom;
        }
        .scoreIcon {
            display: inline-block;
            vertical-align: bottom;
            img {
                max-width: 3.70vw;
                height: auto;
                vertical-align: middle;
            }
            &.right {
                img {
                    max-width: 4.50vw;
                }
            }
        }
    }
    .timerArea {
        width: 100%;
        top: 0;
        height: 11.11vw;
        position: absolute;
        background: $lightestGray;
        padding: 1.77vw 2.73vw;
        //letter-spacing: 0.25px;
        .resultTextTitle {
            display: inline-block;
            vertical-align: middle;
            color: $white;
            padding-right: 1vw;
        }
        .resultText {
            display: inline-block;
            vertical-align: middle;
            width: 13.5vw;
            height: 7.56vw;
            background: $white;
            color: $darkPurple;
            text-align: center;
            line-height: 7.56vw;
            max-width: 140px;
            &.moves {
                margin-right: 4vw;
            }
        }
    }
}
/*------------- Profile Setting  ------------*/

.settingTitle {
    color: #4b2d81;
    padding: 6vw 9.1vw 5vw 7vw;
    overflow: hidden;
    font-size: 4.18vw;
    span {
        display: inline-block;
        line-height: 6vw;
    }
    span:first-child {
        position: relative;
        text-decoration: underline;
        &:before {
            content: ' ';
            position: absolute;
            display: block;
            left: -7vw;
            top: -6vw;
            right: -5vw;
            bottom: -1vw;
        }
    }
}
.profileSettingList {
    margin-bottom: 0;
    i {
        display: block;
        position: absolute;
        &.trackerRightArrow {
            height: 6.60vw !important;
            width: 6.60vw;
            left: auto !important;
            top: 5.4vw !important;
            right: 5.47vw;
            background-image: url('../img/rightArrow.png');
            background-size: 99% 99% !important;
            background-repeat: no-repeat;
        }
    }
    .item {
        padding: 6vw 14.47vw 6vw 6vw;
        display: block;
        font-size: 4.18vw;
    }
}
.settingsteps {
    .stepsTitle {
        background: $darkPurple;
        color: $white;
        //letter-spacing: 0.25px;
        padding: 0 9.1vw 0 7vw;
        margin-bottom: 1px;
        position: relative;
        line-height: 10vw;
        font-family: $ubuntuMedium;
        font-size: 4.18vw;
        height: 10.14vw;
        .icon {
            position: absolute;
            right: 5.47vw;
            top: 4vw;
            width: 0;
            height: 0;
            border-top: 1.25vw solid transparent;
            border-bottom: 1.25vw solid transparent;
            border-left: 2vw solid $white;
            &.open {
                width: 0;
                height: 0;
                border-left: 1.25vw solid transparent;
                border-right: 1.25vw solid transparent;
                border-top: 2vw solid $white;
            }
        }
    }
    .registrationSteps {
        background: $white;
        height: auto;
        .registrationContent {
            border-top: 0;
            .registrationContentInner {
                padding: 5vw 8.5vw;
                .twoButtons .rightButton {
                    width: 43vw;
                }
            }
            .neurologistList {
                margin-top: 0;
            }
        }
    }
    .stateSelect,
    .city {
        width: 40.6vw;
        -webkit-box-flex: inherit;
        -webkit-flex: inherit;
        -moz-box-flex: inherit;
        -moz-flex: inherit;
        -ms-flex: inherit;
        flex: inherit;
        display: inline-block;
        vertical-align: top;
    }
    .stateSelect {
        width: 40vw;
        margin-left: 3.2vw;
    }
    .setNotify {
        padding: 4.5vw 0 3.4vw 7vw;
        display: block;
        font-size: 4.18vw;
    }
    .item-toggle,
    .item-toggle.item-complex .item-content {
        padding: 6vw 23.91vw 3.7vw 9.3vw;
    }
    .item-toggle .toggle {
        top: 5vw;
        right: 6.44vw;
    }
    .toggle .track {
        height: 6.9vw;
        width: 14.75vw;
        border: solid 2px $lightGray;
        border-radius: 20px;
        background-color: $lightGray;
        position: relative;
    }
    .toggle .handle {
        width: 6vw;
        height: 100%;
        top: 0;
        left: 0;
    }
    .toggle input:checked + .track .handle {
        -webkit-transform: translate3d(7.5vw, 0, 0);
        transform: translate3d(7.5vw, 0, 0);
    }
    .toggle.toggle-purple input:checked + .track {
        border-color: $darkPurple;
        background-color: $darkPurple;
    }
    .yearsBlocks {
        &.subformElement {
            padding-left: 3.63vw;
            .iconRequired {
                right: -0.5vw;
            }
        }
    }
}
.orange {
    .settingsteps {
        .stepsTitle {
            background: $orange;
        }
    }
}
.darkYellowGreen {
    .settingsteps {
        .stepsTitle {
            background: $darkYellowGreen;
        }
    }
}
.bumperImageArea {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $orange;
    z-index: 8;
    height: 96vh;
    padding: 0 12vw;
    .bumperImageAreaContent {
        position: relative;
        padding-top: 44vw;
        &.newTextInBumper {
            padding-top: 20vw;
        }
        ul.bumperImgList {
            padding: 5vw 0 10vw 0;
            width: 110%;
            margin-left: -5%;
            li {
                color: $white;
                font-size: 4.4vw;
                position: relative;
                padding: 0 0 1.8vw 3vw;
                &:before {
                    content: " ";
                    display: block;
                    position: absolute;
                    width: 1.5vw;
                    height: 1.5vw;
                    background-color: $white;
                    border-radius: 50%;
                    left: 0;
                    top: 1.4vw;
                }
            }
        }
    }
    .testInfoImg {
        text-align: center;
        img {
            width: 40vw;
            height: auto;
        }
    }
}
.trackerContent {
    position: relative;
}
.trackerDisable {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 13;
}
/*-----------------  Floating Labels  ----------------*/

.item-floating-label {
    .input-label {
        position: absolute;
        padding: 1.5vw 0 0;
        top: 1.45vw;
        display: block;
        width: calc(100% - 3.12vw);
        max-width: inherit;
        text-align: center;
        color: $lightGray;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        z-index: 1;
        visibility: hidden;
        &.has-input {
            top: 0px;
            z-index: 3;
            visibility: visible;
            -webkit-transition: opacity 0.25s ease-in, top 0.2s linear;
            transition: opacity 0.25s ease-in, top 0.2s linear;
            + input, + input + input {
                padding: 5.65vw 0.5vw 0.75vw;
            }
        }
    }
    input {
        transition: padding-top 0.25s ease-in;
        -webkit-transition: padding-top 0.25s ease-in;
        width: calc(100% - 3.12vw);
        z-index: 2;
        border-radius: 0;
        -webkit-border-radius: 0;
        box-shadow: none;
        -webkit-box-shadow: none;
        -webkit-appearance: none;
    }
    .iconRequired {
        position: absolute;
        top: 0;
        right: 0;
    }
    &.selectBoxWrapper {
        .selectBox {
            .input-label {
                position: absolute;
                padding: 1.5vw 0 0;
                top: 0;
                left: 0;
                opacity: 1;
                width: 100%;
                z-index: 3;
                visibility: visible;
            }
            .input-label+.singleLine {
                line-height: 5.1vw;
                padding-top: 5vw;
                top: 0;
                transform: inherit;
                -webkit-transform: inherit;
                z-index: 2;
            }
        }
    }
    &.neurologistSearch {
        .input-label {
            width: calc(100% - 11.11vw);
        }
        .input-label.has-input + input,
        .input-label.has-input + input + input {
            padding: 5.65vw 11.11vw 0.75vw 3.54vw;
        }
    }
    .floatingSelect {
        position: relative;
        input {
            width: 100%;
        }
        .input-label {
            width: 100%;
        }
    }
}
.relapseHistory .relapseHistorySelect {
    .item-floating-label {
        &.selectBoxWrapper {
            .selectBox {
                .input-label+.singleLine {
                    line-height: 5.1vw;
                    padding-top: 7vw;
                }
            }
        }
    }
}
.pmBtnHldr {
    width: 78vw;
    margin: auto;
}



@import "_notification.scss";
@import "_page6.scss";
@import "_homeScreen.scss";
@import "_sidebar.scss";
@import "_fingerTapTest.scss";
@import "_langauageMemoryTest.scss";
@import "_survey.scss";
@import "_tracker.scss";
@import "_heat.scss";
@import "_faq.scss";
@import "_highChart.scss";
@import "_mq.scss";
@import "_android.scss";
@import "_ipad.scss";
