<ion-view view-title='<i class="headerIcon"></i>'>
    <ion-nav-bar class="bar-stable">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <!--TAP HEADER -->
        <div class="tapHere" ng-click="replaceTrackingOnSurvey()" ng-class="relapseTrack.startRelapse ? 'relapse':''"> <!-- ng-click="replaceTracking()" -->
          <i></i>
          <span ng-show="!relapseTrack.startRelapse"><b>Tap here</b> if you think you are experiencing a relapse</span>
          <span ng-show="relapseTrack.startRelapse">This is day {{replaceDays}} of your relapse <b>| Suspend relapse tracking?</b></span>
        </div>
        <!-- PAGE TITLE -->
        <div class="titleBox text-center">
            <p class="darkPurple">Pending Surveys</p>
        </div>
        <!-- PENDING SURVEYS -->
        <div class="surveyListHolder">
            <ul class="surveyList">
                <li ng-click="takeSurvey(value.notificationAttributes, value._id,value.notificationAttributes)" ng-repeat="(key, value) in surveyNotifications | orderBy : '-'">
                    <p class="surveyListTitle" ng-bind-html="value.notificationAttributes.title"></p>
                    <p class="surveyListDesc">{{value.notificationAttributes.subTitle}}</p>
                </li>
            </ul>
            <p ng-if="surveyNotifications.length != 0">To view your past surveys, please visit your patient dashboard at <a class="darkPurple underline" ng-click="contactMSCare()">MSCareConnect.com</a>.</p>
        </div>
        <!-- IF NO SURVEY IS PENDING -->
        <div class="noPendingSurveyBox" ng-if="surveyNotifications.length == 0">
            <p>You have completed all of the available surveys. Please check back later for more surveys.</p>
            <p>To view your past surveys, please visit your patient dashboard at <a class="darkPurple underline" ng-click="contactMSCare()">MSCareConnect.com</a>.</p>
        </div>
    </ion-content>
</ion-view>