<ion-view view-title='<i class="headerIcon"></i>'>
	<ion-nav-bar class="bar-stable">
		<ion-nav-buttons side="left">
			<button class="button button-icon button-clear ion-navicon" ng-click="showPopOnExitSurvey()">
			</button>
		</ion-nav-buttons>
	</ion-nav-bar>
	
	<ion-content scroll="false" class="surveyQuestions">
		
		<!-- TAP HEADER -->
		<div class="tapHere" ng-click="replaceTracking()" ng-class="relapseTrack.startRelapse ? 'relapse':''"> <!-- ng-click="replaceTracking()" -->
	    <i></i>
	    <span ng-show="!relapseTrack.startRelapse"><b>Tap here</b> if you think you are experiencing a relapse</span>
	    <span ng-show="relapseTrack.startRelapse">This is day {{replaceDays}} of your relapse <b>| Suspend relapse tracking?</b></span>
	  </div>
		<!-- PAGE TITLE -->
		<div class="titleBox text-center">
			<p class="darkPurple" ng-bind-html="surveyQuestions.title"></p>
		</div>
		
		<ion-slide-box class="surveySliderHldr" on-slide-changed="slideHasChanged($index)" show-pager="false" delegate-handle="slideNavHandler">
			<ion-slide ng-repeat="questions in fetchedQuestions | orderBy:'order'" class="surveySlide" on-swipe-right="rightSwipeProSurvey()" on-swipe-left="leftSwipeProSurvey()"> 
				<ion-scroll overflow-scroll="false">
				<div class="surveyMinHeight">
					<p class="srvyQues">
						<span class="bold" ng-if="showIndexNumber">{{($index+1)+'. '}}</span>
						<span ng-bind-html="questions.question.preQuestion"></span>
						<br ng-if="questions.question.preQuestion !=''">
						<span ng-bind-html="questions.question.text"></span>
					</p>

					<!-- options type text radio -->
					<div ng-if="questions.question.type == 'textRadio'">
						<label class="item item-radio" ng-repeat="option in questions.question.options | orderBy:'order'">
							<input type="radio" value="{{option.order}}" name="q_{{questions.order}}" ng-click="optionValueHandler(questions.order, option)" ng-model="modelAnswer[questions.order].order">
							<div class="radio-content">
								<div class="item-content disable-pointer-events"><span>{{option.text}}</span></div>
							</div>
						</label>

						<!-- For sub-options -->
						<div ng-if="modelAnswer[questions.order].order">
							<!-- options type yes no condition radio with sub options input text box -->
							<div class="dropOptionOnYes" ng-repeat="sub in questions.question.options[modelAnswer[questions.order].order-1].subOptions" ng-if="sub.type=='parallelTextRadio' && surveyQuestions.type != 'SURVEY_3'">
								<p class="bold classSubOptHead">{{sub.text}}</p>
								<label class="item item-radio" ng-repeat="option in sub.options | orderBy:'order'">
									<input type="radio" value="{{option.order}}" name="subq_{{sub.order}}" ng-click="subOptionValueHandler(sub.order, option)" ng-model="modelSubQuestAnswer[sub.order-1].order">
									<div class="radio-content">
										<div class="item-content disable-pointer-events"><span>{{option.text}}</span></div>
									</div>
								</label>
							</div>

							<!-- options for the input text box with full width-->
							<div class="dropOptionOnYes fullWidthBoxBTN" ng-repeat="sub in questions.question.options[modelAnswer[questions.order].order-1].subOptions" ng-if="sub.type=='parallelTextRadio' && surveyQuestions.type == 'SURVEY_3' && modelAnswer[questions.order].order == '1'">
								<p class="bold classSubOptHead">{{sub.text}}</p>
								<label class="item item-radio" ng-repeat="option in sub.options | orderBy:'order'">
									<input type="radio" value="{{option.order}}" name="subq_{{sub.order}}" ng-click="subOptionValueHandler(sub.order, option)" ng-model="modelSubQuestAnswer[sub.order-1].order">
									<div class="radio-content">
										<div class="item-content disable-pointer-events"><span>{{option.text}}</span></div>
									</div>
								</label>
							</div>
	 
							<!-- options type yes no condition radio with sub options dropdown -->
							<div class="dropOptionOnYes" ng-repeat="sub in questions.question.options[modelAnswer[questions.order].order-1].subOptions" ng-if="sub.type=='dropdownTextRadio'">
		
								<div class="selectBoxWrapper item-floating-label">
									<div class="selectBox" ng-click="openSingleSelect(sub.endVal,questions.question.options[modelAnswer[questions.order].order-1].order,'Age','subDropDown',questions.order,sub.order)">
										<div class="multiLine" ng-if="!subAnswerDropDown[questions.order-1][sub.order]">
											<div class="upperCase ">{{sub.text}}</div>
											<div>{{sub.subText}}</div>
										</div>
										<div class="floatingSelect" ng-if="subAnswerDropDown[questions.order-1][sub.order]">
                      <span class="input-label font40 upperCase">{{sub.text}}</span>
                      <div class="singleLine upperCase darkGray" >{{subAnswerDropDown[questions.order-1][sub.order].text}}</div>
                    </div>
									</div>
								</div>

							</div>
						</div>
					</div>	

					<!-- options type text radio -->
					<div class="surveyLowerCase" ng-if="questions.question.type == 'textRadiolowerCase'">
						<label class="item item-radio" ng-repeat="option in questions.question.options | orderBy:'order'">
							<input type="radio" value="{{option.order}}" name="q_{{questions.order}}" ng-click="optionValueHandler(questions.order, option)" ng-model="modelAnswer[questions.order].order">
							<div class="radio-content">
								<div class="item-content disable-pointer-events"><span>{{option.text}}</span></div>
							</div>
						</label>

						<!-- For sub-options -->
						<div ng-if="modelAnswer[questions.order].order">
							<!-- options type yes no condition radio with sub options input text box -->
							<div class="dropOptionOnYes" ng-repeat="sub in questions.question.options[modelAnswer[questions.order].order-1].subOptions" ng-if="sub.type=='parallelTextRadio' && surveyQuestions.type != 'SURVEY_3'">
								<p class="bold classSubOptHead">{{sub.text}}</p>
								<label class="item item-radio" ng-repeat="option in sub.options | orderBy:'order'">
									<input type="radio" value="{{option.order}}" name="subq_{{sub.order}}" ng-click="subOptionValueHandler(sub.order, option)" ng-model="modelSubQuestAnswer[sub.order-1].order">
									<div class="radio-content">
										<div class="item-content disable-pointer-events"><span>{{option.text}}</span></div>
									</div>
								</label>
							</div>

							<!-- options for the input text box with full width-->
							<div class="dropOptionOnYes fullWidthBoxBTN" ng-repeat="sub in questions.question.options[modelAnswer[questions.order].order-1].subOptions" ng-if="sub.type=='parallelTextRadio' && surveyQuestions.type == 'SURVEY_3' && modelAnswer[questions.order].order == '1'">
								<p class="bold classSubOptHead">{{sub.text}}</p>
								<label class="item item-radio" ng-repeat="option in sub.options | orderBy:'order'">
									<input type="radio" value="{{option.order}}" name="subq_{{sub.order}}" ng-click="subOptionValueHandler(sub.order, option)" ng-model="modelSubQuestAnswer[sub.order-1].order">
									<div class="radio-content">
										<div class="item-content disable-pointer-events"><span>{{option.text}}</span></div>
									</div>
								</label>
							</div>
	 
							<!-- options type yes no condition radio with sub options dropdown -->
							<div class="dropOptionOnYes" ng-repeat="sub in questions.question.options[modelAnswer[questions.order].order-1].subOptions" ng-if="sub.type=='dropdownTextRadio'">
		
								<div class="selectBoxWrapper item-floating-label">
									<div class="selectBox" ng-click="openSingleSelect(sub.endVal,questions.question.options[modelAnswer[questions.order].order-1].order,'Age','subDropDown',questions.order,sub.order)">
										<div class="multiLine" ng-if="!subAnswerDropDown[questions.order-1][sub.order]">
											<div class="upperCase ">{{sub.text}}</div>
											<div>{{sub.subText}}</div>
										</div>
										<div class="floatingSelect" ng-if="subAnswerDropDown[questions.order-1][sub.order]">
                      <span class="input-label font40 upperCase">{{sub.text}}</span>
                      <div class="singleLine upperCase darkGray" >{{subAnswerDropDown[questions.order-1][sub.order].text}}</div>
                    </div>
									</div>
								</div>

							</div>
						</div>
					</div>

					<!-- options type text checkbox -->
					<div class="checkboxDDsurevy" ng-if="questions.question.type == 'textCheckBox'">
						<div class="checkDDhldr" ng-repeat="option in questions.question.options track by $index | orderBy:'order'">

							<label class="item item-checkbox">
								<div class="checkbox checkbox-input-hidden disable-pointer-events">
									<input type="checkbox" name="{{questions.question.type}}" value="{{option.order}}" ng-model="modelAnswer[option.order].checked" ng-click="optionMultiHandler(questions.order, option)" ng-checked="option.checked">
									<span class="checkmark"></span>
								</div>
								<div class="item-content disable-pointer-events"><span>{{option.text}}</span></div>
							</label>

							<div class="selectBoxWrapper item-floating-label" ng-if="modelAnswer[option.order].checked && option.subType == 'dropDown'">
								<div class="selectBox" ng-click="openSingleSelect(option.subOptions,option.order,'Symptomatic Medications','sub',questions.order)">
									<div class="multiLine" ng-if="!subAnswer[option.order]">
										<div class="upperCase">Please select what<br>you are taking</div>
									</div>
									<div class="floatingSelect" ng-if="subAnswer[option.order]">
                    <span class="input-label font40 upperCase">Please select what you are taking</span>
                  	<div class="singleLine upperCase darkGray" ng-bind-html="subAnswer[option.order].text"></div>
                 	</div>
								</div>
							</div>
						</div>
					</div>

					<!-- options type number radio 0-10-->
					<div ng-if="questions.question.type == 'numberRadio'">
						<div class="numberRadio">
							<!-- <p class="topLabel upperCase lightYellowGreen bold">Very Little Pain</p> -->
							<!-- <p class="topLabel upperCase lightYellowGreen bold">Not At All</p> -->
							<p class="topLabel upperCase lightYellowGreen bold">{{numberTypeUpperText}}</p>
							<label class="item item-radio" ng-repeat="option in questions.question.options | orderBy:'order'">
								<input type="radio" value="{{option.text}}" name="q_{{questions.order}}" ng-click="optionValueHandler(questions.order, option)" ng-model="modelAnswer[questions.order].order">
								<div class="radio-content">
									<div class="item-content disable-pointer-events"><span>{{option.text}}</span></div>
								</div>
								<!-- <p ng-if="$last" class="bottomLabel upperCase red bold">As Bad As It Can Be</p> -->
								<!-- <p ng-if="$last" class="bottomLabel upperCase red bold">Severely</p> -->
								<p ng-if="$last" class="bottomLabel upperCase red bold">{{numberTypeBottomText}}</p>
							</label>
							<!-- <p class="bottomLabel upperCase red bold">Severely</p> -->
						</div>
					</div>

					<!-- options type simple dropdown -->
					<div class="selectBoxWrapper item-floating-label" ng-if="questions.question.type == 'dropdown'">
						<div class="selectBox" ng-click="openSingleSelect(questions.question.options,questions.order,questions.question.dropdownTitle,'main')">
							<div class="singleLine upperCase" ng-if="!answer[questions.order]">Choose One</div>
							<div class="floatingSelect" ng-if="answer[questions.order]">
                <span class="input-label font40 upperCase">Choose One</span>
                <div class="singleLine upperCase darkGray" >{{answer[questions.order].text}}</div>
             	</div>
						</div>
				  </div>

			  	<!-- options type overallAbility -->
				  <div class="conditionHldr item item-input item-borderless" ng-if="questions.question.type == 'overallAbility'">
						<div class="radioButtonGroup abilityContainer">
							<div class="radioButtonWrapper" ng-repeat="option in questions.question.options" ng-click="openOverallAbility(option.description,option.text,option.cssClass,option,questions.order)">
								<input class="radioButton" type="radio" name="overAllAbility" value="{{option.text}}" ng-model="modelAnswer[questions.order].order" required>
								<label class="radioLabel">
									<div class="ablityIcon" ng-class="option.cssClass"></div>
								</label>
								<div class="radioTitle">
									<div class="icon"></div>
									<div class="titleText">
										<div class="txt ng-binding">{{option.text}}</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- options type fourBoxHolder -->
					<div class="fourBoxHldr" ng-if="questions.question.type == 'fourBoxHolder'">
						<i></i>
						<label class="item item-radio" ng-repeat="option in questions.question.options | orderBy:'order'">
							<input type="radio" value="{{option.order}}" name="q_{{questions.order}}" ng-click="optionValueHandler(questions.order, option)" ng-model="modelAnswer[questions.order].order">
							<div class="radio-content">
								<div class="item-content disable-pointer-events"><span>{{option.text}}</span></div>
							</div>
						</label>
					</div>

					<!-- options type threeBoxHolder -->
					<div class="threeBoxHldrTop" ng-if="questions.question.type == 'threeBoxHolder'">
						<div class="threeBoxHldr" ng-repeat="option in questions.question.options | orderBy:'order'">
							<p class="bold classSubOptHead">{{option.text}}</p>
							<label class="item item-radio" ng-repeat="subOption in option.subOptions | orderBy:'order'">
								<input type="radio" value="{{subOption.order}}" name="subq_{{option.order}}" ng-click="subOptionThreeBoxHolder(option.order, option, subOption.order, subOption, questions.order)" ng-model="modelSubQuestAnswer[option.order-1].order">
								<div class="radio-content">
									<div class="item-content disable-pointer-events"><span>{{subOption.text}}</span></div>
								</div>
							</label>
						</div>
					</div>

					<!-- options type yes no condition radio -->
					<!-- <div ng-if="questions.question.type == 'yesNoCondition'">
						<label class="item item-radio" ng-repeat="option in questions.question.options | orderBy:'order'">
							<input type="radio" value="{{option.text}}" ng-checked="getSelectedValue(questions.order, option.order)" name="q_{{questions.order}}" ng-click="optionValueHandler(questions.order, option)" ng-model="modelAnswer[questions.order].order">
							<div class="radio-content">
								<div class="item-content disable-pointer-events"><span>{{option.text}}</span></div>
							</div>
						</label> -->
						<!-- options type yes no condition radio with sub options input text box -->
						<!-- <div ng-repeat="sub in option.subOptions" ng-if="answer.order=='yes' && sub.type=='inputText'">
							<label class="item item-input item-stacked-label item-borderless surveySubItem">
								<span class="input-label">{{sub.text}}</span>
								<input type="text" name="{{sub.name}}" placeholder="{{sub.name}}">
							</label>
					</div>  -->
					
					<p ng-if="questions.question.informativeText">
						<br/>
						<span ng-bind-html="questions.question.informativeText"></span>
					</p>
					</div>
					<button class="button button-block button-orange" ng-show="$last" ng-disabled="submitButtonDisabled" ng-click="submitHandler()">Submit Survey</button>
				</ion-scroll>
			</ion-slide>
		</ion-slide-box>

		<!-- PROGRESS BAR -->
		<div class="progressBarBox">
			<div class="progressBar">
				<div class="fill" style="width:{{fillWidth}}%"></div>
			</div>
			<div class="barFilled" ng-show="progressBarFilled"></div>
		</div>
	</ion-content>
	
	<script id="templates/modal.html" type="text/ng-template">
		<ion-modal-view class="finishedSurvey">
			<ion-content scroll="false">
				<div class="modelBG"></div>
				<div class="customModalContainer">
				<p class="text-center darkPurple font56 kelsonSansBold">Thank you! Your survey
					<br>has been submitted.</p>
					<div class="SurveyBadge kelsonSansBold">+25<span>PTS</span></div>
				<p class="text-center orange bold">You've earned 25 points!</p>
				<div class="height10"></div>
				<p class="text-center">You can review your results on your
					<br>patient dashboard, and compare your
					<br>results with other MS patients.</p>
					<div class="height20"></div>
				<button class="button button-block button-darkPurple" ng-click="closeSurveyCompleteModal()">Home</button>
				</div>
			</ion-content>
		</ion-modal-view>
	</script>
</ion-view>
