<ion-view view-title="Survey Submission Confirmation">
  <ion-nav-bar class="bar-stable">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content scroll="true" has-bouncing="false">
   <h3> Thank you, your survey has been submitted. </h3>
   <br><br>
   <h5> You can review your results on the web portal and compare against other MS patients like you. </h5>
   <br><br>
   <button class="button" ng-click="gotoHome()"> Home  </button>
  </ion-content>
</ion-view>