<div class="forceAppUpdatePop">
	<fig><span></span></fig>
	<p>We have been updating our servers.</p>
	<p>Unfortunately, this version of the app is no longer supported.  Please update to the <span>latest version of MS Care Connect</span> to continue using this service.</p>
	<span class="height5"></span>
	<span class="height5"></span>
</div>
