<ion-view view-title=' <i class="headerIcon"></i> '>
    <ion-nav-bar class="bar-stable">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content overflow-scroll="false">
        <div class="titleBox text-center">
            <p class="darkPurple">Privacy policy</p>
        </div>
        <div class="aboutAfterLog darkGray">
            <div class="termsContent darkGray">                   
                <p class="bold text-center">INTERPRO BIOSCIENCE PRIVACY POLICY</p>

                <p>Please read this Privacy Policy carefully, it is a material part of the contractual agreement between you and InterPRO Bioscience<sup>&trade;</sup>, Inc. which you agreed to as part of our Terms and Conditions by creating an account for use of our App or website (collectively the "Sites"). This Privacy Policy describes the ways we or our venders collect, protect, use, share, and store your personal information. If you do not agree to this Privacy Policy or our Terms and Conditions, do not use the Sites. We take your privacy seriously.</p>

                    <p class="bold ">1. What Information We Collect</p>

                    <p class="bold noMargin"> &nbsp; &nbsp; a. Information You Give Us </p>
                    <p>We respect the right to privacy of all users of the Sites. InterPRO Bioscience<sup>&trade;</sup>, Inc. provides you a number of options regarding what information you give us:  (1) When you register to create an account; (2) When you participate in a communication mechanism, and; (3) When you update the Sites with your personal information relevant to your health or functioning. You may restrict the information provided to the Sites. For example, you may decline to provide us with your personal information. Restricting information will however materially reduce and diminish the value of the Sites to you.<br/>
                    Personally Identifiable Information ("PII")  is any information about an individual that identifies, links, relates, or is unique to, or can be used to distinguish or trace an individual’s identity (such as name, birth date.) All other user personal information such as health information is de-identified, such as Patient Reported Outcomes, symptoms, moods, other demographic, biometric and medical information, etc. Personal information, however, is a broader term that includes other personal information supplied by the user. When you register with InterPRO Bioscience<sup>&trade;</sup>, Inc. you will submit PII about yourself (such as name, gender, birth date, email address) and as you use the Sites, you may submit a variety of personal medical, physical and emotional information which will be de-identified by InterPRO Bioscience<sup>&trade;</sup>, Inc. in collecting data. By using the Sites, you consent to our retaining all the above-described personal information indefinitely.</p>

                    <p class="bold noMargin"> &nbsp; &nbsp; b.  Information We Collect From Other Sources   </p>
                    <p >Other than your PII, we do not collect information that would personally identify you.  The personal information that you submit is shared only with those people in the InterPRO Bioscience<sup>&trade;</sup>, Inc. organization who will utilize the information to improve InterPRO Bioscience<sup>&trade;</sup>, Inc.’s operations. Information submitted through the Sites’ online forms may be collected to ensure technical functionality. It will also be utilized to address any inappropriate use of the Sites. We may use information to improve and personalize the Sites, content, and advertising. We may also do so in order to improve our prediction methodologies and algorithms.<br/>
                    Additionally, in order to provide the best possible service and to allow us to make certain internal reports and make recommendations, we collect aggregate information about the use of the Sites, including information about users accessing the Sites, such as Internet protocol addresses, browser type, browser language, referring / exit pages and URLs, other browser history, platform type, number of clicks, domain names, landing pages, pages viewed and the order of those pages, the amount of time spent on particular pages, and the date and time ("Activity Information"). When you visit the Sites, we store information based on your usage history. This includes, but is not limited to, content viewed, click stream information, and cookies that may uniquely identify your browser or your account. We use various technologies to collect and store information which may include sending one or more cookies or anonymous identifiers to your device. We also use cookies and anonymous identifiers when you interact with the services we may offer to our partners, such as advertising services or InterPRO Bioscience<sup>&trade;</sup>, Inc. features that may appear on other sites and in any other manner that we deem necessary for our business purposes.</p>

                    <p class="bold noMargin">2.  How We Use Your Data</p>
                    <p >WE DON'T SELL OR RENT YOUR PII TO THIRD PARTIES. WE DON'T SHARE YOUR INFORMATION TO SOCIAL NETWORKS OR OTHER PUBLIC OR SEMI-PUBLIC PLACES. We recognize that maintaining the privacy of your PII is important, and for this reason we do not share any of your PII with third parties, with the exception of health care providers who must be pre-approved by the user. However, we will share your de-identified personal information with third parties in an aggregate and anonymous format combined with the de-identified personal information we collect from other users. InterPRO Bioscience<sup>&trade;</sup>, Inc. will also make specific, de-identified personal information available to strategic partners that work with InterPRO Bioscience<sup>&trade;</sup>, Inc. to analyze multiple sclerosis ("MS") data, pharmaceutical use and response, etc. InterPRO Bioscience<sup>&trade;</sup>, Inc. does not guarantee the security of any of your private transmissions against unauthorized or unlawful interception or access by third parties.<br/>InterPRO Bioscience<sup>&trade;</sup>, Inc. may sell de-identified personal information to third-parties for research and information. We share your de-identified personal information with employees, affiliates, vendors, partners and third parties. We do use and provide PII in processing transactions, maintaining your account, responding to court orders and legal investigations, for litigation purposes, complying with audits or other investigations, and reporting to credit bureaus. InterPRO Bioscience<sup>&trade;</sup>, Inc. may access, preserve, and disclose any information we may have about you and the contents of your account if required to do so by law or in a good faith belief that such access, preservation or disclosure is reasonably necessary to avoid liability, to comply with legal process, such as a search warrant, subpoena, statute, or court order, or to protect our rights and property, or that of our affiliates or the public. InterPRO Bioscience<sup>&trade;</sup>, Inc. is not required to question or contest the validity of any search warrant, subpoena or other similar governmental request that it receives. InterPRO Bioscience<sup>&trade;</sup>, Inc. may maintain copies of your content indefinitely, even after you terminate your account.<br/>InterPRO Bioscience<sup>&trade;</sup>, Inc. may share de-identified personal information with companies, insurance companies, health care providers, Medicare, etc., who provide and develop drugs for MS trea<sup>&trade;</sup>ent, approve payment for such trea<sup>&trade;</sup>ent, and render other services, such as information processing and assessing the success of certain MS trea<sup>&trade;</sup>ents. InterPRO Bioscience<sup>&trade;</sup>, Inc. may be compensated by its third-party business partners. We may decide to share de-identified personal information about your transactions and experiences using the Sites to our affiliates for their everyday business purposes. We do not give our partners an independent right to share this information. However, due to our contractual obligations with these third parties and the need to share information to deliver and support the Sites, we cannot provide you with the opportunity to opt-out of sharing de-identified information with these third parties. InterPRO Bioscience<sup>&trade;</sup>, Inc. may view the content that you upload to the Sites in order to provide the Sites and otherwise perform the tasks set forth in this Privacy Policy.<br/>InterPRO Bioscience<sup>&trade;</sup>, Inc. may also perform analyses on information obtained from users of the Sites for scientific research purposes.  Any results obtained from such inquiries to be reported publicly will be done so in only a de-identifiable, aggregated manner in order to maintain user privacy.</p>

                    <p class="bold noMargin">3. Data Retention </p> 
                    <p >We will retain your information for as long as your account is active or as needed to comply with our legal obligations, resolve disputes, and enforce our agreements. You can terminate your account at any time which will remove your profile and other personal information from view. InterPRO Bioscience<sup>&trade;</sup>, Inc., however, may (but is not obligated to) keep de-identified information about you that is on its system following your termination. Contact our Customer Service to terminate your account or for any other questions about your personal information. Notwithstanding the above, you agree that InterPRO Bioscience<sup>&trade;</sup>, Inc. is not, and will not be, liable for any damages in the event that your information is not retained or otherwise lost or destroyed.</p>

                    <p class="bold noMargin">4.  Merger or Transfer of Information</p>
                    <p>Any third party that acquires InterPRO Bioscience<sup>&trade;</sup>, Inc., whether through a sale of stock, sale of assets or statutory merger, will obtain access to both personal de-identified information and PII as part of the overall business transaction.</p>

                    <p class="bold noMargin">5.  Protecting Your Privacy  </p>
                    <p>We use reasonable security measures to protect the confidentiality of both the PII and de-identified personal information under our control and appropriately limit access to it. We use a variety of information security measures to protect your online transactions with us. If you have any questions regarding which measures and techniques we use, feel free to contact us. InterPRO Bioscience<sup>&trade;</sup>, Inc. cannot ensure or warrant the security of any information you transmit to us, and you do so at your own risk. We have taken reasonable steps to ensure the integrity and confidentiality of PII that you may provide. You should understand, however, that electronic transmissions via the Internet are not necessarily secure from interception, and so we cannot absolutely guarantee the security or confidentiality of such transmissions. To further protect your privacy, you may choose to: 1) Update and correct your personal information or; 2) Cancel your account or request that we no longer use your information to provide you services.</p>

                    <p class="bold noMargin">6.  Cookies</p>
                    <p>The Sites send "cookies" to your computer or smartphone when you access them and use such cookies as described here. The Sites use cookies to improve the quality of our service, make recommendations, and make the Sites easier to use for our members. A cookie is a small text file recorded on your hard drive or smartphone that identifies you as a unique user and contains certain information about your particular login session and/or your use of the Sites.</p>

                    <p class="bold noMargin">7.  Links to Other Websites  </p>
                    <p>Our Sites link to other websites, many of which have their own policies regarding cookies and the collection and use of personal information. Be sure to review the privacy policy on the website you're visiting.</p>

                    <p class="bold noMargin">8.  Privacy Policy Updates  </p>
                    <p >We may need to update our Privacy Policy as technology changes and InterPRO Bioscience<sup>&trade;</sup>, Inc. evolves. If we make significant changes to the Privacy Policy, we'll post a prominent message on our Sites. This Privacy Policy was last updated in September, 2016.</p>

                <p class="bold noMargin">9.  Contact Us</p>
                <p class="noMargin">If you have any questions or concerns regarding this Privacy Policy, you should contact us at <a class="darkPurple" ng-click="openContactViaEmailPrivacy()">info@MSCareConnect.com</a> </p>
                <p class="font30">&nbsp;</p>

                <div class="height100 visibleOnIpad"></div>
                <div class="text-center lightPurple privacyPolicyLink">
                    <a ng-click="goToState('app.aboutCareConnect', 'About Us', 'About Us (Privacy Policy)', 'About Us MS Care Connect')" class="lightPurple upperCase">About Us</a> | <a ng-click="goToState('app.tnc', 'Terms and Conditions', 'Terms and Conditions (Privacy Policy)', 'Terms and Conditions')" class="lightPurple upperCase">Terms &amp; Conditions</a>
                </div>
                <p class="font30">&nbsp;</p>
            </div>
        </div>
    </ion-content>
</ion-view>