<ion-view view-title=' <i class="headerIcon"></i> '>
    <ion-nav-bar class="bar-stable">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content overflow-scroll="false">
        <div class="titleBox text-center">
            <p class="darkPurple">Terms and Conditions</p>
        </div>
        <div class="aboutAfterLog darkGray">
            <div class="termsContent darkGray">
                <p class="bold text-center">INTERPRO BIOSCIENCE TERMS AND CONDITIONS</p>
                <p>Welcome to InterPRO Bioscience<sup>&trade;</sup>, Inc., an online information and communications website and App. This policy is intended to cover the uses for the website and the App (collectively the "Sites"), although additional conditions, restrictions and privacy policies may apply. Below are our detailed Terms and Conditions that you must read and accept before using the Sites.</p>
                <p class="bold noMargin">1. Overview</p>
                </a>
                <p>By downloading or otherwise accessing the Sites you agree to be bound by the following Terms and Conditions and our
                    <a ui-sref="app.privacyPolicy" class="lightPurple underline">Privacy Policy</a>. If you do not agree with the Terms and Conditions, you should stop using the Sites immediately. These Terms and Conditions, as amended from time to time, constitute the entire agreement between you and InterPRO Bioscience<sup>&trade;</sup>, Inc. concerning your use of the Sites. InterPRO Bioscience<sup>&trade;</sup>, Inc. reserves the right to update these Terms and Conditions from time to time. If it does so, the updated version will be effective immediately. The current Terms and Conditions are available through a link in the Sites to this page. You are responsible for regularly reviewing these Terms and Conditions so that you are aware of any changes to them and you will be bound by any amendment upon your continued use of the Sites. You must only use the Sites for lawful purposes and you must not infringe the rights of other users of the Sites. The Sites are intended for use only by individuals 18 years of age or older.<br>
                Registration as a user on the Sites results in your consent to have your information stored and processed. You may access your information at any time. Furthermore, registration as a user on the Sites results in the delivery of a user identification code and password. You hereby agree to keep your user identification code, password, and any other pieces of information as part of our registration or security procedures confidential. You must not disclose such information to any third party. We reserve the right to disable any user identification code or password, whether chosen by you or allocated by us, at any time, if in our opinion you have failed to comply with any of the provisions of these Terms and Conditions. If you know or suspect that anyone other than you knows your user identification code or password, you must promptly reset your password. You may retrieve, change or request that we delete the password information you place with us. You will only receive emails that you have agreed to, or those relating to administration purposes. We will not provide your personally identifiable data to any third party for any commercial purposes.</p>
                <p class="bold noMargin">2. Usage Rules</p>
                <p class="noMargin">You agree that your use of and conduct on the Sites shall be lawful and that you will not: </p>
                <ul>
                    <li>Upload or transmit any communications or content of any type that may infringe or violate any rights of any party;</li>
                    <li>Use the Sites for any purpose in violation of local, state, federal or international laws or the rules of conduct posted with respect to any individual feature of the Sites;</li>
                    <li>Create user accounts by automated means or under false pretenses or mislead others as to the origins of your communications;</li>
                    <li>Make improper use of InterPRO Bioscience<sup>&trade;</sup>, Inc.'s support services or submit false reports;</li>
                    <li>Engage in any commercial activities, including using the Sites as a means to distribute advertising or other unsolicited material to any third party;</li>
                    <li>Attempt to disable, "hack" or otherwise interfere with the proper functioning of the Sites;</li>
                    <li>Disseminate or transmit viruses, worms, Trojan horses, RATs, keyboard loggers, time bomb, spyware, adware, or any other malicious or invasive code or program or upload or transmit (or attempt to upload or transmit) any material that acts as a passive or active information collection or transmission mechanism, including, without limitation, clear graphics interchange formats ("gifs"), 1x1 pixels, web bugs, cookies, or other similar devices;</li>
                    <li>Copy or adapt the Site's software including but not limited to Flash, PHP, HTML, JavaScript, or other code;</li>
                    <li>Interfere with or circumvent any security feature of the Sites or any feature that restricts or enforces limitations on the use of or access to the Sites, or;</li>
                    <li>Otherwise violate any of the Terms and Conditions.</li>
                </ul>
                <p></p>
                <p class="bold noMargin">3. Health Care Disclaimer</p>
                <p>The Sites are not a provider of medical advice. Before you take any action that may affect your health or safety, consult with a professional. The contents of the Sites are provided to educate users on Multiple Sclerosis ("MS") health care and medical issues that affect their daily lives. Nothing in the content should be considered, or used as a substitute for, medical advice, diagnosis or treatment, and you should not rely on the content as such. The Sites do not constitute the practice of any medical, nursing or other professional health care advice, diagnosis or treatment. You should always talk to your health care provider for diagnosis and treatment, including medication and your specific medical needs. We are in no way responsible for any decisions you may make resulting from the use of the information including, but in no way limited to, whether or not you choose to seek professional medical care or treatment or whether you continue or cease treatment. Your decision to rely on any information you obtain in connection with your use of the Sites is at your sole discretion and risk. For the avoidance of doubt, the provision in the section below entitled 'Limitations of Liability' shall apply equally in respect of any claim relating to the Sites.</p>
                <p class="bold noMargin">4. Termination of Use</p>
                <p>InterPRO Bioscience<sup>&trade;</sup>, Inc. may, in its sole discretion, terminate your account or your use of the Sites at any time. Furthermore, InterPRO Bioscience<sup>&trade;</sup>, Inc. reserves the right to change, suspend or discontinue all or any aspects of the Sites at any time without prior notice.</p>
                <p class="bold noMargin">5. Your Privacy and the Use of Your Data</p>
                <p>We recognize the importance of protecting the privacy of our users, particularly given the nature of the information collected by the Sites. You should be aware that InterPRO Bioscience<sup>&trade;</sup>, Inc. collects and collates a variety of information regarding the use of the Sites by you, even if you are not connected to the internet or a mobile service. InterPRO Bioscience<sup>&trade;</sup>, Inc. is the sole owner of all such information it collects. Collection and management of such information is governed by our Privacy Policy which is hereby made part of these Terms and Conditions. InterPRO Bioscience<sup>&trade;</sup>, Inc. uses industry-standard security measures to protect the loss, misuse and alteration of the information under our control. Although we make good faith efforts to store the information in a secure operating environment that is not available to the public, we cannot guarantee complete security. We cannot and do not guarantee that our security measures will prevent third party "hackers" from illegally accessing our site and obtaining access to content or information thereon. You should also be aware that we may from time to time disclose or transfer some of the information that you provide through your use of the Sites as more fully described in our Privacy Policy. Please review our Privacy Policy for details; by agreeing to these Terms and Conditions you are also agreeing to our Privacy Policy as if all of such policy were repeated here. If you do not want us to use your data as described in our Privacy Policy, please do NOT use the Sites.</p>
                <p class="bold noMargin">6. Intellectual Property</p>
                <p>All content, design, graphics, compilation, magnetic translation, digital conversion and other matters making up the Sites are protected under applicable copyrights, trademarks and other proprietary rights (including but not limited to intellectual property rights) and owned by InterPRO Bioscience<sup>&trade;</sup>, Inc., Squint Metrics, LLC, or one of InterPRO Bioscience<sup>&trade;</sup>, Inc.’s affiliates. The marks MS Care Connect and the MS Care Connect logo are trademarks and/or service marks of InterPRO Bioscience<sup>&trade;</sup>, Inc. The content and design of the Sites is protected by U.S. and international copyright laws. Use of the Sites does not give you ownership of any intellectual property rights in any of the content, documents or other materials you access. Our posting of information or materials on the Sites does not constitute a waiver of any right in such information and materials. You may not copy, reproduce, republish, upload, post, display, transmit or frame any of these materials without prior written consent from the copyright owners, except that you may view, download, display and print a single copy of these materials on a single computer for personal, noncommercial use only, so long as you do not alter or modify the materials in any way, you include all applicable notices and disclaimers (including copyright notices), and you do not use the materials in a way that suggests an association with InterPRO Bioscience<sup>&trade;</sup>, Inc. You understand and agree that title to these materials shall not pass to you or any other user.</p>
                <p class="bold noMargin upperCase">7. Disclaimers</p>
                <p class="upperCase">You understand and agree that the Sites and any content or information contained on or provided by the Sites is provided on an "as is" basis. InterPRO Bioscience<sup>&trade;</sup>, Inc. does not make any express or implied warranties, representations or endorsements whatsoever (including without limitation warranties of title or noninfringement, or the implied warranties of merchantability or fitness for a particular purpose) with regard to the Sites. In addition, the information contained in the Sites may contain technical inaccuracies or typographical errors. We reserve the right to make changes and improvements to any information contained within the Sites, at any time and without notice. Although we make reasonable efforts to update the information on the Sites, we make no representations, warranties or guarantees, whether express or implied, that the Sites’ content is accurate, complete or up-to-date. We do not endorse any specific drugs, products, processes, service providers, diets, or other information that may be mentioned on our Sites.</p>
                <p class="bold noMargin upperCase">8. Limitations of Liability</p>
                <p class="upperCase">The use of the Sites is entirely at your own risk, and in no event shall InterPRO Bioscience<sup>&trade;</sup>, Inc. ITS Affiliates, employees and agents be liable for any loss of data, direct, indirect, incidental, consequential, special, exemplary, punitive, or any other monetary or other damages, fees, fines, penalties, or liabilities arising out of or relating in any way to the Sites, websites accessed through the Sites, and/or content or information provided herein. Your sole and exclusive remedy for dissatisfaction with the Sites is to stop using the Sites. Some states do not allow the exclusion or limitation of incidental or consequential damages, so the above limitation or exclusion may not apply to you.</p>
                <p class="bold noMargin upperCase">9. Links to Third Party Websites</p>
                <p class="upperCase">The Sites may contain links to other sites operated by third parties, including but not limited to third party sites that may display the InterPRO Bioscience<sup>&trade;</sup>, Inc. trademarks ("Facebook," "____MS Website____"). These links are available for your convenience and are intended only to enable access to these third party sites and for no other purpose. InterPRO Bioscience<sup>&trade;</sup>, Inc. does not warrant or make any representation about the substance, quality, functionality, accuracy, fitness for a particular purpose, merchantability or any other representation about any third party site or its content. A link to a third party site on the Sites does not constitute sponsorship, endorsement, approval or responsibility for any third party site. InterPRO Bioscience<sup>&trade;</sup>, Inc. makes no representation or warranty as to any products or services offered on any third party site. The conditions of use and privacy policy of any third party site may differ substantially from the conditions of use and legal notices that apply to your use of the Sites. Please review the conditions of use for all third party sites for more information about the terms and conditions that apply to your use of third party sites.</p>
                <p class="bold noMargin">10. Governing Law and Venue</p>
                <p>The Terms and Conditions shall be governed by, and construed in accordance with the laws of the State of Utah, without regard to any conflict of law principles. The state courts located in Salt Lake County, Utah, and federal courts located in Salt Lake City, Utah shall have exclusive jurisdiction to adjudicate any dispute arising out of or relating to these Terms and Conditions. Each party hereby consents to the exclusive jurisdiction of such courts and waives any right to jury trial in connection with any action or litigation in any way arising out of or related to the Terms and Conditions.</p>
                <p class="bold noMargin">11. Severability, Enforcement</p>
                <p>If any provision of these Terms and Conditions is held by a tribunal of competent jurisdiction to be illegal, invalid, or otherwise unenforceable in any jurisdiction, then to the fullest extent permitted by law (i) the same shall not affect the other provisions of these Terms and Conditions, (ii) such provision shall be deemed modified to the extent necessary in the tribunal’s opinion to render such provision enforceable, and the rights and obligations of the parties shall be construed and enforced accordingly, preserving to the fullest extent the intent of the parties as set forth herein, and (iii) such finding of invalidity, illegality, or unenforceability shall not affect the validity, legality, or enforceability of such provision in any other jurisdiction. Notwithstanding the foregoing, the disclaimers of warranties and the limitations of liability in Sections 7 and 8 are considered by the parties to be integral to the Terms and Conditions and shall not be modified or severed from the Terms and Conditions.</p>
                <p class="bold noMargin">12. Contact Us</p>
                <p class="">If you have any questions or comments, or would like to discuss your subscription with our Customer Support staff, please contact us via the following information: </p>
                <p class="noMargin"><a class="darkPurple" ng-click="openContactViaEmailTnc()">info@MSCareConnect.com</a></p>
                <p class="font30">&nbsp;</p>
                <div class="height20"></div>
                <div class="text-center lightPurple privacyPolicyLink">
                    <a ng-click="goToState('app.aboutCareConnect', 'About Us', 'About Us (Terms and Conditions)', 'About Us MS Care Connect')" class="lightPurple upperCase">About Us</a> | <a ng-click="goToState('app.privacyPolicy', 'Privacy Policy', 'Privacy Policy (Terms and Conditions)', 'Privacy Policy')" class="lightPurple upperCase">Privacy Policy</a>
                </div>
                <div class="height30"></div>
            </div>
        </div>
    </ion-content>
</ion-view>