<div class="appUpdatePop">	
	<a class="popClose" ng-click="appConflictPopup.close()" ng-show="homeScreenCount.forceUpdate == false"><span></span><span></span></a>
	<i class="icon"></i>
	<span class="height5"></span>
	<span class="height5"></span>
</div>