<ion-view view-title=' <i class="headerIcon"></i> '>
    <ion-nav-bar class="bar-stable">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content overflow-scroll="false">
      <div class="titleBox text-center">
            <p class="darkPurple">About MS Care Connect</p>
        </div>
        <div class="aboutAfterLog darkGray"> 
            <p>MS Care Connect is the first mobile app to capture MS validated patient reported outcomes and deliver them directly to your healthcare provider. This unique feature enables you and your healthcare team to maintain access to valuable, disease-related information, in order to enhance conversations at your appointments and help you better monitor your condition. All the information is conveniently gathered through the Health Tracker entries and patient surveys.</p>
            <p>MS Care Connect also provides a variety of other features that help you stay informed and monitor your disease. Informative tips are available to boost your knowledge of MS. Performance metrics are a fun way to help you monitor your disease course. Reports are logged over time, enabling you to compare your current health status with past entries. The heat alert feature gives notice of days when the weather can possibly increase the severity of your symptoms. And the education hub is a reliable source of MS-related advice and materials, including ongoing clinical trials near you.</p>
            <div class="height100"></div>
            <div class="height50"></div>
            <div class="height100 visibleOnIpad"></div>
            <div class="text-center lightPurple privacyPolicyLink">
                <a class="lightPurple upperCase" ng-click="goToState('app.privacyPolicy', 'Privacy Policy', 'Privacy Policy (About Us MS Care Connect)', 'Privacy Policy')">Privacy Policy</a> | <a ng-click="goToState('app.tnc', 'Terms and Conditions', 'Terms and Conditions (About Us MS Care Connect)', 'Terms and Conditions')" class="lightPurple upperCase">Terms &amp; Conditions</a>
            </div>
        </div>
    </ion-content>
</ion-view>