<ion-view view-title=' <i class="headerIcon"></i> '>
    <ion-nav-bar class="bar-stable">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="titleBox text-center">
            <p class="darkPurple">Heat Alerts</p>
        </div>
        <div class="heatHldr">

            <div class="locationHldr">
                <a ng-click="getLocation()"><i></i> UPDATE LOCATION</a>
                <p><span ng-show="heatSence.city!=''">{{heatSence.city}} </span> <span ng-show="heatSence.state!=''">,{{heatSence.state}}</span><span ng-show="heatSence.city==''">-</span></p>
            </div>

            <table class="tempHldr" ng-if="heatSence.active">
                <tbody>
                    <tr>
                        <td colspan="2" class="top">
                          <div class="alert"></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="left">
                          <p>Today's <span>High</span>:</p>
                          <span class="ubuntuBold">{{heatSence.temperatureMax | number:0}} °F</span>
                        </td>
                        <td class="right">
                            <p>Feels like:</p>
                            <span>{{heatSence.apparentTemperatureMax | number:0}} °F</span>
                            <p>Humidity:<p>
                            <span>{{heatSence.humidity * 100 | number:0 }} %</span>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="tempHldr" ng-if="!heatSence.active">
                <tbody>
                    <tr>
                        <td colspan="2" class="top">
                          <div class="alert"></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="left">
                          <p>Today's <span>High</span>:</p>
                          <span class="ubuntuBold">XX °F</span>
                        </td>
                        <td class="right">
                            <p>Feels like:</p>
                            <span>XX °F</span>
                            <p>Humidity:<p>
                            <span>XX %</span>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="setAlertDD">
              <p class="upperCase">Current Temperature Alert set to:</p>
              <div class="selectBoxWrapper stateSelect item-floating-label">
                  <div class="selectBox" ng-click="openSingleSelect(temperatureOptions,'temperature','heatAlerts','Temperature in (F)')">
                      <div class="singleLine" ng-if="!heatAlerts.maxTemperature">
                          <div class="upperCase darkPurple">
                              No Alert Set
                          </div>
                      </div>
                      <div class="floatingSelect" ng-if="heatAlerts.maxTemperature">
                        <!-- <span class="input-label font40">Set Alert</span> -->
                        <div class="singleLine darkPurple upperCase">
                          {{heatAlerts.maxTemperature.text}} °F
                        </div>
                      </div>
                  </div>
              </div>
            </div>
            <div class="height50"></div>
            <div class="height50"></div>
            <p class="heatCounter text-center upperCase" ng-if="heatNotificationNumber==1"><span class="darkPurple">1</span> alert this week</p>
            <p class="heatCounter text-center upperCase" ng-if="heatNotificationNumber!=1"><span class="darkPurple">{{heatNotificationNumber}}</span> alerts this week</p>
        </div>
        <!--   <p>
    <span ng-show="heatSence.city!=''">{{heatSence.city}} </span> <span ng-show="heatSence.state!=''">,{{heatSence.state}}</span>
  </p>



  <p ng-if="heatSence.active">
    Today's High: {{heatSence.temperatureMax | number:0}}F<br/>
    Feel like: {{heatSence.apparentTemperatureMax | number:0}}F<br/>
    Humidity: {{heatSence.humidity * 100 | number:0 }}%<br/>
  </p>
  <p ng-if="!heatSence.active">
    Today's High: XX<br/>
    Feel like: XX<br/>
    Humidity: XX<br/>
  </p> -->
    </ion-content>
</ion-view>
