<ion-scroll overflow-scroll="false" delegate-handle="scrollPopup">
	<div class="multiSelectPopupBody">
		<ul>
			<li class="item item-checkbox item-borderless" ng-repeat="options in optionMultiSelect">
				<p class="checkBoxCategoryTitle bold" ng-if="options.title">{{options.text}}</p>
				<label class="checkbox" ng-if="!options.title">
					<input type="checkbox" name="selectedOption[]" ng-model="options.checked" value="{{options.id}}" ng-checked="options.checked" ng-click="toggleSelection(options,typeMultiSelect,'multi')">
					<span class="checkBoxName" ng-bind-html="options.text">
						<!-- {{options.text}} -->
					</span>
				</label>
		  </li>
		</ul>
	</div>
</ion-scroll>