<ion-scroll overflow-scroll="false" delegate-handle="scrollPopup">
  <div class="singleSelectPopupBody">
  	<ul>
  		<li class="item item-radio item-borderless" ng-repeat="options in optionSingleSelect">
        <label ng-class="options.checked ? 'scrollToThis':''">
         	<input type="radio" name="selectedOption[]" value="{{options}}" ng-checked="((singleSelection && singleSelection.id)?singleSelection.id== options.id : (singleSelection && singleSelection.order)?singleSelection.order == options.order:options.checked == true)" ng-click="toggleSelection(options,typeSingleSelect,'single')">
          <div class="radio-content">
            <div class="item-content" ng-bind-html="options.text">
              <!-- {{options.text}} -->
            </div>
            <i class="radio-icon "></i>
          </div>
        </label>
      </li>
  	</ul>
  </div>
</ion-scroll>