<ion-modal-view class="userProfileEntry">
	<ion-content scroll="false">
		<a class="popClose" ng-click="closeAccountAccessPopup()"></a>
		<div class="height30"></div><div class="height30"></div>
		<p class="text-center">For security purposes, please enter your password.</p>
		<div class="height20"></div>
		<div class="upeForm">
			<span class="errorMsg" ng-if="showPasswordRequired">Please enter your password.</span>
			<span class="errorMsg" ng-if="showPasswordWorng">Sorry, password is not recognized. Please try again.</span>
			<label class="item item-input item-borderless no-padding item-floating-label">
				<span class="input-label font40 upperCase">PASSWORD</span>
				<input name="password" ng-model="accountAccess.password" placeholder="PASSWORD" required="" type="password" ng-change="hideAccountAccessPopupValidation()" ng-class="{'error':showPasswordRequired || showPasswordWorng }"/>  <!-- ng-pattern="/^(?=[A-Za-z0-9!@#$%^&]{8,}$)(?=.\d)(?=.[A-Z]).$/" -->
				<span class="iconRequired">*</span>
      		</label>
    	</div>
    	<div class="height20"></div>
    	<div class="text-center">
              <a class="underline text-center darkPurple upperCase forgotPasswrd" ng-click="callForgetPassword()">Forgot Password</a>
            </div>
    <div class="height20"></div>
    <button ng-click="closeAccountAccessPopup()" class="button button-block button-outline button-darkPurple skip">Cancel</button>
    <button ng-click="checkAccountAccessPopup()" class="button  button-block button-darkPurple">Submit</button>
	</ion-content>
</ion-modal-view>