<style type="text/css">
  .holder svg {padding: 0px !important; margin: 0 0 0 2.6vw;}
</style>
<div on-swipe-right="goBackHeathTracker()">
    <!-- <div class="trackerHeading text-center">
        <div class="font56">General Well-being</div>
        <div class="height5"></div>
        <div class="font40"></div>
    </div> -->  
    <div class="titleBox text-center">
              <p class="darkPurple">General Well-being</p>
          </div>
    <!-- <div class="height30"></div> -->
    <div class="list trackerList">
        <div class="trackerContent">
            <div class="item generalWellBeingItem holder">
                <div class="height10"></div>
                <div class="height5"></div>
                <div class="darkPurple font4p18vw">How is your energy today?</div>
                <div class="height5"></div>
                <div class="wellBeingKnobArea">
                    <ui-knob value="value" options="options" callonchange="Changefx(0,value)" on-hold="holdKnob()" on-release="releaseKnob()" on-tap="tabKnob()" on-drag="tabKnob()"></ui-knob>
                    <div class="energyIcon">
                        <div class="icon" ng-class="testResult[0]">  </div>  <!-- {{testResult[0]}} -->   
                    </div>
                    <div class="energyLeft">
                        <div class="icon">  </div>  
                    </div>
                    <div class="energyRight">
                        <div class="icon">  </div>    
                    </div>
                </div>
            </div>
            <div class="item generalWellBeingItem holder">
                <div class="height10"></div>
                <div class="height5"></div>
                <div class="darkPurple font4p18vw">How are you feeling today?</div>
                <div class="height5"></div>
                <div class="wellBeingKnobArea">
                    <ui-knob value="value1" options="options1" callonchange="Changefx(1,value)" on-hold="holdKnob()" on-release="releaseKnob()" on-tap="tabKnob()" on-drag="tabKnob()"></ui-knob>
                    <div class="feelIcon" >
                        <div class="icon" ng-class="testResult[1]">  </div>  <!-- {{testResult[1]}} -->                      
                    </div>
                    <div class="feelLeft">
                        <div class="icon">  </div>  
                    </div>
                    <div class="feelRight">
                        <div class="icon">  </div>    
                    </div>
                </div>
            </div>
            <div class="trackerDisable" ng-if="healthTrackerReadOnly"></div>
        </div>

        <div class="twoButtons text-center">
            <div class="height30"></div>
            <div class="height10"></div>
            <div class="leftButton">
                <a class="button button-block button-outline button-darkPurple" ng-click="goBackHeathTracker()">Back</a>
            </div>
            <div class="rightButton">
                <a class="button button-block button-orange" ng-click="submit()" ng-disabled="!isDirty || healthTrackerReadOnly">Continue</a>
            </div>
            <div class="height20"></div>
        </div>
    </div>
</div>