<ion-view view-title='<i class="headerIcon"></i>'>
  <ion-nav-bar class="bar-stable">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" ng-click="showPopOnExitTracker()">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content has-bouncing="false" overflow-scroll="false" delegate-handle="healthTrackerLanding">
  <div class="trackerCalenderBlock  text-center">
      <span class="trackerDate">{{trackerDate.entryDateFormat}}</span>
      <img class="trackerCalender" src="img/calender.png" />
      <div class="trackerCalenderInput">
        <input type="date" ng-model="trackerDate.entryDate" max="{{trackerDate.max}}" ng-change="healthTestDateChange()"  ng-disabled = "!trackerDate.enable">
      </div>
  </div>
  
   <!-- <div class="tapHere" ng-click="replaceTrackingOnHealthTracker()" ng-class="relapseTrack.startRelapse ? 'relapse':''"> 
      <i></i>
      <span ng-show="!relapseTrack.startRelapse"><b>Tap here</b> if you think you are experiencing a relapse</span>
      <span ng-show="relapseTrack.startRelapse">This is day {{replaceDays}} of your relapse <b>| Suspend relapse tracking?</b></span>
    </div> -->

    <ui-view name="healthtracker"> 
      <div>  
          <!-- <div class="trackerHeading text-center">Health Tracker</div> -->
          <div class="titleBox text-center">
              <p class="darkPurple">Health Tracker</p>
          </div>
          <div class="list trackerList">
              <a class="item item-icon-left" ng-click="goToState('app.healthTrackerLandingPage.generalWellbeing','Health Tracker','General Well Being Screen','General Well Being')">
                <i class="icon trackerGeneralWellBeing"></i>
                General Well-being
                <i class="icon trackerRightArrow" ng-class="healthTracker.generalWellBeing!=undefined ? 'trackerActive':''"></i>
              </a>

              <a class="item item-icon-left item-icon-right" ng-click="goToState('app.healthTrackerLandingPage.physicalSymptoms','Health Tracker','Physical Symptoms Screen Screen','Physical Symptoms')">
                <i class="icon trackerPhysicalSymptom"></i>
                Physical Symptoms
                <i class="icon trackerRightArrow" ng-class="healthTracker.physicalSymptoms!=undefined ? 'trackerActive':''"></i>
              </a>

              <a class="item item-icon-left" ng-click="goToState('app.healthTrackerLandingPage.mindMatters','Health Tracker','Mind Matters Screen Screen','Mind Matters')">
                <i class="icon trackerMindMatter"></i>
                Mind Matters
                <i class="icon trackerRightArrow" ng-class="healthTracker.mindMatters!=undefined ? 'trackerActive':''"></i>
              </a>

              <a class="item item-icon-left item-icon-right" ng-click="goToState('app.healthTrackerLandingPage.dailyLifeSymptoms','Health Tracker','Daily Life Symptoms Screen','Daily Life Symptoms')">
                <i class="icon trackerLifeSymptom"></i>
                 Daily Life Symptoms
                <i class="icon trackerRightArrow" ng-class="healthTracker.dailyLifeSymptoms!=undefined ? 'trackerActive':''"></i>
              </a>
          </div>

          <div class="withinRelapse text-center" ng-show="(healthTracker.mindMatters!=undefined || healthTracker.dailyLifeSymptoms!=undefined
              || healthTracker.physicalSymptoms!=undefined || healthTracker.generalWellBeing!=undefined) && (relapseHealthTracker!='')">
                This entry is within a relapse event.
          </div>
          <div class="height25"></div>
          <p class="trckrLndingTxt notVisibleOnIpad">Note: You do not have to report a symptom in every<br/>category in order to submit the Health Tracker<br/>report. Please only mark what you are experiencing.</p>
          <p class="trckrLndingTxt visibleOnIpad">Note: You do not have to report a symptom in every category in order to submit the Health Tracker report. Please only mark what you are experiencing.</p>
          <div class="bottomButton">
              <div class="height50"></div>
              
              <button class="button button-block button-orange" ng-disabled="!(healthTracker.mindMatters!=undefined || healthTracker.dailyLifeSymptoms!=undefined|| healthTracker.physicalSymptoms!=undefined || healthTracker.generalWellBeing!=undefined)" ng-click="submitHandler()">{{healthTackerSubmitBtn}}</button>   <!-- ng-disabled="!activeFinalSubmit"-->
              <div class="height10"></div>
          </div>
      </div>
    </ui-view>               
    <!-- Screen 1 -->
    <!-- <div class="trackerCalenderBlock  text-center">
        <span class="trackerDate">Tuesday, may3, 2016</span>
        <img class="trackerCalender" src="img/calender.png" />
    </div>
    <div>
        <div class="tapHere">
            <i></i>
            <span><b>Tap here</b> if you think you are experiencing a relapse</span>
        </div>
        <div class="trackerHeading text-center">Health Tracker</div>
        <div class="list trackerList">
            <a class="item item-icon-left" href="#">
              <i class="icon trackerGeneralWellBeing"></i>
              General Well-being
              <i class="icon trackerRightArrow"></i>
            </a>

            <a class="item item-icon-left item-icon-right" href="#">
              <i class="icon trackerPhysicalSymptom"></i>
              Physical Symptoms
              <i class="icon trackerRightArrow"></i>
            </a>

            <a class="item item-icon-left" href="#">
              <i class="icon trackerMindMatter"></i>
              Mind Matters
              <i class="icon trackerRightArrow"></i>
            </a>

            <a class="item item-icon-left item-icon-right" href="#">
              <i class="icon trackerLifeSymptom"></i>
                Daily Life Symptoms
              <i class="icon trackerRightArrow"></i>
            </a>
        </div>
        
        <div class="bottomButton">
            <div class="height50"></div>
            <div class="height25"></div>
            <button class="button button-block button-orange" ng-disabled="disabled" ng-click="submitHandler()">Submit Report</button>    
            <div class="height10"></div>
        </div>
    </div> -->

    <!-- Screen 2 -->
        <!-- <div>
            <div class="tapHere relapseDayBlock">
                <i></i>
                <span>This is day 3 of your relapse</span> | <b class="bold">Suspend relapse tracking?</b> 
            </div>
            <div class="trackerHeading text-center">Health Tracker</div>
            <div class="list trackerList">
                <a class="item item-icon-left" href="#">
                  <i class="icon trackerGeneralWellBeing"></i>
                  General Well-being
                  <i class="icon trackerRightArrow"></i>
                </a>

                <a class="item item-icon-left item-icon-right" href="#">
                  <i class="icon trackerPhysicalSymptom"></i>
                  Physical Symptoms
                  <i class="icon trackerRightArrow trackerActive"></i>
                </a>

                <a class="item item-icon-left" href="#">
                  <i class="icon trackerMindMatter"></i>
                  Mind Matters
                  <i class="icon trackerRightArrow"></i>
                </a>

                <a class="item item-icon-left item-icon-right" href="#">
                  <i class="icon trackerLifeSymptom"></i>
                    Daily Life Symptoms
                  <i class="icon trackerRightArrow"></i>
                </a>
            </div>
            <div class="withinRelapse text-center">
                This entry is within a relapse event.
            </div>
            
            <div class="bottomButton">
                <div class="height50"></div>
                <button class="button button-block button-orange" ng-disabled="disabled" ng-click="submitHandler()">Submit Report</button>   
                <div class="height10"></div> 
            </div>
        </div> -->

        <!-- Screen 3 -->
        <!-- <div class="trackerCalenderBlock  text-center">
            <span class="trackerDate">Tuesday, may3, 2016</span>
            <img class="trackerCalender" src="img/calender.png" />
        </div>
        <div>
            <div class="tapHere">
                <i></i>
                <span><b>Tap here</b> if you think you are experiencing a relapse</span>
            </div>
            <div class="trackerHeading text-center">General Well-being</div>
            <div class="list trackerList">
                <div class="item generalWellBeingItem">
                    <div class="height10"></div>
                    <div class="font40 bold upperCase darkPurple">How is your energy today? </div>
                    <div class="height10"></div>
                    <div class="generalWellBeingEnergy one">
                        <i class="icon"></i>
                        <div class="bottomIcon"></div>
                    </div>
                    <div class="height10"></div>
                    <div class="height5"></div>
                </div>
                <div class="item generalWellBeingItem">
                    <div class="height10"></div>
                    <div class="font40 bold upperCase darkPurple">How are you feeling today? </div>
                    <div class="height10"></div>
                    <div class="generalWellBeingFeeling one">
                        <i class="icon"></i>
                        <div class="bottomIcon"></div>
                    </div>
                    <div class="height10"></div>
                    <div class="height10"></div>
                    <div class="height5"></div>
                </div>    
            </div>
          
            <div class="bottomButton">
                <div class="height50"></div>
                <div class="height25"></div>
                <button class="button button-block button-orange" ng-disabled="disabled" ng-click="submitHandler()">Submit Report</button>    
                <div class="height10"></div>
            </div>
        </div> -->


        <!-- Screen 5 -->
               <!-- <div>
                   <div class="tapHere">
                       <i></i>
                       <span><b>Tap here</b> if you think you are experiencing a relapse</span>
                   </div>
                   <div class="trackerHeading text-center">Physical Symptoms <span>Choose a symptom you are experiencing today: </span></div>
                   <div class="list trackerList trackerSignleList">
                       <a class="item item-icon-left" href="#">
                         
                         General Well-being
                         <i class="icon trackerRightArrow"></i>
                       </a>

                       <a class="item item-icon-left" href="#">
                         Physical Symptoms
                         <i class="icon trackerRightArrow"></i>
                       </a>

                       <a class="item item-icon-left" href="#">
                         Mind Matters
                         <i class="icon trackerRightArrow"></i>
                       </a>

                       <a class="item item-icon-left" href="#">
                           Daily Life Symptoms
                         <i class="icon trackerRightArrow"></i>
                       </a>
                   </div>
                   <div class="bottomButton">
                       <div class="height50"></div>
                       <button class="button button-block button-darkPurple" ng-disabled="disabled" ng-click="submitHandler()">Submit Report</button>    
                   </div>
               </div> -->

        <!-- Screen 8 -->
        <!-- <div class="trackerCalenderBlock  text-center">
            <span class="trackerDate">Tuesday, may3, 2016</span>
            <img class="trackerCalender" src="img/calender.png" />
        </div>
        <div>
            <div class="tapHere">
                <i></i>
                <span><b>Tap here</b> if you think you are experiencing a relapse</span>
            </div>
            <div class="trackerHeading text-center">
                <div class="font56">Mind Matters</div>
                <div class="height5"></div>
                <div class="font40"> Indicate each you are experiencing today, and their severity. </div>
            </div>
            <div class="list trackerList">
                <div class="item multiSelectRow">
                    <div class="rowLabel">Abnormal Stress</div>
                    <div class="multiSelectContainer">
                        <div class="valueLabel flexBox">
                            <div class="flexBoxcontent">
                                <div class="upperCase font36 darkPurple">MILD &nbsp; &nbsp; &nbsp; </div>
                                <div class="upperCase font36 darkPurple"> MODERATE</div>
                                <div class="upperCase font36 darkPurple">SEVERE</div>
                            </div>                            
                        </div>
                        <div class="multiSelectValue flexBox">
                            <div class="flexBoxcontent">
                                <div class="selectionBox active"></div>
                                <div class="selectionBox active"></div>
                                <div class="selectionBox"></div>
                                <div class="selectionBox"></div>
                                <div class="selectionBox"></div>
                            </div>                        
                        </div>
                    </div>                    
                </div>
                <div class="item multiSelectRow">
                    <div class="rowLabel">Cognitive problems (thinking/memory/ attention) </div>
                    <div class="multiSelectContainer">
                        <div class="valueLabel flexBox">
                            <div class="flexBoxcontent">
                                <div class="upperCase font36 darkPurple">MILD &nbsp; &nbsp; &nbsp; </div>
                                <div class="upperCase font36 darkPurple"> MODERATE</div>
                                <div class="upperCase font36 darkPurple">SEVERE</div>
                            </div>                            
                        </div>
                        <div class="multiSelectValue flexBox">
                            <div class="flexBoxcontent">
                                <div class="selectionBox active"></div>
                                <div class="selectionBox active"></div>
                                <div class="selectionBox"></div>
                                <div class="selectionBox"></div>
                                <div class="selectionBox"></div>
                            </div>                            
                        </div>
                    </div>                    
                </div>              
            </div>
          
            <div class="twoButtons text-center">
                <div class="height30"></div>
                <div class="leftButton">
                    <a class="button button-block button-outline button-darkPurple" >Back</a>
                </div>
                <div class="rightButton">
                    <a class="button button-block button-orange" >Continue</a>
                </div>
                <div class="height30"></div>
            </div>
        </div> -->
      
  </ion-content>
</ion-view>
