<div on-swipe-right="goBackHeathTracker()">
    <!-- <div class="trackerHeading text-center">
        <div>Mind Matters</div>
        <div class="height5"></div>
        <div class="ubuntuRegular smallHead">Are you experiencing one or more of these<br/>today? If yes, please indicate the serverity.</div>
        <div class="ubuntuRegular smallHead">If no, please leave that row blank.</div>
    </div> -->
    <div class="titleBox text-center">
        <p class="darkPurple">Mind Matters
        <span class="smallHead">Are you experiencing one or more of these<br/>today? If yes, please indicate the severity.<br/><br/>If no, please leave that row blank.</span>
        </p>
    </div>
    <div class="list trackerList">
        <div class="trackerContent">
            <div class="item multiSelectRow" ng-repeat="item in questions track by $index">
                <div class="rowLabel">{{item.text}}</div>
                <div class="multiSelectContainer">
                    <div class="valueLabel flexBox">
                        <div class="flexBoxcontent">
                            <div class="upperCase darkPurple">MILD &nbsp; &nbsp; &nbsp; </div>
                            <div class="upperCase darkPurple"> MODERATE</div>
                            <div class="upperCase darkPurple">SEVERE</div>
                        </div>                            
                    </div>
                    <div class="multiSelectValue flexBox">
                        <div class="flexBoxcontent">
                            <div class="selectionBox" ng-repeat="i in [1,2,3,4,5] track by i" ng-click="setMindMattersValue(item,i)"
                            ng-class="item.value >= i ? 'active':''"></div>
                        </div>                        
                    </div>
                </div>                    
            </div>
            <div class="trackerDisable" ng-if="healthTrackerReadOnly"></div>
        </div>                
    </div>
  
    <div class="twoButtons text-center">
        <div class="height30"></div>
        <div class="height30"></div>
        <div class="leftButton">
            <a class="button button-block button-outline button-darkPurple" ng-click="goBackHeathTracker()">Back</a>
        </div>
        <div class="rightButton">
            <a class="button button-block button-orange" ng-click="submit()" ng-disabled="!isDirty || healthTrackerReadOnly">Continue</a>
        </div>
        <div class="height30"></div>
    </div>
</div>