<div on-swipe-right="goBackHeathTracker()">
   <div ng-show="!selectIssue">     
     <!-- <div class="trackerHeading text-center">
          <div>Physical Symptoms</div>
          <div class="height5"></div>
          <div class="ubuntuRegular smallHead">Are you experiencing one or more of<br/>these symptoms today?</div>
      </div> -->
      <div class="titleBox text-center">
          <p class="darkPurple">Physical Symptoms<br>
          <span class="smallHead">Are you experiencing one or more of<br/>these symptoms today?</p>
      </div>
     <div class="list trackerList trackerSignleList">
         <a class="item item-icon-left" ng-repeat="item in questions" ng-click="locateIssue(item,$index)">{{item.text}}
           <i class="icon trackerRightArrow" ng-class="item.filled!=undefined ? 'trackerActive':''"></i>
         </a>
     </div>
     <div class="bottomButton">
         <div class="height50"></div>
         <div class="height50"></div>
         <button class="button button-block button-darkPurple" ng-disabled="disabled" ng-click="gotoHeathTracker()" ng-if="!filledAny">Back</button>  
         <button class="button button-block button-darkPurple" ng-disabled="disabled" ng-click="gotoHeathTracker()" ng-if="filledAny">Continue</button>  
     </div>
   </div>
   <div ng-show=selectIssue>
    <div>
      <!-- <div class="trackerHeading text-center">
          <div>Localized Physical Symptoms</div>
          <div class="height5"></div>
          <div class="ubuntuRegular smallHead">Tap on the body area where you are <br/> experiencing <span class="bold">{{symptom.text}}</span>. </div>
      </div> -->

      <div class="titleBox text-center">
          <p class="darkPurple">Localized Physical Symptoms<br>
          <span class="smallHead">Tap on the body area where you are<br/>experiencing <span class="bold">{{symptom.text}}</span></p>
      </div>


      <div class="list trackerList">
        <div class="item item-borderless item-border-top">
          <div class="physicalSymptomsArea">
            <div class="leftLabel">Left</div>
            <div class="rytLabel">Right</div>

            <div class="tapClick head" ng-click="symptomStrength(0)" ng-class="symptom.parts[0].value!=0?'active':''" title="symptom.parts[0].text" ng-show="isHead"><!-- {{symptom.parts[0].text}} --></div>
            <div class="tapClick rightArm" ng-click="symptomStrength(2)" ng-class="symptom.parts[2].value!=0?'active':''" title="symptom.parts[1].text"><!-- {{symptom.parts[1].text}} --></div>
            <div class="tapClick leftArm" ng-click="symptomStrength(1)" ng-class="symptom.parts[1].value!=0?'active':''" title="symptom.parts[2].text"><!-- {{symptom.parts[2].text}} --></div>
            <div class="tapClick torso" ng-click="symptomStrength(3)" ng-class="symptom.parts[3].value!=0?'active':''" title="symptom.parts[3].text"><!-- {{symptom.parts[3].text}} --></div>
            <div class="tapClick rightLeg" ng-click="symptomStrength(5)" ng-class="symptom.parts[5].value!=0?'active':''" title="symptom.parts[4].text"><!-- {{symptom.parts[4].text}} --></div>
            <div class="tapClick leftLeg" ng-click="symptomStrength(4)" ng-class="symptom.parts[4].value!=0?'active':''" title="symptom.parts[5].text"><!-- {{symptom.parts[5].text}} --></div>
          </div>
        </div>
      </div>

      <div class="physicalSymptomsPopup" ng-show="isServerity">
          <a class="popClose" ng-click="closeServerityPopup()"><span></span><span></span></a>
          <div class="height25"></div>
          <div class="symptomsPopupTitle upperCase text-center bold darkPurple">{{parts.text}}</div>
          <div class="height5"></div>          
          <div class="headacheType" ng-if="parts.partId==1">
            <div class="text-center subPain">Are you experiencing:</div>
            <div class="height10"></div>
            <div class="flexBox">
              <div class="flexBoxcontent">
                <div class="headacheTypeBlock" ng-click="headProblem(0)" ng-class="headPain[0]==true?'active':''">Headache</div>
                <div class="headacheTypeBlock" ng-click="headProblem(1)" ng-class="headPain[1]==true?'active':''">Eye Pain</div>
                <div class="headacheTypeBlock" ng-click="headProblem(2)" ng-class="headPain[2]==true?'active':''">Facial Pain</div>
              </div>
            </div>
            <div class="height25"></div>           
          </div>
           <div class="checkBoxArea" ng-if="(symptom.id == 3 || symptom.id == 4) && parts.partId!=1">
            <div class="height20"></div>
            <div class="item item-checkbox item-borderless">
              <label class="checkbox">
                <input type="checkbox" name="leanNeck" ng-model="neck.check" ng-change="neckPain()">
              </label>
               <span class="notVisibleOnIpad">These symptoms occur when I lean <br/>my neck forward.</span>
               <span class="visibleOnIpad">These symptoms occur when I lean my neck forward.</span>
            </div>
          </div>
          <div class="selectPainArea">
            <div class="text-center subPain" ng-if="symptom.name!='muscleSpasms'">How severe is your <span class="bold">{{symptom.text}}?</span></div>
            <div class="text-center subPain" ng-if="symptom.name=='muscleSpasms'">How severe are your <span class="bold">{{symptom.text}}?</span></div>
            <div class="height10"></div>
            <div class="flexBox">
              <div class="flexBoxcontent">
                <div class="numberBlock font60" ng-repeat="i in [1,2,3,4,5] track by i" ng-click="setPainValue(i)" ng-class="parts.value == i ? 'active':''">{{i}}</div>
              </div>
            </div>
            <div class="height5"></div>
            <div class="flexBox">
              <div class="flexBoxcontent">
                <div class="upperCase darkPurple">Mild</div>
                <div class="upperCase darkPurple">Severe</div>
              </div>
            </div>
          </div>       
         
          <div class="height10"></div>
          <div class="trackerDisable" ng-if="healthTrackerReadOnly"></div>
      </div>
    </div>
    <div class="twoButtons text-center">
        <div class="height30"></div>
        <div class="leftButton">
            <a class="button button-block button-outline button-darkPurple" ng-click="goBackHeathTracker()">Back</a>
        </div>
        <div class="rightButton">
            <a class="button button-block button-orange" ng-click="submit()" ng-disabled="!isDirty || healthTrackerReadOnly">Continue</a>
        </div>
        <div class="height30"></div>
    </div>
   </div>
   <div class="physicalSymptomsPopupBG" ng-show="isServerity" ng-click="closeServerityPopup()">
  </div>
</div>