<ion-view view-title="View Past Health Tracker">
  <ion-nav-bar class="bar-stable">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content scroll="true" has-bouncing="false">
   <p>View Past Health Tracker</p>
   <!-- <p>{{healthTrackerPastAnswers}}</p> -->
  </ion-content>
</ion-view>