<!DOCTYPE html>
<html ng-app="neuroScience">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta name="format-detection" content="telephone=no">
    <title></title>
    <!-- compiled css output -->
    <link href="css/ionic.app.min.css" rel="stylesheet">
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <!-- <script src="lib/promise/promise.js"></script> -->
    <script src="lib/kinvey-angular-sdk/dist/kinvey-angular-sdk.js"></script>
    <script src="lib/d3/d3.min.js"></script>
    <script src="lib/ng-knob/ng-knob.min.js"></script>
    <script src="lib/phaser/phaser.min.js"></script>
    <script src="lib/moment/moment.js"></script>
    <script src="lib/performance.now/performance.now.js"></script>
    <script src="lib/charts/highcharts.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
</head>

<body class="fullscreen" ng-controller="bodyCtrl" ng-class="{'disablePopBG':disableBodyOnPopup}">

    <!-- Notification -->
    <div class="notificationHldr">
        <div class="android" ng-click="navigateFromInAppNotification()" ng-show="showAndroidNotification">
            <div class="nIcon">
                <img src="img/headerIcon.png" alt="MS Care">
            </div>
            <div class="nMessageHldr">
                <p class="nTitle">{{notificationDetails.title}}</p>
                <p class="nTime">{{timeOfNotification | date : "h:mm a"}}</p> <!-- 10:30 PM  -->
                <p class="nMsg">{{(notificationDetails.additionalData.summaryText != '')?notificationDetails.additionalData.summaryText:notificationDetails.message}}</p>
            </div>
            <div class="nBtnHldr" ng-if="!hidenotificationbtn">
                <a ng-if="notificationbtn1Text!=''" ng-class="notificationbtn1Show == false ? 'disabled':''" ng-click="notificationbtn1Response(); $event.stopPropagation();">{{notificationbtn1Text}}</a>
                <a ng-if="notificationbtn2Text!=''" ng-class="notificationbtn2Show == false ? 'disabled':''" ng-click="notificationbtn2Response(); $event.stopPropagation();">{{notificationbtn2Text}}</a>
            </div>
        </div>

        <div class="ios" ng-show="showIosNotification" ng-click="navigateFromInAppNotification()">
             <div class="nIcon">
                <img src="img/headerIcon.png" alt="MS Care">
            </div>
            <div class="nMessageHldr">
                <p class="nTitle">{{notificationDetails.additionalData.subject}} <span>now</span></p>
                <p class="nMsg">{{(notificationDetails.additionalData.moredata != '')?notificationDetails.additionalData.moredata:notificationDetails.message }}</p>
            </div>
            <div class="nBtnHldr" ng-if="!hidenotificationbtn">
                <a ng-if="notificationbtn1Text!=''" ng-class="notificationbtn1Show == false ? 'disabled':''" ng-click="notificationbtn1Response(); $event.stopPropagation();">{{notificationbtn1Text}}</a>
                <a ng-if="notificationbtn2Text!=''" ng-class="notificationbtn2Show == false ? 'disabled':''" ng-click="notificationbtn2Response(); $event.stopPropagation();">{{notificationbtn2Text}}</a>
            </div>
        </div>
    </div>
    <!-- Notification -->

    <ion-side-menus enable-menu-with-back-views="true" draggable="false">
        <ion-side-menu-content drag-content="false" class="SidebarMenuContent">
            <ion-nav-view></ion-nav-view>
        </ion-side-menu-content>
        <ion-side-menu side="left" class="sidebar">
            <ion-header-bar class="bar-stable sidebarHeaderLogo" menu-toggle="left" ng-click="goToState('app.home')">
                <img src="img/logo.svg" class="sidebarHeaderLogoImg">
                <a class="mainHomeLink">
                    <img src="img/home.png">
                </a>
                <!-- <h1 class="title">Neuro Sciences</h1> -->
            </ion-header-bar>
            <ion-content class="sidebarList">
                <ion-list>
                    <ion-item menu-toggle="left" ng-click="goToState('app.surveysLandingPage','Survey','List of pending Surveys (Side Menu)','Pending Surveys')">
                        <a class="item-content sidebarServey upperCase"><i>&nbsp;</i><span>Surveys</span></a>
                    </ion-item>
                    <ion-item menu-toggle="left" ng-click="goToState('app.healthTrackerLandingPage','Health Tracker','Health Tracker Options (Side Menu)','Health Tracker Screen')">
                        <a class="item-content sidebarHealthTracker upperCase"><i>&nbsp;</i><span>Health Tracker</span></a>
                    </ion-item>
                    <ion-item menu-toggle="left" ng-click="goToState('app.tips','Tips','Tips (Side Menu)','Tips Screen')">
                        <a class="item-content sidebarTips upperCase"><i>&nbsp;</i><span>Tips and facts</span></a>
                    </ion-item>
                    <ion-item menu-toggle="left" ng-click="goToState('app.performanceEvals','Performance Metric','Performance Metric Screen (Side Menu)','Performance Metric Screen')">
                        <a class="item-content sidebarPerformance upperCase"><i>&nbsp;</i><span>Performance metrics</span></a>
                    </ion-item>
                    <ion-item menu-toggle="left" ng-click="goToState('app.heatAlerts','Heat Alert','Heat Alert Screen (Side Menu)','Heat Alert Screen')">
                        <a class="item-content sidebarHeatAlert upperCase"><i>&nbsp;</i><span>Heat Alerts</span></a>
                    </ion-item>
                </ion-list>
                <ion-list class="sidebarBottomList">
                    <ion-item menu-toggle="left" ng-click="openUserSettingPopup()">
                        <a class="item-content upperCase"><span>Profile and Settings</span></a>
                    </ion-item>
                    <ion-item menu-toggle="left" ng-click="goToState('app.faq','FAQ','FAQs (Side Menu)','FAQ')">
                        <a class="item-content upperCase"><span>FAQ</span></a>
                    </ion-item>
                    <ion-item menu-toggle="left" ng-click="goToState('app.contactUs','Contact Us','Contact Us (Side Menu)','Contact Us')">
                        <a class="item-content upperCase"><span>Contact Us</span></a>
                    </ion-item>
                    <ion-item menu-toggle="left" ng-click="goToState('app.aboutCareConnect','About Us MS Care Connect','About Us MS Care Connect Screen (Side Menu)','About Us MS Care Connect Screen')">
                        <a class="item-content upperCase"><span>About</span> <span class="bold">MS Care Connect</span></a>
                    </ion-item>
                    <ion-item menu-toggle="left" ng-click="logout('login')">
                        <a class="item-content upperCase"><span>Logout</span></a>
                    </ion-item>
                </ion-list>
            </ion-content>
        </ion-side-menu>
    </ion-side-menus>
    
    <!-- appJs:js -->
    <script src="js/app.js"></script>
    <script src="js/appCtrl.js"></script>
    <script src="js/bodyCtrl.js"></script>
    <script src="js/constant.js"></script>
    <script src="js/controllers/homeScreenModules/preHomeCtrl.js"></script>
    <script src="js/controllers/homeScreenModules/homeCtrl.js"></script>
    <script src="js/controllers/authenticationModules/loginCtrl.js"></script>
    <script src="js/controllers/authenticationModules/forgotPasswordCtrl.js"></script>
    <script src="js/controllers/authenticationModules/aboutCtrl.js"></script>
    <script src="js/controllers/authenticationModules/tncCtrl.js"></script>
    <script src="js/controllers/authenticationModules/privacyPolicyCtrl.js"></script>
    <script src="js/controllers/authenticationModules/contactUsLoginCtrl.js"></script>
    <script src="js/controllers/authenticationModules/faqLoginCtrl.js"></script>
    <script src="js/controllers/authenticationModules/registrationCtrl.js"></script>
    <script src="js/controllers/performanceTestModules/performanceEvaluationCtrl.js"></script>
    <script src="js/controllers/performanceTestModules/singlePerformanceResultCtrl.js"></script>
    <script src="js/controllers/performanceTestModules/reactionTestCtrl.js"></script>
    <script src="js/controllers/performanceTestModules/gonogoCtrl.js"></script>
    <script src="js/controllers/performanceTestModules/walkTestCtrl.js"></script>
    <script src="js/controllers/performanceTestModules/ishiharaTestCtrl.js"></script>
    <script src="js/controllers/performanceTestModules/symbolDigitCtrl.js"></script>
    <script src="js/controllers/performanceTestModules/fingerTapCtrl.js"></script>
    <script src="js/controllers/performanceTestModules/trailTestCtrl.js"></script>
    <script src="js/controllers/performanceTestModules/towerOfHanoiCtrl.js"></script>
    <script src="js/controllers/performanceTestModules/languageMemoryTest.js"></script>
    <script src="js/services/randomTime.js"></script>
    <script src="js/filters/clockFilter.js"></script>
    <script src="js/services/utility.js"></script>
    <script src="js/services/genServices.js"></script>
    <script src="js/controllers/aboutCareConnectModules/aboutCareConnectCtrl.js"></script>
    <script src="js/controllers/miscellaneousModules/privacyPolicyCtrl.js"></script>
    <script src="js/controllers/miscellaneousModules/tncCtrl.js"></script>
    <script src="js/controllers/contactUsModules/contactUsCtrl.js"></script>
    <script src="js/controllers/heatAlertsModules/heatAlertsCtrl.js"></script>
    <script src="js/controllers/profileSettingsModules/profileSettingsCtrl.js"></script>
    <script src="js/controllers/profileSettingsModules/profilePersonalInfoCtrl.js"></script>
    <script src="js/controllers/profileSettingsModules/profileMsHistoryCtrl.js"></script>
    <script src="js/controllers/profileSettingsModules/profileTreatmentHistoryCtrl.js"></script>
    <script src="js/controllers/profileSettingsModules/profileSelectPhysicianCtrl.js"></script>
    <script src="js/controllers/profileSettingsModules/profileSettingsTabCtrl.js"></script>
    <script src="js/controllers/tipsModules/tipsCtrl.js"></script>
    <script src="js/controllers/faqModules/faqCtrl.js"></script>
    <script src="js/controllers/surveyModules/surveysLandingPageCtrl.js"></script>
    <script src="js/controllers/surveyModules/surveysCtrl.js"></script>
    <script src="js/controllers/surveyModules/surveySubmissionConfirmationCtrl.js"></script>
    <script src="js/controllers/healthTrackerModules/landingPageCtrl.js"></script>
    <script src="js/controllers/healthTrackerModules/viewPastHealthTrackerCtrl.js"></script>
    <script src="js/controllers/healthTrackerModules/generalWellbeingCtrl.js"></script>
    <script src="js/controllers/healthTrackerModules/physicalSymptomsCtrl.js"></script>
    <script src="js/controllers/healthTrackerModules/mindMattersCtrl.js"></script>
    <script src="js/controllers/healthTrackerModules/dailyLifeSymptomsCtrl.js"></script>
    <script src="js/config/config-sandbox.js"></script>
    <!-- <script src="js/config/config-dev.js"></script> -->
    <!-- <script src="js/config/config-qa.js"></script> -->
    <!-- <script src="js/config/config-master.js"></script> -->
    <!-- <script src="js/config/config-qamaster.js"></script> -->
    <!-- endinject -->

</body>

</html>
