<ion-view>
    <ion-content scroll="false">
        <div class="aboutHldr">
            <div class="logo text-center">
                <img src="img/logo.svg" alt="MS CARE CONNECT">
            </div>
            <ion-slide-box show-pager="true">
                <!-- Slide 1 -->
                <ion-slide>
                    <p class="text-center ubuntuBold">Welcome to MS Care Connect!</p>
                    <p class="text-center">This app empowers YOU to
                        <br>better understand your disease.</p>
                    <p class="text-center">The Health Tracker feature can help you better<br>
                    monitor your symptoms. This convenient tool<br>
                    provides you the option to send real-time results<br>
                    directly to your doctor and enhance your<br>
                    conversations between visits!</p>
                    <p class="text-center">Stay cool with features like the Heat Alert that can
                        <br>remind you when the weather can possibly increase
                        <br>the severity of your symptoms.</p>
                    <p class="text-center zeroBtmMrgPad"><img src="img/abtSlide1.png" alt="MS CARE CONNECT" class="img1"></p>
                </ion-slide>
                <!-- Slide 2 -->
                <ion-slide>
                    <p class="text-center">MS Care Connect delivers validated surveys directly
                    <br>to YOU to help you stay more informed on how a<br>
                    variety of life factors can affect your MS.</p>
                    <p class="text-center">Validated surveys are created by reviewing large
                        <br>populations to identify common health problems.
                        <br>Answering survey questions can help you and your
                        <br>doctor make important treatment decisions.
                    </p>
                    <p class="text-center">Additionally, you'll receive fun performance metrics
                        <br>that provide you with an engaging way to help you<br>
                        monitor your disease course!</p>
                    <p class="text-center zeroBtmMrgPad"><img src="img/abtSlide2.png" alt="MS CARE CONNECT" class="img2"></p>
                </ion-slide>
                <!-- Slide 3 -->
                <ion-slide>
                    <p class="text-center">Frequent tips and facts will broaden your knowledge
                        <br>about MS and help you learn how you can optimize
                        <br>your quality of life.</p>
                    <p class="text-center">You'll also be provided a personal dashboard
                        <br>where you and your doctor can see how your data
                        <br>compares to other users at MSCareConnect.com
                        <br>Here you can view all your information in an easy
                        <br>to navigate website!</p>
                    <p class="text-center zeroBtmMrgPad"><img src="img/abtSlide3.png" alt="MS CARE CONNECT" class="img3"></p>
                    <p class="text-center">Use these unique features to help you identify factors
                        <br>that may influence the course of your MS.</p>
                    <p class="text-center">Knowledge is power. Gain more knowledge of YOUR
                        <br>MS by registering for MS Care Connect!</p>
                </ion-slide>
            </ion-slide-box>
            <div class="twoButtons">
                <div class="leftButton">
                    <a class="button button-block button-outline button-darkPurple" ui-sref="login">login</a>
                </div>
                <div class="rightButton">
                    <a class="button button-block button-darkPurple" ui-sref="registration.page1">get started!</a>
                </div>
            </div>
            <div class="height20"></div>
            <div class="text-center lightPurple privacyPolicyLink">
                <a class="lightPurple upperCase" ng-click="goToState('privacyPolicy', 'Privacy Policy', 'Privacy Policy (About Us MS Care Connect)', 'Privacy Policy')">Privacy Policy</a> | <a ng-click="goToState('tnc', 'Terms and Conditions', 'Terms and Conditions (About Us MS Care Connect)', 'Terms and Conditions')" class="lightPurple upperCase">Terms &amp; Conditions</a>
            </div>
            <!-- <div class="height20"></div> -->
        </div>
    </ion-content>
</ion-view>
