<ion-view>
    <ion-content>
        <div class="box registrationSteps darkYellowGreen terms">
            <div class="registrationHeader">
                <div class="back darkPurple font40 upperCase" ng-click="goBack()">
                    <i class="icon"></i>Back
                </div>
                <div class="logo text-center">
                    <img src="img/logo.svg">
                </div>
                <!-- <div class="text-center darkPurple font50">
                    Contact Us
                </div> -->
                <div class="titleBox text-center">
                    <p class="darkPurple">Contact Us</p>
                </div>
            </div>
            <div class="registrationContent">
                <div class="termsContent darkGray">
                <div class="text-center darkPurple">
                        <a class="darkPurple upperCase font60" ng-click="openContactViaEmail()">Contact via Email</a>
                        <p class="darkPurple">{{contactEmailAddress}}</p>
                    </div>
                    <div class="height50"></div>
                    <p class="text-center">If you have any questions regarding MS Care Connect, please visit our Frequently Asked Questions section below. If your concerns remain unresolved, please email us and we’ll respond as quickly as possible.</p>
                    <div class="height100"></div>
                    <div class="height50"></div>
                    <div class="pmBtnHldr">
                    <button class="button button-block button-darkPurple" ng-click="goToState('faqLogin', 'FAQ', 'FAQs (Contact us Before Login)', 'FAQ')">FAQ</button>
                    <!-- <div class="height20"></div>
                    <div class="sepratorLine"></div>
                    </div>
                    <div class="height20"></div> -->
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
