<ion-view>
    <ion-content delegate-handle="scrollResize">
        <div class="box registrationSteps darkYellowGreen terms">
            <div class="registrationHeader">
                <div class="back darkPurple font40 upperCase" ng-click="goBack()">
                    <i class="icon"></i>Back
                </div>
                <div class="logo text-center">
                    <img src="img/logo.svg">
                </div>
                <div class="height20"></div>
                <div class="text-center darkPurple font50">
                    Frequently Asked Questions
                </div>
                <div class="height20"></div>
            </div>
            <div class="registrationContent">
                <div class="darkGray faq">
                    <ul class="accordion">
                        <li ng-repeat="data in dataset">
                            <p class="accordionTitle font4p18vw" ng-click="toggleGroup(data)" ng-class="{'opened': isGroupShown(data) }">
                                <span>{{data.q}}</span>
                                <i></i>
                            </p>
                            <div class="accordionContent">
                                <p ng-bind-html="data.a"></p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
    </ion-content>
</ion-view>
