<ion-view>
  <ion-content class="forgotPasswordScreen">
    <div class="loginOuterContainer">
      <div class="loginInnerContent">    
        <div class="logo text-center">
          <img src="img/logo.svg">
        </div>
        <div class="loginBottom ">
          <div class="logincontent">
            <div class="text-center">
              <h1 class="font56 ubuntuBold">Forgot Password? </h1>
              <p>Enter your email address to receive an email <br/>with a link to reset your password. </p>
            </div>
            <div class="forgotPassword">
              <form name="forgetPasswordForm" ng-submit="doForgetPassword(forgetPasswordForm)" novalidate>
                <div class="errorBox" ng-if="userNotExist">
                  <div class="icon"></div>
                  <div class="errorText">Sorry, email address not recognized. Please try again.</div>
                </div>
                <span class="errorMsg" ng-if="requiredEmail && forgetPasswordForm.$submitted">This information is required.</span>
                <div class="errorBox" ng-if="patternEmail && forgetPasswordForm.$submitted">
                  <div class="icon"></div>
                  <div class="errorText">Sorry, email address not recognized.</div>
                </div>
                <label class="item item-input item-borderless emailInput  item-floating-label">
                  <div class="floatingSelect">
                    <span class="input-label font40">EMAIL</span>
                    <input name="email" type="email" ng-model="args.email" placeholder="EMAIL" ng-pattern="/^\w+([\.+-]?\w+)*@[a-z0-9\.]+([\.-]?[a-z0-9\.]+|)(\.\w{1,5})+$/" required ng-class="{'error':(forgetPasswordForm.email.$invalid || userNotExist) && forgetPasswordForm.$submitted}" ng-change="changeEmailField()">
                  </div>
                </label>
                <label class="item item-borderless loginButton">
                  <button class="button button-block button-orange" type="submit">Request Password Reset</button>
                </label>                           
              </form>
              <div class="item item-borderless text-center">
                <a class="underline darkPurple upperCase contactLink" ng-click="goToState('login', 'Forgot Password', 'Back To Login', 'Back To Login')">Back to Login</a>
              </div>
            </div>
            <label class="item item-borderless text-center">
              <div class="sepratorLine"></div>
            </label>
            <div class="height23"></div>
            <p class="text-center font4p18vw">Don't remember your email address?</p>
            <div class="height10"></div>
            <div class="item item-borderless newUserButton">
              <button class="button button-block button-darkPurple" ng-click="goToState('contactUsLogin', 'Contact Us', 'Contact Us (Forgot Password Screen)', 'Contact Us')">Contact Us</button>
            </div>
            <div class="height5"></div>
            <!-- <div class="item item-borderless text-center">
              <a class="underline darkPurple upperCase" ng-click="goToState('contactUsLogin', 'Contact Us', 'Contact Us (Forgot Password Screen)', 'Contact Us')">Contact Us</a>
            </div> -->
          </div>
          <div class="height20"></div>
          <div class="item item-borderless text-center lightPurple privacyPolicyLink">
            <a class="lightPurple upperCase" ng-click="goToState('privacyPolicy', 'Privacy Policy', 'Privacy Policy (Forgot Password Screen)', 'Privacy Policy')">Privacy Policy</a> | <a ng-click="goToState('tnc', 'Terms and Conditions', 'Terms and Conditions (Forgot Password Screen)', 'Terms and Conditions')" class="lightPurple upperCase">Terms &amp; Conditions</a> | <a ng-click="goToState('about', 'About Us', 'About Us (Forgot Password Screen)', 'About Us MS Care Connect')" class="lightPurple upperCase">about MS Care Connect</a>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>