<ion-view>
 <!--  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar> -->
  <ion-content class="loginScreen">
    <div class="loginOuterContainer">
      <div class="appVersion" style="position:absolute;right:5px;top:5px;"><!-- build:version -->v.201611211635<!-- endbuild --></div>
      <div class="loginInnerContent">    
        <div class="logo text-center">
          <img src="img/logo.svg" alt="MS CARE CONNECT">
        </div>
        <div class="loginBottom ">
          <div class="logincontent">
            <form name="loginForm" ng-submit="doLogin(loginForm)" novalidate>
              <div class="list">
                <span class="errorMsg" ng-if="localMessage">{{localMessage}}</span>
                <div class="errorBox" ng-if="serverMessage">
                  <div class="icon"></div>
                  <div class="errorText">{{serverMessage}}</div>
                </div>
                <label class="item item-input item-borderless emailInput item-floating-label">
                  <div class="floatingSelect">
                    <span class="input-label font40">EMAIL</span>
                    <input name="email" type="email" ng-model="loginData.email" placeholder="EMAIL" ng-pattern="/^\w+([\.+-]?\w+)*@[a-z0-9\.]+([\.-]?[a-z0-9\.]+|)(\.\w{1,5})+$/" required ng-class="{'error':loginForm.email.$invalid && loginForm.$submitted}">
                  </div>
                    
                </label>              
                <label class="item item-input item-borderless passwordInput  item-floating-label">
                  <div class="floatingSelect">
                    <span class="input-label font40">PASSWORD</span>
                    <input name="password" type="password" ng-model="loginData.password" placeholder="PASSWORD" required ng-class="{'error':loginForm.password.$invalid && loginForm.$submitted}">
                  </div>
                </label>
                <div class="height10"></div>
                <label class="item item-borderless loginButton">
                  <button class="button button-block button-orange" type="submit">Log in</button>
                </label>
              </div>
            </form>

            <div class="text-center">
              <a class="underline text-center darkPurple upperCase forgotPasswrd" ng-click="goToState('forgotPassword', 'Existing User', 'Forgot Password', 'Forgot Password')">Forgot Password</a>
            </div>
            <div class="height10"></div>
            <label class="item item-borderless text-center">
              <div class="sepratorLine"></div>
            </label>
            <div class="item item-borderless newUserButton">
              <button class="button button-block button-darkPurple" type="submit" ng-click="goToState('registration.page1', 'Registration', 'Registration', 'New User')">New User</button>
            </div>
          </div>
          <div class="height50"></div>            
            
          
          <div class="item item-borderless text-center lightPurple privacyPolicyLink">
            <a ng-click="goToState('privacyPolicy', 'Privacy Policy', 'Privacy Policy (Log In)', 'Privacy Policy')" class="lightPurple upperCase">Privacy Policy</a> | <a ng-click="goToState('tnc', 'Terms and Conditions', 'Terms and Conditions (Log In)', 'Terms and Conditions')" class="lightPurple upperCase">Terms &amp; Conditions</a> | <a ng-click="goToState('about', 'About Us', 'About Us (Log In)', 'About Us MS Care Connect')" class="lightPurple upperCase">about MS Care Connect</a>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>