<!-- <ion-view>  
  <ion-content scroll="false" class="registrationScreens">
    <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="">
      <ion-slide>
        <div class="box registrationSteps darkPurple">
          <div class="registrationHeader">
            <div class="logo text-center">
              <img src="img/logo.png">
            </div>
            <div class="stepTitle ">
              Personal Information
            </div>
            <div class="sliderPager">
              <span class="sliderPagerPage active"><i class="icon ion-record"></i></span>
              <span class="sliderPagerPage " ><i class="icon ion-record"></i></span>
              <span class="sliderPagerPage" ><i class="icon ion-record"></i></span>
              <span class="sliderPagerPage" ><i class="icon ion-record"></i></span>
              <span class="sliderPagerPage" ><i class="icon ion-record"></i></span>
              <span class="sliderPagerPage" ><i class="icon ion-record"></i></span>
            </div>
          </div>
          <div class="registrationContent">
            <ion-scroll>
              <form name="registrationForm" novalidate ng-submit="doRegistration(registrationForm)" ng-hide="showEmailVerificationScreen">
                <div class="list">
                  <label class="item item-input item-borderless">
                    Please enter the following information: 
                  </label>
                  <span class="errorMsg">Please enter your name</span>
                   <label class="item item-input item-borderless">
                    <input class="error" type="text" ng-model="registrationData.firstName" placeholder="FIRST NAME"> 
                    <span class="iconRequired">*</span>
                  </label>
                  <label class="item item-input item-borderless">
                    <input type="text" ng-model="registrationData.lastName" placeholder="LAST NAME"> 
                    <span class="iconRequired">*</span>
                  </label>
                  <div class="height3"></div>
                  <label class="item item-input item-borderless text-center">
                    <div class="sepratorLine"></div>
                    <span class="iconRequired"></span>
                  </label>
                  <div class="height3"></div>
                  <label class="item item-input item-borderless">
                    <input type="text" ng-model="registrationData.emailAddress" placeholder="EMAIL ADDRESS">
                    <span class="iconRequired">*</span>
                  </label>
                  <label class="item item-input item-borderless">
                    <input type="text" ng-model="registrationData.password" placeholder="PASSWORD">
                    <span class="iconRequired">*</span>
                  </label>
                  <label class="item item-input item-borderless">
                    <input type="password" ng-model="registrationData.cPpassword" placeholder="CONFIRM PASSWORD">
                    <span class="iconRequired">*</span>
                  </label>
                  <div class="height10"></div>
                  <div class="height3"></div>
                  <div class="item item-input item-borderless twoButtons">
                    <div class="leftButton">
                      <button class="button button-block button-outline button-darkPurple " type="submit">Back</button>
                    </div>
                    <div class="rightButton">
                      <button class="button button-block button-darkPurple" type="submit">Continue</button>
                    </div>
                    <span class="iconRequired"></span>
                  </div>
                  <label class="item item-input item-borderless">
                    *Required Field 
                  </label>
                </div>
              </form>
              <div class="registerConfirmEmail" ng-show="showEmailVerificationScreen">
                <div class="thanksContent">
                  <p class="text-center">
                    Thanks for registering!
                  </p>
                  <p class="height5"></p>
                  <p class="text-center">
                    An email has been sent to you. Please click the link    in the email to validate your email address and   complete registration.  
                  </p>
                </div>
                <div class="bottomContent">
                  <div class="errorBox">
                    <div class="icon"></div>
                    <div class="errorText">Please click on the link in the email we sent you to complete registration. If you don't see the email in your inbox, check your spam folder or click the Resend Email button below. </div>
                  </div>
                  <div class="item item-borderless">
                    <button class="button button-block button-outline button-darkPurple " type="submit">Resend Email</button>         
                  </div>
                  <div class="height3"></div>
                  <div class="item item-borderless">
                    <button class="button button-block button-darkPurple" type="submit">Continue</button>           
                  </div>
                  <div class="height30"></div>
                  <div class="height3"></div>
                  <div class="text-center">
                    <a href="#" class="underline darkPurple upperCase">Cancel Registration</a>
                  </div>
                </div>
              </div>
            </ion-scroll>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box registrationSteps step2 darkPurple">
          <div class="registrationHeader">
            <div class="back white font40 upperCase">
              <i class="icon"></i>Back
            </div>
            <div class="logo text-center">
              <img src="img/logo.png">
            </div>
            <div class="stepTitle ">
              Personal Information
            </div>
            <div class="sliderPager">
              <span class="sliderPagerPage active"><i class="icon ion-record"></i></span>
              <span class="sliderPagerPage active" ><i class="icon ion-record"></i></span>
              <span class="sliderPagerPage" ><i class="icon ion-record"></i></span>
              <span class="sliderPagerPage" ><i class="icon ion-record"></i></span>
              <span class="sliderPagerPage" ><i class="icon ion-record"></i></span>
              <span class="sliderPagerPage" ><i class="icon ion-record"></i></span>
            </div>
          </div>
          <div class="registrationContent">
            <ion-scroll>
              <form ng-submit="doRegistration()">
                <div class="list">
                  <label class="item item-input item-borderless">
                    Please enter the following personal information:
                  </label>
                  
                  <div class="dateofBirth">
                    <div class="dobTitle midGray">DATE OF BIRTH</div>
                    <div class="dobTitle midGray errorMsg">DATE OF BIRTH: <span>Please enter your name</span></div>
                    <div class="height3"></div>
                    <div class="item item-input item-borderless dobInput">
                      <input class="month" type="text"  placeholder="MM">
                      <input class="date" type="text" placeholder="DD">
                      <input class="year" type="text"  placeholder="YYYY">
                      <span class="iconRequired">*</span>
                    </div>
                  </div>

                  <div class="item item-input item-borderless">
                    <div class="gender">
                      <span class="errorMsg">Please select a gender.</span>
                      <div class="selectGender">
                        <div class="radioButtonWrapper genderRadio male">
                          <input class="radioButton" type="radio" name="radio-group" value="A">
                          <label class="radioLabel">
                            <div class="icon"></div>
                          </label>
                        </div>
                        <div class="radioButtonWrapper genderRadio Female">
                          <input class="radioButton" type="radio" name="radio-group" value="A">
                          <label class="radioLabel">
                            <div class="icon"></div>
                          </label>
                        </div>                        
                      </div>
                      <span class="iconRequired">*</span>                   
                    </div>
                    <div class="selectBoxWrapper selectRace">
                      <span class="errorMsg">Please select at least one.</span>
                      <div class="selectBox item-select error" ng-click="openSingleSelect(['Asian','Afarican','American'],'race')">
                        
                        <div class="multiLine"> 
                          <div class="upperCase">Race</div>
                          <div class="smallTest">Select all that apply</div>
                        </div>
                      </div>
                      <span class="iconRequired">*</span>
                    </div>                    
                  </div>
                  <div class="zipCode">
                    <label class="item item-input item-borderless">                    
                      <input type="text" ng-model="registrationData.emailAddress" placeholder="ZIP CODE">
                      <span class="iconRequired">*</span>
                    </label>
                  </div>
                  <div class="height3"></div>
                  <label class="item item-input item-borderless text-center">
                    <div class="sepratorLine"></div>
                    <span class="iconRequired"></span>
                  </label>
                  <div class="height3"></div>
                  <div class="item item-input item-borderless">
                    <div class="selectBoxWrapper">
                      <div class="selectBox ">
                        <div class="singleLine upperCase"> Insurance</div>
                      </div>
                      <span class="iconRequired">*</span>
                    </div>
                  </div>
                  <div class="item item-input item-borderless">
                    <div class="selectBoxWrapper">
                      <div class="selectBox ">
                        <div class="singleLine upperCase"> Employment Status</div>
                      </div>
                      <span class="iconRequired">*</span>
                    </div>
                  </div> 
                  <div class="item item-input item-borderless">
                    <div class="selectBoxWrapper">
                      <div class="selectBox ">
                        <div class="singleLine upperCase"> Education</div>
                      </div>
                      <span class="iconRequired"></span>
                    </div>
                  </div>

                  <div class="height10"></div>
                  <div class="height3"></div>
                  <div class="item item-input item-borderless twoButtons">
                    <div class="leftButton">
                      <button class="button button-block button-outline button-darkPurple button-multiLine" type="submit">Cancel<br/> Registration</button>
                    </div>
                    <div class="rightButton">
                      <button class="button button-block button-darkPurple" type="submit">Continue</button>
                    </div>
                    <span class="iconRequired"></span>
                  </div>
                  <label class="item item-input item-borderless">
                    *Required Field 
                  </label>
                </div>
              </form>
            </ion-scroll>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box registrationSteps step3 orange">
          <div class="registrationHeader">
            <div class="back white font40 upperCase">
              <i class="icon"></i>Back
            </div>
            <div class="logo text-center">
              <img src="img/logo.png">
            </div>
            <div class="stepTitle">
              MS History
            </div>
            <div class="sliderPager">
              <span class="sliderPagerPage active"><i class="icon ion-record"></i></span>
              <span class="sliderPagerPage active" ><i class="icon ion-record"></i></span>
              <span class="sliderPagerPage active" ><i class="icon ion-record"></i></span>
              <span class="sliderPagerPage" ><i class="icon ion-record"></i></span>
              <span class="sliderPagerPage" ><i class="icon ion-record"></i></span>
              <span class="sliderPagerPage" ><i class="icon ion-record"></i></span>
            </div>
          </div>
          <div class="registrationContent">
            <ion-scroll>
              <form ng-submit="doRegistration()">
                <div class="list">
                  <label class="item item-input item-borderless">
                    Please enter the following MS-related information:
                  </label>

                  <div class="item item-input item-borderless">
                    <div class="selectBoxWrapper">                      
                    <span class="errorMsg">Please select at least one.</span>
                      <div class="selectBox error item-select">
                        <select multiple ng-model="firstSymptoms">
                          <option value="volvo">Volvo</option>
                          <option value="saab">Saab</option>
                          <option value="opel">Opel</option>
                          <option value="audi">Audi</option>
                        </select>
                        <div class="singleLine" ng-show="firstSymptoms">
                          <div class="upperCase">{{selectRace}}</div>
                        </div>
                        <div class="multiLine" ng-hide="firstSymptoms">
                          <div class="upperCase">Age of first symptoms</div>
                          <div class="smallTest">(please estimate if unsure)</div>
                        </div>
                      </div>
                      <span class="iconRequired">*</span>
                    </div>
                  </div>
                  <div class="item item-input item-borderless">
                    <div class="selectBoxWrapper">
                      <div class="selectBox ">
                        <div class="multiLine">
                          <div class="upperCase">Age at diagnosis</div>
                          <div class="smallTest">(please estimate if unsure)</div>
                        </div>
                      </div>
                      <span class="iconRequired">*</span>
                    </div>
                  </div> 
                  <div class="item item-input item-borderless">
                    <div class="selectBoxWrapper">
                      <div class="selectBox ">
                        <div class="singleLine upperCase"> Initial diagnosis</div>
                      </div>
                      <span class="iconRequired">*</span>
                    </div>
                  </div>
                  <div class="item item-input item-borderless">
                    <div class="selectBoxWrapper">
                      <div class="selectBox ">
                        <div class="singleLine upperCase"> Current diagnosis</div>
                      </div>
                      <span class="iconRequired">*</span>
                    </div>
                  </div>
                  <label class="item item-input item-borderless font56 midGray upperCase">
                    Family history of ms ?
                    <span class="iconRequired">*</span>
                  </label>
                  <div class="item item-input item-borderless msHistory">
                    <div class="radioButtonGroup">
                      <div class="radioButtonWrapper yes">
                        <input class="radioButton" type="radio" name="radio-group" value="A">
                        <label class="radioLabel">  Yes </label>
                      </div>
                      <div class="radioButtonWrapper no ">
                        <input class="radioButton" type="radio" name="radio-group" value="B">
                        <label class="radioLabel">  No </label>
                      </div>
                      <div class="radioButtonWrapper dont">
                        <input class="radioButton" type="radio" name="radio-group" value="C">
                        <label class="radioLabel">  I Don't Know </label>
                      </div>                      
                    </div>
                    <span class="iconRequired"></span>
                  </div>
                  <div class="subformElement">
                    <div class="item item-input item-borderless">
                      <div class="selectBoxWrapper">
                      <div class="selectBox ">
                        <div class="multiLine">
                          <div class="upperCase">Family Mamber Relationship?</div>
                          <div class="smallTest">Check all that apply</div>
                        </div>
                      </div>
                      <span class="iconRequired"></span>
                    </div>
                    </div>

                    <div class="item item-input item-borderless">
                      <div class="radioButtonGroup">
                        <label class="questionLabel font56 upperCase">Were you adopted?</label>
                        <div class="radioButtonWrapper yes">
                          <input class="radioButton" type="radio" name="radio-group" value="A">
                          <label class="radioLabel">  Yes </label>
                        </div>
                        <div class="radioButtonWrapper no ">
                          <input class="radioButton" type="radio" name="radio-group" value="B">
                          <label class="radioLabel">  No </label>
                        </div>                      
                      </div>
                      <span class="iconRequired"></span>
                    </div>

                  </div>

                  <div class="height10"></div>
                  <div class="height3"></div>
                  <div class="item item-input item-borderless twoButtons">
                    <div class="leftButton">
                      <button class="button button-block button-outline button-orange button-multiLine" type="submit">Cancel<br/> Registration</button>
                    </div>
                    <div class="rightButton">
                      <button class="button button-block button-orange" type="submit">Continue</button>
                    </div>
                    <span class="iconRequired"></span>
                  </div>
                  <label class="item item-input item-borderless">
                    *Required Field 
                  </label>
                </div>
              </form>
            </ion-scroll>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box registrationSteps step4 orange">
          <div class="registrationHeader">
            <div class="back white font40 upperCase">
              <i class="icon"></i>Back
            </div>
            <div class="logo text-center">
              <img src="img/logo.png">
            </div>
            <div class="stepTitle">
              MS History
            </div>
            <div class="sliderPager">
              <span class="sliderPagerPage active"><i class="icon ion-record"></i></span>
              <span class="sliderPagerPage active" ><i class="icon ion-record"></i></span>
              <span class="sliderPagerPage active" ><i class="icon ion-record"></i></span>
              <span class="sliderPagerPage active" ><i class="icon ion-record"></i></span>
              <span class="sliderPagerPage" ><i class="icon ion-record"></i></span>
              <span class="sliderPagerPage" ><i class="icon ion-record"></i></span>
            </div>
          </div>
          <div class="registrationContent">
            <ion-scroll>
              <form ng-submit="doRegistration()">
                <div class="list">
                  <label class="item item-input item-borderless">
                    Please enter the following MS-related information:
                  </label>

                  <div class="item item-input item-borderless relapseHistory">
                    <div class="relapseHistorySelect">
                      <div class="selectBoxWrapper">
                        <div class="selectBox error">
                          <div class="multiLine">
                            <div class="upperCase">Number of ms <br/>relapses in lifetime</div>
                            <div class="smallTest">(please estimate if unsure)</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="relapseHistoryicon">
                      <i class="icon"></i>
                    </div>
                    <span class="iconRequired">*</span>
                  </div>

                  <div class="item item-input item-borderless relapseHistory">
                    <div class="selectBoxWrapper">
                      <div class="selectBox">
                        <div class="multiLine">
                          <div class="upperCase">Number of ms relapses <br/> in last year</div>
                          <div class="smallTest">(please estimate if unsure)</div>
                        </div>
                      </div>
                      <span class="iconRequired">*</span>
                    </div>                    
                  </div>
                  <div class="subformElement">
                    <div class="midGray font56 upperCase">
                      Date of your last relapse <br/> <span class="font40 lowerCase italicFont">(please estimate if unsure) </span>
                    </div>
                    <div class="height3"></div>
                    <div class="dateofBirth lastRelapse">
                      <div class="item item-input item-borderless dobInput">
                        <input class="month" type="text"  placeholder="MM">
                        <input class="year" type="text"  placeholder="YYYY">
                        <span class="iconRequired">*</span>
                      </div>
                    </div>

                  </div>

                  <div class="item item-input item-borderless">
                    <div class="radioButtonGroup">
                      <label class="questionLabel font56 upperCase multiLine midGray">Were IV steroids <br/>used in last relapse? </label>
                      <div class="radioButtonWrapper yes">
                        <input class="radioButton" type="radio" name="radio-group" value="A">
                        <label class="radioLabel">  Yes </label>
                      </div>
                      <div class="radioButtonWrapper no ">
                        <input class="radioButton" type="radio" name="radio-group" value="B">
                        <label class="radioLabel">  No </label>
                      </div>                      
                    </div>
                    <span class="iconRequired"></span>
                  </div>
                  
                  <div class="item item-input item-borderless">
                    <div class="midGray font56 upperCase">
                      How would you describe your <br/>overall ability?<span class="iconRequired inline">*</span>
                    </div>                        
                  </div>
                  <label class="item item-input item-borderless text-center">
                    <div class="sepratorLine"></div>
                    <span class="iconRequired"></span>
                  </label>
                  <div class="item item-input item-borderless text-center">
                    <div class="radioButtonGroup abilityContainer">
                      <div class="radioButtonWrapper normal">
                        <input class="radioButton" type="radio" name="overAllAbility" value="A">                        
                        <label class="radioLabel">
                          <div class="ablityIcon normal"></div>
                        </label>
                        <div class="radioTitle">
                          <div class="icon"></div>
                          <div class="titleText"> 
                            <div class="txt">Normal </div>
                          </div>
                        </div>
                      </div>

                      <div class="radioButtonWrapper mildDisablity">
                        <input class="radioButton" type="radio" name="overAllAbility" value="B">                        
                        <label class="radioLabel">
                          <div class="ablityIcon mildDisablity"></div>
                        </label>
                        <div class="radioTitle">
                          <div class="icon"></div>
                          <div class="titleText"> 
                            <div class="txt">Mild <br/>Disability </div>
                          </div>
                        </div>
                      </div>
                      <div class="radioButtonWrapper moderateDisablity">
                        <input class="radioButton" type="radio"  name="overAllAbility" value="C">                        
                        <label class="radioLabel">
                          <div class="ablityIcon moderateDisablity"></div>
                        </label>
                        <div class="radioTitle">
                          <div class="icon"></div>
                          <div class="titleText"> 
                            <div class="txt">Moderate <br/>Disability </div>
                          </div>
                        </div>
                      </div>
                      <div class="radioButtonWrapper gaitDisablity">
                        <input class="radioButton" type="radio" name="overAllAbility" value="A">                        
                        <label class="radioLabel">
                          <div class="ablityIcon gaitDisablity"></div>
                        </label>
                        <div class="radioTitle">
                          <div class="icon"></div>
                          <div class="titleText"> 
                            <div class="txt">Gait <br/>Disability </div>
                          </div>
                        </div>
                      </div>

                      <div class="radioButtonWrapper mildDisablity">
                        <input class="radioButton" type="radio" name="overAllAbility" value="B">                        
                        <label class="radioLabel">
                          <div class="ablityIcon normal"></div>
                        </label>
                        <div class="radioTitle">
                          <div class="icon"></div>
                          <div class="titleText"> 
                            <div class="txt">Early Cane </div>
                          </div>
                        </div>
                      </div>
                      <div class="radioButtonWrapper moderateDisablity">
                        <input class="radioButton" type="radio" name="overAllAbility" value="C">                        
                        <label class="radioLabel">
                          <div class="ablityIcon normal"></div>
                        </label>
                        <div class="radioTitle">
                          <div class="icon"></div>
                          <div class="titleText"> 
                            <div class="txt">Late Cane </div>
                          </div>
                        </div>
                      </div>
                      <div class="radioButtonWrapper moderateDisablity">
                        <input class="radioButton" type="radio" name="overAllAbility" value="C">                        
                        <label class="radioLabel">
                          <div class="ablityIcon normal"></div>
                        </label>
                        <div class="radioTitle">
                          <div class="icon"></div>
                          <div class="titleText"> 
                            <div class="txt">Bilateral <br/>Support </div>
                          </div>
                        </div>
                      </div>
                      <div class="radioButtonWrapper moderateDisablity">
                        <input class="radioButton" type="radio" name="overAllAbility" value="C">                        
                        <label class="radioLabel">
                          <div class="ablityIcon normal"></div>
                        </label>
                        <div class="radioTitle">
                          <div class="icon"></div>
                          <div class="titleText"> 
                            <div class="txt">Wheelchair <br/>/Scooter </div>
                          </div>
                        </div>
                      </div>
                      <div class="radioButtonWrapper moderateDisablity">
                        <input class="radioButton" type="radio" name="overAllAbility" value="C">                        
                        <label class="radioLabel">
                          <div class="ablityIcon normal"></div>
                        </label>
                        <div class="radioTitle">
                          <div class="icon"></div>
                          <div class="titleText"> 
                            <div class="txt">Bedridden </div>
                          </div>
                        </div>
                      </div>

                                           

                    </div>
                    <span class="iconRequired"></span>
                  </div>              

                  <div class="height10"></div>
                  <div class="height3"></div>
                  <div class="item item-input item-borderless twoButtons">
                    <div class="leftButton">
                      <button class="button button-block button-outline button-orange button-multiLine" type="submit">Cancel<br/> Registration</button>
                    </div>
                    <div class="rightButton">
                      <button class="button button-block button-orange" type="submit">Continue</button>
                    </div>
                    <span class="iconRequired"></span>
                  </div>
                  <label class="item item-input item-borderless">
                    *Required Field 
                  </label>
                </div>
              </form>
            </ion-scroll>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box registrationSteps step5 darkYellowGreen">
          <div class="registrationHeader">
            <div class="back white font40 upperCase">
              <i class="icon"></i>Back
            </div>
            <div class="logo text-center">
              <img src="img/logo.png">
            </div>
            <div class="stepTitle">
              Treatment History
            </div>
            <div class="sliderPager">
              <span class="sliderPagerPage active"><i class="icon ion-record"></i></span>
              <span class="sliderPagerPage active" ><i class="icon ion-record"></i></span>
              <span class="sliderPagerPage active" ><i class="icon ion-record"></i></span>
              <span class="sliderPagerPage active" ><i class="icon ion-record"></i></span>
              <span class="sliderPagerPage active" ><i class="icon ion-record"></i></span>
              <span class="sliderPagerPage" ><i class="icon ion-record"></i></span>
            </div>
          </div>
          <div class="registrationContent">
            <ion-scroll>
              <form ng-submit="doRegistration()">
                <div class="list">
                  <label class="item item-input item-borderless">
                    Please enter the following treatment history information:
                  </label>                
                  <div class="item item-input item-borderless">
                    <div class="selectBoxWrapper">
                      <div class="selectBox ">
                        <div class="singleLine upperCase"> Current treatment</div>
                      </div>
                      <span class="iconRequired">*</span>
                    </div>
                  </div>                  
                  
                  <div class="subformElement">
                    <div class="item item-input item-borderless ">
                      <div class="selectBoxWrapper">
                        <div class="selectBox">
                          <div class="multiLine">
                            <div class="upperCase">How long have you been on <br/> your current treatment?</div>
                          </div>
                        </div>
                        <span class="iconRequired">*</span>
                      </div>                    
                    </div>                    
                    <div class="item item-input item-borderless ">
                      <div class="selectBoxWrapper">
                        <div class="selectBox">
                          <div class="multiLine">
                            <div class="upperCase">How effective do you think <br/> your current treatment is?</div>
                          </div>
                        </div>
                        <span class="iconRequired">*</span>
                      </div>                    
                    </div>

                    <div class="item item-input item-borderless currentWeight">
                      <input class="weight" type="text" placeholder="CURRENT WEIGHT">
                      <label class="font56">lb</label>
                      <span class="iconRequired">*</span>                                        
                    </div>

                  </div>

                   <div class="item item-input item-borderless">
                    <div class="radioButtonGroup">
                      <label class="questionLabel font56 upperCase multiLine midGray">Have you taken <br/> previous treatments? </label>
                      <div class="radioButtonWrapper yes">
                        <input class="radioButton" type="radio" name="radio-group" value="A">
                        <label class="radioLabel">  Yes </label>
                      </div>
                      <div class="radioButtonWrapper no ">
                        <input class="radioButton" type="radio" name="radio-group" value="B">
                        <label class="radioLabel">  No </label>
                      </div>                      
                    </div>
                    <span class="iconRequired">*</span>
                  </div>

                  <div class="subformElement">

                    <div class="item item-input item-borderless priorTreatment">
                      <div class="lastTreatmentSelect">
                        <div class="selectBoxWrapper">
                          <div class="selectBox">
                            <div class="singleLine upperCase"> Gilenya</div>
                          </div>
                        </div> 
                      </div>
                      <div class="yearsTakenSelect">
                        <div class="selectBoxWrapper">
                          <div class="selectBox">
                            <div class="singleLine upperCase">2</div>
                          </div>
                        </div>
                      </div>
                      <div class="remove">
                        <i class="removeIcon"></i>
                      </div>
                      <span class="iconRequired">*</span>
                    </div>
                    <div class="item item-input item-borderless priorTreatment">
                      <div class="lastTreatmentSelect">
                        <div class="selectBoxWrapper">
                          <div class="selectBox">
                            <div class="multiLine">
                              <div class="upperCase">last <br/>treatment </div>
                            </div>
                          </div>
                        </div> 
                      </div>
                      <div class="yearsTakenSelect">
                        <div class="selectBoxWrapper">
                          <div class="selectBox">
                            <div class="multiLine">
                              <div class="upperCase">Years Taken </div>
                              <div class="smallTest">(please estimate if unsure)</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="remove">
                        <i class="removeIcon"></i>
                      </div>
                      <span class="iconRequired"></span>
                    </div>
                    <div class="item item-input item-borderless text-center">
                      <div class="addPriorTreatmentRow">
                        <button class="button icon-left ion-plus button-darkYellowGreen addPriorTreatment" type="submit">Add a another <br/>prior treatment</button>
                      </div>
                      <span class="iconRequired"></span>
                    </div>
                  </div>

                  
                  <label class="item item-input item-borderless text-center">
                    <div class="sepratorLine"></div>
                    <span class="iconRequired"></span>
                  </label>
                  
                  <div class="item item-input item-borderless relapseHistory">
                    <div class="selectBoxWrapper">
                      <div class="selectBox">
                        <div class="multiLine">
                          <div class="upperCase">Are you currently taking <br/>additional treatments? </div>
                          <div class="smallTest">Check all that apply</div>
                        </div>
                      </div>
                      <span class="iconRequired"></span>
                    </div>                    
                  </div>          

                  <div class="height10"></div>
                  <div class="height3"></div>
                  <div class="item item-input item-borderless twoButtons">
                    <div class="leftButton">
                      <button class="button button-block button-outline button-darkYellowGreen button-multiLine" type="submit">Cancel<br/> Registration</button>
                    </div>
                    <div class="rightButton">
                      <button class="button button-block button-darkYellowGreen" type="submit">Continue</button>
                    </div>
                    <span class="iconRequired"></span>
                  </div>
                  <label class="item item-input item-borderless">
                    *Required Field 
                  </label>
                </div>
              </form>
            </ion-scroll>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box registrationSteps step6 darkYellowGreen">
          <div class="registrationHeader">
            <div class="back white font40 upperCase">
              <i class="icon"></i>Back
            </div>
            <div class="logo text-center">
              <img src="img/logo.png">
            </div>
            <div class="stepTitle">
               Select HCP
            </div>
            <div class="sliderPager">
              <span class="sliderPagerPage active"><i class="icon ion-record"></i></span>
              <span class="sliderPagerPage active" ><i class="icon ion-record"></i></span>
              <span class="sliderPagerPage active" ><i class="icon ion-record"></i></span>
              <span class="sliderPagerPage active" ><i class="icon ion-record"></i></span>
              <span class="sliderPagerPage active" ><i class="icon ion-record"></i></span>
              <span class="sliderPagerPage active" ><i class="icon ion-record"></i></span>
            </div>
          </div>
          <div class="registrationContent">
            <ion-scroll>
              <form>
                <div class="list">
                  <label class="item item-input item-borderless">
                    Please enter your neurologist’s name below.
                  </label>
                  <div class="item item-input item-borderless neurologistSearch">                    
                    <input type="text" placeholder="SEARCH FOR YOUR PHYSICIAN">
                    <div class="button button-darkYellowGreen searchIcon ">
                      <i class="icon"></i>
                    </div>
                    <span class="iconRequired"></span>
                  </div>
                  <div class="neurologistList">
                    <ion-scroll>
                      <div class="neurologistInfo">
                        <div class="neurologistName darkGray font56">Dr. Adam Samuelson</div>
                        <div class="neurologistAddress darkGray font40">
                          <div class="street">101 Fake St. </div>
                          <div class="city">Faketon, NY 10023</div>
                        </div>
                      </div>
                      <div class="neurologistInfo">
                        <div class="neurologistName darkGray font56">Dr. Adam Samuelson</div>
                        <div class="neurologistAddress darkGray font40">
                          <div class="street">101 Fake St. </div>
                          <div class="city">Faketon, NY 10023</div>
                        </div>
                      </div>
                      <div class="neurologistInfo">
                        <div class="neurologistName darkGray font56">Dr. Adam Samuelson</div>
                        <div class="neurologistAddress darkGray font40">
                          <div class="street">101 Fake St. </div>
                          <div class="city">Faketon, NY 10023</div>
                        </div>
                      </div>
                      <div class="neurologistInfo">
                        <div class="neurologistName darkGray font56">Dr. Adam Samuelson</div>
                        <div class="neurologistAddress darkGray font40">
                          <div class="street">101 Fake St. </div>
                          <div class="city">Faketon, NY 10023</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="successBox darkGray">
                    Information to help your doctor register for MS Care Connect has been sent to you.
                  </div>
                  <div class="item item-input item-borderless neurologistSearch">                    
                    <div class="neurologistInfo darkGray font56">
                      <div class="remove">
                        <i class="removeIcon"></i>
                      </div>
                      <div class="neurologistName bold">Dr. Adam Samuelson</div>
                      <div class="neurologistAddress">
                        <div class="street">101 Fake St. </div>
                        <div class="city">Faketon, NY 10023</div>
                      </div>                      
                    </div>                    
                    <span class="iconRequired"></span>
                  </div>
                  <label class="item item-input item-borderless text-center">
                    <div class="sepratorLine"></div>
                    <span class="iconRequired"></span>
                  </label>
                  <div class="item item-input item-borderless">
                    <button class="button button-block button-darkYellowGreen" type="submit">I can’t find my neurologist</button>
                    <span class="iconRequired"></span>
                  </div>
                  <label class="item item-input item-borderless text-center">
                    <div class="sepratorLine"></div>
                    <span class="iconRequired"></span>
                  </label>
                  <div class="height3"></div>
                  <div class="item item-checkbox item-borderless">
                    <label class="checkbox">
                      <input type="checkbox" checked="">
                    </label>
                     I agree to share the information in this <br/>application with the doctor listed above.
                  </div>
                  <div class="item item-input item-borderless twoButtons">
                    <div class="leftButton">
                      <button class="button button-block button-outline button-darkYellowGreen button-multiLine" type="submit">Cancel<br> Registration</button>
                    </div>
                    <div class="rightButton">
                      <button class="button button-block button-darkYellowGreen" type="submit">Continue</button>
                    </div>
                    <span class="iconRequired"></span>
                  </div>
                  <label class="item item-input item-borderless">
                    *Required Field 
                  </label>
                </div>
              </form>
            </ion-scroll>
            
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <ion-scroll>
          <div class="box registrationSteps darkYellowGreen terms">
            <div class="registrationHeader">            
              <div class="logo text-center">
                <img src="img/logo.png">
              </div>
              <div class="stepTitle">
                Terms &amp; Conditions
              </div>
            </div>
            <div class="registrationContent">
              <div class="termsContent darkGray">
                <p>Please review and accept the Terms &amp; Conditions to begin. </p>

                <p>All content of this Application is owned or controlled by NeuroSys, and is protected by worldwide copyright laws. You may download content only for your  personal use for non-commercial purposes but no modification or further reproduction of the content is permitted. The content may otherwise not be copied or used in any way.</p>

                <p>The owners of this Application will use reasonable efforts to include up-to-date and accurate information in this Application, but make no representations, warranties, or assurances as to the accuracy, currency, or completeness of the information provided. The owners of this Application shall not be liable for any damages or injury resulting from your access to, or inability to access, this Application, or from your reliance on any information provided at this Application. This Application is for patients and caregivers in the United States and Puerto Rico.</p>

                <p>This Application may provide links or references to other sites but the owners of this Application have no responsibility for the content of such other sites and shall not be liable for any damages or injury arising from that content. Any links to other sites are   provided as merely a convenience to the users of  this Application.</p>

                <p>The trademarks, service marks, trade names, trade dress, and products in this Application are protected     in the United States of America and internationally.  No use of any of these may be made without the prior, written authorization of the owners of this Application, except to identify the products or services of     the company.</p>

                <p>Any personally identifiable information in electronic communications to this Application is governed by this Application's Privacy Policy. The owners of this Application shall be free to use or copy all other information in any such communications, including any ideas, inventions, concepts, techniques, or know-how disclosed therein, for any purposes. Such purposes may include disclosure to third parties and/or developing, manufacturing, and/or marketing goods or services.</p>

                <p>The sender of any communications to this Application or otherwise to the owners of this Application shall be responsible for the content and information contained therein, including its truthfulness and accuracy.</p>

                <div class="item item-input item-borderless twoButtons">
                  <div class="leftButton">
                    <button class="button button-block button-outline button-darkYellowGreen button-multiLine" type="submit">Cancel<br> Registration</button>
                  </div>
                  <div class="rightButton">
                    <button class="button button-block button-darkYellowGreen accept" type="submit">Accept</button>
                  </div>
                  <span class="iconRequired"></span>
                </div>
              </div>
            </div>
          </div>
        </ion-scroll>
      </ion-slide>
    </ion-slide-box> 
  </ion-content>
</ion-view> -->

<ion-nav-view></ion-nav-view>
