<div class="welcomePopup">
	<a class="popClose" ng-click="welcomePopup.close()"><span></span><span></span></a> 
	<p class="text-center">We're glad you are here! Our MS<br>experts created this easy-to-use<br>tool to help you build your unique<br>medical profile andevaluate your<br>MS health over time.</p>
	<span class="height10"></span>
	<span class="sepratorLine orange"></span>
	<span class="height5"></span>
	<p class="text-center italicFont">Do you want to...</p>
	<p class="">
		<i class="icon"><img src="img/welcomePopupTeackMsIcon.png" alt=""></i> 
		<span class="iconText italicFont">better understand and track your MS? </span>
	</p>
	<p class="">
		<i class="icon"><img src="img/welcomePopupCompareIcon.png" alt=""></i> 
		<span class="iconText italicFont">see how you compare to others with MS?</span>
	</p>
	<p class="">
		<i class="icon"><img src="img/welcomePopupDocIcon.png" alt=""></i> 
		<span class="iconText italicFont">have an opportunity to share this data with your doctor?</span>
	</p>
	<span class="height10"></span>
	<span class="sepratorLine orange"></span>
	<span class="height10"></span>
	<p class="text-center">Learn more <a class="underline darkPurple" ng-click="goToAbout()">about MS Care Connect</a><br>features and what they offer.</p>
	<span class="height5"></span>
</div>

