<ion-view view-title=' <i class="headerIcon"></i> '>
  <ion-nav-bar class="bar-stable">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content class="faq" delegate-handle="scrollResize">
  <div class="titleBox text-center">
      <p class="darkPurple">Frequently Asked Questions</p>
  </div>
    <ul class="accordion">
      <li ng-repeat="data in dataset" >
          <p class="accordionTitle font4p18vw" ng-click="toggleGroup(data)" ng-class="{'opened': isGroupShown(data) }">
              <span>{{data.q}}</span>
              <i></i>
          </p>
          <div class="accordionContent">
              <p ng-bind-html="data.a"></p>
          </div>
      </li>
    </ul>
  </ion-content>
</ion-view>