<ion-view view-title=' <i class="headerIcon"></i> '>
	<ion-nav-bar class="bar-stable">
		<ion-nav-buttons side="left">
			<button class="button button-icon button-clear ion-navicon" menu-toggle="left">
			</button>
		</ion-nav-buttons>
	</ion-nav-bar>
	<ion-content overflow-scroll="false">
		<div class="titleBox text-center">
			<p class="darkPurple"><span class="bold">{{unreadTips.length}}</span> New Tips and Facts!</p>
		</div>
		<ul class="tipsList">
			<li class="new" ng-repeat="unreadTip in unreadTips | orderBy:'-order'" ng-click="openUnreadTip(unreadTip, $event)">
				<h3 ng-bind-html="unreadTip.title"></h3>
				<p ng-bind-html="unreadTip.message"></p>
				<i></i>
			</li>
		</ul>
		<div class="height20"></div>
		<div class="titleBox text-center">
			<p class="darkPurple">Previously Viewed<br>Tips and Facts</p>
		</div>
		<ul class="tipsList">
			<li class="" ng-repeat="readTip in readTips | orderBy:'order'" ng-click="openReadTip($event)">
				<h3 ng-bind-html="readTip.title"></h3>
				<p ng-bind-html="readTip.message"></p>
				<i></i>
			</li>            
		</ul>
	</ion-content>
</ion-view>

