<ion-view view-title=' <i class="headerIcon"></i> '>
    <ion-nav-bar class="bar-stable">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content overflow-scroll="false">
        <div class="titleBox text-center">
            <p class="darkPurple">Contact Us</p>
        </div>
        <div class="aboutAfterLog conAftLog darkGray">
            <div class="text-center darkPurple">
                <a class="darkPurple upperCase font5p63vw" ng-click="openContactViaEmail()">Contact via Email</a>
                <p>{{contactEmailAddress}}</p>
            </div>
            <div class="height20"></div>
            <div class="height100"></div>
            <p class="text-center">If you have any questions regarding MS Care Connect, please visit our Frequently Asked Questions section below. If your concerns remain unresolved, please email us and we’ll respond as quickly as possible.</p>
            <div class="height100"></div>
            <div class="height100"></div>
            <div class="height100 visibleOnIpad"></div>
            <div class="item item-borderless no-padding">
                <button class="button button-block button-darkPurple" ng-click="goToState('app.faq', 'FAQ', 'FAQs (Contact us After Login)', 'FAQ')">FAQ</button>
            </div>
            <!-- <div class="height20"></div>
            <label class="item item-input item-borderless text-center no-padding">
                <div class="sepratorLine"></div>
            </label> -->
            <!--<div class="height20"></div> -->
            
        </div>
    </ion-content>
</ion-view>