<ion-view view-title=' <i class="headerIcon"></i> '>
	<ion-nav-bar class="bar-stable">
	    <ion-nav-buttons side="left">
	      	<button class="button button-icon button-clear ion-navicon" menu-toggle="left" ng-disabled="testDisplayFingerTap">
	      	</button>
	    </ion-nav-buttons>
  	</ion-nav-bar>
  	
  	<ion-content class="has-header fingerTapTest">

	  	<!-- <div class="subHeader text-center" ng-hide="!startTestDetails">
		  	<div class="title font56 darkPurple">Finger Tapping Test</div>
		</div>
		<div class="subHeader text-center" ng-show="!startTestDetails">
		  	<div class="title font56 darkPurple">Finger Tapping Results</div>
		</div> -->

		<div class="titleBox text-center">
		    <p class="darkPurple" ng-if="startTestDetails">Finger Tapping Test</p>
		    <p class="darkPurple" ng-if="!startTestDetails">Finger Tapping Results</p>
		</div>

		<div class="testContent" ng-show='!testDisplayFingerTap'> 
			<!-- For Description screen start -->
	  		<div>
	  			<div class="testInfo">
	  				<div class="testInfoImg"><img src="img/testicon/fingerTap.png" alt="Finger Tap"></div>
	  				<div class="height30"></div>
	  				<div class="testInfoContent font4p18vw lH466">
	  					<p class="font4p18vw lH466"><span class="ubuntuBold">How to prepare for this test:</span><br><!-- This test measures how many times you can tap inside of the dotted area, using the index finger of your dominant hand and then your non-dominant hand. First, place your phone on a flat surface, such as a table. Then, place your palm and fingers flat on the table and make an "L" shape with your hand around the bottom corner of your phone. Next, lift your index finger and rest it on the center of your phone screen, keeping the rest of your hand flat. This way, your index finger is the only thing that should move while you take the test.-->This test measures how many times you can tap inside of the dotted area, using your index (pointer) finger. First, place your phone on a flat surface, such as a table. Then place your hand on the surface next to the phone, with the palm down and fingers straight. Your thumb should rest along the bottom of the phone. Next, lift your index (pointer) finger and rest it over the center of the phone screen, keeping the rest of the hand flat and off of the phone.</p>
	  					<div class="height10"></div>
	  					<div>
	  						<span class="ubuntuBold">How to take this test:</span> 
	  						<ul>
	  							<li>Begin the test by tapping the screen using your dominant hand and continue tapping as quickly as possible until the timer runs out</li>
	  							<li>Then, repeat the test with your non-dominant hand</li>
	  							<li>Your score will be the average number of taps per hand over 3 rounds</li>
	  						</ul>
	  					</div>
	  					<div class="height20"></div>
	  					<div class="walkBckBtnFix">
		  					<button class="button button-block button-outline button-darkPurple " ng-click="startTest(false)">
					  			Take a Practice Run 
					      	</button>
       					</div>
				        <div class="height10"></div>
				      	<div class="walkBckBtnFix">
				      		<button class="button button-block button-orange " ng-click="startTest(true)" ng-disabled="!isTrailTaken">Get Started!</button>
				      	</div>
				      	<div class="height30"></div>
				      	<div class="walkBckBtnFix"><button class="button button-block button-darkPurple" ng-click="goToState('app.performanceEvals','Finger Tapping Screen','Performance Metric Screen (Finger Tapping)', 'Back')">Back</button></div>
					</div>
				</div>
			</div>
			<!-- For Description screen end -->
		</div>
		<div class="fingerTapTrialTestContent" ng-show='testDisplayFingerTap'>
			<!-- For Trial test start screen start -->
			<div ng-show="startTestDetails">
				<div ng-show="!pauseTest">
					<div class="fingerTapArea" style="">
    					<div id="fingerTapDiv"></div>
    				</div>
    			<div class="text-center upperCase tapCounterText">Tapped <span class="bold orange">{{tapped}}</span> times</div>
    			<div class="text-center upperCase timerNewText">Timer</div>
					<div class="testCircle smallCircle">
	    				<div class="testCircleContent ubuntuBold">
	    					{{timeCount}}
	    				</div>
					</div>
					<div class="fingerStartContent" class="text-center">
						<div class="height20"></div>
			      		<button class="button button-block button-orange " ng-click="beginTestFromTail(true)" ng-show = '(stage > 1) && (showTestButton)'>Start Test</button>
						<div class="height60"></div>
						<a class="upperCase underline font50 darkPurple" ng-click="cancelBtn()" ng-hide="retakeCancelBtnDisabled"> Cancel</a>
						<div class="height10"></div>
					</div>
				</div>
			</div>
			<!-- For Trial test start screen screen end -->

			<!-- For FingerTap test Result screen start -->
			<div ng-show="!startTestDetails" class="fingerTapResultScreen">
				<div class="text-center">
					<div class="font4p18vw lH466"><span class="ubuntuBold">{{strongHand}} - </span>Average number of taps :</div> 
					<div class="fingerTapResultCount ubuntuBold">{{score.ADH}}</div>
				</div>
				<div class="text-center">
					<div class="font4p18vw lH466"><span class="ubuntuBold">{{weekHand}} - </span>Average number of taps :</div>
					<div class="fingerTapResultCount ubuntuBold">{{score.ANDH}}</div>
				</div>
				<div class="fingerTapResultScreenInfo text-center">
					<p class="font4p18vw lH466">
						Visit your patient dashboard (at <a class="darkPurple font4p18vw underline" ng-click="takeToMSCareConnectDashboard()">MSCareConnect.com</a>) to learn more about this test, see how you compare with others, and how these results compare with your past performance.</p>
					<div class="height10"></div>
					<p class="font4p18vw lH466" ng-hide="retakeCancelBtnDisabled">
						If problems occurred while taking this test, you can retake it. However, this test is given to gain an accurate measurement of your functioning, so try to avoid excessive retakes.
					</p>
				</div>
				<div  class="fingerTapTestButton">
					<div class="height30"></div>
		      		<button class="button button-block button-orange " ng-click="retakeTest()" ng-hide="retakeCancelBtnDisabled">Retake Test</button>
		      	</div>
		      	<div class="fingerTapTestButton">
		      		<div class="height10"></div>
		      		<div class="height5"></div>
		      		<button class="button button-block button-darkPurple " ng-click="goToState('app.performanceEvals','Finger Tapping Screen','Performance Metric Screen (Finger Tapping)', 'Return')">Return To List</button>
		      	</div>
			</div>
			<!-- For FingerTap test Result screen end -->
		</div>

		<div class="bumperImageArea" ng-show="testDisplayFingerTap && startTestDetails && pauseTest">
	      <div class="bumperImageAreaContent">
	        <div class="testInfoImg"><img src="img/fingerTapBumperIcon.png" alt="Color Vision"></div>
	        <div class="height30"></div>
	        <div class="font70 text-center white" style="line-height:normal">Prepare to take the test with<br> your <span class="ubuntuBold">{{totalCount % 2 == 1 ? strongHand:weekHand}}</span></div>
	        <div class="height100"></div>
	        <button class="button button-block button-white orange " ng-click="startPauseTest()">Start Test</button>
	      </div>
	    </div>
  	</ion-content>
</ion-view>
