<ion-view view-title="Go/NoGo Test">
	<ion-nav-bar class="bar-stable">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content scroll="false">
    <div id="gonogoDiv"></div>
    <div class="startscreen" ng-if="showTestButton">
      <button class="button button-positive" ng-click="startTest()">Start test</button>
    </div>
  </ion-content>
</ion-view>
