<ion-view view-title='<i class="headerIcon"></i> '>
  <ion-nav-bar class="bar-stable">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left" ng-disabled="!started">
        </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content overflow-scroll="false" class="has-header" delegate-handle="autoFocusDisable">

<div class="titleBox text-center">
          <p class="darkPurple" ng-if="results && started">Color Vision</p>

          <p class="darkPurple" ng-if="results && !started">Color Vision | <span class="orange">{{eyeSide}}</span> <span class="darkGray ubuntuRegular">Eye Test</p>

          <p class="darkPurple" ng-if="!results">Color Vision Results</p>
      </div>

    <div class="testContent colorVision"> 
      <div ng-show="results">
        <div ng-show="started">
          <div class="testInfo">
            <div class="testInfoImg">
            <div class="height20"></div>
              <img src="img/testicon/ishiharaTest.png" alt="Color Vision"></div>
            <div class="height30"></div>
            <div class="testInfoContent">
              <p class="font4p18vw lH466"><span class="bold">How to prepare for this test:</span> <br/>Please make sure that you are in a well-lit room and away from any windows. Also make sure that you are wearing your glasses or contacts. Set the brightness setting on your phone to maximum.
              </p>
              <div class="height10"></div>
              <div class="font4p18vw lH466">
                <span class="bold">How to take this test:</span> 
                <ul>
                  <li>You will test each eye individually (one at a time) during this test</li>
                  <li>To begin, cover your left eye. Using only your right eye, examine each image and indicate the number you see</li>
                  <li>Each image will show for only 10 seconds. If you do not see anything/any number in the image, then you may indicate this by tapping the appropriate button</li>
                  <li>For the last image, follow the additional instructions provided</li>
                </ul>
              </div>
              <div class="height10"></div>
            </div>
          </div>          
          <div class="pmBtnHldr">
            <button class="button button-block button-orange" ng-click="getStarted()">Get Started!</button>
            <div class="height10"></div>         
            <button class="button button-block button-darkPurple" ng-click="goToState('app.performanceEvals','Color Vision Screen','Performance Metric Screen (Color Vision)', 'Back')">Back</button>
          </div>
        </div>
        <div ng-hide="started">
          <!-- <div class="colorVisionEyeTitle text-center">
            <div class="icon"></div>
            <div class="titleText font56"><span class="orange">{{eyeSide}}</span> Eye Test</div>
          </div> -->
          <div class="colorVisionTapArea text-center" >
            <div class="colorVisionTapAreaContent" ng-hide="tap" ng-click="startTest()">
              <div class="contentPart font56" ng-if="oppEyeSide == 'left'"><b>Cover your <span class="orange">{{oppEyeSide}} eye</span></b><br />
              (Tap the screen when ready)</div>
              <div class="contentPart font56" ng-if="oppEyeSide == 'right'"><b>Now, cover your <span class="orange">{{oppEyeSide}} eye</span><br />and repeat the test.</b><br />
              (Tap the screen when ready)</div>
            </div>
            <div class="colorVisionTapImg" ng-show="tap">
              <div id="gameDiv1" ng-show="showCanvasPlate"></div>
              <img ng-src="{{image.path}}" alt="" ng-if="!showCanvasPlate">
            </div>             
          </div>

          <div>
            <div class="item item-input item-borderless no-padding">
              <!-- <input type="tel" maxlength="2" name="numberInput" ng-model="imgValue.value" placeholder="ENTER THE NUMBER YOU SEE" ng-disabled="(imgDisabled)" ng-focus="changeScroll()" ng-change="changeInput($event,imgValue.value)" ng-show="!showCanvasPlate"> -->

              

              <div ng-show="showCanvasPlate" class="text-center font4p18vw lH466" style="width:100%">With your finger, trace the line</div>
            </div>
            <div class="height10"></div>
            <!-- <div class="twoButtons">
              <div class="leftButton">
                  <button class="button button-block button-outline button-multiLine button-darkPurple" ng-click="unableSee()" ng-disabled="(imgDisabled)">
                  I Do Not See <br/> Anything
                </button>
              </div>
              <div class="rightButton">
                  <button class="button button-block button-orange" ng-click="submitTest()" ng-disabled="!submitButtonActive">
                  submit
                </button>
              </div>
            </div> -->
            <div class="ColorKeyboard">
            <div class="disableColorKeyboard" ng-show="showCanvasPlate || imgDisabled"></div>
              <div class="colorInputTypeHldr">
                <div class="divInputText">{{imgValue.value ? imgValue.value :"Enter the number you see"}}</div> 
                <!-- ng-show="!showCanvasPlate" -->
                <button ng-click="backspace()">back</button>
              </div>
              <ul class="colorInputBTN">
                <li ng-repeat="item in numbers" ng-click="iSawThis(item)">{{item}}</li>
                <li ng-click="unableSee(true)">I do not see anything</li>
              </ul>
            </div>
            <div style="margin:auto;width:43%;">
              <button class="button button-block button-orange" ng-click="submitTest()" ng-disabled="!submitButtonActive">
                submit
              </button>
            </div>
            <div class="height10"></div>
            <div class="height10"></div>
            <div class="text-center testBottomText">
              <p>This test is not intended to diagnose color blindness.</p>
              <div class="height20"></div>
              <a class="darkPurple underline upperCase font50" ng-click="cancelBtn()" ng-hide="retakeCancelBtnDisabled">Cancel</a>
            </div>
          </div>
        </div>
      </div>
      <div class="colorVisionResults" ng-hide="results">
        <div class="colorVisionResultsContent text-center">
          <div class="height60"></div>
          <div class="upperCase bold font4p18vw lH466">Right Eye Test: </div>
          <div class="height5"></div>
          <div class="resultInfo">
            <div class="resultNumber orange font80 ubuntuBold"><!-- correct: --> {{ishiharaResult.rightCorrect}}/{{ishiharaResult.rightMissed + ishiharaResult.rightCorrect}}</div>
            <div class="resultText font4p18vw lH466">Plates correct/total</div>
          </div>
          <div class="height20"></div>
          <div class="height3"></div>
          <div class="upperCase bold font4p18vw lH466">Left Eye Test:</div>
          <div class="height5"></div>
          <div class="resultInfo">
            <div class="resultNumber orange font80 ubuntuBold"><!-- correct: --> {{ishiharaResult.leftCorrect}}/{{ishiharaResult.leftMissed + ishiharaResult.leftCorrect}}</div>
            <div class="resultText font4p18vw lH466">Plates correct/total</div>
          </div>       
          <div class="height60"></div>
          <p class="font4p18vw lH466">Visit your patient dashboard (at <a class="darkPurple font4p18vw underline" ng-click="takeToMSCareConnectDashboard()">MSCareConnect.com</a>) to learn more about this test, see how you compare with others, and how these results compare with your past performance.</p>
          <div class="height20"></div>
          <p class="font4p18vw lH466" ng-hide="retakeCancelBtnDisabled">
            If problems occurred while taking this test, you can retake it. However, this test is given to gain an accurate measurement of your functioning, so try to avoid<br>excessive retakes.
          </p>
          <div class="height20"></div>
        </div>
        <div class="pmBtnHldr">
          <button class="button button-block button-orange" ng-click="retakeTest()" ng-hide="retakeCancelBtnDisabled">Retake Test</button>
          <div class="height10"></div>
          <button class="button button-block button-darkPurple" ng-click="goToState('app.performanceEvals','Color Vision Screen','Performance Metric Screen (Color Vision)', 'Return')">Return to list</button>
        </div>
      </div>
    </div>

    <div class="bumperImageArea" ng-show="bumperImage" ng-click="tapToContinue()">
      <div class="bumperImageAreaContent">
        <div class="testInfoImg"><img src="img/testicon/colorVisionBumperIcon.png" alt="Color Vision"></div>
        <div class="height30"></div>
        <div class="font56 text-center white">Tap to continue</div>
      </div>
    </div>
  </ion-content>
</ion-view>