<ion-view view-title=' <i class="headerIcon"></i> ' cache-view="false">
  <ion-nav-bar class="bar-stable">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left" ng-disabled="!Description">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <!-- <div class="subHeader text-center">
      <div class="title font56 darkPurple">Word Match and Memory {{result}}</div>
    </div> -->

    <div class="titleBox text-center">
      <p class="darkPurple" ng-if="result==''">Word Match and Memory</p>
      <p class="darkPurple" ng-if="result!=''">Word Match and <br/>Memory {{result}}</p>
    </div>

    <div class="languageMemoryTest">
      <div ng-show="Description" class="testContent">
        <div class="testInfo">
          <div class="testInfoImg"><img src="img/testicon/languageMemoryTest.png" alt="Finger Tap"></div>
          <div class="height30"></div>
          <div class="testInfoContent">
            <div class="height10"></div>
            <div class="font4p18vw lH466">
              <span class="bold">How to take this test: </span>
              <ul>
                <li>You'll only have one chance to take this test. There are no retakes. Please make sure you have 6 to 8 minutes to complete this without interruption</li>
                <li>This test has 2 parts. The first part is a word matching task. After that, you will be asked to remember the words you matched</li>
                <li>In the first part, you will be shown a category (for example, "animals")</li>
                <li>Then, you will see several words, one at a time (for example, "bear")</li>
                <li>For each word, indicate whether it matches the category or not. Tap "Yes" if the word matches the category. Tap "No" if it does not match</li>
                <li>Instructions for the memory task will be provided after you complete the matching task</li>
                <!-- <li>Your score is how many words you can remember.</li> -->
              </ul>
            </div>
            <div class="height20"></div>
            <div class="pmBtnHldr">
              <button class="button button-block button-outline button-darkPurple " ng-click="takeTrial()">
                Take a Practice Run
              </button>
            </div>
            <div class="height10"></div>
            <div class="pmBtnHldr">
              <button class="button button-block button-orange " ng-click="startTest()" ng-disabled="!isTrailTaken">Get Started!</button>
            </div>
            <div class="height30"></div>
            <div class="pmBtnHldr">
              <button class="button button-block button-darkPurple" ng-click="goToState('app.performanceEvals','Word Match and Memory','Performance Metric Screen (Word Match and Memory)', 'Back')">Back</button>
            </div>
          </div>
        </div>
        <!-- <div><button class="button button-block button-outline button-darkPurple" ng-click="takeTrial()">Take a Trial Run</button></div>
                <div class="height10"></div>
                <div><button class="button button-block button-orange " ng-click="startTest()">Get Started!</button></div>
                <div class="height20"></div>
                <div><button class="button button-block button-darkPurple " ng-click="goToState('app.performanceEvals')">Back</button></div> -->
      </div>
      <div ng-hide='Description' class="testContent">
        <div ng-show="TrialTest">
          <div ng-show="startTrialTest" class="text-center">
            <p class="circleUpperContent font4p18vw lH466">Select "Yes" or "No" if the following words belong in the category:</p>
            <div class="wordTestRun" ng-click="startTrial()">
              <div class="testCircle">
                <div class="testCircleContent upperCase bold">
                  {{category_name}}
                </div>
              </div>
            </div>
            <div class="fakeTestCircle"></div>
            <div class="startTrialTapMsg bold">
              Tap to begin Trial
            </div>
            <div class="text-center">
              <div class="height5"></div>
              <div class="height50"></div>
              <div class="height10"></div>
              <div class="height100"></div>
              <a class="upperCase underline font50 darkPurple" ng-click="cancelBtn()"> Cancel</a> 
              <div class="height10"></div>
            </div>
          </div>
          <div ng-hide="startTrialTest" class="languageMemoryTestTrial">
            <div>
              <p class="upperCase text-center langCatShowText">category: <span class="bold">{{category_name}}</span></p>
              <div class="testCircle">
                <div class="testCircleContent bold upperCase">
                  {{category_text.text}}
                </div>
              </div>
              <div class="messageArea text-center">
                <div ng-if="falseClick" class="red font4p18vw lH466" ng-bind-html="falseMsg">
                  <!-- {{falseMsg}} -->
                </div>
                <div ng-show="!trial" class="greenText bold font80 italicFont">
                  {{congratulationsMsg}}!
                </div>
              </div>
              <div class="text-center testActionButton">
                <button class="button button-lightGray button-outline" ng-click="submitTextTrial(true)" ng-disabled="!trial || falseClick">yes</button>
                <button class="button button-lightGray button-outline" ng-click="submitTextTrial(false)" ng-disabled="!trial || falseClick">no</button>
              </div>
              <div ng-if="!trial">
                <div class="height30"></div>
                <div class="height5"></div>
                <div class="pmBtnHldr"><button class="button button-block button-orange" ng-click="startTest()">Start Test</button></div>
                <div class="text-center">
                  <div class="height20"></div>
                  <a class="upperCase underline font50 darkPurple" ng-click="cancelBtn()"> Cancel</a>
                  <div class="height10"></div>
                </div>
              </div>
              <div class="text-center" ng-if="trial">
                <div class="height5" ng-if="!falseClick"></div>
                <div class="height30"></div>
                <div class="height50" ng-if="!falseClick"></div>
                <div class="height100"></div>
                <a class="upperCase underline font50 darkPurple" ng-click="cancelBtn()"> Cancel</a>
                <div class="height10"></div>
              </div>
            </div>
          </div>
        </div>
        <div ng-hide="TrialTest">
          <div ng-if="language">
            <div ng-show="startLang" class="text-center">
              <div class="circleUpperContent font4p18vw lH466">Select 'Yes' or 'No' if the following words belong in the category:</div>
              <!-- <p class="upperCase text-center langCatShowText">category: <span class="bold">{{category_lang_name}}</span></p> -->
              <div class="wordTestRun2" ng-click="startLangTest()">
                <div class="testCircle">
                  <div class="testCircleContent upperCase bold">
                    {{category_lang_name}}
                  </div>
                </div>
              </div>
              <div class="fakeTestCircle"></div>
              <div class="startTrialTapMsg bold">
                Tap screen to start test
              </div>
              <div class="text-center">
                <div class="height5"></div>
                <div class="height30"></div>
                <div class="height50"></div>
                <div class="height30"></div>
                <div class="height100"></div>
                <!-- <a class="upperCase underline font50 darkPurple" ng-click="cancelBtn()"> Cancel</a> -->
                <div class="height10"></div>
              </div>
            </div>
            <div ng-hide="startLang" class="languageMemoryTest">
              <div>
              <p class="upperCase text-center langCatShowText">category: <span class="bold">{{category_lang_name}}</span></p>
                <div class="testCircle">
                  <div class="testCircleContent upperCase bold">
                    {{category_lang_text.text}}
                  </div>
                </div>
                <div class="messageArea text-center">
                  <div ng-if="falseClickLang" class="errorText">
                    This word is not associated with this category.
                  </div>
                </div>
                <div class="text-center testActionButton">
                  <button class="button button-lightGray button-outline" ng-click="submitText(true,'lang')" ng-disabled="falseClickLang">yes</button>
                  <button class="button button-outline button-lightGray" ng-click="submitText(false,'lang')" ng-disabled="falseClickLang">no</button>
                </div>
                <div class="text-center">
                  <div class="height5" ng-if="!falseClickLang"></div>
                  <div class="height30"></div>
                  <div class="height50" ng-if="!falseClickLang"></div>
                  <div class="height100"></div>
                  <!-- <a class="upperCase underline font50 darkPurple" ng-click="cancelBtn()"> Cancel</a> -->
                  <div class="height10"></div>
                </div>
              </div>
            </div>
          </div>
          <div ng-if="!language">
            <div ng-hide="results">
              <div ng-show="part1">
                <div ng-hide="startmemory" class="text-center languageMemoryTest part2">
                  <!-- <span class="circleUpperContent">Select 'Yes' or 'No' if the following words belong in the category:</span> -->
                  <div class="wordTestRun3" ng-click="startMemoryTest()">
                   <!-- <div ng-click="startMemoryTest()"> -->
                    <div class="testCircle">
                      <div class="testCircleContent bold">
                        PART 2
                      </div>
                    </div>
                  </div>
                  <div class="fakeTestCircle"></div>
                  <div class="startTrialTapMsg bold">
                    Tap screen to start test
                  </div>
                  <div class="testInfo">
                    <div class="testInfoContent text-left">
                      <div class="font4p18vw lH466">
                        <span class="bold">How to take this test:</span>
                        <ul>
                          <li>For the second part of this test, you will be shown a series of words, one at a time</li>
                          <li>Indicate whether the word was in the matching part of this test</li>
                          <li>Tap “Yes” if the word was in the matching part. Tap "No" if it was not</li>
                          <li>After a short break, you will be asked again to remember the words you matched</li>
                          <li>Your score will be based on how well you remember these words</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="text-center">
                    <div class="height60"></div>
                   <!--  <a class="upperCase underline font50 darkPurple" ng-click="cancelBtn()"> Cancel</a> -->
                    <div class="height10"></div>
                  </div>
                </div>
                <div ng-show="startmemory" class="languageMemoryTest">
                  <div class="testCircle">
                    <div class="testCircleContent upperCase bold">
                      {{category_memo_text.text}}
                    </div>
                  </div>
                  <div class="messageArea text-center">
                    <!--<div ng-if="falseClickLang" class="errorText">
                      This word is not associated with this category.
                    </div>-->
                  </div>
                  <div class="text-center testActionButton">
                    <button class="button button-lightGray button-outline" ng-click="submitText(true,'memo')">yes</button>
                    <button class="button button-outline button-lightGray " ng-click="submitText(false,'memo')">no</button>
                  </div>
                  <div class="text-center">
                    <div class="height5" ng-if="!falseClickLang"></div>
                    <div class="height30"></div>
                    <div class="height50" ng-if="!falseClickLang"></div>
                    <div class="" ng-if="falseClickLang"></div>
                    <div class="height100"></div>
                    <!-- <a class="upperCase underline font50 darkPurple" ng-click="cancelBtn()"> Cancel</a> -->
                    <div class="height10"></div>
                  </div>
                </div>
              </div>
              <div ng-hide="part1">
                <div ng-hide="startmemory2" class="languageMemoryTest">
                  <div>
                    <div class="testCircle">
                      <div class="testCircleContent bold">
                        {{timer | hhmmssLanguageMemoryTest}}
                      </div>
                    </div>
                    <div class="text-center font4p18vw lH466">
                      You’re almost finished with the Word Match and Memory Test. There is one more section to complete. In order to fully test your memory, you will retake the memory task after a 4 minute delay.
                    </div>
                  </div>
                  <div class="text-center">
                    <div class="height100"></div>
                    <div class="height60"></div>
                    <!-- <a class="upperCase underline font50 darkPurple" ng-click="cancelBtn()"> Cancel</a> -->
                    <div class="height10"></div>
                  </div>
                  <!-- <div>
                    <div class="testCircle">
                      <div class="testCircleContent bold">
                        PART 2
                      </div>
                    </div> 
                      <div class="testInfo">
                        <div class="testInfoContent">
                          <div>
                            <span class="bold">How to take this test:</span> 
                            <ul>
                              <li>For the second part of this test, you will be shown a series of words, one at a time.</li>
                              <li>When you see a word that was shown already in part 1 of this test, tap the “Yes”button. If you did not see the word previously, tap the “No” button.</li>
                              <li>Do NOT respond to words that were NOT shown in part 1.</li>
                              <li>After a short time lapse, you’ll be asked to retake this section to best assess your memory.</li>
                            </ul>
                          </div>
                          
                      </div>
                    </div>
                  </div> -->
                </div>
                <div ng-show="startmemory2" class="languageMemoryTest">
                  <div class="testCircle">
                    <div class="testCircleContent upperCase bold">
                      {{category_memo_text.text}}
                    </div>
                  </div>
                  <div class="messageArea text-center">
                    <!-- <div ng-if="falseClickLang" class="errorText">
                      This word is not associated with any category.
                    </div>-->
                  </div>
                  <div class="text-center testActionButton">
                    <button class="button button-lightGray button-outline" ng-click="submitText(true,'memo')">yes</button>
                    <button class="button button-outline button-lightGray" ng-click="submitText(false,'memo')">no</button>
                  </div>
                  <div class="text-center">
                    <div class="height5" ng-if="!falseClickLang"></div>
                    <div class="height30"></div>
                    <div class="height50" ng-if="!falseClickLang"></div>
                    <div class="" ng-if="falseClickLang"></div>
                    <div class="height100"></div>
                    <!-- <a class="upperCase underline font50 darkPurple" ng-click="cancelBtn()"> Cancel</a> -->
                    <div class="height10"></div>
                  </div>
                </div>
              </div>
            </div>
            <div ng-show="results" class="languageMemoryResultScreen">
              <div class="text-center" ng-if="!isTimeout">
                <p class="bold font4p18vw lH466">MATCHING ACCURACY:</p>
                <p class="languageMemoryResultCount bold">{{percentCorrectlang}} %</p><!-- ng-if="!isTimeout" -->
                <p class="font4p18vw lH466">correct responses</p><!-- ng-if="!isTimeout" -->
                <!-- <p class="languageMemoryResultCount bold" ng-if="isTimeout">TIMEOUT</p> -->
                <div class="height20"></div>
                <p class="bold font4p18vw lH466">MEMORY ACCURACY:</p>
                <p class="languageMemoryResultCount bold">{{percentCorrect}} %</p><!-- ng-if="!isTimeout" -->
                <p class="font4p18vw lH466">correct responses</p><!-- ng-if="!isTimeout" -->
                <!-- <p class="languageMemoryResultCount bold" ng-if="isTimeout">TIMEOUT</p> -->
              </div>

              <div ng-if="isTimeout" class="text-center">
                <p class="bold font4p18vw lH466">MATCHING AND MEMORY<br>ACCURACY:</p>
                <p class="languageMemoryResultCount bold" ng-if="isTimeout">TIMEOUT</p>
                <div class="height20"></div>
              </div>


              <div class="languageMemoryResultScreenInfo text-center">
                <p class="font4p18vw lH466">
                  A correct response is when you tap 'yes' for words that were shown in the matching task, or when you tap 'no' for words that were NOT shown.
                </p>
                <p class="font4p18vw lH466">
                  Visit your patient dashboard (at <a class="darkPurple font4p18vw underline" ng-click="takeToMSCareConnectDashboard()">MSCareConnect.com</a>) to learn more about this test, see how you compare with others, and how these results compare with your past performance.
                </p>
              </div>
              <!-- <div  class="fingerTapTestButton">                   
                <button class="button button-block button-orange " ng-click="retakeTest()">Retake Test</button>
                  </div> -->
              <div class="fingerTapTestButton pmBtnHldr">
                <div class="height10"></div>
                <div class="height5"></div>
                <button class="button button-block button-darkPurple " ng-click="goToState('app.performanceEvals','Word Match and Memory','Performance Metric Screen (Word Match and Memory)', 'Return')">Return to list</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- this is the bumper image --> 
    <div class="bumperImageArea" ng-show="showBumperImage">
      <div class="bumperImageAreaContent newTextInBumper">
        <div class="testInfoImg"><img src="img/testicon/languageMemoryBumper.png" alt="Word Match and Memory Test"></div>
        <div class="height30"></div>
        <div class="height30"></div>
        <div class="font56 ubuntuMedium text-center white" style="line-height:normal;">Prepare to retake the memory task.<br>
            This is the last section of the <br>
            Word Match and Memory test.</div>
            <ul class="bumperImgList">
              <li>As before, you will be shown a series of words, one at a time</li>
              <li>Indicate whether the word was in the <span class="upperCase">matching</span> part of this test</li> 
              <li>Tap "Yes" if the word was in the <span class="upperCase">matching</span> part. Tap "No" if it was not</li>
            </ul>
        <!-- <div class="height100"></div> -->
        <button class="button button-block button-white" ng-click="startMemoryTest()">START TEST</button>
      </div>
    </div>

  </ion-content>
</ion-view>