<ion-view view-title=' <i class="headerIcon"></i> ' cache-view="false">
	<ion-nav-bar class="bar-stable">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <div ui-view name="performanceResult">
    <ion-content class="performancePage" >
        <div class="tapHere" ng-click="replaceTrackingOnPM()" ng-class="relapseTrack.startRelapse ? 'relapse':''"> <!-- ng-click="replaceTracking()" -->
          <i></i>
          <span ng-show="!relapseTrack.startRelapse"><b>Tap here</b> if you think you are experiencing a relapse</span>
          <span ng-show="relapseTrack.startRelapse">This is day {{replaceDays}} of your relapse <b>| Suspend relapse tracking?</b></span>
        </div>
        <!-- <div class="subHeader text-center">
          <div class="title font56 darkPurple">Performance Metrics</div>
        </div> -->
        <div class="titleBox text-center">
            <p class="darkPurple">Performance Metrics</p>
        </div>
        <div class="testContent">
          <div class="testInfo">          
            <div class="testInfoContent font4p18vw  lH466">Performance metrics are administered only once every 6 months to determine the impact of MS on your cognitive (thinking), sensory, and motor (movement) functioning over time.
              <div class="height25"></div>
              <div class="ubuntuBold font4p18vw">You have <span class="orange">{{newTestList.length}}</span> performance metrics available:</div>
            </div>
          </div>
        </div>
        <div class="list performanceList">
          <!-- <a class="item" ng-click="goToTest('{{item.appState}}',item)" ng-repeat="item in testList" ng-if=!(item.isActive==false)>
            {{item.testName}}
          </a> -->
          
          <a class="item item-icon-left" ng-click="goToTest('{{item.appState}}',item)" ng-repeat="item in newTestList | orderBy: 'order'">
            <i class="icon">
              <img ng-src="{{'img/testicon/'+item.appState.split('.')[1]+'.png'}}">
            </i>
            <span class="performanceName">
              <span class="testTitle font4p18vw ubuntuBold lH466">{{item.testName}}</span>
              <span class="lH466" ng-if="!item.lastDate">Last taken: -</span>
              <span class="lH466" ng-if="item.lastDate">Last taken: <span ng-if="item.lastDate">{{item.lastDate}}</span></span>
            </span>
            <i class="icon performanceRightArrow"></i>
          </a>
        </div>
        <div class="testContent" ng-show="takenTestList.length > 0">
          <div class="testInfo">          
            <div class="testInfoContent font4p18vw lH466"> 
              <div class="height10"></div>        
              <div class="font4p18vw ubuntuBold">Recently completed</div>
              <div class="height5"></div> 
              You have 3 days to retake these tests if you experienced a technical issue. Please avoid excessive retakes.
            </div>
          </div>
        </div>
        <div class="list performanceList" ng-show="takenTestList.length > 0">          
          <a class="item item-icon-left" ng-click="goToTest('{{item.appState}}',item)" ng-repeat="item in takenTestList | orderBy: 'order'">
            <i class="icon">
              <img ng-src="{{'img/testicon/'+item.appState.split('.')[1]+'.png'}}">
            </i>
            <span class="performanceName">
              <span class="testTitle font4p18vw ubuntuBold lH466">{{item.testName}}</span>
              <span class="lH466" ng-if="!item.lastDate">Last taken: -</span>
              <span class="lH466" ng-if="item.lastDate">Last taken: <span ng-if="item.lastDate">{{item.lastDate}}</span></span>
            </span>
            <i class="icon performanceRightArrow"></i>
          </a>
        </div>

        <div class="testContent">
          <div class="testInfo">          
            <div class="testInfoContent">
              <div class="font4p18vw ubuntuBold lH466">Review results from previous tests:</div>
            </div>
          </div>           
        </div>
        <div class="list performanceList">
          <a class="item item-icon-left" ng-repeat="(key, value) in PMtypeFilterResults" ng-click="getKeyData(this)">
            <i class="icon">
              <img ng-src="{{'img/testicon/'+value.imageName+'.png'}}">
            </i>
            <span class="performanceName">
              <span class="testTitle font4p18vw ubuntuBold lH466">{{key}}</span>
              <div class="height3"></div>
              <span class="lH466">Last taken: {{value.date | dateFilter}}</span>
            </span>            
            <i class="icon performanceRightArrow"></i>
          </a>
          <!-- <a class="item" ng-repeat="(key, value) in PMtypeFilterResults" ng-click="getKeyData(this)">{{key}} {{value.date | dateFilter}}</a> -->
        </div>
    </ion-content>
  </div>
</ion-view>
