<ion-view view-title=' <i class="headerIcon"></i> ' cache-view="false">
  <ion-nav-bar class="bar-stable">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left" ng-disabled="testDisplay">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content ng-style="{'background-color':tapColor}">
    <!-- <div class="subHeader text-center">
      <div class="title font56 darkPurple" ng-hide="resultScreen">Reaction Time</div>
      <div ng-show="resultScreen">
        <div class="title font56 darkPurple">Reaction Time Results</div>
      </div>
    </div> -->

    <div class="titleBox text-center">
        <p class="darkPurple" ng-if="!resultScreen">Reaction Time</p>
        <p class="darkPurple" ng-if="resultScreen">Reaction Time Results</p>
    </div>

    <div class=" reactionTime ">
      <!-- Test Info -->
      <div class="testContent" ng-hide="testDisplay">
        <div class="testInfo">
          <div class="testInfoImg"><img src="img/testicon/reactionTest.png" alt="Reaction Time"></div>
          <div class="height30"></div>
          <div class="testInfoContent">
            <p class="font4p18vw lH466"><span class="bold">How to prepare for this test:</span>
              <br/>Keep your phone still by placing it on a stable surface, such as a table. If you need to hold your phone, please rest your hand on a surface. Remember to turn up your phone volume before you begin.
            </p>
            <div class="height10"></div>
            <div class="font4p18vw lH466">
              <span class="bold">How to take this test:</span>
              <ul>
                <li>Tap the screen as quickly as possible after you see an image or hear a sound</li>
                <li>Be sure to use the hand that you write with for tapping the screen</li>
                <li>While waiting for the image or sound, please keep your finger about 1 inch from the screen</li>
                <li>This test is divided into 2 parts</li>
                <li>For part 1, you will tap the screen when you see an image</li>
                <li>For part 2, you will tap the screen when you hear a sound</li>
                <li>Your score will be determined by your average response time</li>
              </ul>
            </div>
            <div class="height20"></div>
          </div>
        </div>
        <div class="bottomButtons pmBtnHldr">
          <audio id="myAudio">
            <source src="img/phaser/GS_Soundclip1.wav" type="audio/mpeg">
          </audio>
          <button class="button button-block button-outline button-orange " ng-click="testAudio()">
            Test Audio
          </button>
          <div class="height10"></div>
          <div class="height3"></div>
          <button class="button button-block button-outline button-darkPurple " ng-click='goToTest("trial")'>
            Take a Practice Run
          </button>
          <div class="height10"></div>
          <button class="button button-block button-orange" ng-click='goToTest("main")' ng-disabled="!isTrailTaken">
            Get Started!
          </button>
          <div class="height30"></div>
          <button class="button button-block button-darkPurple " ng-click="goToState('app.performanceEvals','Reaction Time Screen','Performance Metric Screen (Reaction Time)', 'Back')">Back</button>
        </div>
      </div>
      <div class="text-center" ng-show="testDisplay">
        <div ng-hide="resultScreen" class="startReactionTest">
          <!-- Trial Test  -->
          <div class="trialTest" ng-hide="trialShow">
            <div class="tapArea" ng-click="startTrial()" ng-show="tapToStartTrial">
              <div class="tapAreaContent">
                <p class="font100 bold">Ready?</p>
                <div class="height40"></div>
                <p class="font80 orange bold">Tap to start test</p>
                <div class="height5"></div>
              </div>
            </div>
            <div ng-hide="tapToStartTrial">
              <div class="tapArea" ng-hide="cong">

              <div class="tapArea" ng-show="startVisualTrial" ng-click="tapToStopTrial()">
                <div class="tapAreaContent">
                  <div class="testCircle withBg" ></div>
                  <div class="height30"></div>
                </div>
              </div>
                
              </div>
            </div>
          </div>
          <div ng-hide="startTestDisplay">
            <!-- Visual Test  -->
            <div ng-show="visual" style="margin-bottom:-15vw;">
              <div class="tapArea" ng-show="cong">
                <div class="tapAreaContent">
                  <div class="testContent">
                    <p class="darkYellowGreen font80 italicFont bold">Congratulations!</p>
                    <div class="height40"></div>
                    <div class="pmBtnHldr"><button class="button button-block button-orange" ng-click="tapToStartVisualTest()">Start test</button></div>
                  </div>
                </div>
              </div>
              <div ng-hide="cong">
                <div ng-show="show" ng-click="startTest()">
                  <div class="tapArea ipadShow">
                    <div class="tapAreaContent">
                      <div class="height10"></div>
                      <p class="font100 bold">Tap to start
                        <br/>visual test</p>
                      <div class="height5"></div>
                      <!-- <p class="font56 orange bold">Ensure phone volume is turned up <br/>before beginning this test </p> -->
                    </div>
                  </div>
                </div>
                <div class="tapArea ipadShow" ng-hide="show">
                <p class="bold text-center font60" style="margin-top:4vw;">Tap when image appears</p>
                  <div class="tapAreaContent">
                    <div id="gameDiv2" class="topGap4Raxn"></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Audio Test  -->
            <div ng-hide="visual">
              <div>
                <div ng-show="showAudio" ng-click="startTestAudio()">
                  <div class="tapArea ipadShow">
                    <div class="tapAreaContent">   
                      <p class="font100 bold">Tap to start<br/>audio test</p>
                      <div class="height5"></div>
                        <p class="font70 orange bold">Ensure phone volume is turned<br/>up before beginning this test </p>
                    </div>
                  </div>
                </div>
                <div class="tapArea ipadShow" ng-hide="showAudio">
                 <!-- <p class="font60 bold" style="padding-top:5vw;position:relative;z-index:5;">Did you hear a sound?</p> -->
                 <p class="font60 bold" style="padding-top:5vw;position:relative;z-index:5;"></p>
                  <div class="tapAreaContent">
                    <div id="gameDiv1"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Cancel -->
          <div class="height5"></div>
          <!-- <div class="height10" ng-if="!trialShow"></div>
          <div class="height20" ng-if="!cong"></div>
          <div class="height5" ng-if="cong"></div> -->
          <div style="position:absolute;bottom:0;left:0;right:0;">
          <a class="upperCase underline font50 darkPurple" ng-click="cancelBtn()" ng-hide="retakeCancelBtnDisabled"> Cancel</a>
         </div>
        </div>
        <!-- Test Result -->
        <div class="testContent reactionTimeResult text-center" ng-show="resultScreen">
          <div class="height20"></div>
          <!-- Test Result Score  -->
          <!-- <div>
            <div class="upperCase bold font4p18vw lH466">Score:</div>
            <div class="height5"></div>
            <div class="upperCase font80 orange bold">{{totalScore}}</div>
          </div> -->
          <div class="height10"></div>
          <!-- Visual Test Result -->
          <div>
            <div class="upperCase bold font4p18vw lH466">Reaction time to visual stimulus: </div>
            <div class="height10"></div>
            <div class="resultInfo">
              <div class="resultNumber orange font80 bold ng-binding">{{visualScore}}</div>
              <div class="resultText font4p18vw lH466">milliseconds</div>
            </div>
            <div class="height25"></div>
            <!-- Code by praveen
                <div>{{correctClicks}}</div>
                <div>{{missedClicks}}</div> 
              -->
          </div>
          <!-- Audio Test Result  -->
          <div>
            <div class="upperCase bold font4p18vw lH466">Reaction time to auditory stimulus: </div>
            <div class="height10"></div>
            <div class="resultInfo">
              <div class="resultNumber orange font80 bold ng-binding">{{audioScore}}</div>
              <div class="resultText font4p18vw lH466">milliseconds</div>
            </div>
            <!-- cide by praveen
            <div>{{correctClicksAudio}}</div>
              <div>{{missedClicksAudio}}</div> -->
          </div>
          <div class="height30"></div>
          <p class="font4p18vw lH466">The time shown is an average of how long it took you to respond after seeing the image or hearing the sound.</p>
          <div class="height10"></div>
          <p class="font4p18vw lH466">Visit your patient dashboard (at <a class="darkPurple font4p18vw underline" ng-click="takeToMSCareConnectDashboard()">MSCareConnect.com</a>) to learn more about this test, see how you compare with others, and how these results compare with your past performance.</p>
          <div class="height10"></div>
          <p class="font4p18vw lH466" ng-hide="retakeCancelBtnDisabled">If problems occurred while taking this test, you can retake it. However, this test is given to gain an accurate measurement of your functioning, so try to avoid excessive retakes.</p>
          <div class="height20"></div>
          <div class="pmBtnHldr">
            <button class="button button-block button-orange" ng-click="retakeTest()" ng-hide="retakeCancelBtnDisabled">Retake Test</button>
            <div class="height10"></div>
            <div class="height3"></div>
            <button class="button button-block button-darkPurple" ng-click="goToState('app.performanceEvals','Reaction Time Screen','Performance Metric Screen (Reaction Time)', 'Return')">Return to list</button>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>