<ion-content class="performanceSingleScore">
	<div class="performanceList" ng-if="PMtypeListResult[0].PMType != 'Symbol Substitution and Trail Making'">
        <div class="item item-icon-left">
           <i class="icon">
             <img ng-src="{{'img/testicon/'+PMtypeFilterResults[PMtypeListResult[0].PMType].imageName+'.png'}}">
           </i>
           <span class="performanceName">
             <span class="testTitle bold font5p63vw">{{PMtypeListResult[0].PMType}}</span>
           </span>
        </div>
	</div>

	<div class="list performList" ng-if="PMtypeListResult[0].PMType == 'Timed 25ft Walk'">
		<div class="item" ng-repeat="listOfTestAttempts in PMtypeListResult | orderBy : '-date'">
			<div class="testScoreLeft font4p18vw">
				Completion Time : <br>
				<div class="font56 orange bold">{{listOfTestAttempts.average | minutesfilterWalkTest}} min {{listOfTestAttempts.average | secondsfilterWalkTest}} seconds</div>
			</div>
			<div class="testScoreLeft font4p18vw">{{listOfTestAttempts.date | dateFilter  }}</div>
		</div>
	</div>

	<div ng-if="PMtypeListResult[0].PMType == 'Symbol Substitution and Trail Making'">

		<div class="performanceList">
      <div class="item item-icon-left">
       	<i class="icon">
         	<img src='img/trailMakingTestIcon.png'>
       	</i>
       	<span class="performanceName">
         	<span class="testTitle bold font5p63vw">Trail Making</span>
       	</span>
      </div>
		</div>

		<div class="list performList2" style="margin-bottom: 0px;">
			<div class="item" ng-repeat="listOfTestAttempts in PMtypeListResultTrail | orderBy : '-date'">

				<div class="testScoreLeft font4p18vw" ng-if="listOfTestAttempts.isAborted == false && listOfTestAttempts.score1">
					Completion Time :
				<div class="font56">Round 1 - <span class="orange bold">{{listOfTestAttempts.score1/10 | minutesfilterWalkTest}} min {{listOfTestAttempts.score1/10 | secondsfilterTrailTest}} seconds</span></div>
				<div class="font56">Round 2 - <span class="orange bold">{{listOfTestAttempts.score2/10 | minutesfilterWalkTest}} min {{listOfTestAttempts.score2/10 | secondsfilterTrailTest}} seconds</span></div>
				</div>

				<div class="testScoreLeft font4p18vw" ng-if="listOfTestAttempts.isAborted == false && !listOfTestAttempts.score1">
					Completion Time :
				<div class="font56 orange bold">{{listOfTestAttempts.totalTimeinterval/10 | minutesfilterWalkTest}} min {{listOfTestAttempts.totalTimeinterval/10 | secondsfilterTrailTest}} seconds</div>
				</div>


				<div class="testScoreLeft font4p18vw" ng-if="listOfTestAttempts.isAborted == true">
					Completion Time :
					<div class="font56 orange bold" ng-if="!listOfTestAttempts.totalTimeinterval">0 min 00 seconds</div>
				</div>
				<div class="testScoreRight font4p18vw">{{listOfTestAttempts.date | dateFilter}}</div>
			</div>
		</div>

		<div class="performanceList">
      <div class="item item-icon-left">
       	<i class="icon">
       		<img src='img/symbolSubstitutionTestIcon.png'>
       	</i>
       	<span class="performanceName">
         	<span class="testTitle bold font5p63vw">Symbol Substitution</span>
       	</span>
      </div>
		</div>

		<div class="list performList2">
			<div class="item" ng-repeat="listOfTestAttempts in PMtypeListResultSymbol | orderBy : '-date'">
				<div class="testScoreLeft font4p18vw" ng-if="listOfTestAttempts.isAborted == false">
					Correct Matches :
					<div class="font56 orange bold">{{listOfTestAttempts.score1.correct}}</div>
				</div>
				<div class="testScoreLeft font4p18vw" ng-if="listOfTestAttempts.isAborted == true">
					Correct Matches :
					<div class="font56 orange bold">0</div>
				</div>
				<div class="testScoreRight font4p18vw">{{listOfTestAttempts.date | dateFilter}}</div>
			</div>
		</div>
	</div>

	<div class="list performList" ng-if="PMtypeListResult[0].PMType == 'Reaction Time'">
		<div class="item" ng-repeat="listOfTestAttempts in PMtypeListResult | orderBy : '-date'">
			<div class="testScoreLeft" ng-if="listOfTestAttempts.isAborted == false">
				<div class="font4p18vw">Visual Test Score : <span class="font56 orange bold">{{listOfTestAttempts.visualScore}}</span>
				<span class="resultText font4p18vw">ms</span></div><!-- milliseconds -->
				<div class="font4p18vw">Audio Test Score : <span class="font56 orange bold">{{listOfTestAttempts.audioScore}}</span>
				<span class="resultText font4p18vw">ms</span></div>
			</div>
			<div class="testScoreLeft" ng-if="listOfTestAttempts.isAborted == true">
				<div class="font4p18vw">Visual Test Score : <span class="font56 orange bold">0</span>
				<span class="resultText font4p18vw">ms</span></div>
				<div class="font4p18vw">Audio Test Score : <span class="font56 orange bold">0</span>
				<span class="resultText font4p18vw">ms</span></div>
			</div>
			<div class="testScoreRight font4p18vw">{{listOfTestAttempts.date | dateFilter}}</div>
		</div>
	</div>

	<div class="list performList" ng-if="PMtypeListResult[0].PMType == 'Color Vision'">
		<div class="item" ng-repeat="listOfTestAttempts in PMtypeListResult | orderBy : '-date'">
			<!-- <div class="testScoreLeft font4p18vw">
				Plates Correct/Total :
				<div class="font56 orange bold" ng-if="listOfTestAttempts.isAborted == false">{{listOfTestAttempts.score1.LC + listOfTestAttempts.score1.RC}}/22</div>
				<div class="font56 orange bold" ng-if="listOfTestAttempts.isAborted == true">0/22</div>
			</div> -->
			<div class="testScoreLeft" ng-if="listOfTestAttempts.isAborted == false">
			<div class="font4p18vw upperCase bold">Plates Correct/Total</div>
				<div class="font4p18vw">Left Eye Score : <span class="font56 orange bold">{{listOfTestAttempts.score1.LC}}/11</span></div>
				<div class="font4p18vw">Right Eye Score : <span class="font56 orange bold">{{listOfTestAttempts.score1.RC}}/11</span></div>
			</div>
			<div class="testScoreLeft" ng-if="listOfTestAttempts.isAborted == true">
			<div class="font4p18vw upperCase bold">Plates Correct/Total</div>
				<div class="font4p18vw">Left Eye Score : <span class="font56 orange bold">0/11</span></div>
				<div class="font4p18vw">Right Eye Score : <span class="font56 orange bold">0/11</span></div>
			</div>
			<div class="testScoreRight font4p18vw">{{listOfTestAttempts.date | dateFilter}}</div>
		</div>
	</div>

	<div class="list performList" ng-if="PMtypeListResult[0].PMType == 'Finger Tapping'">
		<div class="item" ng-repeat="listOfTestAttempts in PMtypeListResult | orderBy : '-date'">
			<!-- <div class="testScoreLeft font4p18vw" ng-if="listOfTestAttempts.isAborted == false">
				Number of taps :
				<div class="font56 orange bold">{{listOfTestAttempts.score1.ADH + listOfTestAttempts.score1.ANDH}}</div>
			</div>
			<div class="testScoreLeft font4p18vw" ng-if="listOfTestAttempts.isAborted == true">
				Number of taps :
				<div class="font56 orange bold">0</div>
			</div> -->
			<div class="testScoreLeft" ng-if="listOfTestAttempts.isAborted == false">
				<div class="font4p18vw upperCase bold">Number of taps</div>
				<div class="font4p18vw">{{strongHand}} : <span class="font56 orange bold">{{listOfTestAttempts.score1.ADH}}</span></div>
				<div class="font4p18vw">{{weekHand}} : <span class="font56 orange bold">{{listOfTestAttempts.score1.ANDH}}</span></div>
			</div>
			<div class="testScoreLeft" ng-if="listOfTestAttempts.isAborted == true">
				<div class="font4p18vw upperCase bold">Number of taps</div>
				<div class="font4p18vw">{{strongHand}} : <span class="font56 orange bold">ABORTED</span></div>
				<div class="font4p18vw">{{weekHand}} : <span class="font56 orange bold">ABORTED</span></div>
			</div>
			<div class="testScoreRight font4p18vw">{{listOfTestAttempts.date | dateFilter}}</div>
		</div>
	</div>


	<div class="list performList" ng-if="PMtypeListResult[0].PMType == 'Word Match and Memory'">
		<div class="item" ng-repeat="listOfTestAttempts in PMtypeListResult | orderBy : '-date'">
			<div class="testScoreLeft" ng-if="listOfTestAttempts.isAborted == false">
				<!-- If Test is completed successfully -->
				<div class="font4p18vw" ng-if="!listOfTestAttempts.isTimeout || (listOfTestAttempts.isTimeout && listOfTestAttempts.isTimeout == false)">Matching Accuracy: <span class="font56 orange bold"> {{listOfTestAttempts.score1.percentCorrectlang}}%</span> </div>
				<div class="font4p18vw" ng-if="!listOfTestAttempts.isTimeout || (listOfTestAttempts.isTimeout && listOfTestAttempts.isTimeout == false)">Memory Accuracy: <span class="font56 orange bold"> {{listOfTestAttempts.score1.percentCorrect}}%</span> </div>

				<!-- If Test is timeout -->
				<div class="font4p18vw" ng-if="listOfTestAttempts.isTimeout && listOfTestAttempts.isTimeout == true" style="position:relative">Matching and<br>Memory Accuracy:<span class="font56 orange bold" style="position:absolute;left:37vw;top:2.6vw;">TIMEOUT</span> </div>
				<!-- <div class="font4p18vw" ng-if="listOfTestAttempts.isTimeout && listOfTestAttempts.isTimeout == true">Memory Accuracy: <span class="font56 orange bold"> TIMEOUT</span>  </div>-->
			</div>
			<div class="testScoreLeft" ng-if="listOfTestAttempts.isAborted == true">
			<div class="font4p18vw" style="position:relative">Matching and<br>Memory Accuracy:<span class="font56 orange bold" style="position:absolute;left:37vw;top:2.6vw;">ABORTED</span> </div>
				<!-- <div class="font4p18vw">Matching Accuracy: <span class="font56 orange bold"> 0%</span> </div>
				<div class="font4p18vw">Memory Accuracy: <span class="font56 orange bold"> 0%</span> </div> -->
			</div>
			<div class="testScoreRight font4p18vw">{{listOfTestAttempts.date | dateFilter}}</div>
		</div>
	</div>
	<div class="list towerHanoi performList" ng-if="PMtypeListResult[0].PMType == 'Tower Tasks'">
		<div class="item towerHanoiScore" ng-repeat="listOfTestAttempts in PMtypeListResult | orderBy : '-date'">
			<div class="testScoreLeft font4p18vw" ng-if="listOfTestAttempts.isAborted == false">
				<div> <span class="bold orange">{{listOfTestAttempts.score1}}</span> out of <span class="bold">5</span> tests completed</div>
				<div class="height5"></div>
				<div class="scoreRow">
					<div class="scoreText font56">1: </div>
					<div class="scoreIcon" ng-class="{'right':listOfTestAttempts.raw[0].correctCompleted,'worng':!listOfTestAttempts.raw[0].correctCompleted}">
						<img src="img/towerTestRightIconGreen.png" ng-if="listOfTestAttempts.raw[0].correctCompleted">
						<img src="img/towerTestWrongIconOrange.png" ng-if="!listOfTestAttempts.raw[0].correctCompleted">&nbsp;
					</div>
				</div>
				<div class="scoreRow">
					<div class="scoreText font56">2: </div>
					<div class="scoreIcon" ng-class="{'right':listOfTestAttempts.raw[1].correctCompleted,'worng':!listOfTestAttempts.raw[1].correctCompleted}">
						<img src="img/towerTestRightIconGreen.png" ng-if="listOfTestAttempts.raw[1].correctCompleted">
						<img src="img/towerTestWrongIconOrange.png" ng-if="!listOfTestAttempts.raw[1].correctCompleted">&nbsp;
					</div>
				</div>
				<div class="scoreRow">
					<div class="scoreText font56">3: </div>
					<div class="scoreIcon" ng-class="{'right':listOfTestAttempts.raw[2].correctCompleted,'worng':!listOfTestAttempts.raw[2].correctCompleted}">
						<img src="img/towerTestRightIconGreen.png" ng-if="listOfTestAttempts.raw[2].correctCompleted">
						<img src="img/towerTestWrongIconOrange.png" ng-if="!listOfTestAttempts.raw[2].correctCompleted">&nbsp;
					</div>
				</div>
				<div class="scoreRow">
					<div class="scoreText font56">4: </div>
					<div class="scoreIcon" ng-class="{'right':listOfTestAttempts.raw[3].correctCompleted,'worng':!listOfTestAttempts.raw[3].correctCompleted}">
						<img src="img/towerTestRightIconGreen.png" ng-if="listOfTestAttempts.raw[3].correctCompleted">
						<img src="img/towerTestWrongIconOrange.png" ng-if="!listOfTestAttempts.raw[3].correctCompleted">&nbsp;
					</div>
				</div>
				<div class="scoreRow">
					<div class="scoreText font56">5: </div>
					<div class="scoreIcon" ng-class="{'right':listOfTestAttempts.raw[4].correctCompleted,'worng':!listOfTestAttempts.raw[4].correctCompleted}">
						<img src="img/towerTestRightIconGreen.png" ng-if="listOfTestAttempts.raw[4].correctCompleted">
						<img src="img/towerTestWrongIconOrange.png" ng-if="!listOfTestAttempts.raw[4].correctCompleted">
					</div>
				</div>
			</div>
			<div class="testScoreLeft font4p18vw" ng-if="listOfTestAttempts.isAborted == true">
				<div> <span class="bold orange">0</span> out of <span class="bold">5</span> tests completed</div>
				<div class="height5"></div>
				<div class="scoreRow">
					<div class="scoreText font56">1: </div>
					<div class="scoreIcon worng">
						<img src="img/towerTestWrongIconOrange.png">&nbsp;
					</div>
				</div>
				<div class="scoreRow">
					<div class="scoreText font56">2: </div>
					<div class="scoreIcon worng">
						<img src="img/towerTestWrongIconOrange.png">&nbsp;
					</div>
				</div>
				<div class="scoreRow">
					<div class="scoreText font56">3: </div>
					<div class="scoreIcon worng">
						<img src="img/towerTestWrongIconOrange.png">&nbsp;
					</div>
				</div>
				<div class="scoreRow">
					<div class="scoreText font56">4: </div>
					<div class="scoreIcon worng">
						<img src="img/towerTestWrongIconOrange.png">&nbsp;
					</div>
				</div>
				<div class="scoreRow">
					<div class="scoreText font56">5: </div>
					<div class="scoreIcon worng">
						<img src="img/towerTestWrongIconOrange.png">
					</div>
				</div>
			</div>
			<div class="testScoreRight font4p18vw">
				{{listOfTestAttempts.date | dateFilter}}
			</div>
		</div>
	</div>
	<div class="item item-borderless">
		<button class="button button-block button-darkPurple" ng-click="goToState('app.performanceEvals','Performance Metric','Performance Metric Screen (Result Screen)', 'Back')">Back</button>
	</div>
</ion-content >
