<ion-view view-title=' <i class="headerIcon"></i> ' cache-view="false">
	<ion-nav-bar class="bar-stable">
	    <ion-nav-buttons side="left">
	      	<button class="button button-icon button-clear ion-navicon" menu-toggle="left" ng-disabled="!getStarted">
	      	</button>
	    </ion-nav-buttons>
  	</ion-nav-bar>
	<ion-content class="symbolDigitTest">
   
	   <!-- Page 2 Trail test-->
		<div ng-hide="symbolTest">
		    <div class="titleBox text-center">
			    <p class="darkPurple">Symbol Substitution Test</p>
			</div>

		    <!-- initial Text -->
			<div class="testContent" ng-show="getStarted">
				<div class="testInfo">
					<div class="testInfoImg"><img src="img/symbolSubstitutionTestIcon.png" alt="Symbol Substitution"></div>
					<div class="height30"></div>
					<div class="testInfoContent">					 
					  <div class="font4p18vw lH466">
					    <span class="bold">How to take this test:</span> 
					    <ul>
					      <li>A row of symbols and a corresponding row of numbers will be displayed at the top of your screen. You’ll use this as a “key” to “solve” the test</li>
					      <li>You’ll be shown a series of symbols, one at a time</li>
					      <li>When a symbol appears on screen, tap the number on your key pad that corresponds to that symbol</li>
					      <li>Repeat until the test is completed</li>
					      <li>Work as quickly and accurately as possible</li>
					    </ul>
					  </div>
					  <div class="height10"></div>
					</div>
				</div>  
				<div class="pmBtnHldr">
				<button class="button button-block button-outline button-darkPurple " ng-click="trialRun()">Take a Practice Run</button>

				<div class="height10"></div>

				<button class="button button-block button-orange " ng-click="startSymbolTest(1)" ng-disabled="!isTrailTaken1">Get Started!</button>

				<div class="height20"></div>

				<button class="button button-block button-darkPurple " ng-click="goToState('app.performanceEvals','Symbol Substitution Screen','Performance Metric Screen (Symbol Substitution)','Back')">Back</button>
				</div>

			</div>

			<!-- All test holder -->
			<div ng-hide="getStarted">

			<!-- trial test -->
				<div ng-show="takeTrial">
					<div class="symbolOptionContent">
						<div class="symbolOption" ng-repeat="symbolArr in newArrTestKey">
			                <div class="symbolIcon">
			                	<i class="icon"><img ng-src="{{symbolArr.symbol}}"></i>
			                </div>
			                <div class="symbolNumbar bold">
			                	{{symbolArr.value}}
			                </div>
			          	</div>
					</div>
					<div class="height20"></div>
					<div class="symbolDigitArea">
						<div ng-hide="startTest">
							<div ng-class="showTest1">
								<div class="testCircle small" >
					    			<div class="testCircleContent">
					    				<div class="circleFill one " >
					    					<div class="textContent font100 bold">3</div>
					    				</div>
					    			</div>
					    		</div>
							</div>
							<div ng-class="showTest2">
								<div class="testCircle small" >
					    			<div class="testCircleContent">
					    				<div class="circleFill two " >
					    					<div class="textContent font100 bold">2</div>
					    				</div>
					    			</div>
					    		</div>
							</div>
							<div ng-class="showTest3">
								<div class="testCircle small" >
					    			<div class="testCircleContent">
					    				<div class="circleFill three ">
					    					<div class="textContent font100 bold">1</div>
					    				</div>
					    			</div>
								</div>
							</div>
				    		<div ng-class="showTest4">
				    			<div class="testCircle withBg">
					    			<div class="testCircleContent">
				    					<div class="textContent font100 darkGray bold" >Go!</div>
					    			</div>
					    		</div>
							</div>
							<div ng-class="showTest5">
				    			<div class="testCircle ">
					    			<div class="testCircleContent">
					    				<div class="symbolOptionsValue"><img ng-src="{{div.symbol}}" alt=""></div>
						    		</div>
								</div>
							</div>
						</div>
						<div class="showCongClass" ng-show="startTest" ng-click="pickRandomElementTest(0)">
							<div class="testCircle" style="margin-top:43vw;">
								<div class="testCircleContent">
										<div class="height10"></div>
				    				<div class="font100 bold">Ready?</div>
				    				<div class="height10"></div>
				    				<div class="font4p18vw lH466">Tap anywhere<br/>to begin</div>
					    		</div>
							</div>
						</div>
						<div style="height:46.69vw;" ng-show="startTest"></div>
						<div class="symbolOptionKeys">
							<div class="symbolOptionsNum" ng-repeat="valueArr in newArrTestKey" ng-click="pickRandomElementTest(valueArr.value,false)">
								<div class="numValue font100" >
									{{valueArr.value}}
								</div>
							</div>
						</div>
						<div class="height20"></div>
						<div class="text-center"><a class="upperCase underline font50 darkPurple " ng-click="cancelBtn()" ng-hide="retakeCancelBtnDisabled"> Cancel</a></div>
					</div>
				</div>

				<!-- main test -->
				<div ng-hide="takeTrial">
					<div class="symbolOptionContent">
						<div class="symbolOption" ng-repeat="symbolArr in newArrKey">
			                <div class="symbolIcon">
			                	<i class="icon"><img  ng-src="{{symbolArr.symbol}}" alt=""></i>
			                </div>
			                <div class="symbolNumbar bold">
			                	{{symbolArr.value}}
			                </div>
			          	</div>
					</div>
										
					<div class="symbolDigitArea">
						<div ng-show="startTest">
							<div ng-class="show1">
								<div class="testCircle small" >
					    			<div class="testCircleContent">
					    				<div class="circleFill one " >
					    					<div class="textContent font100 bold">3</div>
					    				</div>
					    			</div>
					    		</div>
							</div>
							<div ng-class="show2">
								<div class="testCircle small" >
					    			<div class="testCircleContent">
					    				<div class="circleFill two " >
					    					<div class="textContent font100 bold">2</div>
					    				</div>
					    			</div>
					    		</div>
							</div>
							<div ng-class="show3">
								<div class="testCircle small" >
					    			<div class="testCircleContent">
					    				<div class="circleFill three ">
					    					<div class="textContent font100 bold">1</div>
					    				</div>
					    			</div>
								</div>
							</div>
				    		<div ng-class="show4">
				    			<div class="testCircle withBg">
					    			<div class="testCircleContent">
				    					<div class="textContent darkGray font100 bold" >Go!</div>
					    			</div>
					    		</div>
							</div>
							<div ng-class="show5">
				    			<div class="testCircle ">
					    			<div class="testCircleContent">
					    				<div class="symbolOptionsValue"><img ng-src="{{div.symbol}}" alt=""></div>
						    		</div>
								</div>
							</div>
						</div>
						<div ng-hide="startTest">
							<div ng-if="showCong">
								<div class="height40"></div>
								<div class="darkYellowGreen font80 italicFont bold text-center">
									Congratulations!
								</div>
								<div class="height5"></div>
								<div class="height20"></div>
								<div class="pmBtnHldr">
									<button class="button button-block button-orange" ng-click="startMainTestAfterTrail()">Start Test</button>
								</div>
								<div class="height40"></div>
								<div class="height5"></div>
							</div>

							<div ng-if="!showCong" class="showCongClass" ng-click="pickRandomElement(0)">
								<div class="testCircle" style="margin-top:40.5vw;">
									<div class="testCircleContent">
											<div class="height10"></div>
					    				<div class="font100 bold">Ready?</div>
					    				<div class="height10"></div>
					    				<div class="font4p18vw lH466">Tap anywhere<br/>to begin</div>
						    		</div>
								</div>
							</div>
							<div ng-if="!showCong" style="height:46.69vw;"></div>
						</div>
						<div class="height20"></div>
						<div class="symbolOptionKeys">
							<div class="symbolOptionsNum"  ng-repeat="valueArr in newArrKey" ng-click="pickRandomElement(valueArr.value)">
								<div class="numValue font100" >
									{{valueArr.value}}
								</div>
							</div>
						</div>
						<div class="height20"></div>
						<div class="text-center"><a class="upperCase underline darkPurple font50" ng-click="cancelBtn()" ng-hide="retakeCancelBtnDisabled"> Cancel</a></div>
					</div>
				</div>

			</div>


		</div>


		<!-- Page 1 or comes on last try -->
		<div ng-show="symbolTest">
		    <div class="titleBox text-center">
			    <p class="darkPurple">Symbol Substitution and<br/> Trail Making</p>
			</div>
			<div class="testContent reactionTimeResult">
				<div class="testInfo">
					<div class="testInfoImg"><img src="img/testicon/symbolDigit.png" alt="Symbol Substitution and Trial Making"></div>
					<div class="height25"></div>
					<div class="testInfoContent">					 
					  <div class="font4p18vw lH466">This cognitive assessment is composed of two tests. Please note that you’ll need to complete both tests before receiving your test results.</div>
					  <div class="height100"></div>
					  <div class="height100"></div>
					</div>
				</div>
			  	
			  	<div class="pmBtnHldr">
			  		<button class="button button-block button-orange" ng-click="startSymbolSubstitutionTest()">CONTINUE</button>
			  		<div class="height20"></div>
			  		<div class="height20"></div>
			  		<button class="button button-block button-darkPurple" ng-click="goToState('app.performanceEvals','Symbol Substitution Screen','Performance Metric Screen (Symbol Substitution)','Back')">Back</button>
			  	</div>
			</div>
		</div>
	</ion-content>
</ion-view>
