<ion-view view-title=' <i class="headerIcon"></i> ' cache-view="false">
	<ion-nav-bar class="bar-stable">
			<ion-nav-buttons side="left">
					<button class="button button-icon button-clear ion-navicon" menu-toggle="left" ng-disabled="!showSideMenu">
					</button>
			</ion-nav-buttons>
	</ion-nav-bar>
	<ion-content class="towerHanoi">
			<div class="titleBox text-center">
    		<p class="darkPurple" ng-if="!showResultScreen">Tower Tasks</p>
    		<p class="darkPurple" ng-if="showResultScreen">Tower Tasks Results</p>
			</div>

		<div>
			<div class="testContent" ng-if="showGetStarted">
				<div class="testInfo">
					<div class="testInfoImg"><img src="img/testicon/towerOfHanoi.png"></div>
					<div class="height25"></div>
					<div class="testInfoContent font4p18vw lH466">											 
						<div>
								<span class="bold">How to take this test:</span> 
								<ul>
									<li>You will see discs arranged on 3 pegs</li>
									<li>Your task is to move the discs, one at a time, stacking them on one peg</li>
									<li>Stack the discs using as few moves as possible</li>
									<li>There is one rule to follow: You may not place a larger disc on top of a smaller disc</li>
									<li>To move a disc to another peg, touch it with your finger and drag it across the screen to the other peg.  Then lift your finger off the screen to leave the disc on the new peg</li>
									<li>Tap "Finish" when you’ve completed the task</li>
								</ul>
						</div>
						<div class="height10"></div>
					</div>
				</div>  
				<div class="pmBtnHldr"><button class="button button-block button-outline button-darkPurple" ng-click="startTrialTest()">Take a Practice Run</button></div>
				<div class="height10"></div>
				<div class="pmBtnHldr"><button class="button button-block button-orange" ng-click="gettingStarted()" ng-disabled="!isTrailTaken">Get Started!</button></div>
				<div class="height20"></div>
				<div class="pmBtnHldr"><button class="button button-block button-darkPurple" ng-click="goToState('app.performanceEvals','Tower Task Screen','Performance Metric Screen (Tower Task)','Back')">Back</button></div>
			</div>

			<!-- Tower trial test -->
			<div ng-show="showMainTest">
				<div class="towerTapArea">

					<!-- <div>  Test COntent GOes here </div> -->
					<div id="gameDiv1"></div>

					<!-- TEST POPUP COMPLETE -->
					<div class="startTestCover" ng-show="showTrialResult">
						<div class="height100"></div>
						<div class="height20"></div>
						<div class="darkYellowGreen font80 bold italicFont text-center">
							Congratulations!
						</div>
						<div class="height60"></div>
						<div class="pmBtnHldr">
							<button class="button button-block button-orange" ng-click="startMainTestAfterTrial()">Start</button>
						</div>
						<div class="height40"></div>
						<div class="height5"></div>
					</div> 
					<!-- TEST POPUP COMPLETE FINISH -->

					<div class="timerArea upperCase font4p18vw">
						<div class="resultTextTitle ">Total Moves :</div>
						<div class="resultText moves">{{numberofMoves}}</div>
						<div class="resultTextTitle">Time Left :</div>
						<div class="resultText">
							<!-- 0:{{(timeLeft<10) ? '0' + timeLeft : timeLeft}} -->
							{{timeLeft | minutesfilterTowerTest}}</span>:<span class="seconds">{{timeLeft | secondsfilterTowerTest}}
						</div>
					</div>
					

				</div>
				<div class="height20"></div>
				<div class="height10"></div>
				<div class="buttonContainer"><button class="button button-block button-orange" ng-disabled="showTrialResult" ng-click="finishTapped()">Finish</button></div>
				<div class="height20"></div>
				<div class="text-center"><a class="upperCase underline font50 darkPurple " ng-click="cancelBtn()" ng-hide="retakeCancelBtnDisabled">Cancel</a></div>
				<div class="height20"></div>
			</div>

			<!-- Tower Mail test -->
			<div ng-if="showStartTest && !showMainTest">
				<div class="towerTapArea">
					<div class="startTestCover getReady">
						<div class="height100"></div>
						<div class="height10"></div>
						<div class="white font80 bold text-center">Get Ready! </div>
						<div class="height3"></div>
						<div class="white font60 bold text-center"> ROUND {{round}} </div>
						<div class="height25"></div>
						<div class="white font4p18vw lH466 text-center"> The timer will begin as soon as you tap the ”START” button </div>
						<div class="height25"></div>
						<div class="pmBtnHldr">
							<button class="button button-block button-orange" ng-click="startMainTest()">Start</button>
						</div>
						<div class="height40"></div>
						<div class="height5"></div>
					</div> 
				</div>
				<div class="height100"></div>
				<div class="height10"></div>
				<div class="height6"></div>
				<div class="text-center"><a class="upperCase underline font50 darkPurple " ng-click="cancelBtn()" ng-hide="retakeCancelBtnDisabled"> Cancel</a></div>
				<div class="height20"></div>
			</div>
		</div>
		
		<!-- Tower Test Result -->
		<div class="testContent text-center" ng-if="showResultScreen">
			<div class="height50"></div>
			<div class="font56"><span class="bold orange">{{numberOfCorrect}}</span> out of <span class="bold">5</span> tasks completed </div>
			<div class="height10"></div>
			<div class="towerHanoiScore">
				<div class="scoreRow">
					<div class="scoreText font4p18vw lH466">Round 1:</div>
					<div class="scoreIcon lH466" ng-class="{'right':rawData[0].correctCompleted,'worng':!rawData[0].correctCompleted}">
						<img src="img/towerTestRightIconGreen.png" ng-if="rawData[0].correctCompleted">
						<img src="img/towerTestWrongIconOrange.png" ng-if="!rawData[0].correctCompleted">
					</div>
				</div>
				<div class="scoreRow">
					<div class="scoreText font4p18vw lH466">Round 2:</div>
					<div class="scoreIcon lH466" ng-class="{'right':rawData[1].correctCompleted,'worng':!rawData[1].correctCompleted}">
						<img src="img/towerTestRightIconGreen.png" ng-if="rawData[1].correctCompleted">
						<img src="img/towerTestWrongIconOrange.png" ng-if="!rawData[1].correctCompleted">
					</div>
				</div>
				<div class="scoreRow">
					<div class="scoreText font4p18vw lH466">Round 3:</div>
					<div class="scoreIcon lH466" ng-class="{'right':rawData[2].correctCompleted,'worng':!rawData[2].correctCompleted}">
						<img src="img/towerTestRightIconGreen.png" ng-if="rawData[2].correctCompleted">
						<img src="img/towerTestWrongIconOrange.png" ng-if="!rawData[2].correctCompleted">
					</div>
				</div>
				<div class="scoreRow font4p18vw lH466">
					<div class="scoreText">Round 4:</div>
					<div class="scoreIcon lH466" ng-class="{'right':rawData[3].correctCompleted,'worng':!rawData[3].correctCompleted}">
						<img src="img/towerTestRightIconGreen.png" ng-if="rawData[3].correctCompleted">
						<img src="img/towerTestWrongIconOrange.png" ng-if="!rawData[3].correctCompleted">
					</div>
				</div>
				<div class="scoreRow font4p18vw lH466">
					<div class="scoreText">Round 5:</div>
					<div class="scoreIcon lH466" ng-class="{'right':rawData[4].correctCompleted,'worng':!rawData[4].correctCompleted}">
						<img src="img/towerTestRightIconGreen.png" ng-if="rawData[4].correctCompleted">
						<img src="img/towerTestWrongIconOrange.png" ng-if="!rawData[4].correctCompleted">
					</div>
				</div>
			</div>
				<div class="height40"></div>
			<p class="font4p18vw lH466">Visit your patient dashboard (at <a class="darkPurple font4p18vw underline" ng-click="takeToMSCareConnectDashboard()">MSCareConnect.com</a>) to learn more about this test, see how you compare with others, and how these results compare with your past performance.</p>
			<div class="height20"></div>
			<p class="font4p18vw lH466" ng-hide="retakeCancelBtnDisabled">
				If problems occurred while taking this test, you can retake it. However, this test is given to gain an accurate measurement of your functioning, so try to avoid excessive retakes.
			</p>
			<div class="height20"></div>
				<div class="pmBtnHldr">
					<button class="button button-block button-orange" ng-click="retakeTest()" ng-hide="retakeCancelBtnDisabled">Retake Test</button>
					<div class="height10"></div>
					<div class="height3"></div>
					<button class="button button-block button-darkPurple" ng-click="goBackToPmPage()">Return to list</button>
				</div>
		</div>
	</ion-content>
</ion-view>
