<ion-view view-title=' <i class="headerIcon"></i> ' cache-view="false">
	<ion-nav-bar class="bar-stable">
	    <ion-nav-buttons side="left">
	      	<button class="button button-icon button-clear ion-navicon" menu-toggle="left" ng-disabled="!showSideMenu">
	      	</button>
	    </ion-nav-buttons>
  	</ion-nav-bar>
	<ion-content class="trailTest">

		<!-- Discription Screen -->
		<div ng-hide="testResult">	
			<div class="titleBox text-center">
				<p class="darkPurple" ng-if="!round1Complete">Trail Making Round 1</p>
				<p class="darkPurple" ng-if="round1Complete">Trail Making Round 2</p>
			</div>
			<div class="testContent" ng-show="DescScreen">
				<div class="testInfo">
					<div class="testInfoImg"><img src="img/trailMakingTestIcon.png" alt="Color Vision"></div>
					<div class="height25"></div>
					<div class="testInfoContent font4p18vw lH466" ng-if="!round1Complete">
						<div class="text-center orange bold font4p18vw lH466">
							You’re almost done! Now complete the<br>Trail Making test. There are 2 rounds to this test (Round 1 and Round 2).
						</div>
						<div class="height20"></div>
						<div>
							<span class="bold">How to take Round 1:</span>
							<ul>
								<li>You will see numbered dots on the screen. Tap on them in order: 1, 2, 3, and so on</li>
								<li>Tap on them as quickly and accurately as possible. This will make a “trail” that connects the dots</li>
								<li>Your score is how quickly you complete the trail</li>
							</ul>
						</div>
						<div class="height10"></div>
					</div>
					<div class="testInfoContent font4p18vw lH466" ng-if="round1Complete">
						<div class="text-center orange bold font4p18vw lH466">
							Now complete Round 2 to finish!
						</div>
						<div class="height20"></div>
						<div>
							<span class="bold">How to take Round 2:</span>
							<ul>
								<li>You will see numbers AND letters on the screen. Tap on them in the following order: 1, A, 2, B, 3, C, and so on</li>
								<li>Switch between the numbers and letters as quickly and accurately as possible. This will make a "trail" that connects them</li>
								<li>Your score is how quickly you complete the trail</li>
							</ul>
						</div>
						<div class="height10"></div>
					</div>
				</div>
				<div class="pmBtnHldr" ng-if="!round1Complete"><button class="button button-block button-outline button-darkPurple " ng-click="takeDemoTrial(1)">Take a Practice Run</button></div>
				<div class="pmBtnHldr" ng-if="round1Complete"><button class="button button-block button-outline button-darkPurple " ng-click="takeDemoTrial(2)">Take a Practice Run</button></div>
				<div class="height10"></div>

				<div class="pmBtnHldr" ng-if="!round1Complete"><button class="button button-block button-orange" ng-click="startTrailTest()" ng-disabled="!isTrailTaken2Round1">Get Started!</button></div>

				<div class="pmBtnHldr" ng-if="round1Complete"><button class="button button-block button-orange" ng-click="startTrailTest()" ng-disabled="!isTrailTaken2Round2">Start Round 2</button></div>
				<div class="height20"></div>
				<div class="pmBtnHldr" ng-if="!round1Complete"><button class="button button-block button-darkPurple" ng-click="goToState('app.performanceEvals','Trail Making Screen','Performance Metric Screen (Trail Making)','Back')">Back</button></div>
			</div>
		
			<!-- Trail trail test -->
			<div ng-show="demoTrail">
				<div class="trailTapArea">
					<div id="trailTestTrial"></div>
					<div id="trailTestTrialLower"></div>
		
					<div ng-if="!demoTestComplete" class="startTestCover">
						<div class="height100"></div>
						<div class="height60"></div>
						<div class="darkYellowGreen font80 bold italicFont text-center">
							Congratulations!
						</div>
						<div class="height20"></div>
						<div class="pmBtnHldr">
							<button class="button button-block button-orange" ng-click="startTrailTest()">Start Test</button>
						</div>
						<div class="height40"></div>
						<div class="height5"></div>
					</div>
				</div>
				<div class="height10"></div>
				<div class="font56 darkPurple text-center">Trail Making Test Instructions </div>
				<div class="height5"></div>
				<div class="text-center lH466">
					As quickly and accurately as possible, tap <br>on the numbers <span ng-if="round1Complete">and letters</span> in the correct sequence: <br><span ng-if="!round1Complete">1, 2, 3, 4, 5, 6, </span><span ng-if="round1Complete">1, A, 2, B, 3, C, </span> etc. To start the test, begin by tapping 1, <br>then continue onto subsequent dots, <br>which will create a trail on the screen.
				</div>
				<div class="height20"></div>
				<div class="text-center"><a class="upperCase underline font50 darkPurple " ng-click="cancelBtn()" ng-hide="retakeCancelBtnDisabled">
						Cancel</a></div>
				<div class="height20"></div>
			</div>
		
			<!-- Trail Main test -->
			<div ng-show="mainTrail">
				<div class="trailTapArea">
					<div id="trailTestLower"></div>
					<div id="trailTest"></div>
					<!-- <div>
						Canvas Area Canvas Area Canvas Area Canvas Area Canvas Area Canvas Area Canvas Area
					</div> -->
					<!-- <div ng-if="round1Complete" class="startTestCover">
						<div class="height100"></div>
						<div class="height60"></div>
						<div class="darkYellowGreen font80 bold italicFont text-center">
							Round 1 completed!
						</div>
						<div class="height20"></div>
						<div class="pmBtnHldr">
							<button class="button button-block button-orange" ng-if="!isTrailTaken2Round2" ng-click="takeDemoTrial(2)">Take a Practice Run</button>
							<button class="button button-block button-orange" ng-if="isTrailTaken2Round2" ng-click="startTrailTest()">Start Round 2</button>
						</div>
						<div class="height40"></div>
						<div class="height5"></div>
					</div> -->
				</div>
				<div class="height10"></div>
				<div class="font56 darkPurple text-center">Trail Making Test Instructions </div>
				<div class="height5"></div>
				<div class="text-center lH466">
					As quickly and accurately as possible, tap <br>on the numbers <span ng-if="round1Complete">and letters</span> in the correct sequence: <br><span ng-if="!round1Complete">1,	2, 3, 4, 5, 6, </span><span ng-if="round1Complete">1, A, 2, B, 3, C, </span>etc. To start the test, begin by tapping 1, <br>then continue onto subsequent dots, <br>which will create a trail on the screen.
				</div>
				<div class="height20"></div>
				<div class="text-center"><a class="upperCase underline font50 darkPurple " ng-click="cancelBtn()" ng-hide="retakeCancelBtnDisabled">
						Cancel</a></div>
				<div class="height20"></div>
			</div>
		
		</div>

		<!-- Trail Test Result -->
		<div ng-show="testResult">
			<div class="titleBox text-center">
    		<p class="darkPurple">Symbol Substitution and<br>Trail Making Results</p>
			</div>

			<div class="testContent reactionTimeResult text-center">
				<div class="height20"></div>
				<!-- Test Result Score  -->
				<!-- <div class="height100"></div> -->
				<div>
					<div class="upperCase bold font4p18vw lH466">Symbol Substitution</div>
					<div class="height5"></div>
					<div class="upperCase font80 orange bold">{{correct}}</div>
					<div class="resultText font4p18vw lH466">correct matches</div>
				</div>
				<div class="height20"></div>
				<div class="seperater orange"></div>
				<div class="height20"></div>
				<div>
					<div class="upperCase bold font4p18vw lH466">Trail Making</div>
					<div class="height5"></div>
					<div class="resultText font4p18vw lH466">Completion time:</div>
					<div class="height5"></div>
					<table cellspacing="0" cellpadding="0" border="0" width="100%">
						<tr>
							<td>
								<div class="resultText font4p18vw lH466">Round 1</div>
								<div class="height5"></div>
								<div class="upperCase font80 orange bold">{{ShowRound1Score}}</div>
								<div class="resultText font4p18vw lH466">seconds</div>
							</td>
							<td>
								<div class="resultText font4p18vw lH466">Round 2</div>
								<div class="height5"></div>
								<div class="upperCase font80 orange bold">{{ShowRound2Score}}</div>
								<div class="resultText font4p18vw lH466">seconds</div>
							</td>
						</tr>
					</table>
				</div>
				<!-- <div class="height100"></div> -->
			  	<div class="height20"></div>
			  	<div class="height20"></div>
				<p class="font4p18vw lH466">Visit your patient dashboard (at <a class="darkPurple font4p18vw underline" ng-click="takeToMSCareConnectDashboard()">MSCareConnect.com</a>) to learn more about this test, see how you compare with others, and how these results compare with your past performance.</p>
				<p class="font4p18vw lH466" ng-hide="retakeCancelBtnDisabled">If problems occurred while taking this test, you can retake it. However, this test is given to gain an accurate measurement of your functioning, so try to avoid excessive retakes.</p>
				<div class="height20"></div>
			  	<div class="pmBtnHldr">
			  		<button class="button button-block button-orange" ng-click="retakeTest()" ng-hide="retakeCancelBtnDisabled">Retake Test</button>
			  		<div class="height10"></div>
			  		<div class="height3"></div>
			  		<button class="button button-block button-darkPurple" ng-click="goToState('app.performanceEvals','Trail Making Screen','Performance Metric Screen (Trail Making)','Return')">Return to list</button>
			  	</div>
			</div>
		</div>
	</ion-content>
</ion-view>
