<ion-view view-title=' <i class="headerIcon"></i> '>
	<ion-nav-bar class="bar-stable">
	    <ion-nav-buttons side="left">
	      	<button class="button button-icon button-clear ion-navicon" menu-toggle="left" ng-disabled="!showSideMenu">
	      	</button>
	    </ion-nav-buttons>
  	</ion-nav-bar>

  	<ion-content class="has-header">
	  	<!-- <div class="subHeader text-center">
		  	<div class="title font56 darkPurple" ></div>
		  	<div class="title font56 darkPurple" ng-hide="showWalkTest">Timed 25ft Walk Results</div>
		</div> -->

		<div class="titleBox text-center">
    	<p class="darkPurple" ng-if="showWalkTest">Timed 25ft Walk</p>
    	<p class="darkPurple" ng-if="!showWalkTest">Timed 25ft Walk Results</p>
		</div>
  		<div class="testContent timed25FeetWalk">
  		{{timerWithTimeout1}}
	  		<div ng-show="showWalkTest">
	  			<div ng-show="started">
	  				<div class="testInfo">
	  				<div class="testInfoImg"><img src="img/testicon/walkTest.png" alt="Timed 25ft Walk"></div>
	  				<div class="height30"></div>
	  				<div class="testInfoContent">
	  					<p class="font4p18vw lH466"><span class="bold">How to prepare for this test:</span> <br/>For this test, you will record the time it takes you to walk 25 feet as quickly and safely as possible. Before you begin, determine a distance of 25 feet along a flat surface (such as a hallway or sidewalk). Measure 25 feet with a tape measure, or have someone else measure for you. Mark the starting point and the ending point. If you require an assistive walking device such as a walker or a cane, please prepare it now.
	  					</p>
	  					<div class="height10"></div>
	  					<div class="font4p18vw lH466">
	  						<span class="bold">How to take this test:</span>
	  						<ul>
	  							<li>To begin the test, tap the screen as you begin walking, and then simply tap the screen when you complete the distance.</li>
	  							<li>Walk as quickly, but safely as possible.</li>
	  							<li>Pauses are allowed if needed, as long as you can complete the walk within 3 minutes.</li>
	  							<li>Do not slow down until after you have crossed the finish mark and have tapped the screen to stop the time.</li>
	  							<li>Please take this test twice, and your results will be the average of your two times.</li>
	  						</ul>
	  					</div>
	  					<div class="height10"></div>
	  				</div>
	  				</div>
		  			<form class="assistanceArea" name="walkTestInfo" ng-submit="getStarted(walkTestInfo)" novalidate>
		  				<div class="midGray font4p18vw lH466">Are you going to use assistance during this test?</div>
		  				<div class="height5"></div>
		  				<div class="twoButtons">
		  				<p class="font4p18vw lH466 noMargin" style="color:red" ng-if="walkTestData.selectAssistance == undefined && walkTestInfo.$submitted">Please select one.</p>
			                <div class="leftButton" ng-click="showAssistance(true,walkTestInfo)" ng-class="{'error':walkTestData.selectAssistance == undefined &&
		                   walkTestInfo.$submitted}">
			                    <a ng-class="yes" class="button button-block">Yes</a>
			                </div>
			                <div class="rightButton" ng-click="showAssistance(false,walkTestInfo)" ng-class="{'error':walkTestData.selectAssistance == undefined &&
		                   walkTestInfo.$submitted}">
			                    <a ng-class="no" class="button button-block">No</a>
			                </div>
			            </div>
			            <div class="height10"></div>
						<div class="selectBoxWrapper  item-floating-label" ng-if="assistanceSelect">
						 <p class="font4p18vw lH466 noMargin" style="color:red" ng-if="!walkTestData.assistance.text && walkTestInfo.$submitted">Please select one.</p>
		                    <div class="selectBox" ng-click="openSingleSelect()" ng-class="{'error':!walkTestData.assistance.text &&
		                   walkTestInfo.$submitted}">
			                    <div class="singleLine font4p18vw" ng-if="!walkTestData.assistance.text">Choose one you are going to use</div>
			                    <div class="floatingSelect" ng-if="walkTestData.assistance.text">
			                        <span class="input-label font40">Choose one you are going to use</span>
			                        <div class="singleLine darkGray font4p18vw" >
			                          {{walkTestData.assistance.text}}
			                        </div>
			                    </div>
		                    </div>
		                </div>
		                 <div class="height10"></div>
		                <div>
	            			<button class="button button-block button-orange">Get Started!</button>
	           				<div class="height10"></div>
	            			<a class="button button-block button-darkPurple" ng-click="goToState('app.performanceEvals','Timed 25ft Walk Screen','Performance Metric Screen (Timed 25ft Walk)', 'Back')">Back</a>
	          			</div>
	          		</form>
          		</div>
        		<div ng-hide="started">
        			<div class="height10"></div>
        			<div>
        				<div class="pull-left font56" ng-if="testCounter == 2">
	    					1st test: {{log1 }} seconds
	    				</div>
        				<div class="pull-right font56"><span class="orange bold">{{testCounter}}</span>/2</div>
        			</div>

    				<div class="height50"></div>
    				<div class="height40"></div>
    				<div ng-click="taptostart()">
    					<div class="text-center">
    						<p class="font4p18vw noMargin" ng-if="startontap">Are you ready and standing?</p>
    						<p class="font5p63vw ubuntuBold">Tap anywhere to {{startontap?"start":"stop"}}</p>
    					</div>
    					<!-- <div class="text-center" ng-show="startontap">
	    					<label class="font56">Tap anywhere to start</label>
    					</div> -->
	    				<div class="height30"></div>
		    			<div class="testCircle" style="" >
			    			<div class="testCircleContent">
			    				<div class="height20"></div>
				    			<div class="testTimer">
				    				<span class="minutes">{{timerWithTimeout | minutesfilterWalkTest}}</span>:<span class="seconds">{{timerWithTimeout | secondsfilterWalkTest}}</span><!-- .<span class="micro">{{timerWithTimeout | microsecondsfilterWalkTest}}</span> -->
				    			</div>
				    			<div class="height1"></div>
				    			<div class="textTimeTitle font4p18vw lH466">min:sec</div>
				    		</div>
						</div>
						<div class="height100"></div>
					</div>
					<div class="twoButtons walkBckBtnFix" ng-if="testCounter != 2">
			          	<div class="leftButton">
			              <button class="button button-block button-outline button-darkPurple" ng-disabled="reset" ng-click="resetTimerWithTimeout(1)">Reset Timer</button>
			          	</div>
			          	<div class="rightButton">
			              <button class="button button-block button-orange button-multiLine" ng-disabled="logbtn" ng-click="logTimerWithTimeout()">Record your<br/>time</button>
			          	</div>
		      		</div>

		      		<div class="threeButtons walkBckBtnFix" ng-if="testCounter == 2">
					  	<div class="leftButton" >
			              <button class="button button-block button-outline button-multiLine button-darkPurple" ng-click="retake1()">Retake<br/>1<sup>ST</sup> Test</button>
			          	</div>
			          	<div class="midButton">
			              <button class="button button-block button-outline button-multiLine button-darkPurple" ng-disabled="reset" ng-click="resetTimerWithTimeout(2)">Reset<br/>Timer</button>
			          	</div>
			          	<div class="rightButton">
			              <button class="button button-block button-orange button-multiLine" ng-disabled="logbtn" ng-click="logTimerWithTimeout(false)">Record your time</button>
			          	</div>
		      		</div>

		      		<div class="height10"></div>
		                <!-- New div added-->
	                <div class="walkBckBtnFix">
            			<button class="button button-block button-darkPurple" ng-click="goToState('app.performanceEvals','Timed 25ft Walk Screen','Performance Metric Screen (Timed 25ft Walk)','Back')" ng-hide="retakeCancelBtnDisabled">Back</button> <!-- cancelBtn() [Change after 23 Auguest feedback] -->
          			</div>
		      	</div>
			</div>

			<div class="testResult" ng-hide="showWalkTest">
				<div class="height50"></div>
				<div class="height10"></div>
				<div class="testCircle" style="" ng-click="taptostart()">
					<div class="testCircleContent">
						<div class="upperCase">Your Time:</div>
		    			<div class="height10"></div>
		    			<div class="testTimer">
		    				<span class="minutes">{{logResult | minutesfilterWalkTest}}</span>:<span class="seconds">{{logResult | secondsfilterWalkTest}}</span><!-- .<span class="micro">{{logResult | microsecondsfilterWalkTest}}</span> -->
		    			</div>
		    			<div class="textTimeTitle font4p18vw lH466">min:sec</div>
		    			<div class="height3"></div>
		    		</div>
	    		</div>
	    		<div class="height100"></div>
    			<p class="text-center font4p18vw lH466">Visit your patient dashboard (at <a class="darkPurple font4p18vw underline" ng-click="takeToMSCareConnectDashboard()">MSCareConnect.com</a>) to learn more about this test, see how you compare with others, and how these results compare with your past performance.</p>
    			<div class="height20"></div>
				<div class="retakeTestBtn walkBckBtnFix2">
					<button class="button button-block button-orange" ng-click="reloadState()" ng-hide="retakeCancelBtnDisabled">Retake Test</button>
					<div class="height10"></div>
	            	<button class="button button-block button-darkPurple" ng-click="goToTestList()">Return to list</button>
				</div>
			</div>
		</div>
  	</ion-content>
</ion-view>
