<div class="overAllAblity">	
	<a class="popClose" ng-click="cancelOverallAbility()"><span></span><span></span></a>
	<i class="icon"></i>
	<p class="text-center">{{overallAbilityDetail}}</p>	
	<span class="height20"></span>
	<div class="twoButtons">
    <div class="leftButton">
        <button class="button button-block button-outline button-orange" ng-click="cancelOverallAbility()">Cancel</button>
    </div>
    <div class="rightButton">
        <button class="button button-block button-orange" ng-click="confirmOverallAbility(overallAbilityDetail)">Confirm</button>
    </div>
  </div>
    <span class="height20"></span>
</div>