<ion-content overflow-scroll="false" class="registrationScreens">
	<div class="box registrationSteps step5 darkYellowGreen">
    <!-- <ion-scroll class="registrationScroll" overflow-scroll="false" delegate-handle="mainScroll"> -->
      <div class="registrationHeader">
        <div class="back white font40 upperCase" ng-click="backOnRegistration('Back to Screen 4')">
          <i class="icon"></i>Back
        </div>
        <div class="logo text-center">
          <img src="img/logo.svg">
        </div>
        <div class="stepTitle">
          Treatment History
        </div>
        <div class="sliderPager">
          <span class="sliderPagerPage active"><i class="icon ion-record"></i></span>
          <span class="sliderPagerPage active" ><i class="icon ion-record"></i></span>
          <span class="sliderPagerPage active" ><i class="icon ion-record"></i></span>
          <span class="sliderPagerPage active" ><i class="icon ion-record"></i></span>
          <span class="sliderPagerPage active" ><i class="icon ion-record"></i></span>
          <span class="sliderPagerPage" ><i class="icon ion-record"></i></span>
        </div>
      </div>
      <div class="registrationContent">
        <!-- <ion-scroll overflow-scroll="false"> -->
        <div class="registrationContentInner">
          <form name="treatmentHistory" ng-submit="fiveStepSubmit(treatmentHistory)" novalidate>
            <div class="list">
              <label class="item item-input item-borderless regFormStartTitle">
                Please enter the following treatment history information:
              </label>
              <div class="relative">              
                <div class="item item-input item-borderless">
                  <div class="selectBoxWrapper item-floating-label">
                    <span class="errorMsg" ng-if="!infoRegistration.treatmentHistory.currentTreatment && treatmentHistory.$submitted">Please select one.</span>
                    <div class="selectBox" ng-click="openSingleSelect(currentTreatmentOptions,'currentTreatment','treatmentHistory','CURRENT TREATMENT')" ng-class="{'error':!infoRegistration.treatmentHistory.currentTreatment && treatmentHistory.$submitted}">
                      <div class="singleLine upperCase" ng-if="!infoRegistration.treatmentHistory.currentTreatment">Current treatment</div>

                      <div class="floatingSelect" ng-if="infoRegistration.treatmentHistory.currentTreatment">
                        <span class="input-label font40 upperCase">Current treatment</span>
                        <div class="singleLine upperCase darkGray" ng-bind-html="infoRegistration.treatmentHistory.currentTreatment.text">
                          <!-- {{infoRegistration.treatmentHistory.currentTreatment.text}} -->
                        </div>
                      </div>
                    </div>
                    <span class="iconRequired">*</span>
                  </div>
                </div>
                <span class="iconTrademark"></span> 
              </div>
              <div class="subformElement" ng-if="infoRegistration.treatmentHistory.currentTreatment && infoRegistration.treatmentHistory.currentTreatment.value != 'None'">
                <div class="item item-input item-borderless ">
                  <div class="selectBoxWrapper item-floating-label">
                    <span class="errorMsg" ng-if="!infoRegistration.treatmentHistory.currentTreatmentPeriod && treatmentHistory.$submitted">Please select one.</span>
                    <div class="selectBox" ng-click="openSingleSelect(currentTreatmentPeriodOptions,'currentTreatmentPeriod','treatmentHistory','When did you begin your current treatment?')" ng-class="{'error':!infoRegistration.treatmentHistory.currentTreatmentPeriod && treatmentHistory.$submitted}">
                      <div class="multiLine" ng-if="!infoRegistration.treatmentHistory.currentTreatmentPeriod">
                        <div>When did you begin<br/>your current treatment?</div>
                      </div>
                      <div class="floatingSelect" ng-if="infoRegistration.treatmentHistory.currentTreatmentPeriod">
                        <span class="input-label font40">When did you begin your current treatment?</span>
                        <div class="singleLine upperCase darkGray" >{{infoRegistration.treatmentHistory.currentTreatmentPeriod.text}}</div>
                      </div>
                    </div>
                    <span class="iconRequired">*</span>
                  </div>                    
                </div>                    
                <div class="item item-input item-borderless ">
                  <div class="selectBoxWrapper item-floating-label">
                    <span class="errorMsg" ng-if="!infoRegistration.treatmentHistory.currentTreatmentEffectiveness && treatmentHistory.$submitted">Please select one.</span>
                    <div class="selectBox" ng-click="openSingleSelect(currentTreatmentEffectivenessOptions,'currentTreatmentEffectiveness','treatmentHistory','How effective do you feel your current MS medication is in preventing or relieving your MS symptoms?')" ng-class="{'error':!infoRegistration.treatmentHistory.currentTreatmentEffectiveness && treatmentHistory.$submitted}">
                      <div class="multiLine" ng-if="!infoRegistration.treatmentHistory.currentTreatmentEffectiveness">
                        <div>How effective is it in preventing<br>or relieving your MS symptoms?</div>
                      </div>
                      <div class="floatingSelect" ng-if="infoRegistration.treatmentHistory.currentTreatmentEffectiveness">
                        <span class="input-label font40">How effective is it in preventing or relieving your MS symptoms?</span>
                        <div class="singleLine darkGray" >{{infoRegistration.treatmentHistory.currentTreatmentEffectiveness.text}}</div>
                      </div>
                    </div>
                    <span class="iconRequired">*</span>
                  </div>                    
                </div>
                <div class="currentWeight">
                  <span class="errorMsg" ng-if="treatmentHistory.currentWeight.$error.pattern || (treatmentHistory.currentWeight.$error.required && treatmentHistory.$submitted)">Please enter weight.</span>
                  <div class="item item-input item-borderless item-floating-label">
                    <span class="input-label font40 upperCase">CURRENT WEIGHT</span>
                    <input class="weight" type="tel" placeholder="CURRENT WEIGHT" name="currentWeight" required ng-model="infoRegistration.treatmentHistory.currentWeight" ng-class="{'error':treatmentHistory.currentWeight.$error.pattern || (treatmentHistory.currentWeight.$error.required && treatmentHistory.$submitted)}" ng-pattern="/^[0-9]*$/">
                    <label class="font56">lb</label>
                    <span class="iconRequired">*</span>
                  </div>
                </div>

              </div>
              <div class="item item-input item-borderless no-padding" ng-show="treatmentHistory.previousTreatmentTaken.$error.required && (treatmentHistory.$submitted || !treatmentHistoryerror.iserror)">
                <div class="radioButtonGroup">
                  <label class="questionLabel error"></label>
                  <span class="errorMsg" >Please select one.</span>
                </div>
                <span class="iconRequired"></span>
              </div>
              <div class="item item-input item-borderless">
                <div class="radioButtonGroup">
                  <label class="questionLabel font56 multiLine midGray">Have you taken<br/>previous treatments?</label>
                  <div class="radioButtonWrapper yes">
                    <input class="radioButton" type="radio" name="previousTreatmentTaken" value="yes" required ng-model="infoRegistration.treatmentHistory.previousTreatmentTaken" ng-class="{'error':treatmentHistory.previousTreatmentTaken.$error.required&& (treatmentHistory.$submitted||!treatmentHistoryerror.iserror)}" ng-change="previousTreatmentTakenChange()">
                    <label class="radioLabel">Yes</label>
                  </div>
                  <div class="radioButtonWrapper no ">
                    <input class="radioButton" type="radio" name="previousTreatmentTaken" value="no" required ng-model="infoRegistration.treatmentHistory.previousTreatmentTaken" ng-class="{'error':treatmentHistory.previousTreatmentTaken.$error.required&&(treatmentHistory.$submitted||!treatmentHistoryerror.iserror)}" ng-change="previousTreatmentTakenChange()">
                    <label class="radioLabel">No</label>
                  </div>                      
                </div>
                <span class="iconRequired">*</span>
              </div>

              <div class="subformElement" ng-if="infoRegistration.treatmentHistory.previousTreatmentTaken == 'yes'">
                <div class="relative yearsBlocks" ng-repeat="key in priorTreatments track by $index">
                  <div class="item item-input item-borderless no-padding priorTreatment">
                    <div class="lastTreatmentSelect">
                      <div class="selectBoxWrapper">
                        <span class="errorMsg" ng-if="!infoRegistration.treatmentHistory.priorTreatments[$index].lastTreatment && !treatmentHistoryerror.iserror && treatmentHistoryerror.index <= $index">Please select one</span>                    
                      </div> 
                    </div>
                    <div class="yearsTakenSelect">
                      <div class="selectBoxWrapper">
                        <span class="errorMsg" ng-if="!infoRegistration.treatmentHistory.priorTreatments[$index].yearsTaken && !treatmentHistoryerror.iserror && treatmentHistoryerror.index <= $index">Please select a<br>year</span></div>
                    </div>
                    <div class="yearsTakenSelect">
                      <div class="selectBoxWrapper">
                        <span class="errorMsg" ng-if="!infoRegistration.treatmentHistory.priorTreatments[$index].yearsStopped && !treatmentHistoryerror.iserror && treatmentHistoryerror.index <= $index">Please select a<br>year</span></div>
                    </div>
                    <div class="remove">
                    </div>
                    <span class="iconRequired"></span>
                  </div>
                  <div class="item item-input item-borderless priorTreatment" >
                    <div class="lastTreatmentSelect">
                      <div class="selectBoxWrapper item-floating-label" ng-if="$index==0">
                        <!-- <span class="errorMsg" ng-if="!infoRegistration.treatmentHistory.priorTreatments[$index].lastTreatment && treatmentHistory.$submitted">Please select one.</span> -->
                        <div class="selectBox" ng-click="openSingleSelect(lastTreatmentOptions,'priorTreatments.lastTreatment','treatmentHistory','LAST TREATMENT',$index,key)" ng-class="{'error':!infoRegistration.treatmentHistory.priorTreatments[$index].lastTreatment && !treatmentHistoryerror.iserror && treatmentHistoryerror.index <= $index}">
                          <div class="upperCase multiLine" ng-if="!infoRegistration.treatmentHistory.priorTreatments[$index].lastTreatment">last<br/>treatment </div>
                          <div class="floatingSelect" ng-if="infoRegistration.treatmentHistory.priorTreatments[$index].lastTreatment">
                            <!-- <span class="input-label font40 upperCase">last treatment</span> -->
                            <div class="singleLine upperCase darkGray" ng-bind-html="infoRegistration.treatmentHistory.priorTreatments[$index].lastTreatment.text">
                              <!-- {{infoRegistration.treatmentHistory.priorTreatments[$index].lastTreatment.text}} -->
                            </div>
                          </div>
                        </div>
                      </div> 
                      <div class="selectBoxWrapper item-floating-label" ng-if="$index>0">
                        <!-- <span class="errorMsg" ng-if="!infoRegistration.treatmentHistory.priorTreatments[$index].lastTreatment && treatmentHistory.$submitted">Please select one.</span> -->
                        <div class="selectBox" ng-click="openSingleSelect(lastTreatmentOptions,'priorTreatments.lastTreatment','treatmentHistory','LAST TREATMENT',$index,key)" ng-class="{'error':!infoRegistration.treatmentHistory.priorTreatments[$index].lastTreatment && !treatmentHistoryerror.iserror && treatmentHistoryerror.index <= $index }">
                          <div class="upperCase multiLine" ng-if="!infoRegistration.treatmentHistory.priorTreatments[$index].lastTreatment">Prior<br/>treatment</div>
                          <div class="floatingSelect" ng-if="infoRegistration.treatmentHistory.priorTreatments[$index].lastTreatment">
                            <!-- <span class="input-label font40 upperCase">Prior treatment</span> -->
                            <div class="singleLine upperCase darkGray" ng-bind-html="infoRegistration.treatmentHistory.priorTreatments[$index].lastTreatment.text">
                              <!-- {{infoRegistration.treatmentHistory.priorTreatments[$index].lastTreatment.text}} -->
                            </div>
                          </div>
                        </div>
                      </div> 
                    </div>
                    <div class="yearsTakenSelect">
                      <div class="selectBoxWrapper item-floating-label">
                        <!-- <span class="errorMsg" ng-if="!infoRegistration.treatmentHistory.priorTreatments[$index].yearsTaken && treatmentHistory.$submitted">Please select a number.</span> -->
                        <div class="selectBox" ng-click="openSingleSelect(yearsTakenOptions,'priorTreatments.yearsTaken','treatmentHistory','YEAR STARTED',$index,key)" ng-class="{'error':!infoRegistration.treatmentHistory.priorTreatments[$index].yearsTaken && !treatmentHistoryerror.iserror && treatmentHistoryerror.index <= $index }">
                          <div class="multiLine" ng-if="!infoRegistration.treatmentHistory.priorTreatments[$index].yearsTaken">
                            <div class="upperCase">Year<br/>Started</div>
                            <!-- <div class="smallTest">(please estimate if unsure)</div> -->
                          </div>
                          <div class="floatingSelect" ng-if="infoRegistration.treatmentHistory.priorTreatments[$index].yearsTaken">
                            <!-- <span class="input-label font40 upperCase">Year Started</span> -->
                            <div class="singleLine upperCase darkGray" >{{infoRegistration.treatmentHistory.priorTreatments[$index].yearsTaken.text}}</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="yearsTakenSelect">
                      <div class="selectBoxWrapper item-floating-label">
                        <!-- <span class="errorMsg" ng-if="!infoRegistration.treatmentHistory.priorTreatments[$index].yearsTaken && treatmentHistory.$submitted">Please select a number.</span> -->
                        <div class="selectBox" ng-click="openSingleSelect(yearsStoppedOptions,'priorTreatments.yearsStopped','treatmentHistory','YEAR STOPPED',$index,key)" ng-class="{'error':!infoRegistration.treatmentHistory.priorTreatments[$index].yearsStopped && !treatmentHistoryerror.iserror && treatmentHistoryerror.index <= $index }">
                          <div class="multiLine" ng-if="!infoRegistration.treatmentHistory.priorTreatments[$index].yearsStopped">
                            <div class="upperCase">Year<br/>Stopped</div>
                            <!-- <div class="smallTest">(please estimate if unsure)</div> -->
                          </div>
                          <div class="floatingSelect" ng-if="infoRegistration.treatmentHistory.priorTreatments[$index].yearsStopped">
                            <!-- <span class="input-label font40 upperCase">Year Stopped</span> -->
                            <div class="singleLine upperCase darkGray" >{{infoRegistration.treatmentHistory.priorTreatments[$index].yearsStopped.text}}</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="remove" ng-click="removeAnotherTreatment($index,key)">
                      <i class="removeIcon"></i>
                    </div>
                    <span class="iconRequired">*</span>
                    <span class="iconTrademark"></span> 
                  </div>
                </div>

                <div class="item item-input item-borderless text-center">
                  <div class="addPriorTreatmentRow">
                    <a class="button icon-left ion-plus button-darkYellowGreen addPriorTreatment" ng-click="addAnotherTreatment()">Add another <br/>prior treatment</a>
                  </div>
                  <span class="iconRequired"></span>
                </div>
              </div>

              
              <label class="item item-input item-borderless text-center">
                <div class="sepratorLine"></div>
                <span class="iconRequired"></span>
              </label>
              <div class="relative">
                <div class="item item-input item-borderless additionalTreatment">
                  <div class="selectBoxWrapper item-floating-label">
                    <div class="selectBox" ng-click="openMultiSelect(takingAdditionalMedicationsOptions,'takingAdditionalMedications','treatmentHistory','Are you currently taking additional treatments?')">
                      <div class="multiLine" ng-if="!infoRegistration.treatmentHistory.takingAdditionalMedications || infoRegistration.treatmentHistory.takingAdditionalMedications.length == 0">
                        <div>Are you currently taking <br/>additional treatments? </div>
                        <div class="smallTest">Check all that apply</div>
                      </div>
                      <div class="floatingSelect" ng-if="infoRegistration.treatmentHistory.takingAdditionalMedications.length>0">
                        <span class="input-label font40">Are you currently taking additional treatments?</span>
                        <div class="singleLine darkGray" >
                          <span ng-repeat="value in infoRegistration.treatmentHistory.takingAdditionalMedications"><span ng-bind-html="value.text"></span><span ng-hide="$last">, </span></span>
                        </div>
                      </div>
                    </div>
                    <span class="iconRequired"></span>
                  </div>                    
                </div>
                <span class="iconTrademark"></span> 
              </div>         

              <div class="height10"></div>
              <div class="height3"></div>
              <div class="item item-input item-borderless twoButtons">
                <div class="leftButton">
                  <a class="button button-block button-outline button-darkYellowGreen button-multiLine" ng-click="cancelRegistration('','Registration','Screen 5','Cancel Registration')">Cancel<br/> Registration</a>
                </div>
                <div class="rightButton">
                  <button class="button button-block button-darkYellowGreen" type="submit">Continue</button>
                </div>
                <span class="iconRequired"></span>
              </div>
              <label class="item item-input item-borderless">
                *Required Field 
              </label>
              <label class="item item-input item-borderless itenTrademark">
                <span class="iconTrademark"></span> &nbsp; All trademarks are the property of their respective owners. 
              </label>
            </div>
          </form>
          <!-- </ion-scroll> -->
        </div>
      </div>
    <!-- </ion-scroll> -->
  </div>
</ion-content>