<ion-content scroll="false" class="registrationScreens">
	<div class="box registrationSteps step3 orange">
    <ion-scroll class="registrationScroll" overflow-scroll="false" delegate-handle="mainScroll">
      <div class="registrationHeader">
        <div class="back white font40 upperCase" ng-click="backOnRegistration('Back to Screen 2')">
          <i class="icon"></i>Back
        </div>
        <div class="logo text-center">
          <img src="img/logo.svg">
        </div>
        <div class="stepTitle">
          MS History
        </div>
        <div class="sliderPager">
          <span class="sliderPagerPage active"><i class="icon ion-record"></i></span>
          <span class="sliderPagerPage active" ><i class="icon ion-record"></i></span>
          <span class="sliderPagerPage active" ><i class="icon ion-record"></i></span>
          <span class="sliderPagerPage" ><i class="icon ion-record"></i></span>
          <span class="sliderPagerPage" ><i class="icon ion-record"></i></span>
          <span class="sliderPagerPage" ><i class="icon ion-record"></i></span>
        </div>
      </div>
      <div class="registrationContent">
        <!-- <ion-scroll overflow-scroll="false"> -->
        <div class="registrationContentInner">
          <form name="msHistoryAForm" ng-submit="thirdStepSubmit(msHistoryAForm)" novalidate>
            <div class="list">
              <label class="item item-input item-borderless regFormStartTitle">
                Please enter the following MS-related information:
              </label>

              <div class="item item-input item-borderless">
                <div class="selectBoxWrapper item-floating-label">
                  <span class="errorMsg" ng-if="!infoRegistration.msHistoryA.ageOfFirstSymptoms && msHistoryAForm.$submitted">Please enter an age.</span>
                  <div class="selectBox" ng-click="openSingleSelect(ageOfFirstSymptomsOptions,'ageOfFirstSymptoms','msHistoryA','AGE OF FIRST SYMPTOMS')" ng-class="{'error':!infoRegistration.msHistoryA.ageOfFirstSymptoms && msHistoryAForm.$submitted}">
                    <div class="multiLine" ng-if="!infoRegistration.msHistoryA.ageOfFirstSymptoms">
                      <div class="upperCase">Age of first symptoms</div>
                      <div class="smallTest">(please estimate if unsure)</div>
                    </div>
                    <div class="floatingSelect" ng-if="infoRegistration.msHistoryA.ageOfFirstSymptoms">
                      <span class="input-label font40 upperCase">Age of first symptoms</span>
                      <div class="singleLine darkGray" >{{infoRegistration.msHistoryA.ageOfFirstSymptoms.text}}</div>
                    </div>
                  </div>
                  <span class="iconRequired">*</span>
                </div>
              </div>
              <div class="item item-input item-borderless">
                <div class="selectBoxWrapper item-floating-label">
                  <span class="errorMsg" ng-if="!infoRegistration.msHistoryA.ageAtDiagnosis && msHistoryAForm.$submitted">Please enter an age.</span>
                  <div class="selectBox" ng-click="openSingleSelect(ageAtDiagnosisOptions,'ageAtDiagnosis','msHistoryA','AGE AT DIAGNOSIS')" ng-class="{'error':!infoRegistration.msHistoryA.ageAtDiagnosis && msHistoryAForm.$submitted}">
                    <div class="multiLine" ng-if="!infoRegistration.msHistoryA.ageAtDiagnosis">
                      <div class="upperCase">Age at diagnosis</div>
                      <div class="smallTest">(please estimate if unsure)</div>
                    </div>
                    <div class="floatingSelect" ng-if="infoRegistration.msHistoryA.ageAtDiagnosis">
                      <span class="input-label font40 upperCase">Age at diagnosis</span>
                      <div class="singleLine darkGray" >{{infoRegistration.msHistoryA.ageAtDiagnosis.text}}</div>
                    </div>
                  </div>
                  <span class="iconRequired">*</span>
                </div>
              </div> 
              <div class="item item-input item-borderless">
                <div class="selectBoxWrapper item-floating-label">
                  <span class="errorMsg" ng-if="!infoRegistration.msHistoryA.initialDiagnosis && msHistoryAForm.$submitted">Please select one.</span>
                  <div class="selectBox" ng-click="openSingleSelect(initialDiagnosisOptions,'initialDiagnosis','msHistoryA','INITIAL DIAGNOSIS')" ng-class="{'error':!infoRegistration.msHistoryA.initialDiagnosis && msHistoryAForm.$submitted}">
                    <div class="singleLine upperCase" ng-if="!infoRegistration.msHistoryA.initialDiagnosis"> Initial diagnosis</div>
                    <div class="floatingSelect" ng-if="infoRegistration.msHistoryA.initialDiagnosis">
                      <span class="input-label font40 upperCase">Initial diagnosis</span>
                      <div class="singleLine darkGray" >{{infoRegistration.msHistoryA.initialDiagnosis.text}}</div>
                    </div>
                  </div>
                  <span class="iconRequired">*</span>
                </div>
              </div>
              <div class="item item-input item-borderless">
                <div class="selectBoxWrapper item-floating-label">
                  <span class="errorMsg" ng-if="!infoRegistration.msHistoryA.currentDiagnosis && msHistoryAForm.$submitted">Please select one.</span>
                  <div class="selectBox" ng-click="openSingleSelect(currentDiagnosisOptions,'currentDiagnosis','msHistoryA','CURRENT DIAGNOSIS')" ng-class="{'error':!infoRegistration.msHistoryA.currentDiagnosis && msHistoryAForm.$submitted}">
                    <div class="singleLine upperCase" ng-if="!infoRegistration.msHistoryA.currentDiagnosis"> Current diagnosis</div>
                    <div class="floatingSelect" ng-if="infoRegistration.msHistoryA.currentDiagnosis">
                      <span class="input-label font40 upperCase">Current diagnosis</span>
                      <div class="singleLine darkGray" >{{infoRegistration.msHistoryA.currentDiagnosis.text}}</div>
                    </div>
                  </div>
                  <span class="iconRequired">*</span>
                </div>
              </div>
              <label class="item item-input item-borderless font56 midGray">
                Family history of MS?
                <span class="iconRequired">*</span>
              </label>
              <div class="item item-input item-borderless msHistory">
                <div class="radioButtonGroup">
                	<span class="errorMsg" ng-if="msHistoryAForm.familyHistoryOfMS.$error.required&&msHistoryAForm.$submitted">Please select one.</span>
                  <div class="radioButtonWrapper yes">
                    <input class="radioButton" type="radio" value="yes" name="familyHistoryOfMS" required ng-model="infoRegistration.msHistoryA.familyHistoryOfMS.status" ng-class="{'error':(msHistoryAForm.familyHistoryOfMS.$error.required&&msHistoryAForm.$submitted)}">
                    <label class="radioLabel"> Yes </label>
                  </div>
                  <div class="radioButtonWrapper no ">
                    <input class="radioButton" type="radio" value="no" name="familyHistoryOfMS" required ng-model="infoRegistration.msHistoryA.familyHistoryOfMS.status" ng-class="{'error':(msHistoryAForm.familyHistoryOfMS.$error.required&&msHistoryAForm.$submitted)}">
                    <label class="radioLabel"> No </label>
                  </div>
                  <div class="radioButtonWrapper dont">
                    <input class="radioButton" type="radio" value="idontknow" name="familyHistoryOfMS" required ng-model="infoRegistration.msHistoryA.familyHistoryOfMS.status" ng-class="{'error':(msHistoryAForm.familyHistoryOfMS.$error.required&&msHistoryAForm.$submitted)}">
                    <label class="radioLabel"> I Don't Know </label>
                  </div>                      
                </div>
                <span class="iconRequired"></span>
              </div>
              <div class="subformElement" ng-if="infoRegistration.msHistoryA.familyHistoryOfMS.status == 'yes'">
                <div class="item item-input item-borderless">
                  <div class="selectBoxWrapper item-floating-label">
  	                <div class="selectBox" ng-click="openMultiSelect(familyMemberRelationshipOptions,'familyMemberRelationship','msHistoryA','Family member relationship?')">
  	                  <div class="multiLine" ng-if="!infoRegistration.msHistoryA.familyMemberRelationship || infoRegistration.msHistoryA.familyMemberRelationship.length == 0">
  	                    <div class="smallDDtext">Family member relationship?</div>
  	                    <div class="smallTest">Check all that apply</div>
  	                  </div>
                      <div class="floatingSelect" ng-if="infoRegistration.msHistoryA.familyMemberRelationship.length>0">
                        <span class="input-label font40">Family member relationship?</span>
    	                  <div class="singleLine darkGray" >
    	                    <span ng-repeat="value in infoRegistration.msHistoryA.familyMemberRelationship">{{value.text}}<span ng-hide="$last">, </span></span>
    	                  </div>
                      </div>
  	                </div>
  	                <span class="iconRequired"></span>
  	              </div>
                </div>

                <div class="item item-input item-borderless">
                  <div class="radioButtonGroup">
                    <label class="questionLabel font56">Were you adopted?</label>
                    <div class="radioButtonWrapper yes">
                      <input class="radioButton" type="radio" value="yes" name="adopted" ng-model="infoRegistration.msHistoryA.familyHistoryOfMS.adopted">
                      <label class="radioLabel">  Yes </label>
                    </div>
                    <div class="radioButtonWrapper no ">
                      <input class="radioButton" type="radio" value="no" name="adopted" ng-model="infoRegistration.msHistoryA.familyHistoryOfMS.adopted">
                      <label class="radioLabel">  No </label>
                    </div>                      
                  </div>
                  <span class="iconRequired"></span>
                </div>
              </div>

              <div class="height10"></div>
              <div class="height3"></div>
              <div class="item item-input item-borderless twoButtons">
                <div class="leftButton">
                  <a class="button button-block button-outline button-orange button-multiLine" ng-click="cancelRegistration('','Registration','Screen 3','Cancel Registration')">Cancel<br/> Registration</a>
                </div>
                <div class="rightButton">
                  <button class="button button-block button-orange" type="submit">Continue</button>
                </div>
                <span class="iconRequired"></span>
              </div>
              <label class="item item-input item-borderless">
                *Required Field 
              </label>
            </div>
          </form>
          <!-- </ion-scroll> -->
        </div>
      </div>
    </ion-scroll>
  </div>
</ion-content>