<ion-content scroll="false" class="registrationScreens">
	
  <div class="box registrationSteps darkPurple">
    <ion-scroll class="registrationScroll" overflow-scroll="false" delegate-handle="mainScroll">
      <div class="registrationHeader">
        <div class="logo text-center">
          <img src="img/logo.svg">
        </div>
        <div class="stepTitle ">
          Personal Information
        </div>
        <div class="sliderPager">
          <span class="sliderPagerPage active"><i class="icon ion-record"></i></span>
          <span class="sliderPagerPage " ><i class="icon ion-record"></i></span>
          <span class="sliderPagerPage" ><i class="icon ion-record"></i></span>
          <span class="sliderPagerPage" ><i class="icon ion-record"></i></span>
          <span class="sliderPagerPage" ><i class="icon ion-record"></i></span>
          <span class="sliderPagerPage" ><i class="icon ion-record"></i></span>
        </div>
      </div>
      <div class="registrationContent">
        <!-- <ion-scroll scroll="false"  overflow-scroll="false" delegate-handle="mainScroll"> -->
        <div class="registrationContentInner">
          <form name="registrationForm" novalidate ng-submit="doRegistration(registrationForm)" ng-hide="showEmailVerificationScreen">
            <div class="list">
              <div class="item item-input item-borderless regFormStartTitle">
                Please enter the following: 
              </div>

              <span class="errorMsg" ng-if="(registrationForm.firstName.$error.required && registrationForm.$submitted)">Please enter your name.</span>
              <label class="item item-input item-borderless item-floating-label">
                <span class="input-label font40">FIRST NAME</span>
                <input type="text" name="firstName" required ng-model="registrationData.firstName" placeholder="FIRST NAME" ng-class="{'error':(registrationForm.firstName.$error.required || registrationForm.firstName.$error.pattern) && registrationForm.$submitted}" ng-pattern="/^[!A-Za-z\u00C0-\u017F ,.'-]+$/" class="registrationPage1-1"> 
                <span class="iconRequired">*</span>
              </label>

              <span class="errorMsg" ng-if="(registrationForm.lastName.$error.required && registrationForm.$submitted)">Please enter your name.</span>
              <label class="item item-input item-borderless  item-floating-label">
                <span class="input-label font40">LAST NAME</span>
                <input type="text" name="lastName" ng-model="registrationData.lastName" required placeholder="LAST NAME" ng-class="{'error':(registrationForm.lastName.$error.required ||registrationForm.lastName.$error.pattern)&& registrationForm.$submitted}" ng-pattern="/^[!A-Za-z\u00C0-\u017F ,.'-]+$/" class="registrationPage1-2"> 
                <span class="iconRequired">*</span>
              </label>
              <div class="height3"></div>
              <label class="item item-input item-borderless text-center">
                <div class="sepratorLine"></div>
                <span class="iconRequired"></span>
              </label>
              <div class="height3"></div>


              <span class="errorMsg" ng-if="(registrationForm.emailAddress.$error.pattern && registrationForm.$submitted)">Sorry, email address not recognized.</span>
              <span class="errorMsg" ng-if="alreadyExist">Sorry, this email address is already used.</span>
              <span class="errorMsg" ng-if="(registrationForm.emailAddress.$error.required && registrationForm.$submitted)">This information is required.</span>
              <label class="item item-input item-borderless item-floating-label">
                <span class="input-label font40">EMAIL ADDRESS</span>
                <input type="email" name="emailAddress" required ng-model="registrationData.emailAddress" placeholder="EMAIL ADDRESS" ng-pattern="/^\w+([\.+-]?\w+)*@[a-z0-9\.]+([\.-]?[a-z0-9\.]+|)(\.\w{1,5})+$/" ng-class="{'error':(alreadyExist||registrationForm.emailAddress.$error.required||registrationForm.emailAddress.$error.pattern) && registrationForm.$submitted}" ng-change="changeEmail()" class="registrationPage1-3">
                <span class="iconRequired">*</span>
              </label>

              <span class="errorMsg" ng-if="(registrationForm.password.$error.required && registrationForm.$submitted)">This information is required.</span>
              <span class="errorMsg" ng-if="(registrationForm.password.$error.pattern && registrationForm.$submitted)">The password must have at least 8 characters, and must contain one capital letter and one number.</span>
              <label class="item item-input item-borderless item-floating-label">
                <span class="input-label font40">PASSWORD</span>
                <input type="password" ng-model="registrationData.password" placeholder="PASSWORD" required name="password" minlength="8" ng-class="{'error':(registrationForm.password.$error.required||registrationForm.password.$error.minlength||registrationForm.password.$error.pattern) && registrationForm.$submitted}"  ng-pattern="/^(?=[A-Za-z0-9!@#$%^&*]{8,}$)(?=.*\d)(?=.*[A-Z]).*$/" ng-change="passwordFieldChange()" class="registrationPage1-4">
                <span class="iconRequired">*</span>
              </label>

              <span class="errorMsg" ng-if="(registrationForm.conpassword.$error.required && registrationForm.$submitted)">This information is required.</span>
              <span class="errorMsg" ng-if="(passwordMatch && registrationForm.$submitted)">Sorry, the passwords do not match.</span>
              <label class="item item-input item-borderless item-floating-label">
                <span class="input-label font40">CONFIRM PASSWORD</span>
                <input type="password" ng-model="registrationData.cPpassword" placeholder="CONFIRM PASSWORD" name="conpassword" required ng-class="{'error':registrationForm.conpassword.$error.required && registrationForm.$submitted}" ng-change="passwordFieldChange()" class="registrationPage1-5">
                <span class="iconRequired">*</span>
              </label>
              <div class="height10"></div>
              <div class="height3"></div>
              <div class="item item-input item-borderless twoButtons">
                <div class="leftButton">
                  <a class="button button-block button-outline button-darkPurple" ui-sref="login" ng-click="goToState('login', 'Registration', 'Cancelled Registration (Screen 1)', 'Back')">Back</a>
                </div>
                <div class="rightButton">
                  <button class="button button-block button-darkPurple" type="submit">Continue</button>
                </div>
                <span class="iconRequired"></span>
              </div>
              <label class="item item-input item-borderless">
                *Required Field 
              </label>
            </div>
          </form>
          <div class="registerConfirmEmail" ng-show="showEmailVerificationScreen">
            <div class="thanksContent darkGray">
              <p class="text-center">
                Thanks for registering!
              </p>
              <p class="height5"></p>
              <p class="text-center">
                An email has been sent to you. Please click the link in the email to validate your email address and   complete registration.  
              </p>
            </div>
            <div class="bottomContent">
              <div class="errorBox" ng-if="showRequireEmailVerification">
                <div class="icon"></div>
                <div class="errorText">Please click on the link in the email we sent you to complete registration. If you don't see the email in your inbox, check your spam folder or click the Resend Email button below. </div>
              </div>
              <div class="item item-borderless">
                <button class="button button-block button-outline button-darkPurple" ng-click="resendVerificationEmail()">Resend Email</button>         
              </div>
              <div class="height3"></div>
              <div class="item item-borderless">
                <button class="button button-block button-darkPurple" ng-click="checkVerificationStatus()">Continue</button>           
              </div>
              <div class="height30"></div>
              <div class="height3"></div>
              <div class="text-center">
                <a ng-click="cancelRegistration()" class="underline darkPurple upperCase">Cancel Registration</a>
              </div>
            </div>
          </div>
          <!-- </ion-scroll> -->
        </div>
      </div>
    </ion-scroll>
  </div>
</ion-content>