<ion-content scroll="false" class="registrationScreens">
  <div class="box registrationSteps step2 darkPurple">
    <ion-scroll class="registrationScroll" overflow-scroll="false" delegate-handle="mainScroll">
      <div class="registrationHeader">
        <div class="logo text-center">
          <img src="img/logo.svg">
        </div>
        <div class="stepTitle ">
          Personal Information
        </div>
        <div class="sliderPager">
          <span class="sliderPagerPage active"><i class="icon ion-record"></i></span>
          <span class="sliderPagerPage active" ><i class="icon ion-record"></i></span>
          <span class="sliderPagerPage" ><i class="icon ion-record"></i></span>
          <span class="sliderPagerPage" ><i class="icon ion-record"></i></span>
          <span class="sliderPagerPage" ><i class="icon ion-record"></i></span>
          <span class="sliderPagerPage" ><i class="icon ion-record"></i></span>
        </div>
      </div>
      <div class="registrationContent">
        <!-- <ion-scroll overflow-scroll="false"> -->
        <div class="registrationContentInner">
          <form name="personalInformation" ng-submit="secondStepSubmit(personalInformation)" novalidate>
            <div class="list">
              <label class="item item-input item-borderless regFormStartTitle">
                Please enter the following personal information:
              </label>

              <div class="dateofBirth">
                <div class="dobTitle midGray" ng-class="{'errorMsg':(personalInformation.month.$error.required || personalInformation.date.$error.required||personalInformation.year.$error.required) && personalInformation.$submitted}">DATE OF BIRTH<span ng-if="(personalInformation.month.$error.required || personalInformation.date.$error.required||personalInformation.year.$error.required) && personalInformation.$submitted">: Please enter a date.</span></div>
                <div class="height3"></div>
                <div class="item item-input item-borderless dobInput ">
                  <div class="month item-floating-label">
                    <div class="floatingSelect">
                      <span class="input-label font40">MM</span>
                      <input class="month" type="tel" placeholder="MM" name="month" required ng-model="datedob.month" ng-class="{'error':personalInformation.month.$error.pattern || (personalInformation.month.$error.required && personalInformation.$submitted) || error.date}" minlength="1" maxlength="2" ng-change="changeDob()" ng-pattern="/^[0-9]*$/">
                    </div>
                  </div>
                  <div class="date item-floating-label">
                    <div class="floatingSelect">                    
                      <span class="input-label font40">DD</span>
                      <input class="date" type="tel" name="date" required placeholder="DD" ng-model="datedob.date" ng-class="{'error':personalInformation.date.$error.pattern || (personalInformation.date.$error.required && personalInformation.$submitted) || error.date}" minlength="1" maxlength="2" ng-change="changeDob()" ng-pattern="/^[0-9]*$/">
                    </div>
                  </div>
                  <div class="year item-floating-label">
                    <div class="floatingSelect">
                      <span class="input-label font40">YYYY</span>
                      <input class="year" type="tel" name="year" required placeholder="YYYY" ng-model="datedob.year" ng-class="{'error':personalInformation.year.$error.pattern || (personalInformation.year.$error.required && personalInformation.$submitted) || error.date}" maxlength="4" minlength="4" ng-change="changeDob()" ng-pattern="/^[0-9]*$/">
                    </div>
                  </div>                  
                  <span class="iconRequired">*</span>
                </div>
              </div>
              <div class="item item-input item-borderless no-padding">
                <div class="gender">
                  <span class="errorMsg" ng-if="personalInformation.gender.$error.required&&personalInformation.$submitted">Please select a gender.</span>               
                  <span class="iconRequired"></span>
                </div>
                <div class="selectBoxWrapper selectRace">
                  <span class="errorMsg" ng-if="(!infoRegistration.personalInformation.race||infoRegistration.personalInformation.race.length == 0)&&personalInformation.$submitted">Please select at least one.</span>                
                  <span class="iconRequired"></span>
                </div>
              </div>
              <div class="item item-input item-borderless">
                <div class="gender">                
                  <div class="selectGender">
                    <div class="radioButtonWrapper genderRadio male">
                      <input class="radioButton" type="radio" value="male" name="gender" required ng-model="infoRegistration.personalInformation.gender" ng-class="{'error':(personalInformation.gender.$error.required&&personalInformation.$submitted)}">
                      <label class="radioLabel">
                        <div class="icon"></div>
                      </label>
                    </div>
                    <div class="radioButtonWrapper genderRadio Female">
                      <input class="radioButton" type="radio" name="gender" value="female" required ng-model="infoRegistration.personalInformation.gender" ng-class="{'error':(personalInformation.gender.$error.required&&personalInformation.$submitted)}">
                      <label class="radioLabel">
                        <div class="icon"></div>
                      </label>
                    </div>
                  </div>
                  <span class="iconRequired">*</span>
                </div>

                <div class="selectBoxWrapper selectRace item-floating-label">
                  <div class="selectBox" ng-click="openMultiSelect(racesOptions,'race','personalInformation','RACE')" ng-class="{'error':((!infoRegistration.personalInformation.race || infoRegistration.personalInformation.race.length == 0)&&personalInformation.$submitted)}">
                    <div class="multiLine" ng-if="!infoRegistration.personalInformation.race ||infoRegistration.personalInformation.race.length == 0">
                      <div class="upperCase">Race</div>
                      <div class="smallTest">Select all that apply</div>
                    </div>
                    <div class="floatingSelect" ng-if="infoRegistration.personalInformation.race.length>0">
                      <span class="input-label font40">RACE</span>
                      <div class="singleLine darkGray" >
                        <span ng-repeat="value in infoRegistration.personalInformation.race">{{value.text}}<span ng-hide="$last">, </span></span>
                      </div>
                    </div>
                  </div>
                  <span class="iconRequired">*</span>
                </div>
              </div>
              <div class="zipCode">
                <span class="errorMsg" ng-if="personalInformation.zipcode.$error.required&&personalInformation.$submitted">Please enter a Postal Code.</span>
                <div class="item item-input item-borderless item-floating-label">
                  <span class="input-label font40">POSTAL CODE</span>
                  <input type="tel" placeholder="POSTAL CODE" name="zipcode" required ng-model="infoRegistration.personalInformation.zipCode" ng-class="{'error':personalInformation.zipcode.$error.pattern || (personalInformation.zipcode.$error.required && personalInformation.$submitted)}" ng-pattern="/^[0-9]+$/" >
                  <span class="iconRequired">*</span>
                </div>
              </div>

              <div class="height3"></div>
              <label class="item item-input item-borderless text-center">
                <div class="sepratorLine"></div>
                <span class="iconRequired"></span>
              </label>
              <div class="height3"></div>

              <div class="item item-input item-borderless selectHand no-padding">
               <div class="radioButtonGroup">
                 <label class="questionLabel error "></label>
                 <span class="errorMsg" ng-if="personalInformation.preferHand.$error.required&&personalInformation.$submitted">Please select one.</span>                 
               </div>
               <span class="iconRequired"></span>
             </div>
              <div class="item item-input item-borderless selectHand">
                <div class="radioButtonGroup">
                  <label class="questionLabel font40 multiLine midGray">Please indicate the hand you learned to write with. </label>
                  <div class="radioButtonWrapper yes left">
                    <input class="radioButton" type="radio" name="preferHand" value="left" required ng-model="infoRegistration.personalInformation.preferHand" ng-class="{'error':(personalInformation.preferHand.$error.required&&personalInformation.$submitted)}">
                    <label class="radioLabel">  Left </label>
                  </div>
                  <div class="radioButtonWrapper no right">
                    <input class="radioButton" type="radio" name="preferHand" value="right" required ng-model="infoRegistration.personalInformation.preferHand" ng-class="{'error':(personalInformation.preferHand.$error.required&&personalInformation.$submitted)}">
                    <label class="radioLabel">  Right </label>
                  </div>                      
                </div>
                <span class="iconRequired">*</span>
              </div>
              <div class="height3"></div>
              <label class="item item-input item-borderless text-center">
                <div class="sepratorLine"></div>
                <span class="iconRequired"></span>
              </label>
              
              <div class="height3"></div>
              <div class="item item-borderless"> <!-- item-input -->
              <span class="errorMsg" ng-if="!infoRegistration.personalInformation.insurance && personalInformation.$submitted">Please select one.</span>
                <div class="selectBoxWrapper item-floating-label">
                  <div class="selectBox" ng-click="openSingleSelect(insuranceOptions,'insurance','personalInformation','INSURANCE')" ng-class="{'error':!infoRegistration.personalInformation.insurance && personalInformation.$submitted}">
                    <div class="singleLine upperCase" ng-if="!infoRegistration.personalInformation.insurance"> Insurance</div>
                    <div class="floatingSelect" ng-if="infoRegistration.personalInformation.insurance">
                      <span class="input-label font40 upperCase">Insurance</span>
                      <div class="singleLine darkGray" >{{infoRegistration.personalInformation.insurance.text}}</div>
                    </div>
                    
                  </div> <span class="iconRequired">*</span>
                </div>
              </div>
              <div class="item item-borderless"> <!-- item-input -->
                <span class="errorMsg" ng-if="!infoRegistration.personalInformation.employmentStatus && personalInformation.$submitted">Please select one.</span>
                <div class="selectBoxWrapper item-floating-label">
                  <div class="selectBox " ng-click="openSingleSelect(employmentStatusOptions,'employmentStatus','personalInformation','EMPLOYMENT STATUS')" ng-class="{'error':!infoRegistration.personalInformation.employmentStatus && personalInformation.$submitted}">
                    <div class="singleLine upperCase" ng-if="!infoRegistration.personalInformation.employmentStatus"> Employment Status</div>
                    <div class="floatingSelect" ng-if="infoRegistration.personalInformation.employmentStatus">
                      <span class="input-label font40 upperCase">Employment Status</span>
                      <div class="singleLine darkGray" >{{infoRegistration.personalInformation.employmentStatus.text}}</div>
                    </div>
                    
                  </div><span class="iconRequired">*</span>
                </div>
              </div>
              <div class="item item-borderless"> <!-- item-input -->
              <span class="errorMsg" ng-if="!infoRegistration.personalInformation.education && personalInformation.$submitted">Please select one.</span>
                <div class="selectBoxWrapper item-floating-label">
                  <div class="selectBox " ng-click="openSingleSelect(educationOptions,'education','personalInformation','EDUCATION')" ng-class="{'error':!infoRegistration.personalInformation.education && personalInformation.$submitted}">
                    <div class="singleLine upperCase" ng-if="!infoRegistration.personalInformation.education"> Education</div>
                    <div class="floatingSelect" ng-if="infoRegistration.personalInformation.education">
                      <span class="input-label font40 upperCase">Education</span>
                      <div class="singleLine darkGray" >{{infoRegistration.personalInformation.education.text}}</div>
                    </div>
                    
                  </div><span class="iconRequired">*</span>
                </div>
              </div>

              <div class="height10"></div>
              <div class="height3"></div>
              <div class="item item-input item-borderless twoButtons">
                <div class="leftButton">
                  <a class="button button-block button-outline button-darkPurple button-multiLine" ng-click="cancelRegistration('','Registration','Screen 2','Cancel Registration')">Cancel<br/> Registration</a>
                </div>
                <div class="rightButton">
                  <button class="button button-block button-darkPurple" type="submit">Continue</button>
                </div>
                <span class="iconRequired"></span>
              </div>
              <label class="item item-input item-borderless">
                *Required Field
              </label>
            </div>
          </form>
          <!-- </ion-scroll> -->
        </div>
      </div>
    </ion-scroll>
  </div>
</ion-content>