<ion-content scroll="false" class="registrationScreens">
  <div class="box registrationSteps step4 orange">
    <ion-scroll class="registrationScroll" overflow-scroll="false" delegate-handle="mainScroll">
      <div class="registrationHeader">
        <div class="back white font40 upperCase" ng-click="backOnRegistration('Back to Screen 3')">
          <i class="icon"></i>Back
        </div>
        <div class="logo text-center">
          <img src="img/logo.svg">
        </div>
        <div class="stepTitle">
          MS History
        </div>
        <div class="sliderPager">
          <span class="sliderPagerPage active"><i class="icon ion-record"></i></span>
          <span class="sliderPagerPage active" ><i class="icon ion-record"></i></span>
          <span class="sliderPagerPage active" ><i class="icon ion-record"></i></span>
          <span class="sliderPagerPage active" ><i class="icon ion-record"></i></span>
          <span class="sliderPagerPage" ><i class="icon ion-record"></i></span>
          <span class="sliderPagerPage" ><i class="icon ion-record"></i></span>
        </div>
      </div>
      <div class="registrationContent">
        <!-- <ion-scroll overflow-scroll="false"> -->
        <div class="registrationContentInner">
          <form name="msHistoryBForm" novalidate ng-submit="fourthStepSubmit(msHistoryBForm)">
            <div class="list">
              <label class="item item-input item-borderless regFormStartTitle">
                Please enter the following MS-related information:
              </label>
              <div class="item item-input item-borderless no-padding" ng-if="!infoRegistration.msHistoryB.numMSRelapsesLifeTime && msHistoryBForm.$submitted"> <span class="errorMsg" >Please select a number.</span></div>
              <div class="item item-input item-borderless relapseHistory">
                <div class="relapseHistorySelect">
                  <div class="selectBoxWrapper item-floating-label">                  
                    <div class="selectBox" ng-click="openSingleSelect(numMSRelapsesLifeTimeOptions,'numMSRelapsesLifeTime','msHistoryB','NUMBER OF MS RELAPSES IN LIFETIME')" ng-class="{'error':!infoRegistration.msHistoryB.numMSRelapsesLifeTime && msHistoryBForm.$submitted}">
                      <div class="multiLine" ng-if="!infoRegistration.msHistoryB.numMSRelapsesLifeTime">
                        <div class="upperCase">Number of ms<br/>relapses in lifetime</div>
                        <div class="smallTest">(please estimate if unsure)</div>
                      </div>
                      <div class="floatingSelect" ng-if="infoRegistration.msHistoryB.numMSRelapsesLifeTime">
                        <span class="input-label font40 upperCase">Number of ms relapses in lifetime</span>
                        <div class="singleLine upperCase darkGray" >{{infoRegistration.msHistoryB.numMSRelapsesLifeTime.text}}</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="relapseHistoryicon" ng-click="openRelapseInfoPopup()">
                  <i class="icon"></i>
                </div>
                <span class="iconRequired">*</span>
              </div>

              <div class="item item-input item-borderless relapseHistoryLast" ng-if="infoRegistration.msHistoryB.numMSRelapsesLifeTime">
                <div class="selectBoxWrapper item-floating-label">
                  <span class="errorMsg" ng-if="!infoRegistration.msHistoryB.numMSRelapsesLastYear && msHistoryBForm.$submitted">Please select a number.</span>
                  <div class="selectBox" ng-click="openSingleSelect(numMSRelapsesLastYearOptions,'numMSRelapsesLastYear','msHistoryB','NUMBER OF MS RELAPSES IN LAST YEAR')" ng-class="{'error':!infoRegistration.msHistoryB.numMSRelapsesLastYear && msHistoryBForm.$submitted}">
                    <div class="multiLine" ng-if="!infoRegistration.msHistoryB.numMSRelapsesLastYear">
                      <div class="upperCase">Number of ms relapses<br/>in last year</div>
                      <div class="smallTest">(please estimate if unsure)</div>
                    </div>
                    <div  class="floatingSelect" ng-if="infoRegistration.msHistoryB.numMSRelapsesLastYear">
                      <span class="input-label font40 upperCase">Number of ms relapses in last year</span>
                      <div class="singleLine upperCase darkGray">{{infoRegistration.msHistoryB.numMSRelapsesLastYear.text}}</div>
                    </div>
                  </div>
                  <span class="iconRequired">*</span>
                </div>                    
              </div>
              <div class="subformElement" ng-if="infoRegistration.msHistoryB.numMSRelapsesLastYear.text == '0' && infoRegistration.msHistoryB.numMSRelapsesLifeTime.text != '0'">
                <div class="midGray font56 upperCase">
                  Date of your last relapse <br/> <span class="font40 lowerCase italicFont">(please estimate if unsure) </span>
                </div>
                <div class="height3"></div>
                <div class="dateofBirth lastRelapse">
                  <span class="errorMsg" ng-if="dateError">Please select a date.</span>
                  <div class="item item-input item-borderless dobInput">
                    <div class="month item-floating-label">
                      <div class="floatingSelect">
                        <span class="input-label font40">MM</span>
                        <input placeholder="MM" type="tel" name="month" required ng-model="dateOfLastRelapse.month" ng-class="{'error': dateError || errorOfLastRelapse.date}" maxlength="2" ng-change="changeDateOfLastRelapse()">
                      </div>
                    </div>
                    <div class="year item-floating-label">
                      <div class="floatingSelect">
                        <span class="input-label font40">YYYY</span>
                        <input type="tel" placeholder="YYYY" name="year" required ng-model="dateOfLastRelapse.year" ng-class="{'error':dateError || errorOfLastRelapse.date}" minlength="4" maxlength="4" ng-change="changeDateOfLastRelapse()">
                      </div>
                    </div>
                    <span class="iconRequired">*</span>
                  </div>
                </div>

              </div>

              <div class="item item-input item-borderless no-padding" ng-if="msHistoryBForm.steroidsUsedInLastRelapse.$error.required&& msHistoryBForm.$submitted">
                <div class="radioButtonGroup">
                  <label class="questionLabel error"></label>
                  <span class="errorMsg" >Please select an answer.</span>    
                </div>
                <span class="iconRequired"></span>
              </div>
              <div class="item item-input item-borderless no-padding" ng-if="!infoRegistration.msHistoryB.steroidsUsedInLastRelapse && msHistoryBForm.$submitted"> <span class="errorMsg" >Please select one.</span></div>
              <div class="item item-input item-borderless">
                <div class="selectBoxWrapper item-floating-label">                  
                  <div class="selectBox" ng-click="openSingleSelect(steroidsUsedInLastRelapseOptions,'steroidsUsedInLastRelapse','msHistoryB','Did you receive any treatment for your last relapse?')" ng-class="{'error':!infoRegistration.msHistoryB.steroidsUsedInLastRelapse && msHistoryBForm.$submitted}">
                    <div class="multiLine" ng-if="!infoRegistration.msHistoryB.steroidsUsedInLastRelapse">
                      <div>Did you receive any treatment for your last relapse?</div>
                    </div>
                    <div class="floatingSelect" ng-if="infoRegistration.msHistoryB.steroidsUsedInLastRelapse">
                      <span class="input-label font40">Did you receive any treatment for your last relapse?</span>
                      <div class="singleLine upperCase darkGray" >{{infoRegistration.msHistoryB.steroidsUsedInLastRelapse.text}}</div>
                    </div>
                  </div>
                  <span class="iconRequired" style="position: static;">*</span>
                </div>
                <span class="iconRequired">&nbsp;</span>
              </div>
              <!-- <div class="item item-input item-borderless">
                <div class="radioButtonGroup">
                  <label class="questionLabel font56 upperCase multiLine midGray">Were IV steroids <br/>used in last relapse? </label>
                  <div class="radioButtonWrapper yes">
                    <input class="radioButton" type="radio" name="steroidsUsedInLastRelapse" value="yes" required ng-model="infoRegistration.msHistoryB.steroidsUsedInLastRelapse" ng-class="{'error':(msHistoryBForm.steroidsUsedInLastRelapse.$error.required&&msHistoryBForm.$submitted)}">
                    <label class="radioLabel">  Yes </label>
                  </div>
                  <div class="radioButtonWrapper no ">
                    <input class="radioButton" type="radio" name="steroidsUsedInLastRelapse" value="no" required ng-model="infoRegistration.msHistoryB.steroidsUsedInLastRelapse" ng-class="{'error':(msHistoryBForm.steroidsUsedInLastRelapse.$error.required&&msHistoryBForm.$submitted)}">
                    <label class="radioLabel">  No </label>
                  </div>                      
                </div>
                <span class="iconRequired">*</span>
              </div> -->
              
              <div class="item item-input item-borderless">
                <div class="midGray font56">
                  How would you describe your <br/>overall ability?<span class="iconRequired inline">*</span>
                </div>                        
              </div>
              <span class="errorMsg" ng-if="msHistoryBForm.overAllAbility.$error.required && msHistoryBForm.$submitted">Please select one.</span>
              <label class="item item-input item-borderless text-center">
                <div class="sepratorLine" ng-class="{'error':msHistoryBForm.overAllAbility.$error.required && msHistoryBForm.$submitted}"></div>
                <span class="iconRequired"></span>
              </label>
              <div class="item item-input item-borderless text-center">
                <div class="radioButtonGroup abilityContainer">
                  <div class="radioButtonWrapper" ng-repeat="option in overAllAbilityOptions" ng-click="openOverallAbility(option.detail,option.value,option.cssClass,option)">
                    <input class="radioButton" type="radio" name="overAllAbility" value="{{option.value}}" required ng-model="infoRegistration.msHistoryB.overallAbility">
                    <label class="radioLabel">
                      <div class="ablityIcon" ng-class="option.cssClass"></div>
                    </label>
                    <div class="radioTitle">
                      <!-- <div class="icon"></div> -->
                      <div class="titleText"> 
                        <div class="txt">{{option.value}}</div>
                      </div>
                    </div>
                  </div>
                </div>
                <span class="iconRequired"></span>
              </div>              

              <div class="height10"></div>
              <div class="height3"></div>
              <div class="item item-input item-borderless twoButtons">
                <div class="leftButton">
                  <a class="button button-block button-outline button-orange button-multiLine" ng-click="cancelRegistration('','Registration','Screen 4','Cancel Registration')"">Cancel<br/> Registration</a>
                </div>
                <div class="rightButton">
                  <button class="button button-block button-orange" type="submit">Continue</button>
                </div>
                <span class="iconRequired"></span>
              </div>
              <label class="item item-input item-borderless">
                *Required Field 
              </label>
            </div>
          </form>
          <!-- </ion-scroll> -->
        </div>
      </div>
    </ion-scroll>
  </div>
</ion-content>