<ion-content scroll="false" class="registrationScreens">
	<div class="box registrationSteps step6 darkYellowGreen">
    <ion-scroll class="registrationScroll" overflow-scroll="false" delegate-handle="mainScroll">
      <div class="registrationHeader">
        <div class="back white font40 upperCase" ng-click="backOnRegistration('Back to Screen 5')">
          <i class="icon"></i>Back
        </div>
        <div class="logo text-center">
          <img src="img/logo.svg">
        </div>
        <div class="stepTitle">
           Select Healthcare Provider
        </div>
        <div class="sliderPager">
          <span class="sliderPagerPage active"><i class="icon ion-record"></i></span>
          <span class="sliderPagerPage active" ><i class="icon ion-record"></i></span>
          <span class="sliderPagerPage active" ><i class="icon ion-record"></i></span>
          <span class="sliderPagerPage active" ><i class="icon ion-record"></i></span>
          <span class="sliderPagerPage active" ><i class="icon ion-record"></i></span>
          <span class="sliderPagerPage active" ><i class="icon ion-record"></i></span>
        </div>
      </div>
      <div class="registrationContent">
        <!-- <ion-scroll overflow-scroll="false"> -->
        <div class="registrationContentInner">
          <form name="selectHCP" novalidate>
            <div class="list">
              <div class="item item-input item-borderless regFormStartTitle">
                Please enter your healthcare provider's (HCP's) name below.
              </div>
              <div class="item item-borderless neurologistSearch item-floating-label"> 
                <span class="input-label font40 upperCase">SEARCH FOR YOUR HCP</span>                   
                <input placeholder="SEARCH FOR YOUR HCP" type="search" ng-model="doctorSearch.key" ng-model-options="{ debounce: 300 }" ng-change="searchDoctor()">

                <!-- Below image will come while searching Doc -->
                <img src="img/loader.svg" alt="Loading..." class="loaderHCP" ng-show="showSpinner">

                <div class="button button-darkYellowGreen searchIcon">
                  <i class="icon"></i>
                </div>
                <span class="iconRequired"></span>
              </div>

              <div class="neurologistList" ng-show="showDocNotFound">
                <div class="neurologistInfo">
                  <div class="neurologistAddress darkGray font40">
                    <div class="city">Sorry, we are unable to find results for <span class="bold">'{{doctorSearch.key}}'</span>.</div>
                  </div>
                </div>
              </div>

              <div class="neurologistList" ng-show="showContent">
                <ion-scroll overflow-scroll="false">
                  <div class="neurologistInfo" ng-repeat="doctor in doctors track by $index" ng-click="onDoctorSelect(doctor)">
                    <div class="neurologistName darkGray font56">{{doctor.physician_full_name}}</div>
                    <div class="neurologistAddress darkGray font40">
                      <div class="street">{{doctor.practice_street}}</div>
                      <div class="city">{{doctor.practice_state}}, {{doctor.practice_city}} {{doctor.zip}}</div>
                    </div>
                  </div>
                </ion-scroll>
              </div>
              <div class="item-borderless regFormStartTitle darkGray" ng-hide="selectedDoctorArray.length == 0">
                CONNECTED HCP:
                <div class="height10"></div>
              </div>
              <div class="item  item-borderless neurologistSearch" ng-show="showDoctorsList" ng-repeat="selectedDoctor in selectedDoctorArray track by $index">
                <div class="neurologistInfo darkGray font56" >
                  <div class="remove" ng-click="removeSelectedDoctor(selectedDoctor)">
                    <i class="removeIcon"></i>
                  </div>
                  <div class="neurologistName bold">{{selectedDoctor.physician_full_name}}</div>
                  <div class="neurologistAddress">
                    <div class="street">{{selectedDoctor.practice_street}}</div>
                    <div class="city">{{selectedDoctor.practice_state}}, {{selectedDoctor.practice_city}} {{selectedDoctor.zip}}</div>
                  </div>                      
                </div>                    
                <span class="iconRequired"></span>
              </div>
              <div class="item item-borderless regFormStartTitle" ng-show="selectedDoctorArray.length == 0">
                You can add or update your HCP at any time<br>in settings.
              </div>
              
              <div class="item item-input item-borderless text-center">
                <div class="sepratorLine"></div>
                <span class="iconRequired"></span>
              </div>
              <div class="successBox darkGray" ng-show="doctorNotFoundMessage">
                Information to help your HCP register for MS Care Connect has been sent to you.
              </div>

              <div class="item item-input item-borderless" ng-hide="doctorNotFoundMessage">
                <a class="button col button-block button-darkYellowGreen" ng-click="doctorNotFoundClicked()">I can’t find my HCP</a>
                <span class="iconRequired"></span>
              </div>
              <label class="item item-input item-borderless text-center">
                <div class="sepratorLine"></div>
                <span class="iconRequired"></span>
              </label>
              <div class="height3"></div>
              <div class="item item-checkbox item-borderless">
                <label class="checkbox">
                  <input type="checkbox" ng-checked="true" name="agreedToSharedInformation" ng-model="infoRegistration.selectHCP.agreedToSharedInformation" ng-class="{'error' : (selectHCP.agreedToSharedInformation.$error.required && selectHCP.$submitted)}">
                </label>
                  <span class="notVisibleOnIpad">I agree to share the information in this<br/>application with the HCP listed above.</span>
                  <span class="visibleOnIpad">I agree to share the information in this application with the HCP<br/>listed above.</span>
              </div>
              <div class="item item-input item-borderless twoButtons">
                <div class="leftButton">
                  <a class="button button-block button-outline button-darkYellowGreen" ng-click="sixthStepSubmit(selectHCP, 'Cancel')">Cancel</a>
                </div>
                <div class="rightButton">
                  <a class="button button-block button-darkYellowGreen" ng-click="sixthStepSubmit(selectHCP, 'Continue')">Continue</a>
                </div>
                <span class="iconRequired"></span>
              </div>
              <label class="item item-input item-borderless">
                *Required Field 
              </label>
            </div>
          </form>
        </div>       
      </div>
    </ion-scroll>
  </div>
</ion-content>