<div class="welcomePopup">	
	<a class="popClose" ng-click="relapsePopup.close()"><span></span><span></span></a>
	<p class="text-center">A relapse involves the appearance of new symptoms, or the worsening of symptoms, in the absence of a fever.  Relapses last for 24 hours or more, and are separated from previous relapses by at least 30 days.</p>
	<span class="height40"></span>
	<span class="height5"></span>
</div>