<!-- <ion-view view-title=' <i class="headerIcon"></i> '>
  <ion-nav-bar class="bar-stable">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content class="darkPurple" scroll="true" has-bouncing="false"> -->
<div class="darkPurple" scroll="true" has-bouncing="false">
  	<div class="settingTitle"><span ng-click="navigateTo()">Profile</span> > <span class="bold">Settings</span></div>
  	<!-- Setting Steps -->
	<div class="settingsteps">
		<!-- Step 1 -->
		<div class="step1">
			<div class="stepsTitle" ng-click="profileAccordian('notification1')"> 
				Notifications
				<div class="icon" ng-class="accordian.current=='notification1' ? 'open':''"></div>
			</div>
			<div class="stepsContent" ng-show="accordian.current=='notification1'">
				<label class="darkGray setNotify">I would like to receive notifications for:</label>
				<ul class="list">
			        <li class="item item-toggle font56 upperCase">
			           Tips &amp; Facts
			           <label class="toggle toggle-purple">
			             <input type="checkbox" ng-checked="infoRegistration.notifications.tips" ng-model="infoRegistration.notifications.tips" ng-change="updateNotificationSetting('tips')">
			             <div class="track">
			               <div class="handle"></div>
			             </div>
			           </label>
			        </li>
			        <li class="item item-toggle font56 upperCase">
			            Heat Alerts
			           <label class="toggle toggle-purple">
			             <input type="checkbox" ng-checked="infoRegistration.notifications.heatAlerts" ng-model="infoRegistration.notifications.heatAlerts" ng-change="updateNotificationSetting('heatAlert')">
			             <div class="track">
			               <div class="handle"></div>
			             </div>
			           </label>
			        </li>       			        
			    </ul>
			</div>
		</div>
	</div>
</div>

  <!-- </ion-content>
</ion-view> -->