<div class="darkYellowGreen">
  	<div class="settingTitle"><span ng-click="navigateTo()">Profile</span> > <span class="bold">Select Healthcare Provider</span></div>
	<div class="settingsteps">
		<!-- Step 1 -->
		<div class="step1">
			<div class="stepsTitle" ng-click="profileAccordian('physical1')"> 
				Healthcare Provider
				<div class="icon" ng-class="accordian.current=='physical1' ? 'open':''"></div>
			</div>
			<div class="stepsContent" ng-show="accordian.current=='physical1'">
				<div class="box registrationSteps darkYellowGreen step6">				    			      
				    <div class="registrationContent">				        
				        <div class="registrationContentInner">
				            <form name="selectHCPProfileForm" novalidate>
					            <div class="list">
					                <label class="item item-input item-borderless regFormStartTitle">
					                	Please enter your healthcare provider's (HCP's) name below.
					                </label>
					                <div class="item-borderless neurologistSearch item-floating-label"> 
						                <span class="input-label font40 upperCase">SEARCH FOR YOUR HCP</span>                   
						                <input placeholder="SEARCH FOR YOUR HCP" type="search" ng-model="doctorSearch.key" ng-model-options="{ debounce: 300 }" ng-change="searchDoctor()">

                						<img src="img/loader.svg" alt="Loading..." class="loaderHCP" ng-show="showSpinner">

						                <div class="button button-darkYellowGreen searchIcon ">
						                  <i class="icon"></i>
						                </div>
						                <span class="iconRequired"></span>
						              </div>
						              <div class="neurologistList" ng-if="showDocNotFound">
					                  <div class="neurologistInfo">
					                    <div class="neurologistAddress darkGray font40">
					                      <div class="city">Sorry, we are unable to find results for <span class="bold">'{{doctorSearch.key}}'</span>.</div>
					                    </div>
					                  </div>
							            </div>

					                <div class="neurologistList" ng-if="showContent">
				                    <ion-scroll overflow-scroll="false">
							                <div class="neurologistInfo" ng-repeat="doctor in doctors track by $index" ng-click="onDoctorSelect(doctor)">
						                    <div class="neurologistName darkGray font56">{{doctor.physician_full_name}}</div>
						                    <div class="neurologistAddress darkGray font40">
						                      <div class="street">{{doctor.practice_street}}</div>
						                      <div class="city">{{doctor.practice_state}}, {{doctor.practice_city}} {{doctor.zip}}</div>
						                    </div>
							                </div>
							            	</ion-scroll>
					                </div>
					                </div>
					                <div class="item item-borderless neurologistSearch" ng-show="showDoctorsList" ng-repeat="selectedDoctor in selectedDoctorArray track by $index">
					                <p class="regFormStartTitle upperCase">Connected hcp:</p>                 
						                <div class="neurologistInfo darkGray font56" >
						                  <div class="remove" ng-click="removeSelectedDoctor(selectedDoctor)">
						                    <i class="removeIcon"></i>
						                  </div>
						                  <div class="neurologistName bold">{{selectedDoctor.physician_full_name}}</div>
						                  <div class="neurologistAddress">
						                    <div class="street">{{selectedDoctor.practice_street}}</div>
						                    <div class="city">{{selectedDoctor.practice_state}}, {{selectedDoctor.practice_city}} {{selectedDoctor.zip}}</div>
						                  </div>                      
						                </div>                    
						                <span class="iconRequired"></span>
					                </div>
					                <label class="item item-input item-borderless text-center">
						                <div class="sepratorLine"></div>
						                <span class="iconRequired"></span>
					                </label>
					                <div class="successBox darkGray" ng-show="doctorNotFoundMessage">
					                	Information to help your HCP register for MS Care Connect has been sent to you.
					                </div> 
					                <div class="item item-input item-borderless" ng-hide="doctorNotFoundMessage">
						                <a class="button col button-block button-darkYellowGreen" ng-click="doctorNotFoundClicked()">I can’t find my HCP</a>
						                <span class="iconRequired"></span>
					                </div>
					                <label class="item item-input item-borderless text-center">
						                <div class="sepratorLine"></div>
						                <span class="iconRequired"></span>
					                </label>
					                <div class="height3"></div>
					                <div class="item item-checkbox item-borderless">
						                <label class="checkbox">
						                  <input type="checkbox" ng-checked="infoRegistration.selectHCP.agreedToSharedInformation" name="agreedToSharedInformation" ng-model="infoRegistration.selectHCP.agreedToSharedInformation" ng-class="{'error' : (selectHCPProfileForm.agreedToSharedInformation.$error.required && selectHCPProfileForm.$submitted)}">
						                </label>
						                <span class="notVisibleOnIpad">I agree to share the information in this<br/>application with the HCP listed above.</span>
						                 <span class="visibleOnIpad">I agree to share the information in this application with the HCP<br/>listed above.</span>
					                </div>
					                <div class="item item-input item-borderless twoButtons">
						                <div class="leftButton">
						                  <a class="button button-block button-outline button-darkPurple" ng-click="resetPhysicianForm()">Cancel</a>
						                </div>
						                <div class="rightButton">
						                  <a class="button button-block button-orange" ng-click="submitHCPForm(selectHCPProfileForm)">Update</a>
						                </div>
					                	<span class="iconRequired"></span>
					                </div>
					            </div>
				            </form>
				        </div>
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>
  <!-- </ion-content>
</ion-view> -->