<ion-view view-title=' <i class="headerIcon"></i> '>
  <ion-nav-bar class="bar-stable">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content overflow-scroll="false">
  	<ui-view name="profileSettings">
	  	<div class="titleBox text-center">
			    <p class="darkPurple">Profile</p>
			</div>
		<ul class="profileSettingList">
			<li class="item ubuntuMedium" ng-click="goToState('app.profileSettings.profilePersonalInfo')">
				Personal and Account Info
				<i class="icon trackerRightArrow"></i>
			</li>
			<li class="item ubuntuMedium" ng-click="goToState('app.profileSettings.profileMsHistory')">
				MS History and Status
				  <i class="icon trackerRightArrow"></i>
			</li>
			<li class="item ubuntuMedium" ng-click="goToState('app.profileSettings.profileTreatmentHistory')">
				Treatment
				  <i class="icon trackerRightArrow"></i>
			</li>	
			<li class="item ubuntuMedium" ng-click="goToState('app.profileSettings.profileSelectPhysician')">
				Select Healthcare Provider
				  <i class="icon trackerRightArrow"></i>
			</li>	
			<li class="item ubuntuMedium" ng-click="goToState('app.profileSettings.profileSettingsTab')">
				Settings
				  <i class="icon trackerRightArrow"></i>
			</li>				
		</ul>
	</ui-view>
  </ion-content>
</ion-view>