  <div class="orange">
  	<div class="settingTitle"><span ng-click="navigateTo()">Profile</span> > <span class="bold">MS History and Status</span></div>

  	<div class="settingsteps">
		<!-- Step 1 -->
		<div class="step1">
			<div class="stepsTitle" ng-click="profileAccordian('mshistory1')"> 
				MS History
				<div class="icon" ng-class="accordian.current=='mshistory1' ? 'open':''"></div>
			</div>
			<div class="stepsContent " ng-show="accordian.current=='mshistory1'">
				<div class="box registrationSteps orange">				    			      
				    <div class="registrationContent">				        
				        <div class="registrationContentInner">
				            <form name="msHistoryForm1" ng-submit="submitHistoryPart1(msHistoryForm1)" novalidate>
					            <div class="list">
					              <div class="item item-input item-borderless">
					                <div class="selectBoxWrapper item-floating-label">
					                    <span class="errorMsg" ng-if="!infoRegistration.msHistoryA.ageOfFirstSymptoms && msHistoryForm1.$submitted">Please enter an age.</span>
					                    <div class="selectBox" ng-click="openSingleSelect(ageOfFirstSymptomsOptions,'ageOfFirstSymptoms','msHistoryA','AGE OF FIRST SYMPTOMS')" ng-class="{'error':!infoRegistration.msHistoryA.ageOfFirstSymptoms && msHistoryForm1.$submitted}">
						                    <div class="multiLine" ng-if="!infoRegistration.msHistoryA.ageOfFirstSymptoms">
						                      <div class="upperCase">Age of first symptoms</div>
						                      <div class="smallTest">(please estimate if unsure)</div>
						                    </div>
						                    <div class="floatingSelect" ng-if="infoRegistration.msHistoryA.ageOfFirstSymptoms">
                      							<span class="input-label font40">Age of first symptoms</span>
						                    	<div class="singleLine upperCase darkGray" >{{infoRegistration.msHistoryA.ageOfFirstSymptoms.text}}</div>
						                    </div>
						                </div>
					                    <span class="iconRequired">*</span>
					                </div>
					              </div>
					              <div class="item item-input item-borderless">
					                <div class="selectBoxWrapper  item-floating-label">
					                  <span class="errorMsg" ng-if="!infoRegistration.msHistoryA.ageAtDiagnosis && msHistoryForm1.$submitted">Please enter an age.</span>
					                  <div class="selectBox" ng-click="openSingleSelect(ageAtDiagnosisOptions,'ageAtDiagnosis','msHistoryA','AGE AT DIAGNOSIS')" ng-class="{'error':!infoRegistration.msHistoryA.ageAtDiagnosis && msHistoryForm1.$submitted}">
					                    <div class="multiLine" ng-if="!infoRegistration.msHistoryA.ageAtDiagnosis">
					                      <div class="upperCase">Age at diagnosis</div>
					                      <div class="smallTest">(please estimate if unsure)</div>
					                    </div>
					                    <div class="floatingSelect" ng-if="infoRegistration.msHistoryA.ageAtDiagnosis">
                  							<span class="input-label font40">Age at diagnosis</span>
					                    	<div class="singleLine upperCase darkGray">{{infoRegistration.msHistoryA.ageAtDiagnosis.text}}</div>
					                    </div>
					                  </div>
					                  <span class="iconRequired">*</span>
					                </div>
					              </div> 
					              <div class="item item-input item-borderless">
					                <div class="selectBoxWrapper  item-floating-label">
					                  <span class="errorMsg" ng-if="!infoRegistration.msHistoryA.initialDiagnosis && msHistoryForm1.$submitted">Please select one.</span>
					                  <div class="selectBox" ng-click="openSingleSelect(initialDiagnosisOptions,'initialDiagnosis','msHistoryA','INITIAL DIAGNOSIS')" ng-class="{'error':!infoRegistration.msHistoryA.initialDiagnosis && msHistoryForm1.$submitted}">
					                    <div class="singleLine upperCase" ng-if="!infoRegistration.msHistoryA.initialDiagnosis"> Initial diagnosis</div>
					                    <div class="floatingSelect" ng-if="infoRegistration.msHistoryA.initialDiagnosis">
                  							<span class="input-label font40">Initial diagnosis</span>
					                    	<div class="singleLine upperCase darkGray">{{infoRegistration.msHistoryA.initialDiagnosis.text}}</div>
					                    </div>
					                  </div>
					                  <span class="iconRequired">*</span>
					                </div>
					              </div>
					              <div class="item item-input item-borderless">
					                <div class="selectBoxWrapper  item-floating-label">
					                  <span class="errorMsg" ng-if="!infoRegistration.msHistoryA.currentDiagnosis && msHistoryForm1.$submitted">Please select one.</span>
					                  <div class="selectBox" ng-click="openSingleSelect(currentDiagnosisOptions,'currentDiagnosis','msHistoryA','CURRENT DIAGNOSIS')" ng-class="{'error':!infoRegistration.msHistoryA.currentDiagnosis && msHistoryForm1.$submitted}">
					                    <div class="singleLine upperCase" ng-if="!infoRegistration.msHistoryA.currentDiagnosis"> Current diagnosis</div>
					                    <div class="floatingSelect"  ng-if="infoRegistration.msHistoryA.currentDiagnosis">
                  							<span class="input-label font40">Current diagnosis</span>
					                    	<div class="singleLine upperCase darkGray">{{infoRegistration.msHistoryA.currentDiagnosis.text}}</div>
					                    </div>
					                  </div>
					                  <span class="iconRequired">*</span>
					                </div>
					              </div>
					              <p class="font4p18vw midGray">
					                Family history of MS?
					                <span class="iconRequired">*</span>
					              </p>
					              <div class="item item-input item-borderless msHistory">
					                <div class="radioButtonGroup proSetting">
					                	<span class="errorMsg" ng-if="msHistoryForm1.familyHistoryOfMS.$error.required&&msHistoryForm1.$submitted">Please select one.</span>
					                  <div class="radioButtonWrapper yes" ng-click="setWindowScroll()">
					                    <input class="radioButton" type="radio" value="yes" name="familyHistoryOfMS" required ng-model="infoRegistration.msHistoryA.familyHistoryOfMS.status" ng-class="{'error':(msHistoryForm1.familyHistoryOfMS.$error.required&&msHistoryForm1.$submitted)}">
					                    <label class="radioLabel"> Yes </label>
					                  </div>
					                  <div class="radioButtonWrapper no" ng-click="setWindowScroll()">
					                    <input class="radioButton" type="radio" value="no" name="familyHistoryOfMS" required ng-model="infoRegistration.msHistoryA.familyHistoryOfMS.status" ng-class="{'error':(msHistoryForm1.familyHistoryOfMS.$error.required&&msHistoryForm1.$submitted)}">
					                    <label class="radioLabel"> No </label>
					                  </div>
					                  <div class="radioButtonWrapper dont">
					                    <input class="radioButton" type="radio" value="idontknow" name="familyHistoryOfMS" required ng-model="infoRegistration.msHistoryA.familyHistoryOfMS.status" ng-class="{'error':(msHistoryForm1.familyHistoryOfMS.$error.required&&msHistoryForm1.$submitted)}">
					                    <label class="radioLabel"> I Don't Know </label>
					                  </div>                      
					                </div>
					                <span class="iconRequired"></span>
					              </div>
					                <div class="subformElement" ng-if="infoRegistration.msHistoryA.familyHistoryOfMS.status == 'yes'">
						                <div class="item item-input item-borderless">
						                  <div class="selectBoxWrapper  item-floating-label">
						  	                <div class="selectBox" ng-click="openMultiSelect(familyMemberRelationshipOptions,'familyMemberRelationship','msHistoryA','Family member relationship?')">
						  	                  <div class="multiLine" ng-if="!infoRegistration.msHistoryA.familyMemberRelationship || infoRegistration.msHistoryA.familyMemberRelationship.length == 0">
						  	                    <div>Family member relationship?</div>
						  	                    <div class="smallTest">Check all that apply</div>
						  	                  </div>
						  	                  <div class="floatingSelect" ng-if="infoRegistration.msHistoryA.familyMemberRelationship.length>0">
                  								<span class="input-label font40">Family member relationship?</span>
						  	                  	<div class="singleLine darkGray" >
						  	                    	<span ng-repeat="value in infoRegistration.msHistoryA.familyMemberRelationship">{{value.text}}<span ng-hide="$last">, </span></span>
						  	                  	</div>
						  	                  </div>
						  	                </div>
						  	                <span class="iconRequired"></span>
						  	              </div>
						                </div>

						                <div class="item item-input item-borderless">
						                  <div class="radioButtonGroup proSetting">
						                    <label class="questionLabel font4p18vw">Were you adopted?</label>
						                    <div class="radioButtonWrapper yes">
						                      <input class="radioButton" type="radio" value="yes" name="adopted" ng-model="infoRegistration.msHistoryA.familyHistoryOfMS.adopted">
						                      <label class="radioLabel">  Yes </label>
						                    </div>
						                    <div class="radioButtonWrapper no ">
						                      <input class="radioButton" type="radio" value="no" name="adopted" ng-model="infoRegistration.msHistoryA.familyHistoryOfMS.adopted">
						                      <label class="radioLabel">  No </label>
						                    </div>                      
						                  </div>
						                  <span class="iconRequired"></span>
						                </div>
					                </div>
					               <!--  <div class="item item-input item-borderless no-padding" ng-if="!infoRegistration.msHistoryB.numMSRelapsesLifeTime && msHistoryForm1.$submitted"> <span class="errorMsg" >Please select a number.</span></div> -->
					                <!-- <div class="item item-input item-borderless relapseHistory">
						                <div class="relapseHistorySelect">
						                  <div class="selectBoxWrapper item-floating-label">                  
						                    <div class="selectBox" ng-click="openSingleSelect(numMSRelapsesLifeTimeOptions,'numMSRelapsesLifeTime','msHistoryB','NUMBER OF MS RELAPSES IN LIFETIME')" ng-class="{'error':!infoRegistration.msHistoryB.numMSRelapsesLifeTime && msHistoryForm1.$submitted}">
						                      <div class="multiLine" ng-if="!infoRegistration.msHistoryB.numMSRelapsesLifeTime">
						                        <div class="upperCase">Number of ms <br/>relapses in lifetime</div>
						                        <div class="smallTest">(please estimate if unsure)</div>
						                      </div>
						                      <div class="floatingSelect" ng-if="infoRegistration.msHistoryB.numMSRelapsesLifeTime">
                  								<span class="input-label font40">Number of ms relapses in lifetime</span>
						                      	<div class="singleLine upperCase darkGray">{{infoRegistration.msHistoryB.numMSRelapsesLifeTime.text}}</div>
						                      </div>
						                    </div>
						                  </div>
						                </div>
						                <div class="relapseHistoryicon" ng-click="openRelapseInfoPopup()">
						                  <i class="icon"></i>
						                </div>
						                <span class="iconRequired">*</span>
					                </div>
					                <div class="item item-input item-borderless relapseHistoryLast" ng-if="infoRegistration.msHistoryB.numMSRelapsesLifeTime">
						                <div class="selectBoxWrapper  item-floating-label">
						                  <span class="errorMsg" ng-if="!infoRegistration.msHistoryB.numMSRelapsesLastYear && msHistoryForm1.$submitted">Please select a number.</span>
						                  <div class="selectBox" ng-click="openSingleSelect(numMSRelapsesLastYearOptions,'numMSRelapsesLastYear','msHistoryB','NUMBER OF MS RELAPSES IN LAST YEAR')" ng-class="{'error':!infoRegistration.msHistoryB.numMSRelapsesLastYear && msHistoryForm1.$submitted}">
						                    <div class="multiLine" ng-if="!infoRegistration.msHistoryB.numMSRelapsesLastYear">
						                      <div class="upperCase">Number of ms relapses <br/> in last year</div>
						                      <div class="smallTest">(please estimate if unsure)</div>
						                    </div>
						                    <div class="floatingSelect" ng-if="infoRegistration.msHistoryB.numMSRelapsesLastYear">
                  								<span class="input-label font40">Number of ms relapses in last year</span>
						                    	<div class="singleLine upperCase darkGray" >{{infoRegistration.msHistoryB.numMSRelapsesLastYear.text}}</div>
						                    </div>
						                  </div>
						                  <span class="iconRequired">*</span>
						                </div>                    
						            	</div> -->

						            <!-- <div class="subformElement" ng-if="infoRegistration.msHistoryB.numMSRelapsesLastYear.text == '0'">
						                <div class="midGray font4p18vw upperCase">
						                  Date of your last relapse <br/> <span class="font40 lowerCase italicFont">(please estimate if unsure) </span>
						                </div>
						                <div class="height3"></div>
						                <div class="dateofBirth lastRelapse">
						                  <span class="errorMsg" ng-if="dateError">Please select a date.</span>
						                  <div class="item item-input item-borderless dobInput  ">
						                  	<div class="month item-floating-label">
						                  		<div class="floatingSelect">
                      								<span class="input-label font40">MM</span>
						                  			<input  placeholder="MM" type="tel" name="month" required ng-model="dateOfLastRelapse.month" ng-class="{'error': dateError || errorOfLastRelapse.date}" maxlength="2" ng-change="changeDateOfLastRelapse()">
						                  		</div>
						                  	</div>
						                  	<div class="year item-floating-label" >
						                  		<div class="floatingSelect">
                      								<span class="input-label font40">YYYY</span>
						                  			<input type="tel" placeholder="YYYY" name="year" required ng-model="dateOfLastRelapse.year" ng-class="{'error':dateError || errorOfLastRelapse.date}" minlength="4" maxlength="4" ng-change="changeDateOfLastRelapse()">
						                  		</div>
						                  	</div>
						                    <span class="iconRequired">*</span>
						                  </div>
						                </div>
						            </div> -->

						            <!-- <div class="item item-input item-borderless no-padding" ng-if="msHistoryForm1.steroidsUsedInLastRelapse.$error.required&& msHistoryForm1.$submitted">
						                <div class="radioButtonGroup">
						                  <label class="questionLabel error"></label>
						                  <span class="errorMsg" >Please select an answer.</span>    
						                </div>
						                <span class="iconRequired"></span>
						            </div> -->
					                <!-- <div class="item item-input item-borderless">
						                <div class="radioButtonGroup">
						                  <label class="questionLabel font4p18vw upperCase multiLine midGray">Were IV steroids <br/>used in last relapse? </label>
						                  <div class="radioButtonWrapper yes">
						                    <input class="radioButton" type="radio" name="steroidsUsedInLastRelapse" value="yes" required ng-model="infoRegistration.msHistoryB.steroidsUsedInLastRelapse" ng-class="{'error':(msHistoryForm1.steroidsUsedInLastRelapse.$error.required&&msHistoryForm1.$submitted)}">
						                    <label class="radioLabel">  Yes </label>
						                  </div>
						                  <div class="radioButtonWrapper no ">
						                    <input class="radioButton" type="radio" name="steroidsUsedInLastRelapse" value="no" required ng-model="infoRegistration.msHistoryB.steroidsUsedInLastRelapse" ng-class="{'error':(msHistoryForm1.steroidsUsedInLastRelapse.$error.required&&msHistoryForm1.$submitted)}">
						                    <label class="radioLabel">  No </label>
						                  </div>                      
						                </div>
						                <span class="iconRequired">*</span>
						            </div> -->

					              <div class="height10"></div>
					              <div class="height3"></div>
					              <div class="item item-input item-borderless twoButtons">
					                <div class="leftButton">
					                  <a class="button button-block button-outline button-darkPurple" ng-click="resetHistoryPart1()">Cancel</a>
					                </div>
					                <div class="rightButton">
					                  <button class="button button-block button-orange" type="submit">Update</button>
					                </div>
					                <span class="iconRequired"></span>
					              </div>
					              <label class="item item-input item-borderless">
					                *Required Field 
					              </label>             
					            </div>
				            </form>
				        </div>
				    </div>
				</div>
			</div>
		</div>

		<!-- Step 2 -->
		<div class="step2">
			<div class="stepsTitle" ng-click="profileAccordian('mshistory2')"> 
				Overall Ability
				<div class="icon" ng-class="accordian.current=='mshistory2' ? 'open':''"></div>
			</div>
			<div class="stepsContent " ng-show="accordian.current=='mshistory2'">
				<div class="box registrationSteps orange">				    			      
				    <div class="registrationContent">				        
				        <div class="registrationContentInner">
				            <form name="msHistoryForm2" novalidate ng-submit="submitHistoryPart2(msHistoryForm2)">
					            <div class="list">
					                <div class="">
						                <div class="midGray font4p18vw">
						                  YOUR OVERALL ABILITY<span class="iconRequired inline">*</span>
						                </div>
						                <div class="height10"></div>                       
					                </div>
					                <span class="errorMsg" ng-if="msHistoryForm2.overAllAbility.$error.required && msHistoryForm2.$submitted">Please select one.</span>
					                <label class="item item-input item-borderless text-center">
						                <div class="sepratorLine" ng-class="{'error':msHistoryForm2.overAllAbility.$error.required && msHistoryForm2.$submitted}"></div>
						                <span class="iconRequired"></span>
					                </label>
					                <div class="item item-input item-borderless text-center">
						                <div class="radioButtonGroup abilityContainer">
						                  <div class="radioButtonWrapper" ng-repeat="option in overAllAbilityOptions" ng-click="openOverallAbility(option.detail,option.value,option.cssClass,option)">
						                    <input class="radioButton" type="radio" name="overAllAbility" value="{{option.value}}" required ng-model="infoRegistration.msHistoryB.overallAbility">
						                    <label class="radioLabel">
						                      <div class="ablityIcon" ng-class="option.cssClass"></div>
						                    </label>
						                    <div class="radioTitle"><!-- ng-click="openOverallAbility(option.detail,option.value,option.cssClass)" -->
						                      <div class="icon"></div>
						                      <div class="titleText"> 
						                        <div class="txt">{{option.value}}</div>
						                      </div>
						                    </div>
						                  </div>
						                </div>
						                <span class="iconRequired"></span>
						              </div>              

					                <div class="height10"></div>
					                <div class="height3"></div>
					                <div class="item item-input item-borderless twoButtons">
						                <div class="leftButton">
						                  <a class="button button-block button-outline button-darkPurple" ng-click="resetHistoryPart2()">Cancel</a>
						                </div>
						                <div class="rightButton">
						                  <button class="button button-block button-orange" type="submit">Update</button>
						                </div>
						                <span class="iconRequired"></span>
					                </div>
					                <label class="item item-input item-borderless">
						                *Required Field 
						            </label>              
					            </div>
				            </form>
				          <!-- </ion-scroll> -->
				        </div>
				    </div>
				</div>
			</div>
		</div>
	</div>
	</div>
<!--   </ion-content>
</ion-view> -->