<div class="darkPurple">
  <div class="settingTitle">
    <span ng-click="navigateTo()">Profile</span> > <span class="bold">Personal and Account Info</span>
  </div>


  <div class="settingsteps">
    <!-- Step 1 -->
    <div class="step1">
      <div class="stepsTitle " ng-click="profileAccordian('personal1')">
        Account Information
        <div class="icon" ng-class="accordian.current=='personal1' ? 'open':''"></div>
      </div>
      <div class="stepsContent" ng-show="accordian.current=='personal1'">
        <div class="box registrationSteps darkPurple">
          <div class="registrationContent">
            <div class="registrationContentInner">
              <form name="accountInfo" ng-submit="submitAddcountInfo(accountInfo)" novalidate="">
                <div class="list">
                  <span class="errorMsg" ng-if="(accountInfo.emailAddress.$error.pattern && accountInfo.$submitted)">
										Sorry, email address not recognized.
									</span>
                  <span class="errorMsg" ng-if="alreadyExist">
										Sorry, this email address is already used.
									</span>
                  <span class="errorMsg" ng-if="(accountInfo.emailAddress.$error.required && accountInfo.$submitted)">
										This information is required.
									</span>
                  <label class="item item-input item-borderless item-floating-label">
                    <span class="input-label font40 upperCase">EMAIL ADDRESS</span>
                    <input name="emailAddress" ng-change="changeEmail()" ng-class="{'error':(alreadyExist||accountInfo.emailAddress.$error.required||accountInfo.emailAddress.$error.pattern) && accountInfo.$submitted}" ng-model="personalInfoAccountInfo.emailAddress" ng-pattern="/^\w+([\.+-]?\w+)*@[a-z0-9\.]+([\.-]?[a-z0-9\.]+|)(\.\w{1,5})+$/" placeholder="EMAIL ADDRESS" required="" type="email">
                    <span class="iconRequired">
												*
											</span>
                    </input>
                  </label>
                  <span class="errorMsg" ng-if="(accountInfo.password.$error.required && accountInfo.$submitted && accountInfo.password.$dirty)">
										This information is required.
									</span>
                  <span class="errorMsg" ng-if="(accountInfo.password.$error.pattern && accountInfo.$submitted && accountInfo.password.$dirty)">
										The password must have at least 8 characters, and must contain one capital letter and one number.
									</span>
                  <label class="item item-input item-borderless item-floating-label">
                    <span class="input-label font40 upperCase">PASSWORD</span>
                    <input minlength="8" name="password" ng-change="passwordFieldChange()" ng-class="{'error':(accountInfo.password.$error.required || accountInfo.password.$error.minlength || accountInfo.password.$error.pattern) && accountInfo.$submitted && accountInfo.password.$dirty}" ng-model="personalInfoAccountInfo.password" ng-pattern="/^(?=[A-Za-z0-9!@#$%^&*]{8,}$)(?=.*\d)(?=.*[A-Z]).*$/" placeholder="PASSWORD" required="" type="password" ng-focus="emptyPasswordFields()">
                    <span class="iconRequired">
												*
											</span>
                    </input>
                  </label>
                  <span class="errorMsg" ng-if="(accountInfo.conpassword.$error.required && accountInfo.$submitted)">
										This information is required.
									</span>
                  <span class="errorMsg" ng-if="(passwordMatch && accountInfo.$submitted)">
										Sorry, the passwords do not match.
									</span>
                  <label class="item item-input item-borderless item-floating-label">
                    <span class="input-label font40 upperCase">CONFIRM PASSWORD</span>
                    <input name="conpassword" ng-change="passwordFieldChange()" ng-class="{'error':accountInfo.conpassword.$error.required && accountInfo.$submitted}" ng-model="personalInfoAccountInfo.cPassword" placeholder="CONFIRM PASSWORD" required="" type="password" ng-focus="emptyConfirmPasswordFields()">
                    <span class="iconRequired">
												*
											</span>
                    </input>
                  </label>
                  <div class="height10">
                  </div>
                  <div class="height3">
                  </div>
                  <div class="item item-input item-borderless twoButtons">
                    <div class="leftButton">
                      <a class="button button-block button-outline button-darkPurple" ng-click="resetAddcountInfo()">
												Cancel
											</a>
                    </div>
                    <div class="rightButton">
                      <button class="button button-block button-orange" type="submit">
                        Update
                      </button>
                    </div>
                    <span class="iconRequired">
										</span>
                  </div>
                  <label class="item item-input item-borderless">
                    *Required Field
                  </label>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Step 2 -->
    <div class="step2">
      <div class="stepsTitle " ng-click="profileAccordian('personal2')">
        Personal Information
        <div class="icon" ng-class="accordian.current=='personal2' ? 'open':''"></div>
      </div>
      <div class="stepsContent" ng-show="accordian.current=='personal2'">
        <div class="box registrationSteps darkPurple">
          <div class="registrationContent">
            <div class="registrationContentInner">
              <form name="personalInformation" ng-submit="submitSecondPersonalInfo(personalInformation)" novalidate>
                <div class="list">
                  <span class="errorMsg" ng-if="(personalInformation.firstName.$error.required && personalInformation.$submitted)">
										Please enter your name.
									</span>
                  <label class="item item-input item-borderless item-floating-label">
                    <span class="input-label font40">FIRST NAME</span>
                    <input name="firstName" ng-class="{'error':(personalInformation.firstName.$error.required || personalInformation.firstName.$error.pattern) && personalInformation.$submitted}" ng-model="personalInfo.firstName" ng-pattern="/^[!A-Za-z ,.'-]+$/" placeholder="FIRST NAME" required="" type="text">
                    <span class="iconRequired">
												*
											</span>
                    </input>
                  </label>
                  <span class="errorMsg" ng-if="(personalInformation.lastName.$error.required && personalInformation.$submitted)">
										Please enter your name.
									</span>
                  <label class="item item-input item-borderless item-floating-label">
                    <span class="input-label font40 upperCase">LAST NAME</span>
                    <input name="lastName" ng-class="{'error':(personalInformation.lastName.$error.required ||personalInformation.lastName.$error.pattern)&& personalInformation.$submitted}" ng-model="personalInfo.lastName" ng-pattern="/^[!A-Za-z ,.'-]+$/" placeholder="LAST NAME" required="" type="text">
                    <span class="iconRequired">
												*
											</span>
                    </input>
                  </label>
                  <div class="dateofBirth">
                    <div class="dobTitle midGray" ng-class="{'errorMsg':(personalInformation.month.$error.required || personalInformation.date.$error.required||personalInformation.year.$error.required) && personalInformation.$submitted}">
                      DATE OF BIRTH
                      <span ng-if="(personalInformation.month.$error.required || personalInformation.date.$error.required||personalInformation.year.$error.required) && personalInformation.$submitted">
												: Please enter a date.
											</span>
                    </div>
                    <div class="height3">
                    </div>
                    <div class="item item-input item-borderless dobInput">
                      <div class="month item-floating-label">
                        <div class="floatingSelect">
                          <span class="input-label font40">MM</span>
                          <input maxlength="2" minlength="1" name="month" ng-change="changeDob()" ng-class="{'error':personalInformation.month.$error.pattern || (personalInformation.month.$error.required && personalInformation.$submitted) || error.date}" ng-model="personalInfo.datedob.month" ng-pattern="/^[0-9]*$/" placeholder="MM" required="" type="tel">
                        </div>
                      </div>
                      <div class="date item-floating-label">
                        <div class="floatingSelect">
                          <span class="input-label font40">DD</span>
                          <input maxlength="2" minlength="1" name="date" ng-change="changeDob()" ng-class="{'error':personalInformation.date.$error.pattern || (personalInformation.date.$error.required && personalInformation.$submitted) || error.date}" ng-model="personalInfo.datedob.date" ng-pattern="/^[0-9]*$/" placeholder="DD" required="" type="tel">
                        </div>
                      </div>
                      <div class="year item-floating-label">
                        <div class="floatingSelect">
                          <span class="input-label font40">YYYY</span>
                          <input maxlength="4" minlength="4" name="year" ng-change="changeDob()" ng-class="{'error':personalInformation.year.$error.pattern || (personalInformation.year.$error.required && personalInformation.$submitted) || error.date}" ng-model="personalInfo.datedob.year" ng-pattern="/^[0-9]*$/" placeholder="YYYY" required="" type="tel">
                        </div>
                      </div>
                      <span class="iconRequired">*</span>
                    </div>
                  </div>
                  <div class="item item-input item-borderless no-padding">
                    <div class="gender">
                      <span class="errorMsg" ng-if="personalInformation.gender.$error.required&&personalInformation.$submitted">
												Please select a gender.
											</span>
                      <span class="iconRequired">
											</span>
                    </div>
                    <div class="selectBoxWrapper selectRace">
                      <span class="errorMsg" ng-if="(!infoRegistration.personalInformation.race||infoRegistration.personalInformation.race.length == 0)&&personalInformation.$submitted">
												Please select at least one.
											</span>
                      <span class="iconRequired">
											</span>
                    </div>
                  </div>
                  <div class="item item-input item-borderless">
                    <div class="gender">
                      <div class="selectGender">
                        <div class="radioButtonWrapper genderRadio male">
                          <input class="radioButton" name="gender" ng-class="{'error':(infoRegistration.personalInformation.gender.$error.required&&personalInformation.$submitted)}" ng-model="infoRegistration.personalInformation.gender" required="" type="radio" value="male">
                          <label class="radioLabel">
                            <div class="icon">
                            </div>
                          </label>
                          </input>
                        </div>
                        <div class="radioButtonWrapper genderRadio Female">
                          <input class="radioButton" name="gender" ng-class="{'error':(infoRegistration.personalInformation.gender.$error.required&&personalInformation.$submitted)}" ng-model="infoRegistration.personalInformation.gender" required="" type="radio" value="female">
                          <label class="radioLabel">
                            <div class="icon">
                            </div>
                          </label>
                          </input>
                        </div>
                      </div>
                      <span class="iconRequired">
												*
											</span>
                    </div>
                    <div class="selectBoxWrapper selectRace item-floating-label">
                      <div class="selectBox" ng-class="{'error':((!infoRegistration.personalInformation.race || infoRegistration.personalInformation.race.length == 0)&&personalInformation.$submitted)}" ng-click="openMultiSelect(racesOptions,'race','personalInformation','RACE')">
                        <div class="multiLine" ng-if="!infoRegistration.personalInformation.race ||infoRegistration.personalInformation.race.length == 0">
                          <div class="upperCase">
                            Race
                          </div>
                          <div class="smallTest">
                            Select all that apply
                          </div>
                        </div>
                        <div class="floatingSelect" ng-if="infoRegistration.personalInformation.race.length>0">
                          <span class="input-label font40 upperCase">RACE</span>
                          <div class="singleLine darkGray">
                            <span ng-repeat="value in infoRegistration.personalInformation.race">
															{{value.text}}
															<span ng-hide="$last">
															,
															</span>
                            </span>
                          </div>
                        </div>
                      </div>
                      <span class="iconRequired">
												*
											</span>
                    </div>
                  </div>
                  <div class="item item-input item-borderless selectHand">
                    <div class="radioButtonGroup">
                      <label class="questionLabel font40 multiLine midGray">Please indicate the hand you learned to write with. </label>
                      <div class="radioButtonWrapper yes left">
                        <input class="radioButton" type="radio" name="preferHand" value="left" required ng-model="infoRegistration.personalInformation.preferHand" ng-class="{'error':(personalInformation.preferHand.$error.required&&personalInformation.$submitted)}">
                        <label class="radioLabel"> Left </label>
                      </div>
                      <div class="radioButtonWrapper no right">
                        <input class="radioButton" type="radio" name="preferHand" value="right" required ng-model="infoRegistration.personalInformation.preferHand" ng-class="{'error':(personalInformation.preferHand.$error.required&&personalInformation.$submitted)}">
                        <label class="radioLabel"> Right </label>
                      </div>
                    </div>
                    <span class="iconRequired">*</span>
                  </div>
                  <div class="height3">
                  </div>
                  <label class="item item-input item-borderless text-center">
                    <div class="sepratorLine">
                    </div>
                    <span class="iconRequired">
										</span>
                  </label>
                  <div class="height3">
                  </div>
                  <div class="item item-input item-borderless">
                    <div class="selectBoxWrapper item-floating-label">
                      <span class="errorMsg" ng-if="!infoRegistration.personalInformation.insurance && personalInformation.$submitted">
												Please select one.
											</span>
                      <div class="selectBox" ng-class="{'error':!infoRegistration.personalInformation.insurance && personalInformation.$submitted}" ng-click="openSingleSelect(insuranceOptions,'insurance','personalInformation','INSURANCE')">
                        <div class="singleLine upperCase" ng-if="!infoRegistration.personalInformation.insurance">
                          Insurance
                        </div>
                        <div class="floatingSelect" ng-if="infoRegistration.personalInformation.insurance">
                          <span class="input-label font40 upperCase">Insurance</span>
                          <div class="singleLine darkGray">{{infoRegistration.personalInformation.insurance.text}}</div>
                        </div>
                      </div>
                      <span class="iconRequired">
												*
											</span>
                    </div>
                  </div>
                  <div class="item item-input item-borderless">
                    <div class="selectBoxWrapper item-floating-label">
                      <span class="errorMsg" ng-if="!infoRegistration.personalInformation.employmentStatus && personalInformation.$submitted">
												Please select one.
											</span>
                      <div class="selectBox " ng-class="{'error':!infoRegistration.personalInformation.employmentStatus && personalInformation.$submitted}" ng-click="openSingleSelect(employmentStatusOptions,'employmentStatus','personalInformation','EMPLOYMENT STATUS')">
                        <div class="singleLine upperCase" ng-if="!infoRegistration.personalInformation.employmentStatus">
                          Employment Status
                        </div>
                        <div class="floatingSelect" ng-if="infoRegistration.personalInformation.employmentStatus">
                          <span class="input-label font40 upperCase">Employment Status</span>
                          <div class="singleLine darkGray">
                            {{infoRegistration.personalInformation.employmentStatus.text}}
                          </div>
                        </div>
                      </div>
                      <span class="iconRequired">
												*
											</span>
                    </div>
                  </div>
                  <div class="item item-input item-borderless">
                    <div class="selectBoxWrapper item-floating-label">
                      <div class="selectBox " ng-click="openSingleSelect(educationOptions,'education','personalInformation','EDUCATION')">
                        <div class="singleLine upperCase" ng-if="!infoRegistration.personalInformation.education">
                          Education
                        </div>
                        <div class="floatingSelect" ng-if="infoRegistration.personalInformation.education">
                          <span class="input-label font40 upperCase">Education</span>
                          <div class="singleLine darkGray">
                            {{infoRegistration.personalInformation.education.text}}
                          </div>
                        </div>
                      </div>
                      <span class="iconRequired"> *
											</span>
                    </div>
                  </div>
                  <div class="height10">
                  </div>
                  <div class="height3">
                  </div>
                  <div class="item item-input item-borderless twoButtons">
                    <div class="leftButton">
                      <a class="button button-block button-outline button-darkPurple" ng-click="resetSecondPersonalInfo()">
												Cancel
											</a>
                    </div>
                    <div class="rightButton">
                      <button class="button button-block button-orange" type="submit">
                        Update
                      </button>
                    </div>
                    <span class="iconRequired">
										</span>
                  </div>
                  <label class="item item-input item-borderless">
                    *Required Field
                  </label>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Step 3 -->
    <div class="step3">
      <div class="stepsTitle " ng-click="profileAccordian('personal3')">
        Address
        <div class="icon" ng-class="accordian.current=='personal3' ? 'open':''"></div>
      </div>
      <div class="stepsContent" ng-show="accordian.current=='personal3'">
        <div class="box registrationSteps darkPurple">
          <div class="registrationContent">
            <div class="registrationContentInner">
              <form name="addressInformation" ng-submit="submitAddressInfo(addressInformation)" novalidate>
                <div class="list">
                  <div class="item item-input item-borderless item-floating-label">
                    <span class="input-label font40 upperCase">ADDRESS 1</span>
                    <input name="address1" placeholder="ADDRESS 1" type="text" ng-model="infoRegistration.personalInformation.address1">
                    <span class="iconRequired"></span>
                  </div>
                  <div class="item item-input item-borderless  item-floating-label">
                    <span class="input-label font40 upperCase">ADDRESS 2</span>
                    <input name="address2" placeholder="ADDRESS 2" type="text" ng-model="infoRegistration.personalInformation.address2">
                    <span class="iconRequired"></span>
                  </div>
                  <div class="item item-input item-borderless ">
                    <div class="city item-floating-label">
                      <div class="floatingSelect">
                        <span class="input-label font40 upperCase">CITY</span>
                        <input name="city" placeholder="CITY" type="text" ng-model="infoRegistration.personalInformation.city">
                      </div>
                    </div>
                    <div class="selectBoxWrapper stateSelect item-floating-label">
                      <div class="selectBox" ng-click="openSingleSelect(statesOptions,'state','personalInformation','States')">
                        <div class="singleLine" ng-if="!infoRegistration.personalInformation.state">
                          <div class="upperCase">
                            State
                          </div>
                        </div>
                        <div class="floatingSelect" ng-if="infoRegistration.personalInformation.state">
                          <span class="input-label font40 upperCase">State</span>
                          <div class="singleLine darkGray">
                            {{infoRegistration.personalInformation.state.text}}
                          </div>
                        </div>
                      </div>
                      <span class="iconRequired">
											</span>
                    </div>
                  </div>
                  <div class="zipCode">
                    <span class="errorMsg" ng-if="addressInformation.zipcode.$error.required && addressInformation.$submitted">
											Please enter a Postal Code.
										</span>
                    <div class="item item-input item-borderless item-floating-label">
                      <span class="input-label font40 upperCase">POSTAL CODE</span>
                      <input name="zipcode" placeholder="POSTAL CODE" ng-pattern="/^[0-9]+$/" required="" type="tel" ng-class="{'error':addressInformation.zipcode.$error.pattern||(addressInformation.zipcode.$error.required && addressInformation.$submitted)}" ng-model="infoRegistration.personalInformation.zipCode">
                      <span class="iconRequired">
													*
												</span>
                      </input>
                    </div>
                  </div>
                  <div class="height3">
                  </div>
                  <div class="item item-input item-borderless twoButtons">
                    <div class="leftButton">
                      <a class="button button-block button-outline button-darkPurple " ng-click="resetAddressInfo()">
												Cancel
											</a>
                    </div>
                    <div class="rightButton">
                      <button class="button button-block button-orange" type="submit">
                        Update
                      </button>
                    </div>
                    <span class="iconRequired">
										</span>
                  </div>
                  <label class="item item-input item-borderless">
                    *Required Field
                  </label>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--   </ion-content>
</ion-view> -->
</div>
