<ion-view view-title=' <i class="headerIcon"></i> '>
<ion-nav-bar class="bar-stable">
<ion-nav-buttons side="left">
<button class="button button-icon button-clear ion-navicon" menu-toggle="left">
</button>
</ion-nav-buttons>
</ion-nav-bar>
<ion-content class="newHomeScreen">
<div class="tapHere" ng-click="replaceTrackingOnHome()" ng-class="relapseTrack.startRelapse ? 'relapse':''">
  <i></i>
  <span ng-show="!relapseTrack.startRelapse"><b>Tap here</b> if you think you are experiencing a relapse</span>
  <span ng-show="relapseTrack.startRelapse">This is day {{replaceDays}} of your relapse | <b>Suspend relapse tracking?</b></span>
</div>

<div class="newGamefication">
  <img ng-src="{{'img/medals/' + userLevelData.currentLevel + '.png'}}" alt="User Level" ng-show="userLevelData.currentLevel!=''" />
  <p class="darkPurple"><span class="bold">Hi {{userData.first_name}}</span>, you are <span class="bold">level <span class="orange">{{userLevelData.currentLevel}} :</span></span> {{userLevelData.levelName}}<br><span class="ubuntuLight">You're only <span class="bold">{{(userLevelData.maxPoints + 1) - userLevelData.currentPoints}} points</span> away from next level!</span></p>
</div>

<div class="div2 srvyTest">

  <div class="block" ng-if="homeScreenCount.Survey==0">
    <i></i>
    <p class="text-center">No new surveys<br>at this time</p>
    <a class="bold upperCase" ng-click="goToState('app.surveysLandingPage','Survey','Survey Screen (Home)','Survey Screen')">surveys</a>
  </div>

  <div class="block" ng-if="homeScreenCount.Survey>0">
    <i><span>{{homeScreenCount.Survey}}</span></i>
    <p class="text-center">You have a new survey!</p>
    <a class="bold upperCase" ng-click="goToState('app.surveysLandingPage','Survey','Survey Screen (Home)','Survey Screen')">Take survey</a>
  </div>

  <div class="block" ng-if="homeScreenCount.PM==0">
    <i></i>
    <p class="text-center">No performance<br>metrics at this time!</p>
    <a class="bold upperCase" ng-click="goToState('app.performanceEvals','Performance Metric','Performance Metric Screen (Home)','Performance Metric Screen')">Test Results</a>
  </div>

  <div class="block" ng-if="homeScreenCount.PM>0">
    <i>
    <span>{{homeScreenCount.PM}}</span>
    </i>
    <p class="text-center">You have a new<br>performance metric!</p>
    <a class="bold upperCase" ng-click="goToState('app.performanceEvals','Performance Metric','Performance Metric Screen (Home)','Performance Metric Screen')">Take test</a>
  </div>
</div>

<div class="div2 link">

  <div class="block" ng-click="goToState('app.healthTrackerLandingPage','Health Tracker','Health Tracker Screen (Home)','Health Tracker Screen')"><i></i><p class="text-center bold">Health Tracker</p></div>

  <div class="block" ng-click="goToState('app.tips','Tips','Tips Screen (Home)','Tips Screen')">
    <i></i><p class="text-center bold">Tips and Facts</p>
  </div>
</div>

<div class="rotateDevice">
  <img src="img/healthTrackerReport.png" alt="Rotate Device">
  <p class="darkPurple notVisibleOnIpad">Turn your screen sideways to<br>view <span class="bold">Health tracker reports.</span></p>
  <p class="darkPurple visibleOnIpad">Turn your screen sideways to view <span class="bold">Health tracker reports.</span></p>
</div>

<div class="heatAlert">
  <i></i>
  <div class="right" ng-click="takeMeToHeatAlert('app.heatAlerts','Heat Alert Screen','Heat Alert Screen (Home)','Heat Alert Screen')">
    <div ng-if="heatAlertTemp" class="icon ion-arrow-right-a orange"></div>
    
    <p ng-if="!heatAlertLoc">Today's <span class="bold orange">High</span>: - °F | Your Location</p>
    <p ng-if="heatAlertLoc">Today's <span class="bold orange">High</span>: {{heatAlertsHome.temperatureMax | number:0}} °F | {{heatAlertsHome.city}}, {{heatAlertsHome.state}}</p>

    <p ng-if="heatAlertTemp">Alert me at <span class="bold orange">{{heatAlertsHome.maxTemperature.text}} °F </span></p>
    <a ng-if="!heatAlertTemp" class="upperCase bold" ng-click="goToState('app.heatAlerts','Heat Alert Screen','Heat Alert Screen (Home)','Heat Alert Screen')">set up heat alert</a>
    </div>
  </div>
</div>
</ion-content>
</ion-view>