<ion-view view-title=' <i class="headerIcon"></i> '>
  <ion-nav-bar class="bar-stable">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content scroll="false" class="preHome">
  <h1 class="text-center">Welcome, {{firstName}}!</h1>
  <p class="text-center">There are 3 main ways MS Care Connect<br>can help you monitor your health.</p>
    <div class="flip-container ht" ng-class="{'flip':divClass=='health'}" ng-click="selectOption('health')">
      <div class="flipper">
      <div class="frontSide">
         <h2>Health Tracker</h2>
         <p>Start here to track symptoms</p>
      </div>
      <div class="backSide">
       <h3>Health Tracker</h3>
        <p>Submit an entry now so you can start tracking your health over time.</p>
        <a ng-click="goToHealthTracker()" class="upperCase bold">TRACK YOUR HEALTH</a>
      </div>
      </div>
    </div>


    <div class="flip-container srvy" ng-class="{'flip':divClass=='survey'}" ng-click="selectOption('survey')">
    <div class="flipper">
    <div class="frontSide">
       <h2>Quality of Life Surveys</h2>
        <p>Monitor yourself with validated surveys</p>
    </div>
    <div class="backSide">

     <div class="notAvail" ng-show="homeScreenCount.Survey == 0">
        <h3>You have no new surveys at this time</h3>
      </div>
      <div class="avail" ng-show="homeScreenCount.Survey > 0">
        <h3>You have {{homeScreenCount.Survey}} available surveys!</h3>
        <p>Try to finish these surveys in the next couple days—it's  best to start now so you have a baseline.</p>
        <a type="button" class="upperCase bold" ng-click="goToSurvey()">TAKE SURVEYS</a>
      </div>
    </div>
    </div>
    </div>

    <div class="flip-container pm" ng-class="{'flip':divClass=='pm'}" ng-click="selectOption('pm')">
    <div class="flipper">
    <div class="frontSide">
      <h2>Performance Metrics</h2>
      <p>Measure physical and mental functioning </p>
    </div>
    <div class="backSide">
     <div class="notAvail" ng-show="homeScreenCount.PM == 0">
         <h3>You have no perform metrics at this time</h3>
      </div>
      <div class="avail" ng-show="homeScreenCount.PM > 0">
      <h3>You have {{homeScreenCount.PM}} available tests!</h3>
        <p>Just like the surveys, it's best to complete these tests as soon as possible so you can start monitoring. </p>
        <a class="upperCase bold" ng-click="goToPerformanceEvals()">TAKE TESTS</a>
      </div> 
    </div>
    </div>
    </div>
  <div class="btnHldr"><button type="button" class="button button-block button-outline button-darkPurple" ng-click="goToHome()">Skip to home</button></div>
  </ion-content>
 </ion-view>